:root {
  --color-system-cssVars-black: black;
  --color-system-cssVars-white: white;
  --color-system-cssVars-alice-blue: #ebf4f9;
  --color-system-cssVars-grey-40: #999;
  --color-system-cssVars-flux-green: #6dea9c;
  --color-system-cssVars-grey-60: #666;
  --color-system-cssVars-shadow-color: #24267221;
  --color-system-cssVars-misty-rose: #f6e3e3;
  --color-system-cssVars-yellow: #fffbea;
  --color-system-cssVars-gold: #f0c552;
  --color-system-cssVars-mint-cream: #e3f3ec;
  --color-system-cssVars-light-yellow: #fbf9cf;
  --color-system-cssVars-tomato: #fe6a56cc;
  --color-system-cssVars-sky-blue: #77e2fd;
  --color-system-elements-pageBackground: #ffffff;
  --color-system-elements-bodyText: #333333;
  --color-system-elements-headingText: #000000;
  --color-system-elements-linkColor: #000000;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #333333;
  --color-system-elements-navLink: #666666;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #333333;
  --color-system-elements-navLinkScrolled: #666666;
}
