:root {
  --grid-system-container-maxWidth: 1600px;
  --grid-system-grids-customer-stats-grid-display: grid;
  --grid-system-grids-customer-stats-grid-templateColumns: 89.5px 89.5px;
  --grid-system-grids-customer-stats-grid-columnCount: 2;
  --grid-system-grids-customer-stats-grid-templateRows: 53px;
  --grid-system-grids-customer-stats-grid-gap: 8px;
  --grid-system-grids-customer-stats-grid-childCount: 2;
  --grid-system-grids-customer-stats-grid-parentSection: hero;
  --grid-system-grids-stats-grid-display: grid;
  --grid-system-grids-stats-grid-templateColumns: 76px 76px 76px 76px;
  --grid-system-grids-stats-grid-columnCount: 4;
  --grid-system-grids-stats-grid-templateRows: 40.7969px;
  --grid-system-grids-stats-grid-gap: 12px;
  --grid-system-grids-stats-grid-childCount: 4;
  --grid-system-grids-stats-grid-parentSection: hero;
  --grid-system-grids-xbert-learns-your-business-display: grid;
  --grid-system-grids-xbert-learns-your-business-templateColumns: 498.664px 498.664px 498.664px;
  --grid-system-grids-xbert-learns-your-business-columnCount: 3;
  --grid-system-grids-xbert-learns-your-business-templateRows: 350px;
  --grid-system-grids-xbert-learns-your-business-gap: 16px;
  --grid-system-grids-xbert-learns-your-business-parentSection: v2-spotlight-hero-trust-block_d7e3a858ffbd0694a7b55fecd81a2471;
  --grid-system-grids-scale-without-limits-display: grid;
  --grid-system-grids-scale-without-limits-templateColumns: 1002.66px 501.336px;
  --grid-system-grids-scale-without-limits-columnCount: 2;
  --grid-system-grids-scale-without-limits-templateRows: 520px;
  --grid-system-grids-scale-without-limits-gap: 24px;
  --grid-system-grids-scale-without-limits-childCount: 2;
  --grid-system-grids-scale-without-limits-parentSection: v2-section-features-tabs-block_8346ae6c6f50bc7fdaf89f3b6cdfdc24;
  --grid-system-grids-your-ai-employee-handles-the-b-display: grid;
  --grid-system-grids-your-ai-employee-handles-the-b-templateColumns: 498.664px 498.664px 498.664px;
  --grid-system-grids-your-ai-employee-handles-the-b-columnCount: 3;
  --grid-system-grids-your-ai-employee-handles-the-b-templateRows: 830.664px;
  --grid-system-grids-your-ai-employee-handles-the-b-gap: 16px;
  --grid-system-grids-your-ai-employee-handles-the-b-parentSection: v2-section-split-showcase-block_892a7587a5d7a490a4c6af6e63156447;
  --grid-system-grids-social-proof-grid-cards-display: grid;
  --grid-system-grids-social-proof-grid-cards-templateColumns: 493.328px 493.336px 493.336px;
  --grid-system-grids-social-proof-grid-cards-columnCount: 3;
  --grid-system-grids-social-proof-grid-cards-templateRows: 341.586px 368.781px;
  --grid-system-grids-social-proof-grid-cards-gap: 24px;
  --grid-system-grids-social-proof-grid-cards-parentSection: v2-social-proof-grid-block_49a8249d729bd7823e8c98258f3fe0dc;
  --grid-system-grids-ai-powered-contact-center-display: grid;
  --grid-system-grids-ai-powered-contact-center-templateColumns: 1002.66px 501.336px;
  --grid-system-grids-ai-powered-contact-center-columnCount: 2;
  --grid-system-grids-ai-powered-contact-center-templateRows: 520px;
  --grid-system-grids-ai-powered-contact-center-gap: 24px;
  --grid-system-grids-ai-powered-contact-center-childCount: 2;
  --grid-system-grids-ai-powered-contact-center-parentSection: v2-product-anchor-block_dd3719d80d0a059eedde23505546aae7;
  --grid-system-grids-core-display: grid;
  --grid-system-grids-core-templateColumns: 493.328px 493.336px 493.336px;
  --grid-system-grids-core-columnCount: 3;
  --grid-system-grids-core-templateRows: 824.938px;
  --grid-system-grids-core-gap: 24px;
  --grid-system-grids-core-parentSection: pricing;
  --grid-system-grids-ntb-banner--inner-display: flex;
  --grid-system-grids-ntb-banner--inner-flexDirection: row;
  --grid-system-grids-ntb-banner--inner-gap: 16px;
  --grid-system-grids-ntb-banner--inner-justifyContent: center;
  --grid-system-grids-ntb-banner--inner-alignItems: center;
  --grid-system-grids-ntb-banner--inner-childCount: 2;
  --grid-system-grids-ntb-banner--inner-parentSection: header;
  --grid-system-grids-ntb-banner--main-display: flex;
  --grid-system-grids-ntb-banner--main-flexDirection: row;
  --grid-system-grids-ntb-banner--main-gap: 16px;
  --grid-system-grids-ntb-banner--main-justifyContent: center;
  --grid-system-grids-ntb-banner--main-alignItems: center;
  --grid-system-grids-ntb-banner--main-childCount: 2;
  --grid-system-grids-ntb-banner--main-parentSection: header;
  --grid-system-grids-nb20-header--inner-display: flex;
  --grid-system-grids-nb20-header--inner-flexDirection: row;
  --grid-system-grids-nb20-header--inner-gap: 24px;
  --grid-system-grids-nb20-header--inner-justifyContent: space-between;
  --grid-system-grids-nb20-header--inner-alignItems: center;
  --grid-system-grids-nb20-header--inner-childCount: 2;
  --grid-system-grids-nb20-header--inner-parentSection: header;
  --grid-system-grids-nb20-header--left-display: flex;
  --grid-system-grids-nb20-header--left-flexDirection: row;
  --grid-system-grids-nb20-header--left-gap: 48px;
  --grid-system-grids-nb20-header--left-alignItems: center;
  --grid-system-grids-nb20-header--left-childCount: 2;
  --grid-system-grids-nb20-header--left-parentSection: header;
  --grid-system-grids-nb20-header--right-display: flex;
  --grid-system-grids-nb20-header--right-flexDirection: row;
  --grid-system-grids-nb20-header--right-gap: 12px;
  --grid-system-grids-nb20-header--right-alignItems: center;
  --grid-system-grids-nb20-header--right-childCount: 4;
  --grid-system-grids-nb20-header--right-parentSection: header;
  --grid-system-grids-logo-trust-bar-wrapper-display: flex;
  --grid-system-grids-logo-trust-bar-wrapper-flexDirection: row;
  --grid-system-grids-logo-trust-bar-wrapper-gap: 64px;
  --grid-system-grids-logo-trust-bar-wrapper-alignItems: center;
  --grid-system-grids-logo-trust-bar-wrapper-childCount: 2;
  --grid-system-grids-logo-trust-bar-wrapper-parentSection: v2-section-logo-trust-bar-block_9624f5aba362ababc9c4ca9aa627470a;
  --grid-system-grids-everything-to-win-every-custom-display: flex;
  --grid-system-grids-everything-to-win-every-custom-flexDirection: row;
  --grid-system-grids-everything-to-win-every-custom-gap: 60px;
  --grid-system-grids-everything-to-win-every-custom-justifyContent: space-between;
  --grid-system-grids-everything-to-win-every-custom-alignItems: center;
  --grid-system-grids-everything-to-win-every-custom-childCount: 2;
  --grid-system-grids-everything-to-win-every-custom-parentSection: v2-section-features-tabs-block_8346ae6c6f50bc7fdaf89f3b6cdfdc24;
  --grid-system-responsive-bp-360px-query: screen and (min-width: 360px) and (max-width: 2560px);
  --grid-system-responsive-bp-360px-rowGap: 8px;
  --grid-system-responsive-bp-360px-columnGap: 8px;
  --grid-system-responsive-bp-395px-query: screen and (max-width: 395px);
  --grid-system-responsive-bp-395px-rowGap: 12px;
  --grid-system-responsive-bp-395px-columnGap: 12px;
  --grid-system-responsive-bp-400px-query: screen and (max-width: 400px);
  --grid-system-responsive-bp-400px-display: block;
  --grid-system-responsive-bp-425px-query: only screen and (max-width: 425px);
  --grid-system-responsive-bp-425px-display: block;
  --grid-system-responsive-bp-425px-maxWidth: 80%;
  --grid-system-responsive-bp-426px-query: only screen and (min-width: 426px) and (max-width: 896px);
  --grid-system-responsive-bp-426px-display: inline-block;
  --grid-system-responsive-bp-426px-flexWrap: wrap;
  --grid-system-responsive-bp-480px-query: (max-width: 480px);
  --grid-system-responsive-bp-480px-flexDirection: column;
  --grid-system-responsive-bp-480px-rowGap: 0.75rem;
  --grid-system-responsive-bp-480px-columnGap: 0.75rem;
  --grid-system-responsive-bp-480px-display: none;
  --grid-system-responsive-bp-480px-flexWrap: wrap;
  --grid-system-responsive-bp-530px-query: only screen and (max-width: 530px);
  --grid-system-responsive-bp-530px-display: block;
  --grid-system-responsive-bp-575px-query: (max-width: 575px);
  --grid-system-responsive-bp-575px-display: block;
  --grid-system-responsive-bp-575px-rowGap: 0px;
  --grid-system-responsive-bp-575px-columnGap: 0px;
}
