:root {
  --spacing-system-cssVars-wp--preset--spacing--20: 0.44rem;
  --spacing-system-cssVars-wp--preset--spacing--30: 0.67rem;
  --spacing-system-cssVars-wp--preset--spacing--40: 1rem;
  --spacing-system-cssVars-wp--preset--spacing--50: 1.5rem;
  --spacing-system-cssVars-wp--preset--spacing--60: 2.25rem;
  --spacing-system-cssVars-wp--preset--spacing--70: 3.38rem;
  --spacing-system-cssVars-wp--preset--spacing--80: 5.06rem;
  --spacing-system-cssVars-spacer: 8.33333vw;
  --spacing-system-cssVars-spacer-mobile: 15px;
  --spacing-system-elements-footer-paddingTop: 80px;
  --spacing-system-elements-footer-paddingRight: 20px;
  --spacing-system-elements-footer-paddingBottom: 144px;
  --spacing-system-elements-footer-paddingLeft: 20px;
  --spacing-system-elements-button-paddingTop: 8px;
  --spacing-system-elements-button-paddingRight: 8px;
  --spacing-system-elements-button-paddingBottom: 8px;
  --spacing-system-elements-button-paddingLeft: 8px;
  --spacing-system-elements-button-marginRight: 8px;
  --spacing-system-elements-button-borderRadius: 9999px;
  --spacing-system-elements-p-marginBottom: 12px;
  --spacing-system-elements-wrapper-marginTop: 16px;
  --spacing-system-elements-card-borderRadius: 6px;
  --spacing-system-elements-grid-gap: 64px;
  --spacing-system-elements-grid-rowGap: 64px;
  --spacing-system-elements-grid-columnGap: 64px;
  --spacing-system-elements-row-paddingTop: 10px;
  --spacing-system-elements-row-paddingRight: 10px;
  --spacing-system-elements-row-paddingBottom: 10px;
  --spacing-system-elements-row-paddingLeft: 10px;
  --spacing-system-elements-row-borderRadius: 9999px;
  --spacing-system-elements-cta-paddingTop: 16px;
  --spacing-system-elements-cta-paddingRight: 28px;
  --spacing-system-elements-cta-paddingBottom: 16px;
  --spacing-system-elements-cta-paddingLeft: 28px;
  --spacing-system-elements-cta-borderRadius: 9999px;
  --spacing-system-elements-div-2-marginTop: 96px;
  --spacing-system-elements-div-2-marginBottom: 96px;
  --spacing-system-elements--shaping-the-future-alongside-paddingRight: 20px;
  --spacing-system-elements--shaping-the-future-alongside-paddingLeft: 20px;
  --spacing-system-elements--shaping-the-future-alongside-marginTop: 96px;
  --spacing-system-elements--shaping-the-future-alongside-marginBottom: 96px;
  --spacing-system-elements-like-what-you-see-paddingRight: 80px;
  --spacing-system-elements-like-what-you-see-paddingLeft: 80px;
}
