:root {
  --spacing-system-cssVars-jdgm-border-radius: 0;
  --spacing-system-elements-header-paddingRight: 30px;
  --spacing-system-elements-header-paddingLeft: 30px;
  --spacing-system-elements-nav-marginRight: 28px;
  --spacing-system-elements-nav-marginLeft: 40px;
  --spacing-system-elements-section-marginTop: 105px;
  --spacing-system-elements-section-marginRight: 40px;
  --spacing-system-elements-section-marginBottom: 105px;
  --spacing-system-elements-section-marginLeft: 40px;
  --spacing-system-elements-section-gap: 32px;
  --spacing-system-elements-section-rowGap: 32px;
  --spacing-system-elements-section-columnGap: 32px;
  --spacing-system-elements-footer-paddingBottom: 24px;
  --spacing-system-elements-footer-marginTop: 72px;
  --spacing-system-elements-footer-marginRight: 40px;
  --spacing-system-elements-footer-marginLeft: 40px;
  --spacing-system-elements-footer-gap: 50px 24px;
  --spacing-system-elements-footer-rowGap: 50px;
  --spacing-system-elements-footer-columnGap: 24px;
  --spacing-system-elements-button-paddingTop: 16px;
  --spacing-system-elements-button-paddingRight: 40px;
  --spacing-system-elements-button-paddingBottom: 16px;
  --spacing-system-elements-button-paddingLeft: 40px;
  --spacing-system-elements-button-marginBottom: 10px;
  --spacing-system-elements-input-paddingTop: 1px;
  --spacing-system-elements-input-paddingRight: 2px;
  --spacing-system-elements-input-paddingBottom: 4px;
  --spacing-system-elements-input-paddingLeft: 2px;
  --spacing-system-elements-container-paddingTop: 10px;
  --spacing-system-elements-container-paddingRight: 16px;
  --spacing-system-elements-container-paddingBottom: 10px;
  --spacing-system-elements-container-paddingLeft: 16px;
  --spacing-system-elements-container-gap: 12px;
  --spacing-system-elements-container-rowGap: 12px;
  --spacing-system-elements-container-columnGap: 12px;
  --spacing-system-elements-card-paddingBottom: 435.836px;
  --spacing-system-elements-hero-marginRight: 40px;
  --spacing-system-elements-hero-marginBottom: 105px;
  --spacing-system-elements-hero-marginLeft: 40px;
  --spacing-system-elements-cta-paddingTop: 16px;
  --spacing-system-elements-cta-paddingRight: 40px;
  --spacing-system-elements-cta-paddingBottom: 16px;
  --spacing-system-elements-cta-paddingLeft: 40px;
  --spacing-system-elements-cta-marginBottom: 10px;
  --spacing-system-elements-div-1-marginTop: 105px;
  --spacing-system-elements-div-1-marginRight: 40px;
  --spacing-system-elements-div-1-marginBottom: 105px;
  --spacing-system-elements-div-1-marginLeft: 40px;
  --spacing-system-elements-div-2-marginTop: 105px;
  --spacing-system-elements-div-2-marginRight: 40px;
  --spacing-system-elements-div-2-marginBottom: 105px;
  --spacing-system-elements-div-2-marginLeft: 40px;
  --spacing-system-elements-div-2-gap: 32px;
  --spacing-system-elements-div-2-rowGap: 32px;
  --spacing-system-elements-div-2-columnGap: 32px;
  --spacing-system-elements-div-3-marginTop: 105px;
  --spacing-system-elements-div-3-marginRight: 40px;
  --spacing-system-elements-div-3-marginBottom: 105px;
  --spacing-system-elements-div-3-marginLeft: 40px;
  --spacing-system-elements-div-4-marginTop: 105px;
  --spacing-system-elements-div-4-marginRight: 40px;
  --spacing-system-elements-div-4-marginBottom: 105px;
  --spacing-system-elements-div-4-marginLeft: 40px;
  --spacing-system-elements-div-4-gap: 32px;
  --spacing-system-elements-div-4-rowGap: 32px;
  --spacing-system-elements-div-4-columnGap: 32px;
  --spacing-system-elements-everyday-luxury-marginTop: 105px;
  --spacing-system-elements-everyday-luxury-marginRight: 40px;
  --spacing-system-elements-everyday-luxury-marginBottom: 105px;
  --spacing-system-elements-everyday-luxury-marginLeft: 40px;
  --spacing-system-elements-div-6-marginTop: 72px;
  --spacing-system-elements-div-6-marginRight: 40px;
  --spacing-system-elements-div-6-marginBottom: 105px;
  --spacing-system-elements-div-6-marginLeft: 40px;
}
