:root {
  --grid-system-grids-framer-16231mb-display: flex;
  --grid-system-grids-framer-16231mb-flexDirection: row;
  --grid-system-grids-framer-16231mb-gap: 56px;
  --grid-system-grids-framer-16231mb-justifyContent: center;
  --grid-system-grids-framer-16231mb-alignItems: center;
  --grid-system-grids-framer-16231mb-childCount: 3;
  --grid-system-grids-framer-16231mb-parentSection: header;
  --grid-system-responsive-bp-810px-query: (min-width: 810px) and (max-width: 1399.98px);
  --grid-system-responsive-bp-810px-rowGap: 63px;
  --grid-system-responsive-bp-810px-columnGap: 63px;
}
