:root {
  --color-system-cssVars-jdgm-primary-color: #000;
  --color-system-cssVars-jdgm-secondary-color: #000000;
  --color-system-cssVars-jdgm-star-color: #000;
  --color-system-cssVars-jdgm-write-review-text-color: white;
  --color-system-cssVars-jdgm-write-review-bg-color: #000000;
  --color-system-cssVars-jdgm-paginate-color: #000;
  --color-system-cssVars-jdgm-reviewer-name-color: #000000;
  --color-system-cssVars-kl-reviews-color-light-gray: #e9e9eb;
  --color-system-cssVars-topbar-text-color: #ffffff;
  --color-system-cssVars-topbar-background-color: #ff7932;
  --color-system-elements-bodyText: #000000;
  --color-system-elements-headingText: #000000;
  --color-system-elements-linkColor: #000000;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #000000;
  --color-system-elements-navLink: #000000;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #000000;
  --color-system-elements-navLinkScrolled: #000000;
}
