:root {
  --grid-system-cssVars-section-max-width: 9999px;
  --grid-system-grids-comp-mjimedqz-display: grid;
  --grid-system-grids-comp-mjimedqz-templateColumns: 246.195px 999px 263.008px;
  --grid-system-grids-comp-mjimedqz-columnCount: 3;
  --grid-system-grids-comp-mjimedqz-templateRows: 558px;
  --grid-system-grids-comp-mjimedqz-childCount: 5;
  --grid-system-grids-comp-mjimedqz-parentSection: comp-m0c6l6cn;
  --grid-system-grids-flow-between-instant-generatio-display: grid;
  --grid-system-grids-flow-between-instant-generatio-templateColumns: 885.594px 523.602px;
  --grid-system-grids-flow-between-instant-generatio-columnCount: 2;
  --grid-system-grids-flow-between-instant-generatio-templateRows: 236.422px;
  --grid-system-grids-flow-between-instant-generatio-gap: normal 156.6px;
  --grid-system-grids-flow-between-instant-generatio-childCount: 3;
  --grid-system-grids-flow-between-instant-generatio-parentSection: comp-mldkiot3;
  --grid-system-grids-website-templates-are-another-display: grid;
  --grid-system-grids-website-templates-are-another-templateColumns: 615.234px 860.562px;
  --grid-system-grids-website-templates-are-another-columnCount: 2;
  --grid-system-grids-website-templates-are-another-templateRows: 147.727px;
  --grid-system-grids-website-templates-are-another-gap: 0px 89.9999px;
  --grid-system-grids-website-templates-are-another-childCount: 2;
  --grid-system-grids-website-templates-are-another-parentSection: comp-mkcmjabp;
  --grid-system-grids-comp-ml6hjrz83-display: grid;
  --grid-system-grids-comp-ml6hjrz83-templateColumns: 69.1172px 161.727px;
  --grid-system-grids-comp-ml6hjrz83-columnCount: 2;
  --grid-system-grids-comp-ml6hjrz83-templateRows: 155.516px;
  --grid-system-grids-comp-ml6hjrz83-gap: normal 16.0731px;
  --grid-system-grids-comp-ml6hjrz83-childCount: 3;
  --grid-system-grids-comp-ml6hjrz83-parentSection: comp-ml6hjpt9;
  --grid-system-grids-comp-m0fo57aj-display: grid;
  --grid-system-grids-comp-m0fo57aj-templateColumns: 629.789px 821.016px;
  --grid-system-grids-comp-m0fo57aj-columnCount: 2;
  --grid-system-grids-comp-m0fo57aj-templateRows: 567.727px;
  --grid-system-grids-comp-m0fo57aj-gap: 0px 115.2px;
  --grid-system-grids-comp-m0fo57aj-childCount: 3;
  --grid-system-grids-comp-m0fo57aj-parentSection: comp-m0fmsun7;
  --grid-system-grids-add-anything-you-need-for-your-display: grid;
  --grid-system-grids-add-anything-you-need-for-your-templateColumns: 516.594px 1027.39px;
  --grid-system-grids-add-anything-you-need-for-your-columnCount: 2;
  --grid-system-grids-add-anything-you-need-for-your-templateRows: 126.719px 562.383px;
  --grid-system-grids-add-anything-you-need-for-your-gap: 90px 21.6px;
  --grid-system-grids-add-anything-you-need-for-your-childCount: 4;
  --grid-system-grids-add-anything-you-need-for-your-parentSection: comp-m0kznep8;
  --grid-system-grids-comp-m16jxj5n4-display: grid;
  --grid-system-grids-comp-m16jxj5n4-templateColumns: 696.391px 696.391px;
  --grid-system-grids-comp-m16jxj5n4-columnCount: 2;
  --grid-system-grids-comp-m16jxj5n4-templateRows: 126.758px;
  --grid-system-grids-comp-m16jxj5n4-gap: 0px 172.8px;
  --grid-system-grids-comp-m16jxj5n4-childCount: 3;
  --grid-system-grids-comp-m16jxj5n4-parentSection: comp-m16jxj4d;
  --grid-system-grids-comp-m0tbbpi5-display: grid;
  --grid-system-grids-comp-m0tbbpi5-templateColumns: 864px 864px;
  --grid-system-grids-comp-m0tbbpi5-columnCount: 2;
  --grid-system-grids-comp-m0tbbpi5-templateRows: 920.75px;
  --grid-system-grids-comp-m0tbbpi5-childCount: 3;
  --grid-system-grids-comp-m0tbbpi5-parentSection: comp-m0oyqomx;
  --grid-system-grids-grow-your-website-on-a-rock-so-display: grid;
  --grid-system-grids-grow-your-website-on-a-rock-so-templateColumns: 710.055px 492.859px;
  --grid-system-grids-grow-your-website-on-a-rock-so-columnCount: 2;
  --grid-system-grids-grow-your-website-on-a-rock-so-templateRows: 138.852px;
  --grid-system-grids-grow-your-website-on-a-rock-so-gap: normal 172.8px;
  --grid-system-grids-grow-your-website-on-a-rock-so-childCount: 2;
  --grid-system-grids-grow-your-website-on-a-rock-so-parentSection: comp-m0jbxyq9;
  --grid-system-grids-comp-m0zay01x-display: grid;
  --grid-system-grids-comp-m0zay01x-templateColumns: 361.633px 361.641px 361.641px 361.648px;
  --grid-system-grids-comp-m0zay01x-columnCount: 4;
  --grid-system-grids-comp-m0zay01x-templateRows: 423.148px;
  --grid-system-grids-comp-m0zay01x-gap: normal 39.744px;
  --grid-system-grids-comp-m0zay01x-childCount: 5;
  --grid-system-grids-comp-m0zay01x-parentSection: comp-m0jbxyq9;
  --grid-system-grids-how-to-create-a-website-for-fr-display: grid;
  --grid-system-grids-how-to-create-a-website-for-fr-templateColumns: 459.641px 864.234px;
  --grid-system-grids-how-to-create-a-website-for-fr-columnCount: 2;
  --grid-system-grids-how-to-create-a-website-for-fr-templateRows: 699.438px 0px;
  --grid-system-grids-how-to-create-a-website-for-fr-gap: normal 241.92px;
  --grid-system-grids-how-to-create-a-website-for-fr-childCount: 2;
  --grid-system-grids-how-to-create-a-website-for-fr-parentSection: comp-m0jdse89;
  --grid-system-grids-comp-m0jekv8c-display: grid;
  --grid-system-grids-comp-m0jekv8c-templateColumns: 185.258px 105.477px;
  --grid-system-grids-comp-m0jekv8c-columnCount: 2;
  --grid-system-grids-comp-m0jekv8c-templateRows: 54.0859px;
  --grid-system-grids-comp-m0jekv8c-gap: 0px 28.8001px;
  --grid-system-grids-comp-m0jekv8c-childCount: 3;
  --grid-system-grids-comp-m0jekv8c-parentSection: comp-m0jdse89;
  --grid-system-grids-comp-m0jekkea-display: grid;
  --grid-system-grids-comp-m0jekkea-templateColumns: 84.4766px 15px;
  --grid-system-grids-comp-m0jekkea-columnCount: 2;
  --grid-system-grids-comp-m0jekkea-templateRows: 24px;
  --grid-system-grids-comp-m0jekkea-gap: normal 6px;
  --grid-system-grids-comp-m0jekkea-childCount: 4;
  --grid-system-grids-comp-m0jekkea-parentSection: comp-m0jdse89;
  --grid-system-grids-get-inspired-gain-new-skills-display: grid;
  --grid-system-grids-get-inspired-gain-new-skills-templateColumns: 775.312px 516.875px;
  --grid-system-grids-get-inspired-gain-new-skills-columnCount: 2;
  --grid-system-grids-get-inspired-gain-new-skills-templateRows: 126.828px;
  --grid-system-grids-get-inspired-gain-new-skills-gap: normal 273.6px;
  --grid-system-grids-get-inspired-gain-new-skills-childCount: 2;
  --grid-system-grids-get-inspired-gain-new-skills-parentSection: comp-m0knnot1;
  --grid-system-grids-comp-m0knnotx1-container-display: flex;
  --grid-system-grids-comp-m0knnotx1-container-flexDirection: row;
  --grid-system-grids-comp-m0knnotx1-container-gap: 8.99994px 40.5px;
  --grid-system-grids-comp-m0knnotx1-container-flexWrap: wrap;
  --grid-system-grids-comp-m0knnotx1-container-childCount: 3;
  --grid-system-grids-comp-m0knnotx1-container-parentSection: comp-m0knnot1;
  --grid-system-responsive-bp-320px-query: (max-height: 320px);
  --grid-system-responsive-bp-320px-display: none;
  --grid-system-responsive-bp-375px-query: (max-width: 375px);
  --grid-system-responsive-bp-375px-display: none;
  --grid-system-responsive-bp-570px-query: (max-height: 570px) or (max-width: 320px);
  --grid-system-responsive-bp-570px-display: none;
  --grid-system-responsive-bp-570px-flexDirection: row-reverse;
  --grid-system-responsive-bp-750px-query: (max-width: 750px);
  --grid-system-responsive-bp-750px-display: none;
  --grid-system-responsive-bp-750px-flexDirection: row-reverse;
  --grid-system-responsive-bp-767px-query: (max-width: 767px);
  --grid-system-responsive-bp-767px-display: block;
  --grid-system-responsive-bp-768px-query: (min-width: 768px) and (max-width: 1099px);
  --grid-system-responsive-bp-768px-display: none;
  --grid-system-responsive-bp-834px-query: (max-width: 834px);
  --grid-system-responsive-bp-834px-flexDirection: column;
}
