:root {
  --spacing-system-elements-nav-paddingTop: 24px;
  --spacing-system-elements-nav-paddingBottom: 24px;
  --spacing-system-elements-footer-marginRight: 177.32px;
  --spacing-system-elements-footer-marginLeft: 177.312px;
  --spacing-system-elements-button-paddingTop: 5px;
  --spacing-system-elements-button-paddingRight: 16px;
  --spacing-system-elements-button-paddingBottom: 5px;
  --spacing-system-elements-button-paddingLeft: 16px;
  --spacing-system-elements-button-borderRadius: 12px;
  --spacing-system-elements-input-paddingTop: 24px;
  --spacing-system-elements-input-paddingBottom: 24px;
  --spacing-system-elements-input-paddingLeft: 16px;
  --spacing-system-elements-input-borderRadius: 12px;
  --spacing-system-elements-p-paddingTop: 4px;
  --spacing-system-elements-p-paddingRight: 4px;
  --spacing-system-elements-p-paddingBottom: 4px;
  --spacing-system-elements-p-paddingLeft: 4px;
  --spacing-system-elements-card-paddingTop: 4px;
  --spacing-system-elements-card-paddingRight: 4px;
  --spacing-system-elements-card-paddingBottom: 4px;
  --spacing-system-elements-card-paddingLeft: 4px;
  --spacing-system-elements-cta-paddingTop: 5px;
  --spacing-system-elements-cta-paddingRight: 16px;
  --spacing-system-elements-cta-paddingBottom: 5px;
  --spacing-system-elements-cta-paddingLeft: 16px;
  --spacing-system-elements-cta-borderRadius: 12px;
}
