:root {
  --grid-system-container-maxWidth: 1440px;
  --grid-system-responsive-bp-768px-query: screen and (min-width: 768px);
  --grid-system-responsive-bp-768px-display: none;
  --grid-system-responsive-bp-768px-flexDirection: row;
  --grid-system-responsive-bp-768px-flexWrap: nowrap;
  --grid-system-responsive-bp-1023px-query: screen and (min-width: 1023px);
  --grid-system-responsive-bp-1023px-display: flex;
  --grid-system-responsive-bp-1023px-flexWrap: nowrap;
  --grid-system-responsive-bp-1023px-flexDirection: row;
}
