:root {
  --color-system-cssVars-header-type-default--text-color: #fff;
  --color-system-cssVars-header-type-default--logo-color: #fff;
  --color-system-elements-bodyText: #212121;
  --color-system-elements-headingText: #ffffff;
  --color-system-elements-linkColor: #212121;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #212121;
  --color-system-elements-navLink: #212121;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #212121;
  --color-system-elements-navLinkScrolled: #212121;
}
