:root {
  --color-system-elements-bodyText: #000000;
  --color-system-elements-headingText: #ffffff;
  --color-system-elements-linkColor: #0041d9;
  --color-system-elements-navBackground: #ffffff;
  --color-system-elements-navText: #000000;
  --color-system-elements-navLink: #0041d9;
  --color-system-elements-navBackgroundScrolled: #ffffff;
  --color-system-elements-navTextScrolled: #000000;
  --color-system-elements-navLinkScrolled: #0041d9;
}
