:root {
  --grid-system-cssVars-gap-0: 0px;
  --grid-system-cssVars-gap-2: 2px;
  --grid-system-cssVars-gap-4: 4px;
  --grid-system-cssVars-gap-6: 6px;
  --grid-system-cssVars-gap-8: 8px;
  --grid-system-cssVars-gap-12: 0.625vw;
  --grid-system-cssVars-gap-16: 0.8333333333vw;
  --grid-system-cssVars-gap-18: 0.9375vw;
  --grid-system-cssVars-gap-20: 1.0416666667vw;
  --grid-system-cssVars-gap-24: 1.25vw;
  --grid-system-cssVars-gap-32: 1.6666666667vw;
  --grid-system-cssVars-gap-40: 2.0833333333vw;
  --grid-system-cssVars-gap-48: 2.5vw;
  --grid-system-cssVars-gap-56: 2.9166666667vw;
  --grid-system-cssVars-gap-64: 3.3333333333vw;
  --grid-system-cssVars-gap-72: 3.75vw;
  --grid-system-cssVars-gap-80: 4.1666666667vw;
  --grid-system-cssVars-gap-88: 4.5833333333vw;
  --grid-system-cssVars-gap-128: 6.6666666667vw;
  --grid-system-cssVars-gap-160: 8.3333333333vw;
  --grid-system-cssVars-gap-200: 10.4166666667vw;
  --grid-system-cssVars-button-invert-default-gap: var(--gap-16);
  --grid-system-cssVars-button-invert-small-gap: var(--gap-12);
  --grid-system-cssVars-button-link-default-gap: var(--gap-8);
  --grid-system-cssVars-button-link-small-gap: var(--gap-16);
  --grid-system-cssVars-button-primary-default-gap: var(--gap-16);
  --grid-system-cssVars-button-primary-small-gap: var(--gap-12);
  --grid-system-cssVars-button-secondary-default-gap: var(--gap-16);
  --grid-system-cssVars-button-secondary-small-gap: var(--gap-12);
  --grid-system-grids-ImageLinkCards-posts--KmtoL-display: grid;
  --grid-system-grids-ImageLinkCards-posts--KmtoL-templateColumns: 386.883px 386.891px 386.891px;
  --grid-system-grids-ImageLinkCards-posts--KmtoL-columnCount: 3;
  --grid-system-grids-ImageLinkCards-posts--KmtoL-templateRows: 493.703px;
  --grid-system-grids-ImageLinkCards-posts--KmtoL-gap: 32px 8px;
  --grid-system-grids-ImageLinkCards-posts--KmtoL-parentSection: section;
  --grid-system-grids-FormVariables-form--DgwjG-display: grid;
  --grid-system-grids-FormVariables-form--DgwjG-templateColumns: 507.312px 120.023px;
  --grid-system-grids-FormVariables-form--DgwjG-columnCount: 2;
  --grid-system-grids-FormVariables-form--DgwjG-templateRows: 72px 56.9531px;
  --grid-system-grids-FormVariables-form--DgwjG-gap: 16px;
  --grid-system-grids-FormVariables-form--DgwjG-childCount: 3;
  --grid-system-grids-FormVariables-form--DgwjG-parentSection: newsletter;
  --grid-system-grids-Form-singleColumnField--Fumf5-display: flex;
  --grid-system-grids-Form-singleColumnField--Fumf5-flexDirection: row;
  --grid-system-grids-Form-singleColumnField--Fumf5-gap: 16px;
  --grid-system-grids-Form-singleColumnField--Fumf5-justifyContent: flex-end;
  --grid-system-grids-Form-singleColumnField--Fumf5-childCount: 2;
  --grid-system-grids-Form-singleColumnField--Fumf5-parentSection: newsletter;
  --grid-system-grids-Footer-menu--kvB1F-display: flex;
  --grid-system-grids-Footer-menu--kvB1F-flexDirection: row;
  --grid-system-grids-Footer-menu--kvB1F-gap: 42.6667px;
  --grid-system-grids-Footer-menu--kvB1F-flexWrap: wrap;
  --grid-system-grids-Footer-menu--kvB1F-justifyContent: space-between;
  --grid-system-grids-Footer-menu--kvB1F-childCount: 6;
  --grid-system-grids-Footer-menu--kvB1F-parentSection: footer;
  --grid-system-grids-Footer-socials--wOZvz-display: flex;
  --grid-system-grids-Footer-socials--wOZvz-flexDirection: row;
  --grid-system-grids-Footer-socials--wOZvz-gap: 21.3333px;
  --grid-system-grids-Footer-socials--wOZvz-justifyContent: center;
  --grid-system-grids-Footer-socials--wOZvz-childCount: 4;
  --grid-system-grids-Footer-socials--wOZvz-parentSection: footer;
  --grid-system-responsive-bp-767px-query: (max-width: 767px);
  --grid-system-responsive-bp-767px-display: none;
  --grid-system-responsive-bp-767px-maxWidth: min(104vw, 673.92px);
  --grid-system-responsive-bp-767px-gridTemplateColumns: 1fr;
  --grid-system-responsive-bp-767px-flexDirection: column;
  --grid-system-responsive-bp-767px-rowGap: 24px;
  --grid-system-responsive-bp-767px-columnGap: 24px;
  --grid-system-responsive-bp-767px-flexWrap: nowrap;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-display: none;
  --grid-system-responsive-bp-952px-query: (max-width: 952px);
  --grid-system-responsive-bp-952px-display: none;
  --grid-system-responsive-bp-952px-maxWidth: 62.5vw;
  --grid-system-responsive-bp-952px-gridTemplateColumns: 1fr 1fr;
  --grid-system-responsive-bp-952px-rowGap: 14.5833vw;
  --grid-system-responsive-bp-952px-columnGap: 0px;
  --grid-system-responsive-bp-952px-flexDirection: column;
  --grid-system-responsive-bp-952px-gridTemplateRows: auto;
  --grid-system-responsive-bp-953px-query: (min-width: 953px);
  --grid-system-responsive-bp-953px-display: none;
  --grid-system-responsive-bp-953px-gridTemplateColumns: 1fr 1fr;
  --grid-system-responsive-bp-1280px-query: (max-width: 1280px);
  --grid-system-responsive-bp-1280px-gridTemplateColumns: repeat(3, 1fr);
}
