:root {
  --spacing-system-elements-section-paddingTop: 96px;
  --spacing-system-elements-section-paddingBottom: 120px;
  --spacing-system-elements-section-marginTop: 10px;
  --spacing-system-elements-section-marginRight: 16px;
  --spacing-system-elements-section-marginLeft: 16px;
  --spacing-system-elements-section-borderRadius: 30px;
  --spacing-system-elements-p-marginRight: 272px;
  --spacing-system-elements-p-marginLeft: 272px;
  --spacing-system-elements-container-marginRight: 26px;
  --spacing-system-elements-container-marginLeft: 26px;
  --spacing-system-elements-container-gap: 16px;
  --spacing-system-elements-container-rowGap: 16px;
  --spacing-system-elements-container-columnGap: 16px;
  --spacing-system-elements-wrapper-paddingTop: 12px;
  --spacing-system-elements-wrapper-paddingRight: 12px;
  --spacing-system-elements-wrapper-paddingBottom: 12px;
  --spacing-system-elements-wrapper-paddingLeft: 12px;
  --spacing-system-elements-wrapper-borderRadius: 1728px;
  --spacing-system-elements-hero-paddingTop: 72px;
  --spacing-system-elements-hero-paddingBottom: 32px;
  --spacing-system-elements-hero-marginRight: 16px;
  --spacing-system-elements-hero-marginLeft: 16px;
  --spacing-system-elements-hero-borderRadius: 20px;
  --spacing-system-elements-content-paddingTop: 80px;
  --spacing-system-elements-content-paddingRight: 80px;
  --spacing-system-elements-content-paddingBottom: 80px;
  --spacing-system-elements-content-paddingLeft: 80px;
  --spacing-system-elements-content-borderRadius: 20px;
  --spacing-system-elements-grid-paddingTop: 24px;
  --spacing-system-elements-grid-paddingRight: 24px;
  --spacing-system-elements-grid-paddingBottom: 24px;
  --spacing-system-elements-grid-paddingLeft: 32px;
  --spacing-system-elements-grid-gap: 44px;
  --spacing-system-elements-grid-rowGap: 44px;
  --spacing-system-elements-grid-columnGap: 44px;
  --spacing-system-elements-grid-borderRadius: 20px;
  --spacing-system-elements-cta-paddingLeft: 16px;
  --spacing-system-elements-cta-gap: 20px;
  --spacing-system-elements-cta-rowGap: 20px;
  --spacing-system-elements-cta-columnGap: 20px;
  --spacing-system-elements-cta-borderRadius: 1728px;
  --spacing-system-elements-serverless-analytics-on-postgr-marginRight: 142px;
  --spacing-system-elements-serverless-analytics-on-postgr-marginLeft: 142px;
}
