:root {
  --spacing-system-cssVars-font-family-monospace: "Monaco","Menlo","Consolas","Courier New",monospace;
  --spacing-system-elements-header-paddingRight: 12px;
  --spacing-system-elements-header-paddingLeft: 12px;
  --spacing-system-elements-nav-paddingTop: 16px;
  --spacing-system-elements-nav-paddingBottom: 16px;
  --spacing-system-elements-nav-borderRadius: 16px;
  --spacing-system-elements-section-paddingTop: 190px;
  --spacing-system-elements-section-paddingBottom: 50px;
  --spacing-system-elements-footer-marginRight: 249px;
  --spacing-system-elements-footer-marginLeft: 249px;
  --spacing-system-elements-button-marginTop: 4px;
  --spacing-system-elements-button-borderRadius: 4px;
  --spacing-system-elements-input-paddingTop: 6px;
  --spacing-system-elements-input-paddingRight: 35px;
  --spacing-system-elements-input-paddingBottom: 6px;
  --spacing-system-elements-input-paddingLeft: 15px;
  --spacing-system-elements-input-marginLeft: 15px;
  --spacing-system-elements-input-borderRadius: 50px;
  --spacing-system-elements-p-paddingTop: 4px;
  --spacing-system-elements-p-paddingRight: 18px;
  --spacing-system-elements-p-paddingBottom: 4px;
  --spacing-system-elements-p-paddingLeft: 18px;
  --spacing-system-elements-p-marginBottom: 16px;
  --spacing-system-elements-p-borderRadius: 48px;
  --spacing-system-elements-li-paddingTop: 4px;
  --spacing-system-elements-li-paddingRight: 12px;
  --spacing-system-elements-li-paddingBottom: 4px;
  --spacing-system-elements-li-paddingLeft: 12px;
  --spacing-system-elements-container-marginTop: 36px;
  --spacing-system-elements-container-marginRight: 440px;
  --spacing-system-elements-container-marginLeft: 440px;
  --spacing-system-elements-container-gap: 12px;
  --spacing-system-elements-container-rowGap: 12px;
  --spacing-system-elements-container-columnGap: 12px;
  --spacing-system-elements-card-paddingTop: 24px;
  --spacing-system-elements-card-paddingRight: 24px;
  --spacing-system-elements-card-paddingBottom: 24px;
  --spacing-system-elements-card-paddingLeft: 24px;
  --spacing-system-elements-card-borderRadius: 16px;
  --spacing-system-elements-content-paddingTop: 16px;
  --spacing-system-elements-content-paddingRight: 60px;
  --spacing-system-elements-content-paddingBottom: 16px;
  --spacing-system-elements-content-paddingLeft: 24px;
  --spacing-system-elements-grid-marginTop: 32px;
  --spacing-system-elements-grid-marginBottom: 16px;
  --spacing-system-elements-grid-gap: 16px 2.43902%;
  --spacing-system-elements-grid-rowGap: 16px;
  --spacing-system-elements-grid-columnGap: 2.43902%;
  --spacing-system-elements-row-marginRight: 249px;
  --spacing-system-elements-row-marginLeft: 249px;
  --spacing-system-elements-cta-paddingTop: 12px;
  --spacing-system-elements-cta-paddingRight: 12px;
  --spacing-system-elements-cta-paddingBottom: 12px;
  --spacing-system-elements-cta-paddingLeft: 12px;
  --spacing-system-elements-cta-borderRadius: 90px;
  --spacing-system-elements-div-2-paddingTop: 5px;
  --spacing-system-elements-div-2-paddingRight: 6.4px;
  --spacing-system-elements-div-2-paddingBottom: 5px;
  --spacing-system-elements-div-2-paddingLeft: 6.4px;
  --spacing-system-elements-div-2-marginRight: 642.797px;
  --spacing-system-elements-div-2-marginLeft: 642.789px;
  --spacing-system-elements-div-2-gap: 12px;
  --spacing-system-elements-div-2-rowGap: 12px;
  --spacing-system-elements-div-2-columnGap: 12px;
  --spacing-system-elements-div-2-borderRadius: 60px;
  --spacing-system-elements-knowledge-paddingTop: 96px;
  --spacing-system-elements-knowledge-paddingBottom: 96px;
  --spacing-system-elements-people-paddingTop: 96px;
  --spacing-system-elements-people-paddingBottom: 96px;
  --spacing-system-elements-process-paddingTop: 96px;
  --spacing-system-elements-process-paddingBottom: 96px;
  --spacing-system-elements-platform-paddingTop: 96px;
  --spacing-system-elements-platform-paddingBottom: 96px;
  --spacing-system-elements-the-most-innovative-companies--paddingTop: 80px;
  --spacing-system-elements-the-most-innovative-companies--paddingBottom: 80px;
  --spacing-system-elements-div-8-marginRight: 249px;
  --spacing-system-elements-div-8-marginLeft: 249px;
}
