:root {
  --grid-system-grids-about-display: grid;
  --grid-system-grids-about-templateColumns: 601.602px 601.602px;
  --grid-system-grids-about-columnCount: 2;
  --grid-system-grids-about-templateRows: 64px 406.531px 601.602px;
  --grid-system-grids-about-childCount: 5;
  --grid-system-grids-cook-like-a-matheson-display: grid;
  --grid-system-grids-cook-like-a-matheson-templateColumns: 576.008px 576.008px;
  --grid-system-grids-cook-like-a-matheson-columnCount: 2;
  --grid-system-grids-cook-like-a-matheson-templateRows: 83.1875px 744.195px 400.875px 102.547px;
  --grid-system-grids-cook-like-a-matheson-gap: 25.6px;
  --grid-system-grids-cook-like-a-matheson-childCount: 6;
  --grid-system-grids-where-to-find-us-display: grid;
  --grid-system-grids-where-to-find-us-templateColumns: 640px 640px;
  --grid-system-grids-where-to-find-us-columnCount: 2;
  --grid-system-grids-where-to-find-us-templateRows: 808.703px;
  --grid-system-grids-where-to-find-us-childCount: 3;
  --grid-system-grids-footer-display: grid;
  --grid-system-grids-footer-templateColumns: 192px 143.875px 226.562px 487.18px;
  --grid-system-grids-footer-columnCount: 4;
  --grid-system-grids-footer-templateRows: 66.3906px 126.984px 23.4062px;
  --grid-system-grids-footer-gap: 0px 51.2px;
  --grid-system-grids-footer-childCount: 6;
  --grid-system-grids-section-4-display: grid;
  --grid-system-grids-section-4-templateColumns: 428px 428px 428px;
  --grid-system-grids-section-4-columnCount: 3;
  --grid-system-grids-section-4-templateRows: 487.984px 487.984px 487.984px 487.984px 487.984px 487.984px;
  --grid-system-grids-section-4-childCount: 19;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-display: grid;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-templateColumns: 428px 428px 428px;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-columnCount: 3;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-templateRows: 487.984px 487.984px;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-childCount: 6;
  --grid-system-responsive-bp-320px-query: (max-width: 320px);
  --grid-system-responsive-bp-320px-display: none;
  --grid-system-responsive-bp-479px-query: (max-width: 479px);
  --grid-system-responsive-bp-479px-display: block;
  --grid-system-responsive-bp-670px-query: only screen and (max-width: 670px);
  --grid-system-responsive-bp-670px-maxWidth: 300px;
  --grid-system-responsive-bp-720px-query: (max-width: 720px);
  --grid-system-responsive-bp-720px-display: none;
  --grid-system-responsive-bp-767px-query: (max-width: 767px) and (min-width: 480px);
  --grid-system-responsive-bp-767px-display: block;
  --grid-system-responsive-bp-991px-query: (max-width: 991px) and (min-width: 768px);
  --grid-system-responsive-bp-991px-display: block;
  --grid-system-responsive-bp-992px-query: (min-width: 992px);
  --grid-system-responsive-bp-992px-display: block;
}
