:root {
  --grid-system-grids-about-display: grid;
  --grid-system-grids-about-templateColumns: 812.164px 812.164px;
  --grid-system-grids-about-columnCount: 2;
  --grid-system-grids-about-templateRows: 86.3984px 548.82px 812.164px;
  --grid-system-grids-about-childCount: 5;
  --grid-system-grids-cook-like-a-matheson-display: grid;
  --grid-system-grids-cook-like-a-matheson-templateColumns: 777.602px 777.609px;
  --grid-system-grids-cook-like-a-matheson-columnCount: 2;
  --grid-system-grids-cook-like-a-matheson-templateRows: 112.312px 1003.3px 539.828px 137.047px;
  --grid-system-grids-cook-like-a-matheson-gap: 34.56px;
  --grid-system-grids-cook-like-a-matheson-childCount: 6;
  --grid-system-grids-where-to-find-us-display: grid;
  --grid-system-grids-where-to-find-us-templateColumns: 864px 864px;
  --grid-system-grids-where-to-find-us-columnCount: 2;
  --grid-system-grids-where-to-find-us-templateRows: 1091.77px;
  --grid-system-grids-where-to-find-us-childCount: 3;
  --grid-system-grids-footer-display: grid;
  --grid-system-grids-footer-templateColumns: 259.195px 194.227px 305.867px 657.688px;
  --grid-system-grids-footer-columnCount: 4;
  --grid-system-grids-footer-templateRows: 88.2344px 169px 31.2422px;
  --grid-system-grids-footer-gap: 0px 69.12px;
  --grid-system-grids-footer-childCount: 6;
  --grid-system-grids-section-4-display: grid;
  --grid-system-grids-section-4-templateColumns: 577.328px 577.336px 577.328px;
  --grid-system-grids-section-4-columnCount: 3;
  --grid-system-grids-section-4-templateRows: 658.094px 658.094px 658.094px 658.094px 658.094px 658.094px;
  --grid-system-grids-section-4-childCount: 19;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-display: grid;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-templateColumns: 577.328px 577.336px 577.328px;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-columnCount: 3;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-templateRows: 658.094px 658.094px;
  --grid-system-grids-w-node--6b552ab4-beca-6c53-1600-6d632895-childCount: 6;
  --grid-system-responsive-bp-320px-query: (max-width: 320px);
  --grid-system-responsive-bp-320px-display: none;
  --grid-system-responsive-bp-479px-query: (max-width: 479px);
  --grid-system-responsive-bp-479px-display: block;
  --grid-system-responsive-bp-670px-query: only screen and (max-width: 670px);
  --grid-system-responsive-bp-670px-maxWidth: 300px;
  --grid-system-responsive-bp-720px-query: (max-width: 720px);
  --grid-system-responsive-bp-720px-display: none;
  --grid-system-responsive-bp-767px-query: (max-width: 767px) and (min-width: 480px);
  --grid-system-responsive-bp-767px-display: block;
  --grid-system-responsive-bp-991px-query: (max-width: 991px) and (min-width: 768px);
  --grid-system-responsive-bp-991px-display: block;
  --grid-system-responsive-bp-992px-query: (min-width: 992px);
  --grid-system-responsive-bp-992px-display: block;
}
