:root {
  --spacing-system-elements-section-paddingRight: 40px;
  --spacing-system-elements-section-paddingLeft: 40px;
  --spacing-system-elements-section-marginTop: 150px;
  --spacing-system-elements-section-marginBottom: 150px;
  --spacing-system-elements-footer-paddingTop: 150px;
  --spacing-system-elements-footer-paddingBottom: 75px;
  --spacing-system-elements-button-borderRadius: 12px;
  --spacing-system-elements-input-paddingRight: 20px;
  --spacing-system-elements-input-paddingLeft: 20px;
  --spacing-system-elements-input-borderRadius: 12px;
  --spacing-system-elements-li-marginBottom: 8px;
  --spacing-system-elements-content-marginBottom: 10px;
  --spacing-system-elements-grid-marginBottom: 40px;
  --spacing-system-elements-grid-gap: 12px;
  --spacing-system-elements-grid-rowGap: 12px;
  --spacing-system-elements-grid-columnGap: 12px;
  --spacing-system-elements-row-marginRight: 164px;
  --spacing-system-elements-row-marginBottom: 34.5547px;
  --spacing-system-elements-row-marginLeft: 164px;
  --spacing-system-elements-row-gap: normal 24px;
  --spacing-system-elements-row-columnGap: 24px;
  --spacing-system-elements-cta-paddingRight: 25px;
  --spacing-system-elements-cta-paddingLeft: 25px;
  --spacing-system-elements-cta-borderRadius: 10px;
  --spacing-system-elements-browse-live-community-examples-paddingRight: 40px;
  --spacing-system-elements-browse-live-community-examples-paddingLeft: 40px;
  --spacing-system-elements-browse-live-community-examples-marginRight: 164px;
  --spacing-system-elements-browse-live-community-examples-marginLeft: 164px;
  --spacing-system-elements-created-withendless-tools-marginBottom: 84px;
  --spacing-system-elements-about-tools-on-x-paddingRight: 40px;
  --spacing-system-elements-about-tools-on-x-paddingLeft: 40px;
  --spacing-system-elements-start-creating-real-time-3d-de-paddingRight: 40px;
  --spacing-system-elements-start-creating-real-time-3d-de-paddingLeft: 40px;
  --spacing-system-elements-start-creating-real-time-3d-de-marginTop: 150px;
  --spacing-system-elements-start-creating-real-time-3d-de-marginBottom: 150px;
  --spacing-system-elements-enterprise-paddingRight: 60px;
  --spacing-system-elements-enterprise-paddingLeft: 60px;
  --spacing-system-elements-enterprise-marginTop: 150px;
  --spacing-system-elements-enterprise-marginBottom: 150px;
  --spacing-system-elements-subscribe-so-you-dont-miss-ou-paddingRight: 40px;
  --spacing-system-elements-subscribe-so-you-dont-miss-ou-paddingLeft: 40px;
}
