:root {
  --color-system-elements-pageBackground: #201819;
  --color-system-elements-bodyText: #ffffff;
  --color-system-elements-headingText: #ffffff;
  --color-system-elements-linkColor: #dfc78e;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #ffffff;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #ffffff;
}
