:root {
  --grid-system-cssVars-container-width: 1800px;
  --grid-system-cssVars-gutter: 16px;
  --grid-system-cssVars-columns: var(--cols);
  --grid-system-cssVars-gap: var(--gutter);
  --grid-system-cssVars-column: calc(min(var(--container-width), 100vw)/var(--columns));
  --grid-system-container-maxWidth: 1800px;
  --grid-system-container-paddingLeft: 17.28px;
  --grid-system-container-paddingRight: 17.28px;
  --grid-system-grids-art-dir-ector--digi-display: grid;
  --grid-system-grids-art-dir-ector--digi-templateColumns: 122.781px 122.781px 122.781px 122.781px 122.781px 122.781px 122.781px 122.781px 122.781px 122.781px 122.781px 122.781px;
  --grid-system-grids-art-dir-ector--digi-columnCount: 12;
  --grid-system-grids-art-dir-ector--digi-templateRows: 1792.03px;
  --grid-system-grids-art-dir-ector--digi-gap: normal 20px;
  --grid-system-grids-art-dir-ector--digi-childCount: 1;
  --grid-system-grids-art-dir-ector--digi-parentSection: introduction;
  --grid-system-grids-container-display: grid;
  --grid-system-grids-container-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-container-columnCount: 12;
  --grid-system-grids-container-templateRows: 0px 711.703px;
  --grid-system-grids-container-gap: normal 20px;
  --grid-system-grids-container-childCount: 2;
  --grid-system-grids-container-parentSection: introduction;
  --grid-system-grids-selected-projects-display: grid;
  --grid-system-grids-selected-projects-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-selected-projects-columnCount: 12;
  --grid-system-grids-selected-projects-templateRows: 498.055px 437.945px;
  --grid-system-grids-selected-projects-gap: normal 20px;
  --grid-system-grids-selected-projects-childCount: 2;
  --grid-system-grids-selected-projects-parentSection: work;
  --grid-system-grids-title-big-display: grid;
  --grid-system-grids-title-big-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-title-big-columnCount: 12;
  --grid-system-grids-title-big-templateRows: 95.4766px 112.32px;
  --grid-system-grids-title-big-gap: normal 20px;
  --grid-system-grids-title-big-childCount: 2;
  --grid-system-grids-title-big-parentSection: work;
  --grid-system-grids-irys-display: grid;
  --grid-system-grids-irys-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-irys-columnCount: 12;
  --grid-system-grids-irys-templateRows: 822px 47px;
  --grid-system-grids-irys-gap: normal 20px;
  --grid-system-grids-irys-childCount: 2;
  --grid-system-grids-irys-parentSection: article;
  --grid-system-grids-baptiste-glaymann-display: grid;
  --grid-system-grids-baptiste-glaymann-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-baptiste-glaymann-columnCount: 12;
  --grid-system-grids-baptiste-glaymann-templateRows: 822px 47px;
  --grid-system-grids-baptiste-glaymann-gap: normal 20px;
  --grid-system-grids-baptiste-glaymann-childCount: 2;
  --grid-system-grids-baptiste-glaymann-parentSection: article;
  --grid-system-grids-hyperbolic-display: grid;
  --grid-system-grids-hyperbolic-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-hyperbolic-columnCount: 12;
  --grid-system-grids-hyperbolic-templateRows: 822px 47px;
  --grid-system-grids-hyperbolic-gap: normal 20px;
  --grid-system-grids-hyperbolic-childCount: 2;
  --grid-system-grids-hyperbolic-parentSection: article;
  --grid-system-grids-the-azarian-journey-display: grid;
  --grid-system-grids-the-azarian-journey-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-the-azarian-journey-columnCount: 12;
  --grid-system-grids-the-azarian-journey-templateRows: 822px 47px;
  --grid-system-grids-the-azarian-journey-gap: normal 20px;
  --grid-system-grids-the-azarian-journey-childCount: 2;
  --grid-system-grids-the-azarian-journey-parentSection: article;
  --grid-system-grids-atelierm-display: grid;
  --grid-system-grids-atelierm-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-atelierm-columnCount: 12;
  --grid-system-grids-atelierm-templateRows: 822px 47px;
  --grid-system-grids-atelierm-gap: normal 20px;
  --grid-system-grids-atelierm-childCount: 2;
  --grid-system-grids-atelierm-parentSection: article;
  --grid-system-grids-brandblack-display: grid;
  --grid-system-grids-brandblack-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-brandblack-columnCount: 12;
  --grid-system-grids-brandblack-templateRows: 822px 47px;
  --grid-system-grids-brandblack-gap: normal 20px;
  --grid-system-grids-brandblack-childCount: 2;
  --grid-system-grids-brandblack-parentSection: article;
  --grid-system-grids-houses-of-display: grid;
  --grid-system-grids-houses-of-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-houses-of-columnCount: 12;
  --grid-system-grids-houses-of-templateRows: 822px 47px;
  --grid-system-grids-houses-of-gap: normal 20px;
  --grid-system-grids-houses-of-childCount: 2;
  --grid-system-grids-houses-of-parentSection: article;
  --grid-system-grids-4thsex-display: grid;
  --grid-system-grids-4thsex-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-4thsex-columnCount: 12;
  --grid-system-grids-4thsex-templateRows: 822px 47px;
  --grid-system-grids-4thsex-gap: normal 20px;
  --grid-system-grids-4thsex-childCount: 2;
  --grid-system-grids-4thsex-parentSection: article;
  --grid-system-grids-barlow-agency-display: grid;
  --grid-system-grids-barlow-agency-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-barlow-agency-columnCount: 12;
  --grid-system-grids-barlow-agency-templateRows: 822px 47px;
  --grid-system-grids-barlow-agency-gap: normal 20px;
  --grid-system-grids-barlow-agency-childCount: 2;
  --grid-system-grids-barlow-agency-parentSection: article;
  --grid-system-grids-content-display: grid;
  --grid-system-grids-content-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-content-columnCount: 12;
  --grid-system-grids-content-templateRows: 701.75px 664.523px 132.727px;
  --grid-system-grids-content-gap: normal 20px;
  --grid-system-grids-content-childCount: 3;
  --grid-system-grids-content-parentSection: letude;
  --grid-system-grids-creative-display: grid;
  --grid-system-grids-creative-templateColumns: 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px 115px;
  --grid-system-grids-creative-columnCount: 12;
  --grid-system-grids-creative-templateRows: 72.0078px 536px;
  --grid-system-grids-creative-gap: normal 20px;
  --grid-system-grids-creative-childCount: 4;
  --grid-system-grids-creative-parentSection: skills;
  --grid-system-responsive-bp-550px-query: (min-width: 550px);
  --grid-system-responsive-bp-550px-columnGap: var(--gap);
  --grid-system-responsive-bp-550px-gridTemplateColumns: repeat(2, 1fr);
  --grid-system-responsive-bp-767px-query: (max-width: 767px);
  --grid-system-responsive-bp-767px-display: none;
  --grid-system-responsive-bp-767px-flexDirection: column;
  --grid-system-responsive-bp-767px-rowGap: 0px;
  --grid-system-responsive-bp-767px-columnGap: 0px;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-maxWidth: 386px;
  --grid-system-responsive-bp-768px-display: grid;
  --grid-system-responsive-bp-768px-gridTemplateColumns: var(--shape-size) 1fr var(--shape-size);
  --grid-system-responsive-bp-768px-gridTemplateRows: auto 1fr auto;
  --grid-system-responsive-bp-768px-rowGap: 0px;
  --grid-system-responsive-bp-768px-columnGap: 0px;
  --grid-system-responsive-bp-768px-flexWrap: nowrap;
  --grid-system-responsive-bp-768px-flexDirection: column;
  --grid-system-responsive-bp-991px-query: (max-width: 991px);
  --grid-system-responsive-bp-991px-display: block;
  --grid-system-responsive-bp-991px-flexWrap: wrap;
  --grid-system-responsive-bp-992px-query: (min-width: 992px);
  --grid-system-responsive-bp-992px-maxWidth: 660px;
  --grid-system-responsive-bp-992px-gridTemplateColumns: repeat(2, 1fr);
  --grid-system-responsive-bp-1200px-query: (min-width: 1200px);
  --grid-system-responsive-bp-1200px-columnGap: var(--gap);
  --grid-system-responsive-bp-1200px-display: grid;
  --grid-system-responsive-bp-1200px-gridTemplateColumns: repeat(2, 1fr);
}
