:root {
  --spacing-system-elements-input-paddingTop: 25.056px;
  --spacing-system-elements-input-paddingRight: 30.9312px;
  --spacing-system-elements-input-paddingBottom: 25.056px;
  --spacing-system-elements-input-paddingLeft: 30.9312px;
  --spacing-system-elements-input-borderRadius: 115.776px;
  --spacing-system-elements-container-gap: 22.464px 86.4px;
  --spacing-system-elements-container-rowGap: 22.464px;
  --spacing-system-elements-container-columnGap: 86.4px;
  --spacing-system-elements-wrapper-paddingTop: 22.464px;
  --spacing-system-elements-wrapper-paddingBottom: 22.464px;
  --spacing-system-elements-section-paddingTop: 103.68px;
  --spacing-system-elements-content-paddingTop: 22.464px;
  --spacing-system-elements-content-paddingBottom: 69.12px;
  --spacing-system-elements-grid-marginTop: 86.4px;
  --spacing-system-elements-grid-marginBottom: 17.28px;
  --spacing-system-elements-grid-gap: 18.0058px 86.4px;
  --spacing-system-elements-grid-rowGap: 18.0058px;
  --spacing-system-elements-grid-columnGap: 86.4px;
  --spacing-system-elements-row-gap: 16px 103.68px;
  --spacing-system-elements-row-rowGap: 16px;
  --spacing-system-elements-row-columnGap: 103.68px;
  --spacing-system-elements-cta-paddingTop: 31.968px;
  --spacing-system-elements-cta-paddingRight: 48.384px;
  --spacing-system-elements-cta-paddingBottom: 31.968px;
  --spacing-system-elements-cta-paddingLeft: 48.384px;
  --spacing-system-elements-cta-borderRadius: 140px;
}
