:root {
  --spacing-system-elements-nav-paddingTop: 14.08px;
  --spacing-system-elements-nav-paddingRight: 14.08px;
  --spacing-system-elements-nav-paddingBottom: 14.08px;
  --spacing-system-elements-nav-paddingLeft: 14.08px;
  --spacing-system-elements-section-paddingRight: 14.08px;
  --spacing-system-elements-section-paddingBottom: 70.4px;
  --spacing-system-elements-section-paddingLeft: 14.08px;
  --spacing-system-elements-section-gap: 14.08px;
  --spacing-system-elements-section-rowGap: 14.08px;
  --spacing-system-elements-section-columnGap: 14.08px;
  --spacing-system-elements-footer-paddingTop: 70.4px;
  --spacing-system-elements-button-marginLeft: 14.08px;
  --spacing-system-elements-p-marginBottom: 28.16px;
  --spacing-system-elements-p-marginLeft: 70.4px;
  --spacing-system-elements-container-paddingRight: 14.08px;
  --spacing-system-elements-container-paddingBottom: 70.4px;
  --spacing-system-elements-container-paddingLeft: 14.08px;
  --spacing-system-elements-container-gap: 14.08px;
  --spacing-system-elements-container-rowGap: 14.08px;
  --spacing-system-elements-container-columnGap: 14.08px;
  --spacing-system-elements-grid-paddingRight: 14.08px;
  --spacing-system-elements-grid-paddingBottom: 70.4px;
  --spacing-system-elements-grid-paddingLeft: 14.08px;
  --spacing-system-elements-grid-gap: 14.08px;
  --spacing-system-elements-grid-rowGap: 14.08px;
  --spacing-system-elements-grid-columnGap: 14.08px;
  --spacing-system-elements-row-paddingBottom: 14.08px;
  --spacing-system-elements-row-gap: 14.08px;
  --spacing-system-elements-row-rowGap: 14.08px;
  --spacing-system-elements-row-columnGap: 14.08px;
  --spacing-system-elements-cta-paddingTop: 28.16px;
  --spacing-system-elements-cta-paddingRight: 14.08px;
  --spacing-system-elements-cta-paddingBottom: 28.16px;
  --spacing-system-elements-cta-paddingLeft: 14.08px;
  --spacing-system-elements-shop-caviar-paddingTop: 70.4px;
  --spacing-system-elements-shop-caviar-paddingRight: 14.08px;
  --spacing-system-elements-shop-caviar-paddingBottom: 70.4px;
  --spacing-system-elements-shop-caviar-paddingLeft: 14.08px;
}
