:root {
  --spacing-system-cssVars-dash-end-padding: 4em;
  --spacing-system-cssVars-dash-col-gap: 1.5em;
  --spacing-system-cssVars-padding-m: 7.5em;
  --spacing-system-cssVars-gap-xxl: 2.5em;
  --spacing-system-cssVars-gap-l: 1.875em;
  --spacing-system-cssVars-padding-s: 5em;
  --spacing-system-cssVars-gap-xl: 2em;
  --spacing-system-cssVars-gap-sm: 1.25em;
  --spacing-system-cssVars-gap-xxs: .5em;
  --spacing-system-cssVars-gap-xs: .75em;
  --spacing-system-cssVars-gap-m: 1.5em;
  --spacing-system-cssVars-gap-s: 1em;
  --spacing-system-cssVars-padding-l: 10em;
  --spacing-system-cssVars-padding-xl: 12.5em;
  --spacing-system-cssVars-container-padding: 1.875em;
  --spacing-system-cssVars-padding-xs: 3.75em;
  --spacing-system-elements-section-paddingTop: 288px;
  --spacing-system-elements-section-paddingBottom: 288px;
  --spacing-system-elements-button-paddingRight: 21.6px;
  --spacing-system-elements-button-paddingBottom: 1.2px;
  --spacing-system-elements-button-paddingLeft: 21.6px;
  --spacing-system-elements-button-gap: 12px;
  --spacing-system-elements-button-rowGap: 12px;
  --spacing-system-elements-button-columnGap: 12px;
  --spacing-system-elements-button-borderRadius: 2.4px;
  --spacing-system-elements-input-paddingTop: 14.4px;
  --spacing-system-elements-input-paddingRight: 19.2px;
  --spacing-system-elements-input-paddingBottom: 14.4px;
  --spacing-system-elements-input-paddingLeft: 19.2px;
  --spacing-system-elements-input-borderRadius: 3.6px;
  --spacing-system-elements-p-marginTop: 0.825px;
  --spacing-system-elements-li-paddingTop: 24px;
  --spacing-system-elements-li-gap: 24px;
  --spacing-system-elements-li-rowGap: 24px;
  --spacing-system-elements-li-columnGap: 24px;
  --spacing-system-elements-container-paddingRight: 36px;
  --spacing-system-elements-container-paddingLeft: 36px;
  --spacing-system-elements-container-marginRight: 151.203px;
  --spacing-system-elements-container-marginLeft: 151.203px;
  --spacing-system-elements-card-paddingTop: 19.2px;
  --spacing-system-elements-card-paddingRight: 19.2px;
  --spacing-system-elements-card-paddingBottom: 19.2px;
  --spacing-system-elements-card-paddingLeft: 14.4px;
  --spacing-system-elements-card-gap: 9.6px;
  --spacing-system-elements-card-rowGap: 9.6px;
  --spacing-system-elements-card-columnGap: 9.6px;
  --spacing-system-elements-hero-paddingTop: 3.3px;
  --spacing-system-elements-hero-paddingRight: 13.2px;
  --spacing-system-elements-hero-paddingBottom: 4.95px;
  --spacing-system-elements-hero-paddingLeft: 13.2px;
  --spacing-system-elements-hero-marginTop: 1px;
  --spacing-system-elements-hero-marginBottom: 1px;
  --spacing-system-elements-hero-borderRadius: 264px;
  --spacing-system-elements-content-paddingTop: 48px;
  --spacing-system-elements-content-paddingRight: 48px;
  --spacing-system-elements-content-paddingBottom: 48px;
  --spacing-system-elements-content-paddingLeft: 48px;
  --spacing-system-elements-row-gap: 28.8px;
  --spacing-system-elements-row-rowGap: 28.8px;
  --spacing-system-elements-row-columnGap: 28.8px;
  --spacing-system-elements-cta-paddingTop: 12px;
  --spacing-system-elements-cta-paddingRight: 12px;
  --spacing-system-elements-cta-paddingBottom: 12px;
  --spacing-system-elements-cta-paddingLeft: 12px;
  --spacing-system-elements-cta-borderRadius: 57.6px;
  --spacing-system-elements-div-1-paddingTop: 88.8px;
  --spacing-system-elements-div-1-paddingRight: 36px;
  --spacing-system-elements-div-1-paddingLeft: 36px;
  --spacing-system-elements-dev-toolkit-paddingRight: 36px;
  --spacing-system-elements-dev-toolkit-paddingLeft: 36px;
  --spacing-system-elements-dennis-paddingRight: 36px;
  --spacing-system-elements-dennis-paddingLeft: 36px;
  --spacing-system-elements-the-platform-paddingTop: 240px;
  --spacing-system-elements-a-growing-toolkit-for-creative-paddingTop: 240px;
  --spacing-system-elements-a-growing-toolkit-for-creative-paddingBottom: 662.4px;
  --spacing-system-elements-level-up-your-game-and-join-a--paddingTop: 48px;
  --spacing-system-elements-level-up-your-game-and-join-a--paddingBottom: 144px;
  --spacing-system-elements-osmo-empowered-me-to-take-on-a-paddingBottom: 36px;
}
