:root {
  --spacing-system-cssVars-dash-end-padding: 4em;
  --spacing-system-cssVars-dash-col-gap: 1.5em;
  --spacing-system-cssVars-padding-m: 7.5em;
  --spacing-system-cssVars-gap-xxl: 2.5em;
  --spacing-system-cssVars-gap-l: 1.875em;
  --spacing-system-cssVars-padding-s: 5em;
  --spacing-system-cssVars-gap-xl: 2em;
  --spacing-system-cssVars-gap-sm: 1.25em;
  --spacing-system-cssVars-gap-xxs: .5em;
  --spacing-system-cssVars-gap-xs: .75em;
  --spacing-system-cssVars-gap-m: 1.5em;
  --spacing-system-cssVars-gap-s: 1em;
  --spacing-system-cssVars-padding-l: 10em;
  --spacing-system-cssVars-padding-xl: 12.5em;
  --spacing-system-cssVars-container-padding: 1.875em;
  --spacing-system-cssVars-padding-xs: 3.75em;
  --spacing-system-elements-section-paddingTop: 213.333px;
  --spacing-system-elements-section-paddingBottom: 213.333px;
  --spacing-system-elements-button-paddingRight: 16px;
  --spacing-system-elements-button-paddingBottom: 0.888889px;
  --spacing-system-elements-button-paddingLeft: 16px;
  --spacing-system-elements-button-gap: 8.88889px;
  --spacing-system-elements-button-rowGap: 8.88889px;
  --spacing-system-elements-button-columnGap: 8.88889px;
  --spacing-system-elements-button-borderRadius: 1.77778px;
  --spacing-system-elements-input-paddingTop: 10.6667px;
  --spacing-system-elements-input-paddingRight: 14.2222px;
  --spacing-system-elements-input-paddingBottom: 10.6667px;
  --spacing-system-elements-input-paddingLeft: 14.2222px;
  --spacing-system-elements-input-borderRadius: 2.66667px;
  --spacing-system-elements-p-marginTop: 0.611111px;
  --spacing-system-elements-li-paddingTop: 17.7778px;
  --spacing-system-elements-li-gap: 17.7778px;
  --spacing-system-elements-li-rowGap: 17.7778px;
  --spacing-system-elements-li-columnGap: 17.7778px;
  --spacing-system-elements-container-paddingRight: 26.6667px;
  --spacing-system-elements-container-paddingLeft: 26.6667px;
  --spacing-system-elements-container-marginRight: 112px;
  --spacing-system-elements-container-marginLeft: 112px;
  --spacing-system-elements-card-paddingTop: 14.2222px;
  --spacing-system-elements-card-paddingRight: 14.2222px;
  --spacing-system-elements-card-paddingBottom: 14.2222px;
  --spacing-system-elements-card-paddingLeft: 10.6667px;
  --spacing-system-elements-card-gap: 7.11111px;
  --spacing-system-elements-card-rowGap: 7.11111px;
  --spacing-system-elements-card-columnGap: 7.11111px;
  --spacing-system-elements-hero-paddingTop: 2.44444px;
  --spacing-system-elements-hero-paddingRight: 9.77778px;
  --spacing-system-elements-hero-paddingBottom: 3.66667px;
  --spacing-system-elements-hero-paddingLeft: 9.77778px;
  --spacing-system-elements-hero-marginTop: 1px;
  --spacing-system-elements-hero-marginBottom: 1px;
  --spacing-system-elements-hero-borderRadius: 195.556px;
  --spacing-system-elements-content-paddingTop: 35.5556px;
  --spacing-system-elements-content-paddingRight: 35.5556px;
  --spacing-system-elements-content-paddingBottom: 35.5556px;
  --spacing-system-elements-content-paddingLeft: 35.5556px;
  --spacing-system-elements-row-gap: 21.3333px;
  --spacing-system-elements-row-rowGap: 21.3333px;
  --spacing-system-elements-row-columnGap: 21.3333px;
  --spacing-system-elements-cta-paddingRight: 16px;
  --spacing-system-elements-cta-paddingBottom: 0.888889px;
  --spacing-system-elements-cta-paddingLeft: 16px;
  --spacing-system-elements-cta-gap: 8.88889px;
  --spacing-system-elements-cta-rowGap: 8.88889px;
  --spacing-system-elements-cta-columnGap: 8.88889px;
  --spacing-system-elements-cta-borderRadius: 1.77778px;
  --spacing-system-elements-div-1-paddingTop: 65.7778px;
  --spacing-system-elements-div-1-paddingRight: 26.6667px;
  --spacing-system-elements-div-1-paddingLeft: 26.6667px;
  --spacing-system-elements-dev-toolkit-paddingRight: 26.6667px;
  --spacing-system-elements-dev-toolkit-paddingLeft: 26.6667px;
  --spacing-system-elements-dennis-paddingRight: 26.6667px;
  --spacing-system-elements-dennis-paddingLeft: 26.6667px;
  --spacing-system-elements-the-platform-paddingTop: 177.778px;
  --spacing-system-elements-a-growing-toolkit-for-creative-paddingTop: 177.778px;
  --spacing-system-elements-a-growing-toolkit-for-creative-paddingBottom: 490.667px;
  --spacing-system-elements-level-up-your-game-and-join-a--paddingTop: 35.5556px;
  --spacing-system-elements-level-up-your-game-and-join-a--paddingBottom: 106.667px;
  --spacing-system-elements-osmo-empowered-me-to-take-on-a-paddingBottom: 26.6667px;
}
