:root {
  --spacing-system-elements-header-gap: 24px 16px;
  --spacing-system-elements-header-rowGap: 24px;
  --spacing-system-elements-header-columnGap: 16px;
  --spacing-system-elements-nav-paddingTop: 10px;
  --spacing-system-elements-nav-paddingRight: 16px;
  --spacing-system-elements-nav-paddingBottom: 10px;
  --spacing-system-elements-nav-paddingLeft: 16px;
  --spacing-system-elements-nav-gap: 28px;
  --spacing-system-elements-nav-rowGap: 28px;
  --spacing-system-elements-nav-columnGap: 28px;
  --spacing-system-elements-nav-borderRadius: 6px;
  --spacing-system-elements-section-gap: 32px;
  --spacing-system-elements-section-rowGap: 32px;
  --spacing-system-elements-section-columnGap: 32px;
  --spacing-system-elements-footer-paddingRight: 16px;
  --spacing-system-elements-footer-paddingLeft: 16px;
  --spacing-system-elements-button-paddingTop: 15.5px;
  --spacing-system-elements-button-paddingRight: 24px;
  --spacing-system-elements-button-paddingBottom: 16.5px;
  --spacing-system-elements-button-paddingLeft: 24px;
  --spacing-system-elements-button-gap: 8px;
  --spacing-system-elements-button-rowGap: 8px;
  --spacing-system-elements-button-columnGap: 8px;
  --spacing-system-elements-button-borderRadius: 4px;
  --spacing-system-elements-container-paddingTop: 96px;
  --spacing-system-elements-container-paddingRight: 16px;
  --spacing-system-elements-container-paddingBottom: 96px;
  --spacing-system-elements-container-paddingLeft: 16px;
  --spacing-system-elements-container-gap: 64px;
  --spacing-system-elements-container-rowGap: 64px;
  --spacing-system-elements-container-columnGap: 64px;
  --spacing-system-elements-wrapper-borderRadius: 6px;
  --spacing-system-elements-card-paddingRight: 60px;
  --spacing-system-elements-hero-paddingTop: 36px;
  --spacing-system-elements-hero-paddingRight: 16px;
  --spacing-system-elements-hero-paddingBottom: 36px;
  --spacing-system-elements-hero-paddingLeft: 16px;
  --spacing-system-elements-content-borderRadius: 5px;
  --spacing-system-elements-grid-paddingTop: 24px;
  --spacing-system-elements-grid-paddingRight: 24px;
  --spacing-system-elements-grid-paddingBottom: 24px;
  --spacing-system-elements-grid-paddingLeft: 24px;
  --spacing-system-elements-grid-gap: 13.824px;
  --spacing-system-elements-grid-rowGap: 13.824px;
  --spacing-system-elements-grid-columnGap: 13.824px;
  --spacing-system-elements-row-paddingTop: 96px;
  --spacing-system-elements-row-paddingRight: 16px;
  --spacing-system-elements-row-paddingBottom: 96px;
  --spacing-system-elements-row-paddingLeft: 16px;
  --spacing-system-elements-row-gap: 64px;
  --spacing-system-elements-row-rowGap: 64px;
  --spacing-system-elements-row-columnGap: 64px;
  --spacing-system-elements-sidebar-paddingTop: 20px;
  --spacing-system-elements-sidebar-paddingRight: 16px;
  --spacing-system-elements-sidebar-paddingBottom: 20px;
  --spacing-system-elements-sidebar-paddingLeft: 16px;
  --spacing-system-elements-sidebar-gap: 20px normal;
  --spacing-system-elements-sidebar-rowGap: 20px;
  --spacing-system-elements-cta-paddingTop: 15.5px;
  --spacing-system-elements-cta-paddingRight: 24px;
  --spacing-system-elements-cta-paddingBottom: 16.5px;
  --spacing-system-elements-cta-paddingLeft: 24px;
  --spacing-system-elements-cta-gap: 8px;
  --spacing-system-elements-cta-rowGap: 8px;
  --spacing-system-elements-cta-columnGap: 8px;
  --spacing-system-elements-cta-borderRadius: 4px;
  --spacing-system-elements-financial-infrastructure-to-gr-paddingRight: 16px;
  --spacing-system-elements-financial-infrastructure-to-gr-paddingLeft: 16px;
  --spacing-system-elements-flexible-solutions-for-every-b-paddingRight: 16px;
  --spacing-system-elements-flexible-solutions-for-every-b-paddingLeft: 16px;
  --spacing-system-elements-div-3-paddingRight: 16px;
  --spacing-system-elements-div-3-paddingLeft: 16px;
  --spacing-system-elements-the-backbone-of-global-commerc-paddingRight: 16px;
  --spacing-system-elements-the-backbone-of-global-commerc-paddingLeft: 16px;
  --spacing-system-elements-powering-businesses-of-all-siz-paddingRight: 16px;
  --spacing-system-elements-powering-businesses-of-all-siz-paddingLeft: 16px;
  --spacing-system-elements-reliable-extensible-infrastru-paddingRight: 16px;
  --spacing-system-elements-reliable-extensible-infrastru-paddingLeft: 16px;
  --spacing-system-elements-whats-happening-paddingRight: 16px;
  --spacing-system-elements-whats-happening-paddingLeft: 16px;
  --spacing-system-elements-div-8-paddingRight: 16px;
  --spacing-system-elements-div-8-paddingLeft: 16px;
}
