:root {
  --spacing-system-elements-header-paddingRight: 40px;
  --spacing-system-elements-header-paddingLeft: 40px;
  --spacing-system-elements-header-gap: 20px;
  --spacing-system-elements-header-rowGap: 20px;
  --spacing-system-elements-header-columnGap: 20px;
  --spacing-system-elements-nav-paddingRight: 20px;
  --spacing-system-elements-nav-paddingLeft: 20px;
  --spacing-system-elements-section-paddingTop: 208px;
  --spacing-system-elements-section-paddingRight: 88px;
  --spacing-system-elements-section-paddingBottom: 208px;
  --spacing-system-elements-section-paddingLeft: 88px;
  --spacing-system-elements-section-gap: 60px;
  --spacing-system-elements-section-rowGap: 60px;
  --spacing-system-elements-section-columnGap: 60px;
  --spacing-system-elements-footer-paddingTop: 40px;
  --spacing-system-elements-footer-paddingRight: 20px;
  --spacing-system-elements-footer-paddingLeft: 20px;
  --spacing-system-elements-footer-gap: 30px 0px;
  --spacing-system-elements-footer-rowGap: 30px;
  --spacing-system-elements-button-borderRadius: 40px;
  --spacing-system-elements-input-paddingTop: 10px;
  --spacing-system-elements-input-paddingRight: 10px;
  --spacing-system-elements-input-paddingBottom: 10px;
  --spacing-system-elements-input-paddingLeft: 10px;
  --spacing-system-elements-input-borderRadius: 8px;
  --spacing-system-elements-cta-paddingTop: 6px;
  --spacing-system-elements-cta-paddingRight: 10px;
  --spacing-system-elements-cta-paddingBottom: 7px;
  --spacing-system-elements-cta-paddingLeft: 10px;
  --spacing-system-elements-cta-gap: 5px;
  --spacing-system-elements-cta-rowGap: 5px;
  --spacing-system-elements-cta-columnGap: 5px;
  --spacing-system-elements-cta-borderRadius: 15px;
  --spacing-system-elements-build-bettersites-faster-paddingTop: 80px;
  --spacing-system-elements-build-bettersites-faster-gap: 100px;
  --spacing-system-elements-build-bettersites-faster-rowGap: 100px;
  --spacing-system-elements-build-bettersites-faster-columnGap: 100px;
  --spacing-system-elements-scale-without-switching-tools-paddingTop: 160px;
  --spacing-system-elements-scale-without-switching-tools-paddingRight: 40px;
  --spacing-system-elements-scale-without-switching-tools-paddingBottom: 160px;
  --spacing-system-elements-scale-without-switching-tools-paddingLeft: 40px;
  --spacing-system-elements-scale-without-switching-tools-gap: 60px;
  --spacing-system-elements-scale-without-switching-tools-rowGap: 60px;
  --spacing-system-elements-scale-without-switching-tools-columnGap: 60px;
  --spacing-system-elements-powering-ambitious-teams-world-paddingTop: 160px;
  --spacing-system-elements-powering-ambitious-teams-world-paddingRight: 40px;
  --spacing-system-elements-powering-ambitious-teams-world-paddingBottom: 160px;
  --spacing-system-elements-powering-ambitious-teams-world-paddingLeft: 40px;
  --spacing-system-elements-powering-ambitious-teams-world-gap: 60px;
  --spacing-system-elements-powering-ambitious-teams-world-rowGap: 60px;
  --spacing-system-elements-powering-ambitious-teams-world-columnGap: 60px;
  --spacing-system-elements-get-pro-help-from-handpicked-e-paddingTop: 160px;
  --spacing-system-elements-get-pro-help-from-handpicked-e-paddingRight: 40px;
  --spacing-system-elements-get-pro-help-from-handpicked-e-paddingBottom: 160px;
  --spacing-system-elements-get-pro-help-from-handpicked-e-paddingLeft: 40px;
  --spacing-system-elements-get-pro-help-from-handpicked-e-gap: 60px;
  --spacing-system-elements-get-pro-help-from-handpicked-e-rowGap: 60px;
  --spacing-system-elements-get-pro-help-from-handpicked-e-columnGap: 60px;
  --spacing-system-elements-launch-faster-with-community-r-paddingTop: 160px;
  --spacing-system-elements-launch-faster-with-community-r-paddingRight: 40px;
  --spacing-system-elements-launch-faster-with-community-r-paddingBottom: 160px;
  --spacing-system-elements-launch-faster-with-community-r-paddingLeft: 40px;
  --spacing-system-elements-launch-faster-with-community-r-gap: 60px;
  --spacing-system-elements-launch-faster-with-community-r-rowGap: 60px;
  --spacing-system-elements-launch-faster-with-community-r-columnGap: 60px;
}
