:root {
  --grid-system-cssVars-grid-column-width: 1fr;
  --grid-system-cssVars-grid-gutter: 28px;
  --grid-system-cssVars-grid-sm-gutter: 12px;
  --grid-system-cssVars-grid-columns: 12;
  --grid-system-grids-dialog-header--CA-5o-display: flex;
  --grid-system-grids-dialog-header--CA-5o-flexDirection: row;
  --grid-system-grids-dialog-header--CA-5o-gap: 96px;
  --grid-system-grids-dialog-header--CA-5o-justifyContent: space-between;
  --grid-system-grids-dialog-header--CA-5o-alignItems: center;
  --grid-system-grids-dialog-header--CA-5o-childCount: 2;
  --grid-system-grids-dialog-header--CA-5o-parentSection: header;
  --grid-system-grids-dialog-header--CA-5o-2-display: flex;
  --grid-system-grids-dialog-header--CA-5o-2-flexDirection: row;
  --grid-system-grids-dialog-header--CA-5o-2-gap: 96px;
  --grid-system-grids-dialog-header--CA-5o-2-justifyContent: space-between;
  --grid-system-grids-dialog-header--CA-5o-2-alignItems: center;
  --grid-system-grids-dialog-header--CA-5o-2-childCount: 2;
  --grid-system-grids-dialog-header--CA-5o-2-parentSection: section;
  --grid-system-grids-Footer-display: flex;
  --grid-system-grids-Footer-flexDirection: row;
  --grid-system-grids-Footer-gap: 24px;
  --grid-system-grids-Footer-childCount: 2;
  --grid-system-grids-Footer-parentSection: footer;
  --grid-system-grids-Custom-Agents-display: grid;
  --grid-system-grids-Custom-Agents-templateColumns: 510.07px 741.93px;
  --grid-system-grids-Custom-Agents-columnCount: 2;
  --grid-system-grids-Custom-Agents-templateRows: 162.469px 394.477px;
  --grid-system-grids-Custom-Agents-childCount: 3;
  --grid-system-grids-Custom-Agents-parentSection: section;
  --grid-system-grids-bentoHeader-eyebrow--S8VcM-display: flex;
  --grid-system-grids-bentoHeader-eyebrow--S8VcM-flexDirection: row;
  --grid-system-grids-bentoHeader-eyebrow--S8VcM-gap: 8px;
  --grid-system-grids-bentoHeader-eyebrow--S8VcM-alignItems: center;
  --grid-system-grids-bentoHeader-eyebrow--S8VcM-childCount: 2;
  --grid-system-grids-bentoHeader-eyebrow--S8VcM-parentSection: header;
  --grid-system-grids-you-assign-the-tasks-notion-a-display: grid;
  --grid-system-grids-you-assign-the-tasks-notion-a-templateColumns: 614px 614px;
  --grid-system-grids-you-assign-the-tasks-notion-a-columnCount: 2;
  --grid-system-grids-you-assign-the-tasks-notion-a-templateRows: 376px 568.5px;
  --grid-system-grids-you-assign-the-tasks-notion-a-gap: 24px;
  --grid-system-grids-you-assign-the-tasks-notion-a-childCount: 3;
  --grid-system-grids-you-assign-the-tasks-notion-a-parentSection: :R2bikjm:;
  --grid-system-grids-simple-and-powerful-display: grid;
  --grid-system-grids-simple-and-powerful-templateColumns: 614px 614px;
  --grid-system-grids-simple-and-powerful-columnCount: 2;
  --grid-system-grids-simple-and-powerful-templateRows: 568.5px 376px;
  --grid-system-grids-simple-and-powerful-gap: 24px;
  --grid-system-grids-simple-and-powerful-childCount: 3;
  --grid-system-grids-simple-and-powerful-parentSection: :R2bikjmH1:;
  --grid-system-grids-RjmH2-display: flex;
  --grid-system-grids-RjmH2-flexDirection: row;
  --grid-system-grids-RjmH2-gap: 24px;
  --grid-system-grids-RjmH2-justifyContent: space-between;
  --grid-system-grids-RjmH2-alignItems: end;
  --grid-system-grids-RjmH2-childCount: 2;
  --grid-system-grids-grid-9-display: grid;
  --grid-system-grids-grid-9-templateColumns: 78.1641px 78.1641px 78.1641px 78.1641px 78.1641px 78.1641px 78.1641px 78.1641px 78.1641px 78.1641px 78.1641px 78.1641px;
  --grid-system-grids-grid-9-columnCount: 12;
  --grid-system-grids-grid-9-templateRows: 128px 138px;
  --grid-system-grids-grid-9-gap: 24px;
  --grid-system-grids-grid-9-childCount: 2;
  --grid-system-grids-socialProof-container--iiaW7-display: grid;
  --grid-system-grids-socialProof-container--iiaW7-templateColumns: 400px 400px 400px;
  --grid-system-grids-socialProof-container--iiaW7-columnCount: 3;
  --grid-system-grids-socialProof-container--iiaW7-templateRows: 294.914px 136px 136px;
  --grid-system-grids-socialProof-container--iiaW7-gap: 24px;
  --grid-system-grids-socialProof-container--iiaW7-childCount: 3;
  --grid-system-grids-socialProof-container--iiaW7-parentSection: section;
  --grid-system-grids-get-started-on-notion-display: grid;
  --grid-system-grids-get-started-on-notion-templateColumns: 78.6641px 78.6641px 78.6641px 78.6641px 78.6641px 78.6641px 78.6641px 78.6641px 78.6641px 78.6641px 78.6641px 78.6641px;
  --grid-system-grids-get-started-on-notion-columnCount: 12;
  --grid-system-grids-get-started-on-notion-templateRows: 290.383px 290.391px;
  --grid-system-grids-get-started-on-notion-gap: 28px;
  --grid-system-grids-get-started-on-notion-childCount: 3;
  --grid-system-grids-get-started-on-notion-parentSection: :RjmH1:;
  --grid-system-grids-notion-mail-display: grid;
  --grid-system-grids-notion-mail-templateColumns: 357px 255px;
  --grid-system-grids-notion-mail-columnCount: 2;
  --grid-system-grids-notion-mail-templateRows: 290.383px;
  --grid-system-grids-notion-mail-childCount: 2;
  --grid-system-grids-notion-mail-parentSection: :RjmH1:;
  --grid-system-grids-notion-calendar-display: grid;
  --grid-system-grids-notion-calendar-templateColumns: 357px 255px;
  --grid-system-grids-notion-calendar-columnCount: 2;
  --grid-system-grids-notion-calendar-templateRows: 290.391px;
  --grid-system-grids-notion-calendar-childCount: 2;
  --grid-system-grids-notion-calendar-parentSection: :RjmH1:;
  --grid-system-responsive-bp-375px-query: (min-width: 375px);
  --grid-system-responsive-bp-375px-maxWidth: 90px;
  --grid-system-responsive-bp-440px-query: screen and (min-width: 440px);
  --grid-system-responsive-bp-440px-display: grid;
  --grid-system-responsive-bp-440px-gridTemplateColumns: 1fr 1fr;
  --grid-system-responsive-bp-440px-maxWidth: 100%;
  --grid-system-responsive-bp-600px-query: (min-width: 600px);
  --grid-system-responsive-bp-600px-display: grid;
  --grid-system-responsive-bp-600px-gridTemplateColumns: repeat(3, 1fr);
  --grid-system-responsive-bp-600px-flexDirection: row;
  --grid-system-responsive-bp-600px-maxWidth: 59vw;
  --grid-system-responsive-bp-600px-flexWrap: nowrap;
  --grid-system-responsive-bp-668px-query: (max-width: 668px);
  --grid-system-responsive-bp-668px-gridTemplateColumns: 220px;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-rowGap: 16px;
  --grid-system-responsive-bp-768px-columnGap: 16px;
  --grid-system-responsive-bp-839px-query: (max-width: 839px);
  --grid-system-responsive-bp-839px-gridTemplateRows: auto;
  --grid-system-responsive-bp-839px-display: none;
  --grid-system-responsive-bp-840px-query: (min-width: 840px);
  --grid-system-responsive-bp-840px-rowGap: 12px;
  --grid-system-responsive-bp-840px-columnGap: 12px;
  --grid-system-responsive-bp-840px-gridTemplateColumns: 1fr 1fr;
  --grid-system-responsive-bp-840px-display: grid;
  --grid-system-responsive-bp-840px-gridTemplateRows: repeat(2, max-content);
  --grid-system-responsive-bp-840px-maxWidth: 100%;
  --grid-system-responsive-bp-840px-flexDirection: row;
  --grid-system-responsive-bp-840px-flexWrap: nowrap;
  --grid-system-responsive-bp-1080px-query: (min-width: 1080px);
  --grid-system-responsive-bp-1080px-display: flex;
  --grid-system-responsive-bp-1080px-flexDirection: column;
  --grid-system-responsive-bp-1080px-rowGap: 24px;
  --grid-system-responsive-bp-1080px-columnGap: 24px;
  --grid-system-responsive-bp-1080px-gridTemplateColumns: repeat(4, minmax(10px, 1fr));
  --grid-system-responsive-bp-1080px-maxWidth: 240px;
}
