:root {
  --color-system-cssVars-wp-block-synced-color: #7a00df;
  --color-system-cssVars-wp-editor-canvas-background: #ddd;
  --color-system-cssVars-wp-admin-theme-color: #007cba;
  --color-system-cssVars-wp-admin-theme-color-darker-10: #006ba1;
  --color-system-cssVars-wp-admin-theme-color-darker-20: #005a87;
  --color-system-cssVars-wp--preset--color--black: #000000;
  --color-system-cssVars-wp--preset--color--cyan-bluish-gray: #abb8c3;
  --color-system-cssVars-wp--preset--color--white: #ffffff;
  --color-system-cssVars-wp--preset--color--pale-pink: #f78da7;
  --color-system-cssVars-wp--preset--color--vivid-red: #cf2e2e;
  --color-system-cssVars-wp--preset--color--luminous-vivid-orange: #ff6900;
  --color-system-cssVars-wp--preset--color--luminous-vivid-amber: #fcb900;
  --color-system-cssVars-wp--preset--color--light-green-cyan: #7bdcb5;
  --color-system-cssVars-wp--preset--color--vivid-green-cyan: #00d084;
  --color-system-cssVars-wp--preset--color--pale-cyan-blue: #8ed1fc;
  --color-system-cssVars-wp--preset--color--vivid-cyan-blue: #0693e3;
  --color-system-cssVars-wp--preset--color--vivid-purple: #9b51e0;
  --color-system-cssVars-dipi-vb-module-selection-icon-color: #ffffff;
  --color-system-cssVars-dipi-vb-module-selection-text-color: #ffffff;
  --color-system-cssVars-dipi-vb-module-selection-background-color: #2c3d49;
  --color-system-cssVars-brlbs-tw-scroll-snap-strictness: proximity;
  --color-system-cssVars-brlbs-tw-ring-offset-color: #fff;
  --color-system-cssVars-brlbs-tw-ring-color: #3b82f6;
  --color-system-cssVars-dialog-backdrop-background-color: #000;
  --color-system-cssVars-dialog-background-color: #fff;
  --color-system-cssVars-dialog-button-accept-all-color: #ee7421;
  --color-system-cssVars-dialog-button-accept-all-color-hover: #ed9255;
  --color-system-cssVars-dialog-button-accept-all-text-color: #fff;
  --color-system-cssVars-dialog-button-accept-all-text-color-hover: #fff;
  --color-system-cssVars-dialog-button-accept-only-essential-color: #f7f7f7;
  --color-system-cssVars-dialog-button-accept-only-essential-color-hover: #e6e6e6;
  --color-system-cssVars-dialog-button-accept-only-essential-text-color: #555;
  --color-system-cssVars-dialog-button-accept-only-essential-text-color-hover: #555;
  --color-system-cssVars-dialog-button-close-color: #f7f7f7;
  --color-system-cssVars-dialog-button-close-color-hover: #e6e6e6;
  --color-system-cssVars-dialog-button-close-text-color: #555;
  --color-system-cssVars-dialog-button-close-text-color-hover: #555;
  --color-system-cssVars-dialog-button-preferences-color: #000;
  --color-system-cssVars-dialog-button-preferences-color-hover: #262626;
  --color-system-cssVars-dialog-button-preferences-text-color: #fff;
  --color-system-cssVars-dialog-button-preferences-text-color-hover: #fff;
  --color-system-cssVars-dialog-button-save-consent-color: #f7f7f7;
  --color-system-cssVars-dialog-button-save-consent-color-hover: #e6e6e6;
  --color-system-cssVars-dialog-button-save-consent-text-color: #555;
  --color-system-cssVars-dialog-button-save-consent-text-color-hover: #555;
  --color-system-cssVars-dialog-button-selection-color: #f7f7f7;
  --color-system-cssVars-dialog-button-selection-color-hover: #e6e6e6;
  --color-system-cssVars-dialog-button-selection-text-color: #555;
  --color-system-cssVars-dialog-button-selection-text-color-hover: #555;
  --color-system-cssVars-dialog-checkbox-background-color-active: #ee7421;
  --color-system-cssVars-dialog-checkbox-background-color-disabled: #e6e6e6;
  --color-system-cssVars-dialog-checkbox-background-color-inactive: #fff;
  --color-system-cssVars-dialog-checkbox-border-color-active: #ee7421;
  --color-system-cssVars-dialog-checkbox-border-color-disabled: #e6e6e6;
  --color-system-cssVars-dialog-checkbox-border-color-inactive: #a72828;
  --color-system-cssVars-dialog-checkbox-check-mark-color-active: #fff;
  --color-system-cssVars-dialog-checkbox-check-mark-color-disabled: #999;
  --color-system-cssVars-dialog-card-background-color: #f7f7f7;
  --color-system-cssVars-dialog-card-control-element-color: #ee7421;
  --color-system-cssVars-dialog-card-control-element-color-hover: #ed9053;
  --color-system-cssVars-dialog-card-separator-color: #ee7421;
  --color-system-cssVars-dialog-card-text-color: #555;
  --color-system-cssVars-dialog-control-element-color: #ee7421;
  --color-system-cssVars-dialog-control-element-color-hover: #ee7421;
  --color-system-cssVars-dialog-footer-background-color: #fff;
  --color-system-cssVars-dialog-footer-text-color: #555;
  --color-system-cssVars-dialog-link-primary-color: #ee7421;
  --color-system-cssVars-dialog-link-primary-color-hover: #ed9053;
  --color-system-cssVars-dialog-link-secondary-color: #aaa;
  --color-system-cssVars-dialog-link-secondary-color-hover: #aaa;
  --color-system-cssVars-dialog-list-item-background-color-even: #f7f7f7;
  --color-system-cssVars-dialog-list-item-background-color-odd: #f7f7f7;
  --color-system-cssVars-dialog-list-item-text-color-even: #555;
  --color-system-cssVars-dialog-list-item-text-color-odd: #555;
  --color-system-cssVars-dialog-list-item-control-element-color: #ee7421;
  --color-system-cssVars-dialog-list-item-control-element-color-hover: #ed9053;
  --color-system-cssVars-dialog-list-item-control-element-separator-color: #262626;
  --color-system-cssVars-dialog-list-item-separator-color: #ee7421;
  --color-system-cssVars-dialog-search-bar-input-background-color: #fff;
  --color-system-cssVars-dialog-search-bar-input-border-color-default: #ee7421;
  --color-system-cssVars-dialog-search-bar-input-border-color-focus: #ee7421;
  --color-system-cssVars-dialog-search-bar-input-text-color: #555;
  --color-system-cssVars-dialog-separator-color: #ee7421;
  --color-system-cssVars-dialog-switch-button-background-color-active: #ee7421;
  --color-system-cssVars-dialog-switch-button-background-color-inactive: #bdc1c8;
  --color-system-cssVars-dialog-switch-button-color-active: #fff;
  --color-system-cssVars-dialog-switch-button-color-inactive: #fff;
  --color-system-cssVars-dialog-tab-bar-tab-background-color-active: #ee7421;
  --color-system-cssVars-dialog-tab-bar-tab-background-color-inactive: #fff;
  --color-system-cssVars-dialog-tab-bar-tab-border-color-bottom-active: #ee7421;
  --color-system-cssVars-dialog-tab-bar-tab-border-color-bottom-inactive: #ee7421;
  --color-system-cssVars-dialog-tab-bar-tab-border-color-left-active: #ee7421;
  --color-system-cssVars-dialog-tab-bar-tab-border-color-left-inactive: #fff;
  --color-system-cssVars-dialog-tab-bar-tab-border-color-right-active: #ee7421;
  --color-system-cssVars-dialog-tab-bar-tab-border-color-right-inactive: #fff;
  --color-system-cssVars-dialog-tab-bar-tab-border-color-top-active: #ee7421;
  --color-system-cssVars-dialog-tab-bar-tab-border-color-top-inactive: #fff;
  --color-system-cssVars-dialog-tab-bar-tab-text-color-active: #fff;
  --color-system-cssVars-dialog-tab-bar-tab-text-color-inactive: #555;
  --color-system-cssVars-dialog-table-row-background-color-even: #fff;
  --color-system-cssVars-dialog-table-row-background-color-odd: #fff;
  --color-system-cssVars-dialog-table-row-text-color-even: #555;
  --color-system-cssVars-dialog-table-row-text-color-odd: #555;
  --color-system-cssVars-dialog-table-row-border-color: #eee;
  --color-system-cssVars-dialog-text-color: #555;
  --color-system-cssVars-dialog-font-family: Montserrat;
  --color-system-cssVars-widget-color: #555;
  --color-system-cssVars-content-blocker-background-color: #000;
  --color-system-cssVars-content-blocker-button-color: #28a745;
  --color-system-cssVars-content-blocker-button-color-hover: #30c553;
  --color-system-cssVars-content-blocker-button-text-color: #fff;
  --color-system-cssVars-content-blocker-button-text-color-hover: #fff;
  --color-system-cssVars-content-blocker-link-color: #28a745;
  --color-system-cssVars-content-blocker-link-color-hover: #30c553;
  --color-system-cssVars-content-blocker-separator-color: #28a745;
  --color-system-cssVars-content-blocker-text-color: #fff;
  --color-system-cssVars-content-blocker-background: #000000;
  --color-system-elements-pageBackground: #ffffff;
  --color-system-elements-bodyText: #666666;
  --color-system-elements-headingText: #ffffff;
  --color-system-elements-linkColor: #ed7422;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #666666;
  --color-system-elements-navLink: #ed7422;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #666666;
  --color-system-elements-navLinkScrolled: #ed7422;
}
