:root {
  --spacing-system-cssVars-container-gutter: 1.25rem;
  --spacing-system-cssVars-section-vertical-spacing: 2.5rem;
  --spacing-system-cssVars-section-vertical-spacing-tight: 2.5rem;
  --spacing-system-cssVars-section-stack-gap: 2.25rem;
  --spacing-system-cssVars-section-stack-gap-tight: 2.25rem;
  --spacing-system-cssVars-form-gap: 1.25rem;
  --spacing-system-cssVars-fieldset-gap: 1rem;
  --spacing-system-cssVars-form-control-gap: 0.625rem;
  --spacing-system-cssVars-checkbox-control-gap: 0.75rem;
  --spacing-system-cssVars-input-padding-block: 0.65rem;
  --spacing-system-cssVars-input-padding-inline: 0.8rem;
  --spacing-system-cssVars-heading-letter-spacing: 0.0em;
  --spacing-system-cssVars-text-letter-spacing: 0.03em;
  --spacing-system-cssVars-button-letter-spacing: 0.0em;
  --spacing-system-cssVars-button-border-radius: 0.25rem;
  --spacing-system-cssVars-input-border-radius: 0.25rem;
  --spacing-system-cssVars-atlas-margin-tiny: 4px;
  --spacing-system-cssVars-atlas-margin-small: 8px;
  --spacing-system-cssVars-atlas-margin-normal: 8px;
  --spacing-system-cssVars-atlas-margin-large: 10px;
  --spacing-system-cssVars-atlas-margin-display: 24px;
  --spacing-system-cssVars-atlas-margin-h1: 24px;
  --spacing-system-cssVars-atlas-margin-h2: 24px;
  --spacing-system-cssVars-atlas-margin-h3: 12px;
  --spacing-system-cssVars-atlas-margin-h4: 12px;
  --spacing-system-cssVars-atlas-margin-h5: 12px;
  --spacing-system-cssVars-atlas-button-border-radius: 8px;
  --spacing-system-cssVars-atlas-button-border-radius-small: 8px;
  --spacing-system-cssVars-atlas-button-border-radius-normal: 8px;
  --spacing-system-cssVars-atlas-button-border-radius-tiny: 8px;
  --spacing-system-cssVars-atlas-button-padding-normal: 7px 12px;
  --spacing-system-cssVars-atlas-button-padding-small: 5px 12px;
  --spacing-system-cssVars-atlas-button-padding-tiny: 3px 8px;
  --spacing-system-cssVars-atlas-input-border-radius-normal: 8px;
  --spacing-system-cssVars-atlas-input-border-radius-small: 8px;
  --spacing-system-cssVars-atlas-input-padding: 7px 12px;
  --spacing-system-cssVars-atlas-chat-input-padding: 16px 48px 16px 12px;
  --spacing-system-cssVars-atlas-drawer-border-radius: 24px;
  --spacing-system-cssVars-atlas-drawer-inset-border-radius: 12px;
  --spacing-system-cssVars-atlas-toast-border-radius: 12px;
  --spacing-system-cssVars-atlas-toast-border-radius-redesign: 4px;
  --spacing-system-cssVars-atlas-message-border-radius: 16px;
  --spacing-system-cssVars-atlas-card-border-radius-small: 12px;
  --spacing-system-cssVars-atlas-card-border-radius-normal: 32px;
  --spacing-system-cssVars-atlas-tabs-border-radius: 12px;
  --spacing-system-cssVars-atlas-thumbnail-border-radius: 8px;
  --spacing-system-cssVars-atlas-progress-bar-border-radius: 4px;
  --spacing-system-cssVars-atlas-space-4: 4px;
  --spacing-system-cssVars-atlas-space-8: 8px;
  --spacing-system-cssVars-atlas-space-12: 12px;
  --spacing-system-cssVars-atlas-space-16: 16px;
  --spacing-system-cssVars-atlas-space-20: 20px;
  --spacing-system-cssVars-atlas-space-24: 24px;
  --spacing-system-cssVars-atlas-space-32: 32px;
  --spacing-system-cssVars-atlas-space-40: 40px;
  --spacing-system-cssVars-atlas-space-tiny: var(--atlas-space-4);
  --spacing-system-cssVars-atlas-space-mini: var(--atlas-space-8);
  --spacing-system-cssVars-atlas-space-small: var(--atlas-space-12);
  --spacing-system-cssVars-atlas-space-medium: var(--atlas-space-16);
  --spacing-system-cssVars-atlas-space-large: var(--atlas-space-20);
  --spacing-system-cssVars-atlas-space-jumbo: var(--atlas-space-24);
  --spacing-system-cssVars-atlas-space-huge: var(--atlas-space-32);
  --spacing-system-cssVars-atlas-space-enormous: var(--atlas-space-40);
  --spacing-system-cssVars-atlas-chip-border-radius: 4px;
  --spacing-system-cssVars-atlas-chip-padding: 4px;
  --spacing-system-cssVars-atlas-widget-side-spacing: 40px;
  --spacing-system-cssVars-atlas-widget-bottom-spacing: 40px;
  --spacing-system-cssVars-atlas-widget-starting-radius: 8px;
  --spacing-system-elements-nav-gap: 10px 40px;
  --spacing-system-elements-nav-rowGap: 10px;
  --spacing-system-elements-nav-columnGap: 40px;
  --spacing-system-elements-button-paddingTop: 15px;
  --spacing-system-elements-button-paddingRight: 15px;
  --spacing-system-elements-button-paddingBottom: 15px;
  --spacing-system-elements-button-paddingLeft: 15px;
  --spacing-system-elements-button-marginTop: 10px;
  --spacing-system-elements-button-marginRight: 10px;
  --spacing-system-elements-button-marginBottom: 10px;
  --spacing-system-elements-button-borderRadius: 3px;
  --spacing-system-elements-p-marginBottom: 15px;
  --spacing-system-elements-li-paddingLeft: 4px;
  --spacing-system-elements-container-paddingTop: 40px;
  --spacing-system-elements-container-paddingRight: 40px;
  --spacing-system-elements-container-paddingLeft: 40px;
  --spacing-system-elements-container-marginBottom: 20px;
  --spacing-system-elements-wrapper-paddingTop: 40px;
  --spacing-system-elements-wrapper-paddingRight: 40px;
  --spacing-system-elements-wrapper-paddingBottom: 40px;
  --spacing-system-elements-wrapper-paddingLeft: 40px;
  --spacing-system-elements-card-paddingTop: 10px;
  --spacing-system-elements-card-paddingRight: 10px;
  --spacing-system-elements-card-paddingBottom: 10px;
  --spacing-system-elements-card-paddingLeft: 10px;
  --spacing-system-elements-section-paddingTop: 64px;
  --spacing-system-elements-section-paddingBottom: 64px;
  --spacing-system-elements-section-marginTop: 64px;
  --spacing-system-elements-section-marginBottom: 64px;
  --spacing-system-elements-grid-gap: 30px;
  --spacing-system-elements-grid-rowGap: 30px;
  --spacing-system-elements-grid-columnGap: 30px;
  --spacing-system-elements-row-paddingTop: 3px;
  --spacing-system-elements-row-paddingRight: 3px;
  --spacing-system-elements-row-paddingBottom: 3px;
  --spacing-system-elements-row-paddingLeft: 3px;
  --spacing-system-elements-row-marginRight: 10px;
  --spacing-system-elements-row-marginBottom: 10px;
  --spacing-system-elements-row-marginLeft: 2px;
  --spacing-system-elements-sidebar-paddingRight: 32px;
  --spacing-system-elements-sidebar-paddingBottom: 32px;
  --spacing-system-elements-sidebar-paddingLeft: 32px;
  --spacing-system-elements-cta-paddingTop: 15px;
  --spacing-system-elements-cta-paddingRight: 15px;
  --spacing-system-elements-cta-paddingBottom: 15px;
  --spacing-system-elements-cta-paddingLeft: 15px;
  --spacing-system-elements-cta-marginTop: 10px;
  --spacing-system-elements-cta-marginRight: 10px;
  --spacing-system-elements-cta-marginBottom: 10px;
  --spacing-system-elements-cta-borderRadius: 3px;
  --spacing-system-elements-div-1-gap: 48px;
  --spacing-system-elements-div-1-rowGap: 48px;
  --spacing-system-elements-div-1-columnGap: 48px;
  --spacing-system-elements-spred-glde-omkring-dig-paddingTop: 64px;
  --spacing-system-elements-spred-glde-omkring-dig-paddingBottom: 64px;
  --spacing-system-elements-spred-glde-omkring-dig-marginTop: 64px;
  --spacing-system-elements-spred-glde-omkring-dig-marginBottom: 64px;
  --spacing-system-elements-inspiration-til-chokoladegaver-paddingBottom: 64px;
  --spacing-system-elements-inspiration-til-chokoladegaver-marginTop: 64px;
  --spacing-system-elements-inspiration-til-chokoladegaver-marginBottom: 64px;
}
