:root {
  --spacing-system-cssVars-font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --spacing-system-elements-section-paddingRight: 80px;
  --spacing-system-elements-section-paddingLeft: 80px;
  --spacing-system-elements-section-marginTop: 40px;
  --spacing-system-elements-footer-marginRight: 80px;
  --spacing-system-elements-footer-marginBottom: 20px;
  --spacing-system-elements-footer-marginLeft: 80px;
  --spacing-system-elements-button-paddingTop: 16px;
  --spacing-system-elements-button-paddingRight: 16px;
  --spacing-system-elements-button-paddingBottom: 16px;
  --spacing-system-elements-button-paddingLeft: 16px;
  --spacing-system-elements-button-marginLeft: 254.039px;
  --spacing-system-elements-input-paddingTop: 6px;
  --spacing-system-elements-input-paddingRight: 10px;
  --spacing-system-elements-input-paddingBottom: 6px;
  --spacing-system-elements-input-paddingLeft: 10px;
  --spacing-system-elements-li-paddingTop: 33px;
  --spacing-system-elements-li-paddingBottom: 30px;
  --spacing-system-elements-container-paddingTop: 20px;
  --spacing-system-elements-container-paddingRight: 15px;
  --spacing-system-elements-container-paddingLeft: 15px;
  --spacing-system-elements-container-marginTop: 160px;
  --spacing-system-elements-container-marginRight: 184px;
  --spacing-system-elements-container-marginLeft: 184px;
  --spacing-system-elements-content-paddingTop: 48px;
  --spacing-system-elements-content-paddingRight: 63px;
  --spacing-system-elements-content-paddingBottom: 70px;
  --spacing-system-elements-content-paddingLeft: 63px;
  --spacing-system-elements-row-paddingTop: 7px;
  --spacing-system-elements-row-paddingRight: 20px;
  --spacing-system-elements-row-paddingBottom: 7px;
  --spacing-system-elements-row-paddingLeft: 20px;
  --spacing-system-elements-panel-paddingTop: 1px;
  --spacing-system-elements-panel-paddingRight: 6px;
  --spacing-system-elements-panel-paddingBottom: 1px;
  --spacing-system-elements-panel-paddingLeft: 6px;
  --spacing-system-elements-panel-borderRadius: 50%;
  --spacing-system-elements-cta-paddingTop: 17px;
  --spacing-system-elements-cta-paddingRight: 24.5px;
  --spacing-system-elements-cta-paddingBottom: 17px;
  --spacing-system-elements-cta-paddingLeft: 24.5px;
  --spacing-system-elements-cta-borderRadius: 4px;
  --spacing-system-elements-div-1-paddingTop: 16px;
  --spacing-system-elements-div-1-marginTop: 48px;
}
