:root {
  --spacing-system-cssVars-wp--preset--spacing--20: 0.44rem;
  --spacing-system-cssVars-wp--preset--spacing--30: 0.67rem;
  --spacing-system-cssVars-wp--preset--spacing--40: 1rem;
  --spacing-system-cssVars-wp--preset--spacing--50: 1.5rem;
  --spacing-system-cssVars-wp--preset--spacing--60: 2.25rem;
  --spacing-system-cssVars-wp--preset--spacing--70: 3.38rem;
  --spacing-system-cssVars-wp--preset--spacing--80: 5.06rem;
  --spacing-system-elements-section-paddingTop: 100px;
  --spacing-system-elements-section-paddingRight: 172.8px;
  --spacing-system-elements-section-paddingBottom: 100px;
  --spacing-system-elements-section-paddingLeft: 100px;
  --spacing-system-elements-section-marginRight: 64px;
  --spacing-system-elements-section-marginLeft: 64px;
  --spacing-system-elements-section-borderRadius: 20px;
  --spacing-system-elements-footer-paddingTop: 100px;
  --spacing-system-elements-footer-paddingBottom: 100px;
  --spacing-system-elements-footer-marginRight: 64px;
  --spacing-system-elements-footer-marginLeft: 64px;
  --spacing-system-elements-button-paddingTop: 1px;
  --spacing-system-elements-button-paddingRight: 6px;
  --spacing-system-elements-button-paddingBottom: 1px;
  --spacing-system-elements-button-paddingLeft: 6px;
  --spacing-system-elements-input-paddingTop: 3px;
  --spacing-system-elements-input-paddingRight: 15px;
  --spacing-system-elements-input-paddingBottom: 3px;
  --spacing-system-elements-input-paddingLeft: 15px;
  --spacing-system-elements-input-borderRadius: 40px;
  --spacing-system-elements-p-marginRight: 30px;
  --spacing-system-elements-p-marginBottom: 30px;
  --spacing-system-elements-li-paddingRight: 20px;
  --spacing-system-elements-li-marginLeft: 34.56px;
  --spacing-system-elements-container-marginRight: 59px;
  --spacing-system-elements-container-marginLeft: 59px;
  --spacing-system-elements-hero-paddingTop: 50px;
  --spacing-system-elements-content-paddingTop: 80px;
  --spacing-system-elements-content-paddingRight: 70px;
  --spacing-system-elements-content-paddingBottom: 80px;
  --spacing-system-elements-content-paddingLeft: 70px;
  --spacing-system-elements-content-borderRadius: 20px;
  --spacing-system-elements-row-paddingTop: 50px;
  --spacing-system-elements-row-paddingRight: 50px;
  --spacing-system-elements-row-paddingBottom: 50px;
  --spacing-system-elements-row-paddingLeft: 50px;
  --spacing-system-elements-row-marginRight: 364px;
  --spacing-system-elements-row-marginLeft: 364px;
  --spacing-system-elements-cta-paddingTop: 7px;
  --spacing-system-elements-cta-paddingRight: 30px;
  --spacing-system-elements-cta-paddingBottom: 7px;
  --spacing-system-elements-cta-paddingLeft: 30px;
  --spacing-system-elements-cta-borderRadius: 50px;
  --spacing-system-elements-div-1-paddingTop: 10px;
  --spacing-system-elements-div-1-paddingRight: 10px;
  --spacing-system-elements-div-1-paddingBottom: 10px;
  --spacing-system-elements-div-1-paddingLeft: 10px;
}
