:root {
  --grid-system-cssVars-root-icon-xs-max-width: 12px;
  --grid-system-cssVars-root-icon-s-max-width: 16px;
  --grid-system-cssVars-root-icon-m-max-width: 20px;
  --grid-system-cssVars-root-icon-l-max-width: 24px;
  --grid-system-cssVars-root-icon-xl-max-width: 32px;
  --grid-system-cssVars-root-icon-2xl-max-width: 40px;
  --grid-system-cssVars-root-icon-3xl-max-width: 48px;
  --grid-system-cssVars-root-icon-4xl-max-width: 64px;
  --grid-system-container-maxWidth: 1328px;
  --grid-system-container-paddingLeft: 86.3984px;
  --grid-system-container-paddingRight: 86.3984px;
  --grid-system-grids-ai-resources-for-business-lead-display: flex;
  --grid-system-grids-ai-resources-for-business-lead-flexDirection: row;
  --grid-system-grids-ai-resources-for-business-lead-gap: 32px normal;
  --grid-system-grids-ai-resources-for-business-lead-flexWrap: wrap;
  --grid-system-grids-ai-resources-for-business-lead-childCount: 2;
  --grid-system-grids-explore-frontier-transformatio-display: flex;
  --grid-system-grids-explore-frontier-transformatio-flexDirection: row;
  --grid-system-grids-explore-frontier-transformatio-gap: 8px 16px;
  --grid-system-grids-explore-frontier-transformatio-flexWrap: wrap;
  --grid-system-grids-explore-frontier-transformatio-alignItems: center;
  --grid-system-grids-explore-frontier-transformatio-childCount: 2;
  --grid-system-grids-ask-microsoft-display: flex;
  --grid-system-grids-ask-microsoft-flexDirection: row;
  --grid-system-grids-ask-microsoft-gap: 8px 16px;
  --grid-system-grids-ask-microsoft-flexWrap: wrap;
  --grid-system-grids-ask-microsoft-childCount: 2;
  --grid-system-grids-carousel-2fq1-carousel--container-display: flex;
  --grid-system-grids-carousel-2fq1-carousel--container-flexDirection: row;
  --grid-system-grids-carousel-2fq1-carousel--container-gap: 8px 16px;
  --grid-system-grids-carousel-2fq1-carousel--container-childCount: 7;
  --grid-system-grids-carousel-2fq1-carousel--container-parentSection: Products Section;
  --grid-system-grids-secure-and-govern-ai-display: flex;
  --grid-system-grids-secure-and-govern-ai-flexDirection: row;
  --grid-system-grids-secure-and-govern-ai-gap: 16px;
  --grid-system-grids-secure-and-govern-ai-childCount: 3;
  --grid-system-grids-list-item--inner-display: flex;
  --grid-system-grids-list-item--inner-flexDirection: row;
  --grid-system-grids-list-item--inner-gap: normal 8px;
  --grid-system-grids-list-item--inner-alignItems: center;
  --grid-system-grids-list-item--inner-childCount: 2;
  --grid-system-grids-list-item--inner-parentSection: In Page quick links;
  --grid-system-responsive-bp-539px-query: screen and (max-device-width: 539px);
  --grid-system-responsive-bp-539px-display: none;
  --grid-system-responsive-bp-540px-query: (min-width: 540px);
  --grid-system-responsive-bp-540px-maxWidth: 100%;
  --grid-system-responsive-bp-540px-flexDirection: row;
  --grid-system-responsive-bp-540px-flexWrap: wrap;
  --grid-system-responsive-bp-540px-display: flex;
  --grid-system-responsive-bp-540px-columnGap: 1.25rem;
  --grid-system-responsive-bp-540px-gridTemplateColumns: 0px repeat(4, 1fr);
  --grid-system-responsive-bp-540px-gridTemplateRows: repeat(13, min-content);
  --grid-system-responsive-bp-540px-rowGap: 0px;
  --grid-system-responsive-bp-640px-query: (max-width: 640px);
  --grid-system-responsive-bp-640px-maxWidth: none;
  --grid-system-responsive-bp-767px-query: only screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: flex;
  --grid-system-responsive-bp-768px-query: (max-width: 768px);
  --grid-system-responsive-bp-768px-rowGap: 5px;
  --grid-system-responsive-bp-768px-columnGap: 5px;
  --grid-system-responsive-bp-768px-flexDirection: column;
  --grid-system-responsive-bp-768px-maxWidth: 350px;
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-859px-query: screen and (max-width: 859px);
  --grid-system-responsive-bp-859px-display: flex;
  --grid-system-responsive-bp-859px-maxWidth: none;
  --grid-system-responsive-bp-860px-query: (min-width: 860px);
  --grid-system-responsive-bp-860px-maxWidth: 100%;
  --grid-system-responsive-bp-860px-display: none;
  --grid-system-responsive-bp-860px-flexDirection: row;
  --grid-system-responsive-bp-860px-flexWrap: wrap;
  --grid-system-responsive-bp-860px-gridTemplateColumns: repeat(2,calc((100% * var(--plan-detail-card-width)/ 24) - 8px));
  --grid-system-responsive-bp-860px-gridTemplateRows: repeat(13, min-content);
  --grid-system-responsive-bp-860px-columnGap: 1rem;
  --grid-system-responsive-bp-860px-rowGap: 0px;
  --grid-system-responsive-bp-1083px-query: screen and (max-width: 1083px);
  --grid-system-responsive-bp-1083px-display: flex;
  --grid-system-responsive-bp-1083px-flexWrap: wrap;
  --grid-system-responsive-bp-1083px-flexDirection: column;
}
