:root {
  --grid-system-cssVars-max-width: 1728;
  --grid-system-cssVars-gutter: calc(var(--unit-fx)*26);
  --grid-system-container-maxWidth: 1600px;
  --grid-system-grids-its-about-time-the-copilot-u-display: grid;
  --grid-system-grids-its-about-time-the-copilot-u-templateColumns: 82.9609px 82.9609px 82.9609px 82.9609px 82.9609px 82.9609px 82.9609px 82.9609px 82.9609px 82.9609px 82.9609px 82.9688px;
  --grid-system-grids-its-about-time-the-copilot-u-columnCount: 12;
  --grid-system-grids-its-about-time-the-copilot-u-templateRows: 651.117px 717.781px;
  --grid-system-grids-its-about-time-the-copilot-u-gap: 19.2593px;
  --grid-system-grids-its-about-time-the-copilot-u-childCount: 4;
  --grid-system-responsive-bp-600px-query: screen and (max-width: 600px);
  --grid-system-responsive-bp-600px-maxWidth: calc(var(--col)*2 + var(--gutter)*1);
  --grid-system-responsive-bp-600px-gridTemplateColumns: repeat(2, 1fr);
  --grid-system-responsive-bp-768px-query: (max-width: 768px);
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-768px-maxWidth: 100%;
  --grid-system-responsive-bp-768px-flexDirection: row-reverse;
  --grid-system-responsive-bp-768px-flexWrap: wrap;
}
