:root {
  --grid-system-cssVars-grid-space: calc((100% - 11 * var(--grid-gap)) / 12);
  --grid-system-cssVars-grid-gap: 2vw;
  --grid-system-grids-Back-display: flex;
  --grid-system-grids-Back-flexDirection: row;
  --grid-system-grids-Back-gap: 8.75px;
  --grid-system-grids-Back-alignItems: center;
  --grid-system-grids-Back-childCount: 4;
  --grid-system-grids-Back-parentSection: header;
  --grid-system-grids-header-right-display: flex;
  --grid-system-grids-header-right-flexDirection: row;
  --grid-system-grids-header-right-gap: 168px;
  --grid-system-grids-header-right-childCount: 3;
  --grid-system-grids-header-right-parentSection: header;
  --grid-system-grids-home-hero-display: grid;
  --grid-system-grids-home-hero-templateColumns: 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px;
  --grid-system-grids-home-hero-columnCount: 12;
  --grid-system-grids-home-hero-templateRows: 105.586px 514.414px;
  --grid-system-grids-home-hero-gap: normal 25.6px;
  --grid-system-grids-home-hero-childCount: 3;
  --grid-system-grids-home-reel-display: grid;
  --grid-system-grids-home-reel-templateColumns: 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px;
  --grid-system-grids-home-reel-columnCount: 12;
  --grid-system-grids-home-reel-templateRows: 474px 223.664px 0px 1379.8px;
  --grid-system-grids-home-reel-gap: normal 25.6px;
  --grid-system-grids-home-reel-childCount: 4;
  --grid-system-grids-home-featured-display: grid;
  --grid-system-grids-home-featured-templateColumns: 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px;
  --grid-system-grids-home-featured-columnCount: 12;
  --grid-system-grids-home-featured-templateRows: 143.352px 2083.66px 133.648px 0px;
  --grid-system-grids-home-featured-gap: normal 25.6px;
  --grid-system-grids-home-featured-childCount: 3;
  --grid-system-grids-home-goal-display: grid;
  --grid-system-grids-home-goal-templateColumns: 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px;
  --grid-system-grids-home-goal-columnCount: 12;
  --grid-system-grids-home-goal-templateRows: 583.664px 0px 425.07px 773.828px;
  --grid-system-grids-home-goal-gap: normal 25.6px;
  --grid-system-grids-home-goal-childCount: 3;
  --grid-system-grids-end-section-display: grid;
  --grid-system-grids-end-section-templateColumns: 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px;
  --grid-system-grids-end-section-columnCount: 12;
  --grid-system-grids-end-section-gap: normal 25.6px;
  --grid-system-grids-end-section-childCount: 1;
  --grid-system-grids-footer-middle-display: grid;
  --grid-system-grids-footer-middle-templateColumns: 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px;
  --grid-system-grids-footer-middle-columnCount: 12;
  --grid-system-grids-footer-middle-templateRows: 306.25px;
  --grid-system-grids-footer-middle-gap: normal 25.6px;
  --grid-system-grids-footer-middle-childCount: 2;
  --grid-system-grids-footer-bottom-display: grid;
  --grid-system-grids-footer-bottom-templateColumns: 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px 72.5391px;
  --grid-system-grids-footer-bottom-columnCount: 12;
  --grid-system-grids-footer-bottom-templateRows: 17.4922px;
  --grid-system-grids-footer-bottom-gap: normal 25.6px;
  --grid-system-grids-footer-bottom-childCount: 4;
  --grid-system-responsive-bp-380px-query: (max-width: 380px);
  --grid-system-responsive-bp-380px-display: none;
  --grid-system-responsive-bp-650px-query: (max-height: 650px);
  --grid-system-responsive-bp-650px-display: none;
  --grid-system-responsive-bp-812px-query: (max-width: 812px);
  --grid-system-responsive-bp-812px-gridTemplateColumns: repeat(6, minmax(0px, 1fr));
  --grid-system-responsive-bp-812px-display: none;
  --grid-system-responsive-bp-812px-flexDirection: column;
  --grid-system-responsive-bp-812px-maxWidth: none;
  --grid-system-responsive-bp-812px-flexWrap: wrap;
  --grid-system-responsive-bp-812px-rowGap: 0.1em;
  --grid-system-responsive-bp-812px-columnGap: 0px;
  --grid-system-responsive-bp-1000px-query: (max-width: 1000px);
  --grid-system-responsive-bp-1000px-display: none;
  --grid-system-responsive-bp-1000px-gridTemplateColumns: repeat(6, minmax(0px, 1fr));
  --grid-system-responsive-bp-1000px-rowGap: 5em;
  --grid-system-responsive-bp-1080px-query: (max-height: 1080px) and (max-width: 812px) and (min-width: 380px);
  --grid-system-responsive-bp-1080px-display: none;
}
