:root {
  --grid-system-container-maxWidth: 1440px;
  --grid-system-container-paddingLeft: 36px;
  --grid-system-container-paddingRight: 36px;
  --grid-system-responsive-bp-480px-query: (max-width: 480px);
  --grid-system-responsive-bp-480px-display: none;
  --grid-system-responsive-bp-484px-query: screen and (max-width: 484px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape);
  --grid-system-responsive-bp-484px-flexDirection: column;
  --grid-system-responsive-bp-484px-maxWidth: none;
  --grid-system-responsive-bp-539px-query: (max-width: 539px);
  --grid-system-responsive-bp-539px-display: block;
  --grid-system-responsive-bp-539px-maxWidth: 300px;
  --grid-system-responsive-bp-600px-query: only screen and (max-width: 600px);
  --grid-system-responsive-bp-600px-flexDirection: column;
  --grid-system-responsive-bp-680px-query: screen and (max-width: 680px);
  --grid-system-responsive-bp-680px-flexDirection: column;
  --grid-system-responsive-bp-680px-maxWidth: 80%;
  --grid-system-responsive-bp-699px-query: (max-width: 699px);
  --grid-system-responsive-bp-699px-display: flex;
  --grid-system-responsive-bp-699px-flexWrap: wrap;
  --grid-system-responsive-bp-699px-maxWidth: 100%;
  --grid-system-responsive-bp-741px-query: screen and (min-width: 741px);
  --grid-system-responsive-bp-741px-display: inline-flex;
  --grid-system-responsive-bp-767px-query: (max-width: 767px);
  --grid-system-responsive-bp-767px-maxWidth: 100%;
}
