:root {
  --spacing-system-elements-section-marginRight: 84px;
  --spacing-system-elements-section-marginBottom: 150px;
  --spacing-system-elements-section-marginLeft: 84px;
  --spacing-system-elements-article-paddingTop: 80px;
  --spacing-system-elements-article-paddingRight: 180px;
  --spacing-system-elements-article-paddingLeft: 180px;
  --spacing-system-elements-article-marginTop: 240px;
  --spacing-system-elements-main-marginBottom: 250px;
  --spacing-system-elements-p-paddingTop: 1px;
  --spacing-system-elements-p-paddingBottom: 1px;
  --spacing-system-elements-li-paddingTop: 50px;
  --spacing-system-elements-li-paddingRight: 34.1953px;
  --spacing-system-elements-li-paddingBottom: 45px;
  --spacing-system-elements-li-paddingLeft: 34.1953px;
  --spacing-system-elements-container-marginBottom: 250px;
  --spacing-system-elements-cta-paddingTop: 15px;
  --spacing-system-elements-cta-paddingRight: 30px;
  --spacing-system-elements-cta-paddingBottom: 14px;
  --spacing-system-elements-cta-paddingLeft: 30px;
  --spacing-system-elements-cta-marginLeft: 40%;
  --spacing-system-elements-cta-borderRadius: 30px;
  --spacing-system-elements-div-1-paddingTop: 140px;
  --spacing-system-elements-div-1-paddingRight: 180px;
  --spacing-system-elements-div-1-paddingLeft: 180px;
  --spacing-system-elements-price-paddingRight: 180px;
  --spacing-system-elements-price-paddingLeft: 180px;
  --spacing-system-elements-hair-paddingRight: 180px;
  --spacing-system-elements-hair-paddingLeft: 180px;
  --spacing-system-elements-hair-marginTop: 240px;
  --spacing-system-elements-staff-paddingRight: 180px;
  --spacing-system-elements-staff-paddingLeft: 180px;
  --spacing-system-elements-staff-marginTop: 240px;
  --spacing-system-elements-salon-paddingRight: 180px;
  --spacing-system-elements-salon-paddingLeft: 180px;
  --spacing-system-elements-reserve-paddingRight: 180px;
  --spacing-system-elements-reserve-paddingBottom: 80px;
  --spacing-system-elements-reserve-paddingLeft: 180px;
  --spacing-system-elements-reserve-marginTop: 230px;
}
