:root {
  --spacing-system-elements-header-paddingRight: 72.74px;
  --spacing-system-elements-header-paddingLeft: 72.74px;
  --spacing-system-elements-header-marginTop: 26.28px;
  --spacing-system-elements-header-marginBottom: 262.905px;
  --spacing-system-elements-nav-paddingTop: 27.28px;
  --spacing-system-elements-nav-paddingRight: 27.28px;
  --spacing-system-elements-nav-paddingBottom: 27.28px;
  --spacing-system-elements-nav-paddingLeft: 27.28px;
  --spacing-system-elements-section-paddingRight: 138.24px;
  --spacing-system-elements-section-paddingBottom: 235.25px;
  --spacing-system-elements-section-paddingLeft: 138.24px;
  --spacing-system-elements-footer-paddingTop: 27.28px;
  --spacing-system-elements-footer-borderRadius: 2px;
  --spacing-system-elements-button-paddingRight: 209.82px;
  --spacing-system-elements-button-paddingLeft: 209.82px;
  --spacing-system-elements-input-marginTop: 2px;
  --spacing-system-elements-input-marginRight: 2px;
  --spacing-system-elements-input-marginBottom: 2px;
  --spacing-system-elements-input-marginLeft: 2px;
  --spacing-system-elements-input-borderRadius: 3px;
  --spacing-system-elements-content-paddingTop: 20px;
  --spacing-system-elements-content-paddingRight: 20px;
  --spacing-system-elements-content-paddingBottom: 20px;
  --spacing-system-elements-content-paddingLeft: 20px;
  --spacing-system-elements-cta-paddingTop: 8px;
  --spacing-system-elements-cta-paddingRight: 15px;
  --spacing-system-elements-cta-paddingBottom: 6px;
  --spacing-system-elements-cta-paddingLeft: 15px;
}
