:root {
  --grid-system-responsive-bp-414px-query: (min-width: 414px);
  --grid-system-responsive-bp-414px-maxWidth: 100%;
  --grid-system-responsive-bp-843px-query: (min-width: 843px);
  --grid-system-responsive-bp-843px-maxWidth: 100%;
  --grid-system-responsive-bp-843px-display: flex;
  --grid-system-responsive-bp-843px-flexWrap: nowrap;
  --grid-system-responsive-bp-843px-flexDirection: row;
  --grid-system-responsive-bp-1024px-query: (min-width: 1024px);
  --grid-system-responsive-bp-1024px-maxWidth: 100%;
  --grid-system-responsive-bp-1024px-display: none;
  --grid-system-responsive-bp-1366px-query: (min-width: 1366px);
  --grid-system-responsive-bp-1366px-maxWidth: 100%;
  --grid-system-responsive-bp-1921px-query: (min-width: 1921px);
  --grid-system-responsive-bp-1921px-maxWidth: 100%;
}
