:root {
  --color-system-cssVars-color--brand: #3f4d33;
  --color-system-cssVars-color--brand-dark: #323e29;
  --color-system-cssVars-color--brand-light: #4c5c3d;
  --color-system-cssVars-color--accent: #b0915b;
  --color-system-cssVars-color--accent-dark: #a3844f;
  --color-system-cssVars-color--link: #8ba475;
  --color-system-cssVars-color--link-dark: #000000;
  --color-system-cssVars-color--text: #161616;
  --color-system-cssVars-color--text-light: #161616;
  --color-system-cssVars-color--text-lighter: #161616;
  --color-system-cssVars-color--text-lightest: #161616;
  --color-system-cssVars-color--text-bg: #161616;
  --color-system-cssVars-color--headings: #092222;
  --color-system-cssVars-color--alt-text: #8b8b8b;
  --color-system-cssVars-color--btn: #ffffff;
  --color-system-cssVars-color--product-bg: #000000;
  --color-system-cssVars-color--product-sale: #C00000;
  --color-system-cssVars-color--low-stock: #C00000;
  --color-system-cssVars-color--in-stock: #4A9F53;
  --color-system-cssVars-color--drawer-bg: #ffffff;
  --color-system-cssVars-color--bg: #ffffff;
  --color-system-cssVars-color--bg-alpha: #ffffff;
  --color-system-cssVars-color--bg-light: #ffffff;
  --color-system-cssVars-color--bg-dark: #f2f2f2;
  --color-system-cssVars-color--drop-shadow: #2a2a2a;
  --color-system-cssVars-color--cart-announcement-icon: #212121;
  --color-system-cssVars-color--label-brand: #3f4d33;
  --color-system-cssVars-color--label-sold-out: #f2f2f2;
  --color-system-cssVars-color--label-discount: #c00000;
  --color-system-cssVars-color--label-new: #e5e5e5;
  --color-system-cssVars-color--label-custom1: #e5e5e5;
  --color-system-cssVars-color--label-custom2: #e5e5e5;
  --color-system-cssVars-color--text-label-brand: #FFFFFF;
  --color-system-cssVars-color--text-label-sold-out: #000000;
  --color-system-cssVars-color--text-label-discount: #FFFFFF;
  --color-system-cssVars-color--text-label-new: #000000;
  --color-system-cssVars-color--text-label-custom-one: #000000;
  --color-system-cssVars-color--text-label-custom-two: #000000;
  --color-system-cssVars-header-bg-color: #ffffff;
  --color-system-cssVars-header-bg-color-darker: #f2f2f2;
  --color-system-cssVars-header-text-color: #111111;
  --color-system-cssVars-header-text-color-light: #111111;
  --color-system-cssVars-header-text-color-lighter: #111111;
  --color-system-cssVars-header-text-color-lightest: #111111;
  --color-system-cssVars-header-text-color-bg: #111111;
  --color-system-cssVars-header-transparent-text-color: #ffffff;
  --color-system-cssVars-header-transparent-text-color-light: #ffffff;
  --color-system-cssVars-header-text-contrast-color: #fff;
  --color-system-cssVars-header-transparent-text-contrast-color: #000;
  --color-system-elements-pageBackground: #ffffff;
  --color-system-elements-bodyText: #161616;
  --color-system-elements-headingText: #092222;
  --color-system-elements-linkColor: #161616;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #161616;
  --color-system-elements-navLink: #111111;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #161616;
  --color-system-elements-navLinkScrolled: #111111;
}
