:root {
  --color-system-cssVars-cc-bg: #fff;
  --color-system-cssVars-cc-primary-color: #2c2f31;
  --color-system-cssVars-cc-secondary-color: #5e6266;
  --color-system-cssVars-cc-btn-primary-bg: #30363c;
  --color-system-cssVars-cc-btn-primary-color: #fff;
  --color-system-cssVars-cc-btn-primary-hover-bg: #000;
  --color-system-cssVars-cc-btn-primary-hover-color: #fff;
  --color-system-cssVars-cc-btn-secondary-bg: #eaeff2;
  --color-system-cssVars-cc-btn-secondary-hover-bg: #d4dae0;
  --color-system-cssVars-cc-btn-secondary-hover-color: #000;
  --color-system-cssVars-cc-btn-secondary-hover-border-color: #d4dae0;
  --color-system-cssVars-cc-separator-border-color: #f0f4f7;
  --color-system-cssVars-cc-toggle-off-bg: #667481;
  --color-system-cssVars-cc-toggle-on-knob-bg: #fff;
  --color-system-cssVars-cc-toggle-readonly-bg: #d5dee2;
  --color-system-cssVars-cc-toggle-readonly-knob-bg: #fff;
  --color-system-cssVars-cc-cookie-category-block-bg: #f0f4f7;
  --color-system-cssVars-cc-cookie-category-block-border: #f0f4f7;
  --color-system-cssVars-cc-cookie-category-block-hover-bg: #e9eff4;
  --color-system-cssVars-cc-cookie-category-block-hover-border: #e9eff4;
  --color-system-cssVars-cc-cookie-category-expanded-block-hover-bg: #dee4e9;
  --color-system-cssVars-cc-overlay-bg: #000000;
  --color-system-cssVars-cc-footer-border-color: #e4eaed;
  --color-system-cssVars-background: #fff;
  --color-system-cssVars-foreground: #171717;
  --color-system-elements-pageBackground: #000000;
  --color-system-elements-bodyText: #171717;
  --color-system-elements-headingText: #171717;
  --color-system-elements-buttonText: #171717;
  --color-system-elements-linkColor: #171717;
  --color-system-elements-borderColor: #e5e7eb;
}
