:root {
  --container-max-width: 1440px;
  --container-padding-inline: 22px;
  --grid-cols-features: 3;
  --grid-cols-footer: 5;
  --grid-gap-features: unknown;
  --section-width: 1420px;
  /* blog-index screen additions */
  --grid-blog-featured-columns: 60fr 40fr;
  --grid-blog-list-columns: 1fr;
  --grid-filter-bar-columns: 1fr auto;
  /* about-us screen additions */
  --grid-about-mission-width: 925px;
  --grid-about-body-copy-width: 785px;
}
