:root {
  --type-system-typeScale-h1-fontFamily: Neue Montreal, system-ui, -apple-system, system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --type-system-typeScale-h1-fontSize: 28px;
  --type-system-typeScale-h1-fontWeight: 700;
  --type-system-typeScale-h1-lineHeight: 42px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-primaryFont: Neue Montreal;
  --type-system-typeScale-h2-fontFamily: Neue Montreal, system-ui, -apple-system, system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --type-system-typeScale-h2-fontSize: 84px;
  --type-system-typeScale-h2-fontWeight: 700;
  --type-system-typeScale-h2-lineHeight: 75.6px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-primaryFont: Neue Montreal;
  --type-system-typeScale-body-fontFamily: Neue Montreal, system-ui, -apple-system, system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --type-system-typeScale-body-fontSize: 14px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 21px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Neue Montreal;
  --type-system-typeScale-p-fontFamily: Neue Montreal, sans-serif;
  --type-system-typeScale-p-fontSize: 14px;
  --type-system-typeScale-p-fontWeight: 400;
  --type-system-typeScale-p-lineHeight: 16.1px;
  --type-system-typeScale-p-letterSpacing: -0.35px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: Neue Montreal;
  --type-system-typeScale-button-fontFamily: Neue Montreal, sans-serif;
  --type-system-typeScale-button-fontSize: 9.8px;
  --type-system-typeScale-button-fontWeight: 500;
  --type-system-typeScale-button-lineHeight: 14.7px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-textTransform: uppercase;
  --type-system-typeScale-button-primaryFont: Neue Montreal;
  --type-system-typeScale-link-fontFamily: Neue Montreal, system-ui, -apple-system, system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --type-system-typeScale-link-fontSize: 14px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: 21px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-textDecoration: underline;
  --type-system-typeScale-link-primaryFont: Neue Montreal;
  --type-system-typeScale-nav-fontFamily: Neue Montreal, system-ui, -apple-system, system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --type-system-typeScale-nav-fontSize: 14px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: 21px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-primaryFont: Neue Montreal;
}
