:root {
  --grid-system-container-maxWidth: 2560px;
  --grid-system-container-paddingLeft: 32px;
  --grid-system-container-paddingRight: 32px;
  --grid-system-responsive-bp-599px-query: (max-width: 599px);
  --grid-system-responsive-bp-599px-flexDirection: column;
  --grid-system-responsive-bp-599px-display: flex;
  --grid-system-responsive-bp-599px-maxWidth: calc(100% - 8px);
  --grid-system-responsive-bp-600px-query: (min-width: 600px);
  --grid-system-responsive-bp-600px-display: none;
  --grid-system-responsive-bp-600px-flexDirection: row;
  --grid-system-responsive-bp-600px-maxWidth: 100%;
  --grid-system-responsive-bp-600px-flexWrap: nowrap;
  --grid-system-responsive-bp-600px-rowGap: 16px;
  --grid-system-responsive-bp-600px-columnGap: 16px;
  --grid-system-responsive-bp-656px-query: (max-height: 656px);
  --grid-system-responsive-bp-656px-display: none;
  --grid-system-responsive-bp-899px-query: (max-width: 899px);
  --grid-system-responsive-bp-899px-flexDirection: column;
  --grid-system-responsive-bp-899px-display: flex;
  --grid-system-responsive-bp-899px-maxWidth: none;
  --grid-system-responsive-bp-900px-query: (min-width: 900px);
  --grid-system-responsive-bp-900px-display: none;
  --grid-system-responsive-bp-900px-maxWidth: 600px;
  --grid-system-responsive-bp-900px-flexDirection: row;
  --grid-system-responsive-bp-900px-gridTemplateColumns: 100%;
  --grid-system-responsive-bp-900px-gridTemplateRows: minmax(0px, 0fr);
  --grid-system-responsive-bp-900px-rowGap: 24px;
  --grid-system-responsive-bp-900px-columnGap: 24px;
  --grid-system-responsive-bp-1040px-query: screen and (min-width: 1040px);
  --grid-system-responsive-bp-1040px-display: initial;
  --grid-system-responsive-bp-1199px-query: (max-width: 1199px);
  --grid-system-responsive-bp-1199px-flexDirection: column;
  --grid-system-responsive-bp-1199px-display: flex;
  --grid-system-responsive-bp-1200px-query: (min-width: 1200px);
  --grid-system-responsive-bp-1200px-display: none;
  --grid-system-responsive-bp-1200px-maxWidth: unset;
  --grid-system-responsive-bp-1200px-rowGap: 24px;
  --grid-system-responsive-bp-1200px-columnGap: 24px;
}
