:root {
  --grid-system-container-maxWidth: 900px;
  --grid-system-container-paddingLeft: 24px;
  --grid-system-container-paddingRight: 24px;
  --grid-system-grids-flex-display: flex;
  --grid-system-grids-flex-flexDirection: row;
  --grid-system-grids-flex-gap: 16px;
  --grid-system-grids-flex-justifyContent: center;
  --grid-system-grids-flex-alignItems: center;
  --grid-system-grids-flex-childCount: 2;
  --grid-system-grids-flex-parentSection: section;
  --grid-system-grids-analysis-that-thinks-display: flex;
  --grid-system-grids-analysis-that-thinks-flexDirection: row;
  --grid-system-grids-analysis-that-thinks-gap: 16px;
  --grid-system-grids-analysis-that-thinks-childCount: 3;
  --grid-system-grids-analysis-that-thinks-parentSection: section;
  --grid-system-grids-one-shot-display: grid;
  --grid-system-grids-one-shot-templateColumns: 434px 434px;
  --grid-system-grids-one-shot-columnCount: 2;
  --grid-system-grids-one-shot-templateRows: 521.188px;
  --grid-system-grids-one-shot-gap: 32px;
  --grid-system-grids-one-shot-childCount: 2;
  --grid-system-grids-one-shot-parentSection: pricing;
  --grid-system-grids-opux-pricing-card-price-display: flex;
  --grid-system-grids-opux-pricing-card-price-flexDirection: row;
  --grid-system-grids-opux-pricing-card-price-gap: 8px;
  --grid-system-grids-opux-pricing-card-price-alignItems: baseline;
  --grid-system-grids-opux-pricing-card-price-childCount: 2;
  --grid-system-grids-opux-pricing-card-price-parentSection: pricing;
  --grid-system-grids-opux-pricing-feature-display: flex;
  --grid-system-grids-opux-pricing-feature-flexDirection: row;
  --grid-system-grids-opux-pricing-feature-gap: 8px;
  --grid-system-grids-opux-pricing-feature-alignItems: flex-start;
  --grid-system-grids-opux-pricing-feature-childCount: 2;
  --grid-system-grids-opux-pricing-feature-parentSection: pricing;
  --grid-system-grids-opux-pricing-feature-2-display: flex;
  --grid-system-grids-opux-pricing-feature-2-flexDirection: row;
  --grid-system-grids-opux-pricing-feature-2-gap: 8px;
  --grid-system-grids-opux-pricing-feature-2-alignItems: flex-start;
  --grid-system-grids-opux-pricing-feature-2-childCount: 2;
  --grid-system-grids-opux-pricing-feature-2-parentSection: pricing;
  --grid-system-grids-opux-pricing-feature-3-display: flex;
  --grid-system-grids-opux-pricing-feature-3-flexDirection: row;
  --grid-system-grids-opux-pricing-feature-3-gap: 8px;
  --grid-system-grids-opux-pricing-feature-3-alignItems: flex-start;
  --grid-system-grids-opux-pricing-feature-3-childCount: 2;
  --grid-system-grids-opux-pricing-feature-3-parentSection: pricing;
  --grid-system-grids-flex-2-display: flex;
  --grid-system-grids-flex-2-flexDirection: row;
  --grid-system-grids-flex-2-gap: 24px;
  --grid-system-grids-flex-2-alignItems: center;
  --grid-system-grids-flex-2-childCount: 2;
  --grid-system-grids-flex-2-parentSection: nav;
  --grid-system-grids-designed-for-how-you-actually-display: flex;
  --grid-system-grids-designed-for-how-you-actually-flexDirection: row;
  --grid-system-grids-designed-for-how-you-actually-gap: 96px;
  --grid-system-grids-designed-for-how-you-actually-justifyContent: space-between;
  --grid-system-grids-designed-for-how-you-actually-alignItems: center;
  --grid-system-grids-designed-for-how-you-actually-childCount: 2;
  --grid-system-grids-designed-for-how-you-actually-parentSection: section;
  --grid-system-grids-one-brief-zero-confusion-display: flex;
  --grid-system-grids-one-brief-zero-confusion-flexDirection: row;
  --grid-system-grids-one-brief-zero-confusion-gap: 24px;
  --grid-system-grids-one-brief-zero-confusion-alignItems: flex-start;
  --grid-system-grids-one-brief-zero-confusion-childCount: 2;
  --grid-system-grids-one-brief-zero-confusion-parentSection: section;
  --grid-system-grids-10-minutes-of-planning-20-hou-display: flex;
  --grid-system-grids-10-minutes-of-planning-20-hou-flexDirection: row;
  --grid-system-grids-10-minutes-of-planning-20-hou-gap: 24px;
  --grid-system-grids-10-minutes-of-planning-20-hou-alignItems: flex-start;
  --grid-system-grids-10-minutes-of-planning-20-hou-childCount: 2;
  --grid-system-grids-10-minutes-of-planning-20-hou-parentSection: section;
  --grid-system-grids-end-scope-creep-before-it-star-display: flex;
  --grid-system-grids-end-scope-creep-before-it-star-flexDirection: row;
  --grid-system-grids-end-scope-creep-before-it-star-gap: 24px;
  --grid-system-grids-end-scope-creep-before-it-star-alignItems: flex-start;
  --grid-system-grids-end-scope-creep-before-it-star-childCount: 2;
  --grid-system-grids-end-scope-creep-before-it-star-parentSection: section;
  --grid-system-grids-relative-display: flex;
  --grid-system-grids-relative-flexDirection: row;
  --grid-system-grids-relative-gap: 8px;
  --grid-system-grids-relative-justifyContent: center;
  --grid-system-grids-relative-alignItems: center;
  --grid-system-grids-relative-childCount: 2;
  --grid-system-grids-relative-parentSection: pricing;
  --grid-system-grids-opux-faq-question-display: flex;
  --grid-system-grids-opux-faq-question-flexDirection: row;
  --grid-system-grids-opux-faq-question-gap: 16px;
  --grid-system-grids-opux-faq-question-justifyContent: space-between;
  --grid-system-grids-opux-faq-question-alignItems: center;
  --grid-system-grids-opux-faq-question-childCount: 2;
  --grid-system-grids-opux-faq-question-parentSection: section;
  --grid-system-grids-opux-faq-question-2-display: flex;
  --grid-system-grids-opux-faq-question-2-flexDirection: row;
  --grid-system-grids-opux-faq-question-2-gap: 16px;
  --grid-system-grids-opux-faq-question-2-justifyContent: space-between;
  --grid-system-grids-opux-faq-question-2-alignItems: center;
  --grid-system-grids-opux-faq-question-2-childCount: 2;
  --grid-system-grids-opux-faq-question-2-parentSection: section;
  --grid-system-responsive-bp-480px-query: (max-width: 480px);
  --grid-system-responsive-bp-480px-flexDirection: column;
  --grid-system-responsive-bp-640px-query: (max-width: 640px);
  --grid-system-responsive-bp-640px-flexWrap: wrap;
  --grid-system-responsive-bp-640px-rowGap: 8px;
  --grid-system-responsive-bp-640px-columnGap: 8px;
  --grid-system-responsive-bp-640px-flexDirection: column;
  --grid-system-responsive-bp-640px-maxWidth: 640px;
  --grid-system-responsive-bp-640px-display: block;
  --grid-system-responsive-bp-640px-gridTemplateColumns: repeat(2, minmax(0px, 1fr));
  --grid-system-responsive-bp-768px-query: (max-width: 768px);
  --grid-system-responsive-bp-768px-flexDirection: column;
  --grid-system-responsive-bp-768px-rowGap: 32px;
  --grid-system-responsive-bp-768px-columnGap: 32px;
  --grid-system-responsive-bp-768px-maxWidth: 85%;
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-768px-gridTemplateColumns: repeat(2, minmax(0px, 1fr));
  --grid-system-responsive-bp-968px-query: (max-width: 968px);
  --grid-system-responsive-bp-968px-gridTemplateColumns: 1fr;
  --grid-system-responsive-bp-968px-rowGap: clamp(16px, 3vw, 24px);
  --grid-system-responsive-bp-968px-columnGap: clamp(16px, 3vw, 24px);
  --grid-system-responsive-bp-1024px-query: (min-width: 1024px);
  --grid-system-responsive-bp-1024px-maxWidth: 1024px;
  --grid-system-responsive-bp-1024px-display: block;
  --grid-system-responsive-bp-1024px-gridTemplateColumns: repeat(2, minmax(0px, 1fr));
  --grid-system-responsive-bp-1024px-flexDirection: row;
  --grid-system-responsive-bp-1024px-rowGap: 64px;
  --grid-system-responsive-bp-1024px-columnGap: 64px;
  --grid-system-responsive-bp-1280px-query: (min-width: 1280px);
  --grid-system-responsive-bp-1280px-maxWidth: 1280px;
  --grid-system-responsive-bp-1536px-query: (min-width: 1536px);
  --grid-system-responsive-bp-1536px-maxWidth: 1536px;
}
