:root {
  --grid-system-container-maxWidth: 1440px;
  --grid-system-container-paddingLeft: 24px;
  --grid-system-container-paddingRight: 24px;
  --grid-system-grids-Homepage-platform-showcases-display: grid;
  --grid-system-grids-Homepage-platform-showcases-templateColumns: subgrid [] [] [] [] [] [] [];
  --grid-system-grids-Homepage-platform-showcases-columnCount: 8;
  --grid-system-grids-Homepage-platform-showcases-templateRows: 705px;
  --grid-system-grids-Homepage-platform-showcases-childCount: 1;
  --grid-system-grids-Homepage-platform-showcases-parentSection: section;
  --grid-system-grids-relative-display: grid;
  --grid-system-grids-relative-templateColumns: 272px 1010px;
  --grid-system-grids-relative-columnCount: 2;
  --grid-system-grids-relative-templateRows: 48px 0px 647.242px;
  --grid-system-grids-relative-childCount: 4;
  --grid-system-grids-relative-parentSection: section;
  --grid-system-grids-hidden-display: grid;
  --grid-system-grids-hidden-templateColumns: 277.195px 277.203px 277.195px 277.203px 277.203px;
  --grid-system-grids-hidden-columnCount: 5;
  --grid-system-grids-hidden-templateRows: 96px 96px 96px;
  --grid-system-grids-hidden-gap: 1px;
  --grid-system-grids-hidden-childCount: 15;
  --grid-system-grids-hidden-parentSection: section;
  --grid-system-grids-flex-display: flex;
  --grid-system-grids-flex-flexDirection: row;
  --grid-system-grids-flex-gap: normal 36px;
  --grid-system-grids-flex-alignItems: center;
  --grid-system-grids-flex-childCount: 2;
  --grid-system-grids-flex-parentSection: nav;
  --grid-system-grids-grid-display: grid;
  --grid-system-grids-grid-templateColumns: 319px 827px;
  --grid-system-grids-grid-columnCount: 2;
  --grid-system-grids-grid-templateRows: 148px 310px;
  --grid-system-grids-grid-gap: 1px;
  --grid-system-grids-grid-childCount: 3;
  --grid-system-grids-grid-parentSection: section;
  --grid-system-grids-mt-3-display: grid;
  --grid-system-grids-mt-3-templateColumns: 236.203px 236.211px 292.586px;
  --grid-system-grids-mt-3-columnCount: 3;
  --grid-system-grids-mt-3-templateRows: 99px 99px;
  --grid-system-grids-mt-3-gap: 7px;
  --grid-system-grids-mt-3-childCount: 5;
  --grid-system-grids-mt-3-parentSection: section;
  --grid-system-grids-grid-2-display: grid;
  --grid-system-grids-grid-2-templateColumns: 100px 187px;
  --grid-system-grids-grid-2-columnCount: 2;
  --grid-system-grids-grid-2-templateRows: 32px;
  --grid-system-grids-grid-2-childCount: 1;
  --grid-system-grids-grid-2-parentSection: section;
  --grid-system-grids-group-display: flex;
  --grid-system-grids-group-flexDirection: row;
  --grid-system-grids-group-gap: 6px;
  --grid-system-grids-group-justifyContent: center;
  --grid-system-grids-group-alignItems: center;
  --grid-system-grids-group-childCount: 2;
  --grid-system-grids-group-parentSection: header;
  --grid-system-grids-hidden-2-display: flex;
  --grid-system-grids-hidden-2-flexDirection: row;
  --grid-system-grids-hidden-2-gap: normal 6px;
  --grid-system-grids-hidden-2-alignItems: center;
  --grid-system-grids-hidden-2-childCount: 4;
  --grid-system-grids-hidden-2-parentSection: nav;
  --grid-system-grids-relative-2-display: flex;
  --grid-system-grids-relative-2-flexDirection: row;
  --grid-system-grids-relative-2-gap: normal 6px;
  --grid-system-grids-relative-2-justifyContent: center;
  --grid-system-grids-relative-2-alignItems: center;
  --grid-system-grids-relative-2-childCount: 2;
  --grid-system-grids-relative-2-parentSection: nav;
  --grid-system-grids-relative-3-display: flex;
  --grid-system-grids-relative-3-flexDirection: row;
  --grid-system-grids-relative-3-gap: normal 6px;
  --grid-system-grids-relative-3-justifyContent: center;
  --grid-system-grids-relative-3-alignItems: center;
  --grid-system-grids-relative-3-childCount: 2;
  --grid-system-grids-relative-3-parentSection: nav;
  --grid-system-grids-relative-4-display: flex;
  --grid-system-grids-relative-4-flexDirection: row;
  --grid-system-grids-relative-4-gap: normal 12px;
  --grid-system-grids-relative-4-alignItems: center;
  --grid-system-grids-relative-4-childCount: 2;
  --grid-system-grids-relative-4-parentSection: base-ui-_r_d_;
  --grid-system-grids-relative-5-display: flex;
  --grid-system-grids-relative-5-flexDirection: row;
  --grid-system-grids-relative-5-gap: normal 12px;
  --grid-system-grids-relative-5-alignItems: center;
  --grid-system-grids-relative-5-childCount: 2;
  --grid-system-grids-relative-5-parentSection: base-ui-_r_d_;
  --grid-system-grids-the-intelligent-system-that-ne-display: grid;
  --grid-system-grids-the-intelligent-system-that-ne-templateColumns: 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9219px;
  --grid-system-grids-the-intelligent-system-that-ne-columnCount: 24;
  --grid-system-grids-the-intelligent-system-that-ne-templateRows: 180px;
  --grid-system-grids-the-intelligent-system-that-ne-childCount: 1;
  --grid-system-grids-the-intelligent-system-that-ne-parentSection: section;
  --grid-system-grids-your-team-amplified-agents-p-display: grid;
  --grid-system-grids-your-team-amplified-agents-p-templateColumns: 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px 57.9141px;
  --grid-system-grids-your-team-amplified-agents-p-columnCount: 24;
  --grid-system-grids-your-team-amplified-agents-p-templateRows: 6066.42px;
  --grid-system-grids-your-team-amplified-agents-p-childCount: 2;
  --grid-system-grids-your-team-amplified-agents-p-parentSection: section;
}
