:root {
  --grid-system-grids-hershims-display: grid;
  --grid-system-grids-hershims-templateColumns: 432px 432px 432px 432px;
  --grid-system-grids-hershims-columnCount: 4;
  --grid-system-grids-hershims-templateRows: 556.312px 559.133px;
  --grid-system-grids-hershims-childCount: 8;
  --grid-system-grids-hershims-parentSection: section;
  --grid-system-grids-favorites-0-items-display: flex;
  --grid-system-grids-favorites-0-items-flexDirection: row;
  --grid-system-grids-favorites-0-items-gap: 16px;
  --grid-system-grids-favorites-0-items-justifyContent: flex-end;
  --grid-system-grids-favorites-0-items-alignItems: center;
  --grid-system-grids-favorites-0-items-childCount: 3;
  --grid-system-grids-call-for-action-dark-display: flex;
  --grid-system-grids-call-for-action-dark-flexDirection: row;
  --grid-system-grids-call-for-action-dark-gap: 8px;
  --grid-system-grids-call-for-action-dark-justifyContent: center;
  --grid-system-grids-call-for-action-dark-alignItems: center;
  --grid-system-grids-call-for-action-dark-childCount: 2;
  --grid-system-responsive-bp-479px-query: screen and (max-width: 479px);
  --grid-system-responsive-bp-479px-maxWidth: none;
  --grid-system-responsive-bp-479px-display: inherit;
  --grid-system-responsive-bp-479px-flexDirection: column;
  --grid-system-responsive-bp-479px-flexWrap: nowrap;
  --grid-system-responsive-bp-479px-columnGap: 7px;
  --grid-system-responsive-bp-479px-rowGap: 32px;
  --grid-system-responsive-bp-479px-gridTemplateRows: auto auto;
  --grid-system-responsive-bp-479px-gridTemplateColumns: 1fr 1fr 1fr;
  --grid-system-responsive-bp-767px-query: screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: inherit;
  --grid-system-responsive-bp-767px-maxWidth: none;
  --grid-system-responsive-bp-767px-flexDirection: column;
  --grid-system-responsive-bp-767px-columnGap: 20px;
  --grid-system-responsive-bp-767px-rowGap: 20px;
  --grid-system-responsive-bp-767px-flexWrap: nowrap;
  --grid-system-responsive-bp-767px-gridTemplateColumns: 1fr 1fr;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-maxWidth: 96vw;
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-991px-query: screen and (max-width: 991px);
  --grid-system-responsive-bp-991px-maxWidth: 728px;
  --grid-system-responsive-bp-991px-display: inherit;
  --grid-system-responsive-bp-991px-flexDirection: column;
  --grid-system-responsive-bp-991px-flexWrap: nowrap;
  --grid-system-responsive-bp-991px-columnGap: 8px;
  --grid-system-responsive-bp-991px-rowGap: 40px;
  --grid-system-responsive-bp-991px-gridTemplateColumns: 1fr 1fr 1fr;
  --grid-system-responsive-bp-991px-gridTemplateRows: auto auto;
  --grid-system-responsive-bp-1280px-query: screen and (min-width: 1280px);
  --grid-system-responsive-bp-1280px-display: none;
  --grid-system-responsive-bp-1280px-maxWidth: 718px;
  --grid-system-responsive-bp-1280px-flexDirection: column;
  --grid-system-responsive-bp-1280px-flexWrap: nowrap;
  --grid-system-responsive-bp-1280px-columnGap: 12px;
  --grid-system-responsive-bp-1280px-rowGap: 12px;
  --grid-system-responsive-bp-1280px-gridTemplateRows: auto;
  --grid-system-responsive-bp-1280px-gridTemplateColumns: 1fr 1fr 1fr;
  --grid-system-responsive-bp-1440px-query: screen and (min-width: 1440px);
  --grid-system-responsive-bp-1440px-columnGap: 0px;
  --grid-system-responsive-bp-1440px-rowGap: 0px;
  --grid-system-responsive-bp-1440px-display: none;
  --grid-system-responsive-bp-1440px-flexDirection: row;
  --grid-system-responsive-bp-1440px-flexWrap: nowrap;
  --grid-system-responsive-bp-1440px-gridTemplateRows: auto auto;
  --grid-system-responsive-bp-1440px-gridTemplateColumns: 1fr 1fr;
  --grid-system-responsive-bp-1440px-maxWidth: 762px;
  --grid-system-responsive-bp-1920px-query: screen and (min-width: 1920px);
  --grid-system-responsive-bp-1920px-columnGap: 24px;
  --grid-system-responsive-bp-1920px-rowGap: 24px;
  --grid-system-responsive-bp-1920px-display: flex;
  --grid-system-responsive-bp-1920px-maxWidth: 100%;
  --grid-system-responsive-bp-1920px-flexDirection: column;
  --grid-system-responsive-bp-1920px-flexWrap: nowrap;
  --grid-system-responsive-bp-1920px-gridTemplateRows: auto;
  --grid-system-responsive-bp-1920px-gridTemplateColumns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
