:root {
  --type-system-typeScale-h1-fontFamily: Geist, Geist Placeholder, sans-serif;
  --type-system-typeScale-h1-fontSize: 108px;
  --type-system-typeScale-h1-fontWeight: 500;
  --type-system-typeScale-h1-lineHeight: 108px;
  --type-system-typeScale-h1-letterSpacing: -4.32px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h2-fontFamily: Geist, Geist Placeholder, sans-serif;
  --type-system-typeScale-h2-fontSize: 48px;
  --type-system-typeScale-h2-fontWeight: 500;
  --type-system-typeScale-h2-lineHeight: 57.6px;
  --type-system-typeScale-h2-letterSpacing: -1.92px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-body-fontFamily: sans-serif;
  --type-system-typeScale-body-fontSize: 12px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: normal;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-link-fontFamily: sans-serif;
  --type-system-typeScale-link-fontSize: 12px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: normal;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-nav-fontFamily: sans-serif;
  --type-system-typeScale-nav-fontSize: 12px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: normal;
  --type-system-typeScale-nav-wordSpacing: 0px;
}
