:root {
  --grid-system-cssVars-sk-focus-offset-container: 3px;
  --grid-system-cssVars-r-localnav-viewport-medium-max-width: viewport-get-property-for("ac-localnav:medium", max-width);
  --grid-system-cssVars-r-localnav-viewport-small-max-width: viewport-get-property-for("ac-localnav:small", max-width);
  --grid-system-cssVars-tile-max-width: 300px;
  --grid-system-container-maxWidth: 950px;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-display: grid;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-columnCount: 12;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-templateRows: 548px 504px;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-gap: 24px;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-childCount: 3;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-parentSection: section;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-2-display: grid;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-2-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-2-columnCount: 12;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-2-templateRows: 414px;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-2-gap: 24px;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-2-childCount: 1;
  --grid-system-grids-siri-text-rigo-im-on-my-wa-2-parentSection: section;
  --grid-system-grids-siri-remind-me-to-water-the-p-display: grid;
  --grid-system-grids-siri-remind-me-to-water-the-p-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-remind-me-to-water-the-p-columnCount: 12;
  --grid-system-grids-siri-remind-me-to-water-the-p-templateRows: 750px;
  --grid-system-grids-siri-remind-me-to-water-the-p-gap: 24px;
  --grid-system-grids-siri-remind-me-to-water-the-p-childCount: 2;
  --grid-system-grids-siri-remind-me-to-water-the-p-parentSection: section;
  --grid-system-grids-give-me-directions-home-display: grid;
  --grid-system-grids-give-me-directions-home-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-give-me-directions-home-columnCount: 12;
  --grid-system-grids-give-me-directions-home-templateRows: 125px 780px;
  --grid-system-grids-give-me-directions-home-gap: 24px;
  --grid-system-grids-give-me-directions-home-childCount: 2;
  --grid-system-grids-give-me-directions-home-parentSection: section;
  --grid-system-grids-give-me-directions-home-2-display: grid;
  --grid-system-grids-give-me-directions-home-2-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-give-me-directions-home-2-columnCount: 12;
  --grid-system-grids-give-me-directions-home-2-templateRows: 735px;
  --grid-system-grids-give-me-directions-home-2-gap: 24px;
  --grid-system-grids-give-me-directions-home-2-childCount: 2;
  --grid-system-grids-give-me-directions-home-2-parentSection: section;
  --grid-system-grids-siri-call-vivian-chou-display: grid;
  --grid-system-grids-siri-call-vivian-chou-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-call-vivian-chou-columnCount: 12;
  --grid-system-grids-siri-call-vivian-chou-templateRows: 750px;
  --grid-system-grids-siri-call-vivian-chou-gap: 24px;
  --grid-system-grids-siri-call-vivian-chou-childCount: 2;
  --grid-system-grids-siri-call-vivian-chou-parentSection: section;
  --grid-system-grids-siri-start-a-30-minute-outdoo-display: grid;
  --grid-system-grids-siri-start-a-30-minute-outdoo-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-start-a-30-minute-outdoo-columnCount: 12;
  --grid-system-grids-siri-start-a-30-minute-outdoo-templateRows: 268px 542px;
  --grid-system-grids-siri-start-a-30-minute-outdoo-gap: 24px;
  --grid-system-grids-siri-start-a-30-minute-outdoo-childCount: 3;
  --grid-system-grids-siri-start-a-30-minute-outdoo-parentSection: section;
  --grid-system-grids-siri-start-a-30-minute-outdoo-2-display: grid;
  --grid-system-grids-siri-start-a-30-minute-outdoo-2-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-start-a-30-minute-outdoo-2-columnCount: 12;
  --grid-system-grids-siri-start-a-30-minute-outdoo-2-templateRows: 452px;
  --grid-system-grids-siri-start-a-30-minute-outdoo-2-gap: 24px;
  --grid-system-grids-siri-start-a-30-minute-outdoo-2-childCount: 1;
  --grid-system-grids-siri-start-a-30-minute-outdoo-2-parentSection: section;
  --grid-system-grids-siri-play-something-upbeat-display: grid;
  --grid-system-grids-siri-play-something-upbeat-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-play-something-upbeat-columnCount: 12;
  --grid-system-grids-siri-play-something-upbeat-templateRows: 750px;
  --grid-system-grids-siri-play-something-upbeat-gap: 24px;
  --grid-system-grids-siri-play-something-upbeat-childCount: 2;
  --grid-system-grids-siri-play-something-upbeat-parentSection: section;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-display: grid;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-columnCount: 12;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-templateRows: 332px 658px;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-gap: 24px;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-childCount: 3;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-parentSection: section;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-2-display: grid;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-2-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-2-columnCount: 12;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-2-templateRows: 568px;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-2-gap: 24px;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-2-childCount: 1;
  --grid-system-grids-siri-set-a-pizza-timer-for-12-2-parentSection: section;
  --grid-system-grids-siri-how-many-tablespoons-are-display: grid;
  --grid-system-grids-siri-how-many-tablespoons-are-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-how-many-tablespoons-are-columnCount: 12;
  --grid-system-grids-siri-how-many-tablespoons-are-templateRows: 750px;
  --grid-system-grids-siri-how-many-tablespoons-are-gap: 24px;
  --grid-system-grids-siri-how-many-tablespoons-are-childCount: 2;
  --grid-system-grids-siri-how-many-tablespoons-are-parentSection: section;
  --grid-system-grids-siri-play-ocean-sounds-display: grid;
  --grid-system-grids-siri-play-ocean-sounds-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-play-ocean-sounds-columnCount: 12;
  --grid-system-grids-siri-play-ocean-sounds-templateRows: 268px 450px;
  --grid-system-grids-siri-play-ocean-sounds-gap: 24px;
  --grid-system-grids-siri-play-ocean-sounds-childCount: 3;
  --grid-system-grids-siri-play-ocean-sounds-parentSection: section;
  --grid-system-grids-siri-play-ocean-sounds-2-display: grid;
  --grid-system-grids-siri-play-ocean-sounds-2-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-play-ocean-sounds-2-columnCount: 12;
  --grid-system-grids-siri-play-ocean-sounds-2-templateRows: 360px;
  --grid-system-grids-siri-play-ocean-sounds-2-gap: 24px;
  --grid-system-grids-siri-play-ocean-sounds-2-childCount: 1;
  --grid-system-grids-siri-play-ocean-sounds-2-parentSection: section;
  --grid-system-grids-siri-what-will-the-weather-be-display: grid;
  --grid-system-grids-siri-what-will-the-weather-be-templateColumns: 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px 67.5px;
  --grid-system-grids-siri-what-will-the-weather-be-columnCount: 12;
  --grid-system-grids-siri-what-will-the-weather-be-templateRows: 951px 750px 750px;
  --grid-system-grids-siri-what-will-the-weather-be-gap: 24px;
  --grid-system-grids-siri-what-will-the-weather-be-childCount: 4;
  --grid-system-grids-siri-what-will-the-weather-be-parentSection: section;
  --grid-system-responsive-bp-320px-query: only screen and (max-width: 320px);
  --grid-system-responsive-bp-320px-maxWidth: 8.33333%;
  --grid-system-responsive-bp-320px-display: none;
  --grid-system-responsive-bp-640px-query: only screen and (max-width: 640px);
  --grid-system-responsive-bp-640px-flexDirection: column;
  --grid-system-responsive-bp-640px-display: block;
  --grid-system-responsive-bp-641px-query: only screen and (min-width: 641px) and (max-width: 833px);
  --grid-system-responsive-bp-641px-maxWidth: 50%;
  --grid-system-responsive-bp-734px-query: only screen and (max-width: 734px);
  --grid-system-responsive-bp-734px-maxWidth: 100%;
  --grid-system-responsive-bp-734px-display: none;
  --grid-system-responsive-bp-734px-flexDirection: column;
  --grid-system-responsive-bp-734px-rowGap: 0px;
  --grid-system-responsive-bp-734px-gridTemplateRows: unset;
  --grid-system-responsive-bp-734px-gridTemplateColumns: repeat(9, minmax(80px, 92px));
  --grid-system-responsive-bp-735px-query: only screen and (min-width: 735px);
  --grid-system-responsive-bp-735px-display: flex;
  --grid-system-responsive-bp-735px-flexDirection: column;
  --grid-system-responsive-bp-735px-maxWidth: 56%;
  --grid-system-responsive-bp-833px-query: only screen and (max-width: 833px);
  --grid-system-responsive-bp-833px-display: flex;
  --grid-system-responsive-bp-833px-maxWidth: none;
  --grid-system-responsive-bp-833px-flexDirection: column;
  --grid-system-responsive-bp-833px-flexWrap: wrap;
  --grid-system-responsive-bp-834px-query: only screen and (min-width: 834px);
  --grid-system-responsive-bp-834px-display: contents;
  --grid-system-responsive-bp-834px-maxWidth: calc(1024px - var(--r-globalnav-scrollbar-width));
  --grid-system-responsive-bp-900px-query: only screen and (max-width: 900px);
  --grid-system-responsive-bp-900px-maxWidth: 8.33333%;
  --grid-system-responsive-bp-900px-display: none;
}
