:root {
  --color-system-cssVars-color-primary: red;
  --color-system-cssVars-text-color: #5d524b;
  --color-system-cssVars-background-color: #fef9ed;
  --color-system-cssVars-wp--preset--color--black: #000000;
  --color-system-cssVars-wp--preset--color--cyan-bluish-gray: #abb8c3;
  --color-system-cssVars-wp--preset--color--white: #ffffff;
  --color-system-cssVars-wp--preset--color--pale-pink: #f78da7;
  --color-system-cssVars-wp--preset--color--vivid-red: #cf2e2e;
  --color-system-cssVars-wp--preset--color--luminous-vivid-orange: #ff6900;
  --color-system-cssVars-wp--preset--color--luminous-vivid-amber: #fcb900;
  --color-system-cssVars-wp--preset--color--light-green-cyan: #7bdcb5;
  --color-system-cssVars-wp--preset--color--vivid-green-cyan: #00d084;
  --color-system-cssVars-wp--preset--color--pale-cyan-blue: #8ed1fc;
  --color-system-cssVars-wp--preset--color--vivid-cyan-blue: #0693e3;
  --color-system-cssVars-wp--preset--color--vivid-purple: #9b51e0;
  --color-system-elements-pageBackground: #fef9ed;
  --color-system-elements-bodyText: #5d524b;
  --color-system-elements-headingText: #000000;
  --color-system-elements-buttonText: #262626;
  --color-system-elements-linkColor: #0000ee;
}
