:root {
  --type-system-cssVars-font-size-10: 10px;
  --type-system-cssVars-font-size-12: 12px;
  --type-system-cssVars-font-size-14: 14px;
  --type-system-cssVars-font-size-16: 16px;
  --type-system-cssVars-font-size-18: 18px;
  --type-system-cssVars-font-size-20: 20px;
  --type-system-cssVars-font-size-24: max(1.25vw,calc(24 / 1920 * 1280px));
  --type-system-cssVars-font-size-28: max(1.4583333333vw,calc(28 / 1920 * 1280px));
  --type-system-cssVars-font-size-32: max(1.6666666667vw,calc(32 / 1920 * 1280px));
  --type-system-cssVars-font-size-36: max(1.875vw,calc(36 / 1920 * 1280px));
  --type-system-cssVars-font-size-40: max(2.0833333333vw,calc(40 / 1920 * 1280px));
  --type-system-cssVars-font-size-48: 2.5vw;
  --type-system-cssVars-font-size-56: 2.9166666667vw;
  --type-system-cssVars-font-size-64: 3.3333333333vw;
  --type-system-cssVars-font-size-72: 3.75vw;
  --type-system-cssVars-font-size-80: 4.1666666667vw;
  --type-system-cssVars-font-size-88: 4.5833333333vw;
  --type-system-cssVars-font-size-96: 5vw;
  --type-system-cssVars-font-size-128: 6.6666666667vw;
  --type-system-cssVars-font-size-200: 10.4166666667vw;
  --type-system-cssVars-font-size-288: 15vw;
  --type-system-cssVars-font-weight-thin: 100;
  --type-system-cssVars-font-weight-extra-light: 200;
  --type-system-cssVars-font-weight-light: 300;
  --type-system-cssVars-font-weight-regular: 400;
  --type-system-cssVars-font-weight-medium: 500;
  --type-system-cssVars-font-weight-semibold: 600;
  --type-system-cssVars-font-weight-bold: 700;
  --type-system-cssVars-font-weight-extrabold: 800;
  --type-system-cssVars-font-weight-black: 900;
  --type-system-cssVars-sizes-0: 0px;
  --type-system-cssVars-sizes-1: 1px;
  --type-system-cssVars-sizes-2: 2px;
  --type-system-cssVars-sizes-4: 4px;
  --type-system-cssVars-sizes-8: 8px;
  --type-system-cssVars-sizes-12: 0.625vw;
  --type-system-cssVars-sizes-16: 0.8333333333vw;
  --type-system-cssVars-sizes-18: 0.9375vw;
  --type-system-cssVars-sizes-20: 1.0416666667vw;
  --type-system-cssVars-sizes-24: 1.25vw;
  --type-system-cssVars-sizes-32: 1.6666666667vw;
  --type-system-cssVars-sizes-40: 2.0833333333vw;
  --type-system-cssVars-sizes-48: 2.5vw;
  --type-system-cssVars-sizes-56: 2.9166666667vw;
  --type-system-cssVars-sizes-64: 3.3333333333vw;
  --type-system-cssVars-sizes-96: 5vw;
  --type-system-cssVars-sizes-128: 6.6666666667vw;
  --type-system-cssVars-sizes-160: 8.3333333333vw;
  --type-system-cssVars-sizes-200: 10.4166666667vw;
  --type-system-cssVars-sizes-288: 15vw;
  --type-system-cssVars-button-icon-only-default-icon-size: var(--sizes-24);
  --type-system-cssVars-button-icon-only-small-icon-size: var(--sizes-20);
  --type-system-cssVars-button-invert-default-font-size: var(--typo-cta-size-16);
  --type-system-cssVars-button-invert-default-icon-size: var(--icon-18);
  --type-system-cssVars-button-invert-small-font-size: var(--typo-cta-size-14);
  --type-system-cssVars-button-invert-small-icon-size: var(--icon-18);
  --type-system-cssVars-button-link-default-font-size: var(--typo-cta-size-16);
  --type-system-cssVars-button-link-default-icon-size: var(--sizes-24);
  --type-system-cssVars-button-link-small-font-size: var(--typo-cta-size-14);
  --type-system-cssVars-button-link-small-icon-size: var(--sizes-24);
  --type-system-cssVars-button-primary-default-font-size: var(--typo-cta-size-16);
  --type-system-cssVars-button-primary-default-icon-size: var(--icon-18);
  --type-system-cssVars-button-primary-small-font-size: var(--typo-cta-size-14);
  --type-system-cssVars-button-primary-small-icon-size: var(--icon-18);
  --type-system-cssVars-button-secondary-default-font-size: var(--typo-cta-size-16);
  --type-system-cssVars-button-secondary-default-icon-size: var(--icon-18);
  --type-system-cssVars-button-secondary-small-font-size: var(--typo-cta-size-14);
  --type-system-cssVars-button-secondary-small-icon-size: var(--icon-18);
  --type-system-cssVars-icon-primary-size: var(--icon-64);
  --type-system-cssVars-icon-secondary-size: var(--icon-32);
  --type-system-cssVars-icon-tertiary-size: var(--icon-16);
  --type-system-cssVars-typo-cta-size-12: var(--font-size-12);
  --type-system-cssVars-typo-cta-size-14: var(--font-size-14);
  --type-system-cssVars-typo-cta-size-16: var(--font-size-16);
  --type-system-cssVars-typo-cta-size-18: var(--font-size-18);
  --type-system-cssVars-typo-cta-size-20: var(--font-size-20);
  --type-system-cssVars-typo-cta-size-24: var(--font-size-24);
  --type-system-cssVars-typo-cta-weight-normal: var(--font-weight-light);
  --type-system-cssVars-typo-cta-weight-strong: var(--font-weight-semibold);
  --type-system-cssVars-typo-headline-size-10: var(--font-size-10);
  --type-system-cssVars-typo-headline-size-12: var(--font-size-12);
  --type-system-cssVars-typo-headline-size-128: var(--font-size-128);
  --type-system-cssVars-typo-headline-size-14: var(--font-size-14);
  --type-system-cssVars-typo-headline-size-16: var(--font-size-16);
  --type-system-cssVars-typo-headline-size-18: var(--font-size-18);
  --type-system-cssVars-typo-headline-size-20: var(--font-size-20);
  --type-system-cssVars-typo-headline-size-200: var(--font-size-200);
  --type-system-cssVars-typo-headline-size-24: var(--font-size-24);
  --type-system-cssVars-typo-headline-size-288: var(--font-size-288);
  --type-system-cssVars-typo-headline-size-32: var(--font-size-32);
  --type-system-cssVars-typo-headline-size-48: var(--font-size-48);
  --type-system-cssVars-typo-headline-size-64: var(--font-size-64);
  --type-system-cssVars-typo-headline-size-72: var(--font-size-72);
  --type-system-cssVars-typo-headline-size-80: var(--font-size-80);
  --type-system-cssVars-typo-headline-size-96: var(--font-size-96);
  --type-system-cssVars-typo-headline-weight-light: var(--font-weight-regular);
  --type-system-cssVars-typo-headline-weight-medium: var(--font-weight-medium);
  --type-system-cssVars-typo-headline-weight-normal: var(--font-weight-regular);
  --type-system-cssVars-typo-headline-weight-strong: var(--font-weight-semibold);
  --type-system-cssVars-typo-text-size-12: var(--font-size-12);
  --type-system-cssVars-typo-text-size-14: var(--font-size-14);
  --type-system-cssVars-typo-text-size-16: var(--font-size-16);
  --type-system-cssVars-typo-text-size-18: var(--font-size-18);
  --type-system-cssVars-typo-text-size-20: var(--font-size-20);
  --type-system-cssVars-typo-text-size-24: var(--font-size-24);
  --type-system-cssVars-typo-text-size-28: var(--font-size-28);
  --type-system-cssVars-typo-text-size-32: var(--font-size-32);
  --type-system-cssVars-typo-text-weight-light: var(--font-weight-light);
  --type-system-cssVars-typo-text-weight-medium: var(--font-weight-medium);
  --type-system-cssVars-typo-text-weight-normal: var(--font-weight-regular);
  --type-system-cssVars-typo-text-weight-strong: var(--font-weight-semibold);
  --type-system-typeScale-h2-fontFamily: abcRepro, abcRepro Fallback;
  --type-system-typeScale-h2-fontSize: 32px;
  --type-system-typeScale-h2-fontWeight: 400;
  --type-system-typeScale-h2-lineHeight: 35.2px;
  --type-system-typeScale-h2-letterSpacing: -1.33333px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-textTransform: uppercase;
  --type-system-typeScale-h3-fontFamily: abcRepro, abcRepro Fallback;
  --type-system-typeScale-h3-fontSize: 14px;
  --type-system-typeScale-h3-fontWeight: 300;
  --type-system-typeScale-h3-lineHeight: 18.9px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-body-fontFamily: Times;
  --type-system-typeScale-body-fontSize: 16px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 16px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-button-fontFamily: abcRepro, abcRepro Fallback;
  --type-system-typeScale-button-fontSize: 12px;
  --type-system-typeScale-button-fontWeight: 300;
  --type-system-typeScale-button-lineHeight: 16.2px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-link-fontFamily: Times;
  --type-system-typeScale-link-fontSize: 16px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: 16px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-nav-fontFamily: Times;
  --type-system-typeScale-nav-fontSize: 16px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: 16px;
  --type-system-typeScale-nav-wordSpacing: 0px;
}
