:root {
  --grid-system-grids-framer-1t92ft3-display: flex;
  --grid-system-grids-framer-1t92ft3-flexDirection: row;
  --grid-system-grids-framer-1t92ft3-gap: 10px;
  --grid-system-grids-framer-1t92ft3-alignItems: center;
  --grid-system-grids-framer-1t92ft3-childCount: 2;
  --grid-system-grids-framer-1t92ft3-parentSection: header;
  --grid-system-grids-design-content-display: flex;
  --grid-system-grids-design-content-flexDirection: row;
  --grid-system-grids-design-content-gap: 100px;
  --grid-system-grids-design-content-justifyContent: center;
  --grid-system-grids-design-content-alignItems: flex-start;
  --grid-system-grids-design-content-childCount: 2;
  --grid-system-grids-design-content-parentSection: design;
  --grid-system-grids-feat-collab-display: flex;
  --grid-system-grids-feat-collab-flexDirection: row;
  --grid-system-grids-feat-collab-gap: 10px;
  --grid-system-grids-feat-collab-justifyContent: center;
  --grid-system-grids-feat-collab-alignItems: flex-start;
  --grid-system-grids-feat-collab-childCount: 2;
  --grid-system-grids-feat-collab-parentSection: design;
  --grid-system-grids-learn-more-display: grid;
  --grid-system-grids-learn-more-templateColumns: 585px 585px;
  --grid-system-grids-learn-more-columnCount: 2;
  --grid-system-grids-learn-more-templateRows: 593.5px 593.5px;
  --grid-system-grids-learn-more-gap: 30px;
  --grid-system-grids-learn-more-childCount: 3;
  --grid-system-grids-learn-more-parentSection: section;
  --grid-system-grids-framer-1ercvey-display: flex;
  --grid-system-grids-framer-1ercvey-flexDirection: row;
  --grid-system-grids-framer-1ercvey-gap: 10px;
  --grid-system-grids-framer-1ercvey-alignItems: center;
  --grid-system-grids-framer-1ercvey-childCount: 2;
  --grid-system-grids-framer-1ercvey-parentSection: header;
  --grid-system-grids-framer-24qcb9-display: flex;
  --grid-system-grids-framer-24qcb9-flexDirection: row;
  --grid-system-grids-framer-24qcb9-gap: 10px;
  --grid-system-grids-framer-24qcb9-alignItems: center;
  --grid-system-grids-framer-24qcb9-childCount: 3;
  --grid-system-grids-framer-24qcb9-parentSection: header;
  --grid-system-grids-grid-7-display: flex;
  --grid-system-grids-grid-7-flexDirection: row;
  --grid-system-grids-grid-7-gap: 10px;
  --grid-system-grids-grid-7-alignItems: center;
  --grid-system-grids-grid-7-childCount: 2;
  --grid-system-grids-grid-7-parentSection: community;
  --grid-system-grids-grid-8-display: flex;
  --grid-system-grids-grid-8-flexDirection: row;
  --grid-system-grids-grid-8-gap: 10px;
  --grid-system-grids-grid-8-alignItems: center;
  --grid-system-grids-grid-8-childCount: 2;
  --grid-system-grids-grid-8-parentSection: community;
  --grid-system-responsive-bp-810px-query: (min-width: 810px) and (max-width: 1199.98px);
  --grid-system-responsive-bp-810px-rowGap: 20px;
  --grid-system-responsive-bp-810px-columnGap: 20px;
  --grid-system-responsive-bp-810px-flexDirection: column;
  --grid-system-responsive-bp-810px-flexWrap: nowrap;
  --grid-system-responsive-bp-810px-display: flex;
  --grid-system-responsive-bp-810px-maxWidth: 240px;
}
