:root {
  --spacing-system-cssVars-grid-space: calc((100% - 11 * var(--grid-gap)) / 12);
  --spacing-system-cssVars-grid-gap: 2vw;
  --spacing-system-cssVars-global-border-radius: 20px;
  --spacing-system-cssVars-base-padding-x: max(5vw, 40px);
  --spacing-system-cssVars-base-padding-y: clamp(30px, 4vw, 50px);
  --spacing-system-elements-header-paddingTop: 50px;
  --spacing-system-elements-header-paddingRight: 64px;
  --spacing-system-elements-header-paddingBottom: 50px;
  --spacing-system-elements-header-paddingLeft: 64px;
  --spacing-system-elements-button-paddingRight: 21px;
  --spacing-system-elements-button-paddingLeft: 14px;
  --spacing-system-elements-button-gap: 8.75px;
  --spacing-system-elements-button-rowGap: 8.75px;
  --spacing-system-elements-button-columnGap: 8.75px;
  --spacing-system-elements-button-borderRadius: 100px;
  --spacing-system-elements-input-paddingTop: 25px;
  --spacing-system-elements-input-paddingRight: 25px;
  --spacing-system-elements-input-paddingBottom: 25px;
  --spacing-system-elements-input-paddingLeft: 25px;
  --spacing-system-elements-input-borderRadius: 18px;
  --spacing-system-elements-section-paddingTop: 50px;
  --spacing-system-elements-section-paddingRight: 64px;
  --spacing-system-elements-section-paddingBottom: 50px;
  --spacing-system-elements-section-paddingLeft: 64px;
  --spacing-system-elements-section-gap: normal 25.6px;
  --spacing-system-elements-section-columnGap: 25.6px;
  --spacing-system-elements-cta-paddingTop: 14px;
  --spacing-system-elements-cta-paddingRight: 21px;
  --spacing-system-elements-cta-paddingBottom: 14px;
  --spacing-system-elements-cta-paddingLeft: 22.75px;
  --spacing-system-elements-cta-marginTop: 86.4px;
  --spacing-system-elements-cta-gap: 14px;
  --spacing-system-elements-cta-rowGap: 14px;
  --spacing-system-elements-cta-columnGap: 14px;
  --spacing-system-elements-cta-borderRadius: 74.375px;
}
