:root {
  --spacing-system-cssVars-site-side-spacing: 1.25rem;
  --spacing-system-cssVars-site-side-spacing-md: 2.5rem;
  --spacing-system-cssVars-site-side-spacing-wide: 1.25rem;
  --spacing-system-cssVars-site-side-spacing-wide-md: 2.5rem;
  --spacing-system-cssVars-site-side-spacing-wide-lg: 5.5rem;
  --spacing-system-cssVars-container-spacing: 5rem;
  --spacing-system-cssVars-container-spacing-md: 10rem;
  --spacing-system-cssVars-container-row-spacing: 3rem;
  --spacing-system-cssVars-container-row-spacing-md: 5rem;
  --spacing-system-cssVars-gutter: 0.32rem;
  --spacing-system-cssVars-gutter-md: 3rem;
  --spacing-system-cssVars-row-spacing: 1rem;
  --spacing-system-cssVars-row-spacing-md: 1rem;
  --spacing-system-cssVars-element-spacing: 1rem;
  --spacing-system-cssVars-button-border-radius: 0;
  --spacing-system-elements-header-paddingRight: 40px;
  --spacing-system-elements-header-paddingLeft: 40px;
  --spacing-system-elements-header-marginRight: 144px;
  --spacing-system-elements-header-marginLeft: 144px;
  --spacing-system-elements-button-paddingTop: 12px;
  --spacing-system-elements-button-paddingRight: 12px;
  --spacing-system-elements-button-paddingBottom: 12px;
  --spacing-system-elements-button-paddingLeft: 12px;
  --spacing-system-elements-button-marginRight: 40px;
  --spacing-system-elements-input-paddingTop: 8px;
  --spacing-system-elements-input-paddingRight: 12px;
  --spacing-system-elements-input-paddingBottom: 8px;
  --spacing-system-elements-input-paddingLeft: 40px;
  --spacing-system-elements-li-marginRight: 24px;
  --spacing-system-elements-container-paddingRight: 88px;
  --spacing-system-elements-container-paddingLeft: 88px;
  --spacing-system-elements-container-marginTop: 120px;
  --spacing-system-elements-container-marginRight: 144px;
  --spacing-system-elements-container-marginLeft: 144px;
  --spacing-system-elements-wrapper-marginRight: 144px;
  --spacing-system-elements-wrapper-marginLeft: 144px;
  --spacing-system-elements-card-paddingBottom: 18px;
  --spacing-system-elements-hero-marginRight: 40px;
  --spacing-system-elements-hero-marginLeft: 40px;
  --spacing-system-elements-row-paddingRight: 40px;
  --spacing-system-elements-row-paddingLeft: 40px;
  --spacing-system-elements-row-marginRight: 344px;
  --spacing-system-elements-row-marginLeft: 344px;
  --spacing-system-elements-cta-paddingTop: 12px;
  --spacing-system-elements-cta-paddingRight: 12px;
  --spacing-system-elements-cta-paddingBottom: 12px;
  --spacing-system-elements-cta-paddingLeft: 12px;
  --spacing-system-elements-cta-marginRight: 40px;
  --spacing-system-elements-div-2-marginTop: 160px;
  --spacing-system-elements-div-2-marginBottom: 160px;
}
