:root {
  --motion-system-videos-count: 5;
  --motion-system-videos-animatedGifs: 0;
  --motion-system-performance-totalAnimatedElements: 43;
  --motion-system-performance-simultaneousAnimations: 11;
  --motion-system-performance-videoLoad: heavy;
  --motion-system-performance-complexAnimations: 34;
  --motion-system-performance-summary-videos: 5;
  --motion-system-performance-summary-animatedGifs: 0;
  --motion-system-performance-summary-keyframes: 53;
  --motion-system-performance-summary-scrollLibraries: 0;
}
