:root {
  --type-system-cssVars-ds-font-family-segoe-variable-display: "Segoe UI Variable Display","Segoe UI",segoeui,"Helvetica Neue",helvetica,arial,sans-serif;
  --type-system-cssVars-ds-font-family-segoe-variable-text: "Segoe UI Variable Text","Segoe UI",segoeui,"Helvetica Neue",helvetica,arial,sans-serif;
  --type-system-cssVars-ds-font-family-segoe-variable-small: "Segoe UI Variable Small","Segoe UI",segoeui,"Helvetica Neue",helvetica,arial,sans-serif;
  --type-system-cssVars-ds-body-font-weight: 400;
  --type-system-cssVars-ds-body-font-size: 1rem;
  --type-system-cssVars-ds-body-line-height: 1.5rem;
  --type-system-cssVars-ds-body-letter-spacing: -0.03em;
  --type-system-cssVars-ds-heading-3xl-font-weight: 400;
  --type-system-cssVars-ds-heading-3xl-font-size: 4.75rem;
  --type-system-cssVars-ds-heading-3xl-line-height: 5.125rem;
  --type-system-cssVars-ds-heading-3xl-letter-spacing: -0.025em;
  --type-system-cssVars-ds-heading-2xl-font-weight: 400;
  --type-system-cssVars-ds-heading-2xl-font-size: 3.5rem;
  --type-system-cssVars-ds-heading-2xl-line-height: 3.875rem;
  --type-system-cssVars-ds-heading-2xl-letter-spacing: -0.025em;
  --type-system-cssVars-ds-heading-xl-font-weight: 500;
  --type-system-cssVars-ds-heading-xl-font-size: 3rem;
  --type-system-cssVars-ds-heading-xl-line-height: 3.5rem;
  --type-system-cssVars-ds-heading-xl-letter-spacing: -0.025em;
  --type-system-cssVars-ds-heading-l-font-weight: 500;
  --type-system-cssVars-ds-heading-l-font-size: 2.5rem;
  --type-system-cssVars-ds-heading-l-line-height: 3rem;
  --type-system-cssVars-ds-heading-l-letter-spacing: -0.025em;
  --type-system-cssVars-ds-heading-m-font-weight: 500;
  --type-system-cssVars-ds-heading-m-font-size: 2rem;
  --type-system-cssVars-ds-heading-m-line-height: 2.5rem;
  --type-system-cssVars-ds-heading-m-letter-spacing: -0.025em;
  --type-system-cssVars-ds-heading-s-font-weight: 500;
  --type-system-cssVars-ds-heading-s-font-size: 1.5rem;
  --type-system-cssVars-ds-heading-s-line-height: 2rem;
  --type-system-cssVars-ds-heading-s-letter-spacing: -0.015em;
  --type-system-cssVars-ds-heading-xs-font-weight: 500;
  --type-system-cssVars-ds-heading-xs-font-size: 1.25rem;
  --type-system-cssVars-ds-heading-xs-line-height: 1.75rem;
  --type-system-cssVars-ds-heading-xs-letter-spacing: -0.01em;
  --type-system-cssVars-ds-heading-2xs-font-weight: 600;
  --type-system-cssVars-ds-heading-2xs-font-size: 1.125rem;
  --type-system-cssVars-ds-heading-2xs-line-height: 1.5rem;
  --type-system-cssVars-ds-heading-2xs-letter-spacing: normal;
  --type-system-cssVars-ds-heading-3xs-font-weight: 600;
  --type-system-cssVars-ds-heading-3xs-font-size: 1rem;
  --type-system-cssVars-ds-heading-3xs-line-height: 1.5rem;
  --type-system-cssVars-ds-heading-3xs-letter-spacing: normal;
  --type-system-cssVars-ds-body-l-font-weight: 400;
  --type-system-cssVars-ds-body-l-font-size: 1.125rem;
  --type-system-cssVars-ds-body-l-line-height: 1.75rem;
  --type-system-cssVars-ds-body-l-letter-spacing: -0.03em;
  --type-system-cssVars-ds-body-m-font-weight: 400;
  --type-system-cssVars-ds-body-m-font-size: 1rem;
  --type-system-cssVars-ds-body-m-line-height: 1.5rem;
  --type-system-cssVars-ds-body-m-letter-spacing: -0.03em;
  --type-system-cssVars-ds-body-s-font-weight: 400;
  --type-system-cssVars-ds-body-s-font-size: .875rem;
  --type-system-cssVars-ds-body-s-line-height: 1.25rem;
  --type-system-cssVars-ds-body-s-letter-spacing: -0.03em;
  --type-system-cssVars-ds-body-xs-font-weight: 400;
  --type-system-cssVars-ds-body-xs-font-size: .75rem;
  --type-system-cssVars-ds-body-xs-line-height: 1rem;
  --type-system-cssVars-ds-body-xs-letter-spacing: -0.03em;
  --type-system-cssVars-ds-label-font-weight: 600;
  --type-system-cssVars-ds-label-font-size: .875rem;
  --type-system-cssVars-ds-label-line-height: 1.25rem;
  --type-system-cssVars-ds-label-letter-spacing: normal;
  --type-system-cssVars-ds-label-l-font-weight: 600;
  --type-system-cssVars-ds-label-l-font-size: 1rem;
  --type-system-cssVars-ds-label-l-line-height: 1.5rem;
  --type-system-cssVars-ds-label-l-letter-spacing: normal;
  --type-system-cssVars-ds-label-m-font-weight: 600;
  --type-system-cssVars-ds-label-m-font-size: .875rem;
  --type-system-cssVars-ds-label-m-line-height: 1.25rem;
  --type-system-cssVars-ds-label-m-letter-spacing: normal;
  --type-system-cssVars-ds-label-s-font-weight: 600;
  --type-system-cssVars-ds-label-s-font-size: .75rem;
  --type-system-cssVars-ds-label-s-line-height: 1rem;
  --type-system-cssVars-ds-label-s-letter-spacing: normal;
  --type-system-cssVars-ds-label-eyebrow-font-weight: 600;
  --type-system-cssVars-ds-label-eyebrow-font-size: .75rem;
  --type-system-cssVars-ds-label-eyebrow-line-height: 1rem;
  --type-system-cssVars-ds-label-eyebrow-letter-spacing: .08em;
  --type-system-cssVars-ds-action-button-font-weight: 600;
  --type-system-cssVars-ds-action-button-font-size: .9375rem;
  --type-system-cssVars-ds-action-button-line-height: 1.375rem;
  --type-system-cssVars-ds-action-button-letter-spacing: -0.02em;
  --type-system-cssVars-root-font-family-segoe-variable-display: "Segoe UI Variable Display","Segoe UI",segoeui,"Helvetica Neue",helvetica,arial,sans-serif;
  --type-system-cssVars-root-font-family-segoe-variable-text: "Segoe UI Variable Text","Segoe UI",segoeui,"Helvetica Neue",helvetica,arial,sans-serif;
  --type-system-cssVars-root-font-family-segoe-variable-small: "Segoe UI Variable Small","Segoe UI",segoeui,"Helvetica Neue",helvetica,arial,sans-serif;
  --type-system-cssVars-root-body-font-weight: 400;
  --type-system-cssVars-root-body-font-size: 1rem;
  --type-system-cssVars-root-body-line-height: 1.5rem;
  --type-system-cssVars-root-body-letter-spacing: -0.03em;
  --type-system-cssVars-root-marquee-font-weight: 400;
  --type-system-cssVars-root-marquee-font-size: 4.75rem;
  --type-system-cssVars-root-marquee-line-height: 5.125rem;
  --type-system-cssVars-root-marquee-letter-spacing: -0.025em;
  --type-system-cssVars-root-display-1-font-weight: 400;
  --type-system-cssVars-root-display-1-font-size: 3.5rem;
  --type-system-cssVars-root-display-1-line-height: 3.875rem;
  --type-system-cssVars-root-display-1-letter-spacing: -0.025em;
  --type-system-cssVars-root-display-2-font-weight: 500;
  --type-system-cssVars-root-display-2-font-size: 3rem;
  --type-system-cssVars-root-display-2-line-height: 3.5rem;
  --type-system-cssVars-root-display-2-letter-spacing: -0.025em;
  --type-system-cssVars-root-h1-font-weight: 500;
  --type-system-cssVars-root-h1-font-size: 2.5rem;
  --type-system-cssVars-root-h1-line-height: 3rem;
  --type-system-cssVars-root-h1-letter-spacing: -0.025em;
  --type-system-cssVars-root-h2-font-weight: 500;
  --type-system-cssVars-root-h2-font-size: 2rem;
  --type-system-cssVars-root-h2-line-height: 2.5rem;
  --type-system-cssVars-root-h2-letter-spacing: -0.025em;
  --type-system-cssVars-root-h3-font-weight: 500;
  --type-system-cssVars-root-h3-font-size: 1.5rem;
  --type-system-cssVars-root-h3-line-height: 2rem;
  --type-system-cssVars-root-h3-letter-spacing: -0.015em;
  --type-system-cssVars-root-h4-font-weight: 500;
  --type-system-cssVars-root-h4-font-size: 1.25rem;
  --type-system-cssVars-root-h4-line-height: 1.75rem;
  --type-system-cssVars-root-h4-letter-spacing: -0.01em;
  --type-system-cssVars-root-h5-font-weight: 600;
  --type-system-cssVars-root-h5-font-size: 1.125rem;
  --type-system-cssVars-root-h5-line-height: 1.5rem;
  --type-system-cssVars-root-h5-letter-spacing: normal;
  --type-system-cssVars-root-h6-font-weight: 600;
  --type-system-cssVars-root-h6-font-size: 1rem;
  --type-system-cssVars-root-h6-line-height: 1.5rem;
  --type-system-cssVars-root-h6-letter-spacing: normal;
  --type-system-cssVars-root-lead-font-weight: 400;
  --type-system-cssVars-root-lead-font-size: 1.125rem;
  --type-system-cssVars-root-lead-line-height: 1.75rem;
  --type-system-cssVars-root-lead-letter-spacing: -0.03em;
  --type-system-cssVars-root-base-font-weight: 400;
  --type-system-cssVars-root-base-font-size: 1rem;
  --type-system-cssVars-root-base-line-height: 1.5rem;
  --type-system-cssVars-root-base-letter-spacing: -0.03em;
  --type-system-cssVars-root-small-font-weight: 400;
  --type-system-cssVars-root-small-font-size: 0.875rem;
  --type-system-cssVars-root-small-line-height: 1.25rem;
  --type-system-cssVars-root-small-letter-spacing: -0.03em;
  --type-system-cssVars-root-x-small-font-weight: 400;
  --type-system-cssVars-root-x-small-font-size: 0.75rem;
  --type-system-cssVars-root-x-small-line-height: 1rem;
  --type-system-cssVars-root-x-small-letter-spacing: -0.03em;
  --type-system-cssVars-root-label-lead-font-weight: 600;
  --type-system-cssVars-root-label-lead-font-size: 1rem;
  --type-system-cssVars-root-label-lead-line-height: 1.5rem;
  --type-system-cssVars-root-label-lead-letter-spacing: normal;
  --type-system-cssVars-root-label-font-weight: 600;
  --type-system-cssVars-root-label-font-size: 0.875rem;
  --type-system-cssVars-root-label-line-height: 1.25rem;
  --type-system-cssVars-root-label-letter-spacing: normal;
  --type-system-cssVars-root-label-small-font-weight: 600;
  --type-system-cssVars-root-label-small-font-size: 0.75rem;
  --type-system-cssVars-root-label-small-line-height: 1rem;
  --type-system-cssVars-root-label-small-letter-spacing: normal;
  --type-system-cssVars-root-label-eyebrow-font-weight: 600;
  --type-system-cssVars-root-label-eyebrow-font-size: 0.75rem;
  --type-system-cssVars-root-label-eyebrow-line-height: 1rem;
  --type-system-cssVars-root-label-eyebrow-letter-spacing: 0.08em;
  --type-system-cssVars-root-icon-xs-font-size: 0.75rem;
  --type-system-cssVars-root-icon-s-font-size: 1rem;
  --type-system-cssVars-root-icon-m-font-size: 1.25rem;
  --type-system-cssVars-root-icon-l-font-size: 1.5rem;
  --type-system-cssVars-root-icon-xl-font-size: 2rem;
  --type-system-cssVars-root-icon-2xl-font-size: 2.5rem;
  --type-system-cssVars-root-icon-3xl-font-size: 3rem;
  --type-system-cssVars-root-icon-4xl-font-size: 4rem;
  --type-system-typeScale-h1-fontFamily: Segoe UI Variable Display, Segoe UI, segoeui, Helvetica Neue, helvetica, arial, sans-serif;
  --type-system-typeScale-h1-fontSize: 44px;
  --type-system-typeScale-h1-fontWeight: 500;
  --type-system-typeScale-h1-lineHeight: 56px;
  --type-system-typeScale-h1-letterSpacing: -1.1px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h2-fontFamily: Segoe UI Variable Display, Segoe UI, segoeui, Helvetica Neue, helvetica, arial, sans-serif;
  --type-system-typeScale-h2-fontSize: 24px;
  --type-system-typeScale-h2-fontWeight: 400;
  --type-system-typeScale-h2-lineHeight: 28px;
  --type-system-typeScale-h2-letterSpacing: -0.24px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h3-fontFamily: Segoe UI Variable Display, Segoe UI, segoeui, Helvetica Neue, helvetica, arial, sans-serif;
  --type-system-typeScale-h3-fontSize: 24px;
  --type-system-typeScale-h3-fontWeight: 500;
  --type-system-typeScale-h3-lineHeight: 32px;
  --type-system-typeScale-h3-letterSpacing: -0.36px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h4-fontFamily: Segoe UI Variable Display, Segoe UI, segoeui, Helvetica Neue, helvetica, arial, sans-serif;
  --type-system-typeScale-h4-fontSize: 22px;
  --type-system-typeScale-h4-fontWeight: 500;
  --type-system-typeScale-h4-lineHeight: 28px;
  --type-system-typeScale-h4-letterSpacing: -0.22px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-body-fontFamily: Segoe UI Variable Text, Segoe UI, segoeui, Helvetica Neue, helvetica, arial, sans-serif;
  --type-system-typeScale-body-fontSize: 16px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 24px;
  --type-system-typeScale-body-letterSpacing: -0.48px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-button-fontFamily: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  --type-system-typeScale-button-fontSize: 15px;
  --type-system-typeScale-button-fontWeight: 400;
  --type-system-typeScale-button-lineHeight: normal;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-link-fontFamily: Segoe UI Variable Text, Segoe UI, segoeui, Helvetica Neue, helvetica, arial, sans-serif;
  --type-system-typeScale-link-fontSize: 16px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: normal;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-textDecoration: underline;
  --type-system-typeScale-nav-fontFamily: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  --type-system-typeScale-nav-fontSize: 13px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: normal;
  --type-system-typeScale-nav-wordSpacing: 0px;
}
