:root {
  --grid-system-cssVars-sk-focus-offset-container: 3px;
  --grid-system-cssVars-tile-card-gutter: 20px;
  --grid-system-container-maxWidth: 1260px;
  --grid-system-grids-PaddleNav-grid--l38V7-display: flex;
  --grid-system-grids-PaddleNav-grid--l38V7-flexDirection: row;
  --grid-system-grids-PaddleNav-grid--l38V7-gap: 20px;
  --grid-system-grids-PaddleNav-grid--l38V7-justifyContent: center;
  --grid-system-grids-PaddleNav-grid--l38V7-childCount: 2;
  --grid-system-grids-PaddleNav-grid--l38V7-parentSection: section;
  --grid-system-grids-PaddleNav-grid--l38V7-2-display: flex;
  --grid-system-grids-PaddleNav-grid--l38V7-2-flexDirection: row;
  --grid-system-grids-PaddleNav-grid--l38V7-2-gap: 20px;
  --grid-system-grids-PaddleNav-grid--l38V7-2-justifyContent: center;
  --grid-system-grids-PaddleNav-grid--l38V7-2-childCount: 2;
  --grid-system-grids-PaddleNav-grid--l38V7-2-parentSection: section;
  --grid-system-grids-PaddleNav-grid--l38V7-3-display: flex;
  --grid-system-grids-PaddleNav-grid--l38V7-3-flexDirection: row;
  --grid-system-grids-PaddleNav-grid--l38V7-3-gap: 20px;
  --grid-system-grids-PaddleNav-grid--l38V7-3-justifyContent: center;
  --grid-system-grids-PaddleNav-grid--l38V7-3-childCount: 2;
  --grid-system-grids-PaddleNav-grid--l38V7-3-parentSection: section;
  --grid-system-grids-why-apple-is-the-bestplace-to-display: flex;
  --grid-system-grids-why-apple-is-the-bestplace-to-flexDirection: row;
  --grid-system-grids-why-apple-is-the-bestplace-to-gap: 26px 80px;
  --grid-system-grids-why-apple-is-the-bestplace-to-flexWrap: wrap;
  --grid-system-grids-why-apple-is-the-bestplace-to-justifyContent: space-between;
  --grid-system-grids-why-apple-is-the-bestplace-to-alignItems: flex-end;
  --grid-system-grids-why-apple-is-the-bestplace-to-childCount: 2;
  --grid-system-grids-why-apple-is-the-bestplace-to-parentSection: section;
  --grid-system-grids-ways-to-buy-display: flex;
  --grid-system-grids-ways-to-buy-flexDirection: row;
  --grid-system-grids-ways-to-buy-gap: 20px;
  --grid-system-grids-ways-to-buy-childCount: 7;
  --grid-system-grids-ways-to-buy-parentSection: section;
  --grid-system-grids-performance-and-battery-life-display: flex;
  --grid-system-grids-performance-and-battery-life-flexDirection: row;
  --grid-system-grids-performance-and-battery-life-gap: 20px;
  --grid-system-grids-performance-and-battery-life-childCount: 8;
  --grid-system-grids-performance-and-battery-life-parentSection: section;
  --grid-system-grids-give-us-the-old-save-on-the-n-display: grid;
  --grid-system-grids-give-us-the-old-save-on-the-n-templateColumns: 620px 620px;
  --grid-system-grids-give-us-the-old-save-on-the-n-columnCount: 2;
  --grid-system-grids-give-us-the-old-save-on-the-n-templateRows: 583px;
  --grid-system-grids-give-us-the-old-save-on-the-n-gap: normal 20px;
  --grid-system-grids-give-us-the-old-save-on-the-n-childCount: 2;
  --grid-system-grids-give-us-the-old-save-on-the-n-parentSection: section;
  --grid-system-grids-mac-accessories-display: grid;
  --grid-system-grids-mac-accessories-templateColumns: 620px 620px;
  --grid-system-grids-mac-accessories-columnCount: 2;
  --grid-system-grids-mac-accessories-templateRows: 580px;
  --grid-system-grids-mac-accessories-gap: normal 20px;
  --grid-system-grids-mac-accessories-childCount: 2;
  --grid-system-grids-mac-accessories-parentSection: section;
  --grid-system-grids-unlock-the-world-of-apple-display: flex;
  --grid-system-grids-unlock-the-world-of-apple-flexDirection: row;
  --grid-system-grids-unlock-the-world-of-apple-gap: 26px 80px;
  --grid-system-grids-unlock-the-world-of-apple-flexWrap: wrap;
  --grid-system-grids-unlock-the-world-of-apple-justifyContent: space-between;
  --grid-system-grids-unlock-the-world-of-apple-alignItems: flex-end;
  --grid-system-grids-unlock-the-world-of-apple-childCount: 2;
  --grid-system-grids-unlock-the-world-of-apple-parentSection: section;
  --grid-system-grids-mac-and-iphone-display: grid;
  --grid-system-grids-mac-and-iphone-templateColumns: 507.5px 752.5px;
  --grid-system-grids-mac-and-iphone-columnCount: 2;
  --grid-system-grids-mac-and-iphone-templateRows: 784px;
  --grid-system-grids-mac-and-iphone-childCount: 2;
  --grid-system-grids-mac-and-iphone-parentSection: section;
  --grid-system-responsive-bp-569px-query: (max-width: 569px);
  --grid-system-responsive-bp-569px-display: none;
  --grid-system-responsive-bp-605px-query: only screen and (max-width: 605px);
  --grid-system-responsive-bp-605px-display: inline-block;
  --grid-system-responsive-bp-640px-query: only screen and (max-width: 640px);
  --grid-system-responsive-bp-640px-flexDirection: column;
  --grid-system-responsive-bp-640px-display: block;
  --grid-system-responsive-bp-641px-query: only screen and (min-width: 641px) and (max-width: 833px);
  --grid-system-responsive-bp-641px-maxWidth: 50%;
  --grid-system-responsive-bp-734px-query: only screen and (max-width: 734px);
  --grid-system-responsive-bp-734px-maxWidth: 100%;
  --grid-system-responsive-bp-734px-display: block;
  --grid-system-responsive-bp-734px-flexDirection: column;
  --grid-system-responsive-bp-734px-columnGap: 28px;
  --grid-system-responsive-bp-734px-rowGap: 28px;
  --grid-system-responsive-bp-735px-query: (min-width: 735px) and (max-width: 1068px);
  --grid-system-responsive-bp-735px-maxWidth: 75%;
  --grid-system-responsive-bp-833px-query: only screen and (max-width: 833px);
  --grid-system-responsive-bp-833px-display: flex;
  --grid-system-responsive-bp-833px-maxWidth: none;
  --grid-system-responsive-bp-833px-flexDirection: column;
  --grid-system-responsive-bp-833px-flexWrap: wrap;
  --grid-system-responsive-bp-834px-query: only screen and (min-width: 834px);
  --grid-system-responsive-bp-834px-display: contents;
  --grid-system-responsive-bp-834px-maxWidth: calc(1024px - var(--r-globalnav-scrollbar-width));
}
