:root {
  --spacing-system-elements-nav-marginLeft: 143.992px;
  --spacing-system-elements-section-paddingTop: 162px;
  --spacing-system-elements-section-paddingBottom: 177.188px;
  --spacing-system-elements-button-borderRadius: 100%;
  --spacing-system-elements-li-marginRight: 13.5px;
  --spacing-system-elements-container-marginBottom: 36.7875px;
  --spacing-system-elements-content-marginBottom: 45.5625px;
  --spacing-system-elements-grid-paddingRight: 71.9922px;
  --spacing-system-elements-grid-paddingLeft: 71.9922px;
  --spacing-system-elements-grid-marginBottom: 136.688px;
  --spacing-system-elements-grid-gap: normal 4.16667%;
  --spacing-system-elements-grid-columnGap: 4.16667%;
  --spacing-system-elements-row-marginRight: 8.4375px;
  --spacing-system-elements-cta-paddingTop: 17.6256px;
  --spacing-system-elements-cta-paddingRight: 25.92px;
  --spacing-system-elements-cta-paddingBottom: 19.3536px;
  --spacing-system-elements-cta-paddingLeft: 25.92px;
  --spacing-system-elements-cta-borderRadius: 1000px;
  --spacing-system-elements-div-1-paddingBottom: 50.625px;
  --spacing-system-elements-div-1-marginLeft: 71.9922px;
  --spacing-system-elements-we-believe-that-in-a-world-whe-paddingTop: 62.4375px;
  --spacing-system-elements-we-believe-that-in-a-world-whe-paddingBottom: 77.625px;
  --spacing-system-elements-flexible-services-paddingTop: 64.125px;
  --spacing-system-elements-flexible-services-paddingRight: 71.9922px;
  --spacing-system-elements-flexible-services-paddingBottom: 69.1875px;
  --spacing-system-elements-flexible-services-paddingLeft: 71.9922px;
  --spacing-system-elements-on-demand-paddingTop: 64.125px;
  --spacing-system-elements-on-demand-paddingRight: 71.9922px;
  --spacing-system-elements-on-demand-paddingBottom: 69.1875px;
  --spacing-system-elements-on-demand-paddingLeft: 71.9922px;
  --spacing-system-elements-ownership-paddingTop: 64.125px;
  --spacing-system-elements-ownership-paddingRight: 71.9922px;
  --spacing-system-elements-ownership-paddingBottom: 69.1875px;
  --spacing-system-elements-ownership-paddingLeft: 71.9922px;
  --spacing-system-elements-div-6-paddingTop: 54px;
  --spacing-system-elements-div-6-paddingRight: 71.9922px;
  --spacing-system-elements-div-6-paddingBottom: 70.875px;
  --spacing-system-elements-div-6-paddingLeft: 71.9922px;
  --spacing-system-elements-rewarding-membership-paddingTop: 62.4375px;
}
