:root {
  --grid-system-grids-header-bg-img-grid-display: grid;
  --grid-system-grids-header-bg-img-grid-templateColumns: 1186.43px 541.57px;
  --grid-system-grids-header-bg-img-grid-columnCount: 2;
  --grid-system-grids-header-bg-img-grid-templateRows: 936px;
  --grid-system-grids-header-bg-img-grid-childCount: 2;
  --grid-system-grids-header-bg-img-grid-parentSection: section;
  --grid-system-grids-header-btn-grid-display: grid;
  --grid-system-grids-header-btn-grid-templateColumns: 270.781px 270.781px;
  --grid-system-grids-header-btn-grid-columnCount: 2;
  --grid-system-grids-header-btn-grid-templateRows: 936px;
  --grid-system-grids-header-btn-grid-childCount: 2;
  --grid-system-grids-header-btn-grid-parentSection: section;
  --grid-system-grids-header-bg-img-grid-tablet-mob-display: grid;
  --grid-system-grids-header-bg-img-grid-tablet-mob-templateColumns: auto 270.788px 270.788px;
  --grid-system-grids-header-bg-img-grid-tablet-mob-columnCount: 3;
  --grid-system-grids-header-bg-img-grid-tablet-mob-childCount: 2;
  --grid-system-grids-header-bg-img-grid-tablet-mob-parentSection: section;
  --grid-system-grids-financial-software-development-display: grid;
  --grid-system-grids-financial-software-development-templateColumns: 788.305px 788.312px;
  --grid-system-grids-financial-software-development-columnCount: 2;
  --grid-system-grids-financial-software-development-templateRows: 420.664px;
  --grid-system-grids-financial-software-development-gap: normal 16.6px;
  --grid-system-grids-financial-software-development-childCount: 2;
  --grid-system-grids-financial-software-development-parentSection: section;
  --grid-system-grids-multi-tenant-telemedicine-saas-display: grid;
  --grid-system-grids-multi-tenant-telemedicine-saas-templateColumns: 788.305px 788.312px;
  --grid-system-grids-multi-tenant-telemedicine-saas-columnCount: 2;
  --grid-system-grids-multi-tenant-telemedicine-saas-templateRows: 473.789px;
  --grid-system-grids-multi-tenant-telemedicine-saas-gap: normal 16.6px;
  --grid-system-grids-multi-tenant-telemedicine-saas-childCount: 2;
  --grid-system-grids-multi-tenant-telemedicine-saas-parentSection: section;
  --grid-system-grids-reasons-grid-wrapper-display: grid;
  --grid-system-grids-reasons-grid-wrapper-templateColumns: 545.117px 545.125px 511.445px;
  --grid-system-grids-reasons-grid-wrapper-columnCount: 3;
  --grid-system-grids-reasons-grid-wrapper-templateRows: 291.648px 291.648px;
  --grid-system-grids-reasons-grid-wrapper-gap: 53.95px 32.038px;
  --grid-system-grids-reasons-grid-wrapper-childCount: 6;
  --grid-system-grids-reasons-grid-wrapper-parentSection: section;
  --grid-system-grids-services-grid-wrapper-display: grid;
  --grid-system-grids-services-grid-wrapper-templateColumns: 393.156px 393.156px 393.156px 393.164px;
  --grid-system-grids-services-grid-wrapper-columnCount: 4;
  --grid-system-grids-services-grid-wrapper-templateRows: 352.75px;
  --grid-system-grids-services-grid-wrapper-gap: normal 31.042px;
  --grid-system-grids-services-grid-wrapper-childCount: 4;
  --grid-system-grids-services-grid-wrapper-parentSection: section;
  --grid-system-grids-reviews-grid-wrapper-display: grid;
  --grid-system-grids-reviews-grid-wrapper-templateColumns: 534.555px 534.555px 534.562px;
  --grid-system-grids-reviews-grid-wrapper-columnCount: 3;
  --grid-system-grids-reviews-grid-wrapper-templateRows: 1331.66px;
  --grid-system-grids-reviews-grid-wrapper-gap: 0px 31.042px;
  --grid-system-grids-reviews-grid-wrapper-childCount: 3;
  --grid-system-grids-reviews-grid-wrapper-parentSection: section;
  --grid-system-grids-button-text-arrow-component-display: flex;
  --grid-system-grids-button-text-arrow-component-flexDirection: row;
  --grid-system-grids-button-text-arrow-component-gap: normal 12.45px;
  --grid-system-grids-button-text-arrow-component-justifyContent: center;
  --grid-system-grids-button-text-arrow-component-alignItems: center;
  --grid-system-grids-button-text-arrow-component-childCount: 2;
  --grid-system-grids-button-text-arrow-component-parentSection: nav;
  --grid-system-grids-button-text-arrow-component-2-display: flex;
  --grid-system-grids-button-text-arrow-component-2-flexDirection: row;
  --grid-system-grids-button-text-arrow-component-2-gap: normal 12.45px;
  --grid-system-grids-button-text-arrow-component-2-justifyContent: center;
  --grid-system-grids-button-text-arrow-component-2-alignItems: center;
  --grid-system-grids-button-text-arrow-component-2-childCount: 2;
  --grid-system-grids-button-text-arrow-component-2-parentSection: section;
  --grid-system-grids-button-text-arrow-component-3-display: flex;
  --grid-system-grids-button-text-arrow-component-3-flexDirection: row;
  --grid-system-grids-button-text-arrow-component-3-gap: normal 8.3px;
  --grid-system-grids-button-text-arrow-component-3-justifyContent: center;
  --grid-system-grids-button-text-arrow-component-3-alignItems: center;
  --grid-system-grids-button-text-arrow-component-3-childCount: 2;
  --grid-system-grids-button-text-arrow-component-3-parentSection: section;
  --grid-system-grids-button-text-arrow-component-4-display: flex;
  --grid-system-grids-button-text-arrow-component-4-flexDirection: row;
  --grid-system-grids-button-text-arrow-component-4-gap: normal 8.3px;
  --grid-system-grids-button-text-arrow-component-4-justifyContent: center;
  --grid-system-grids-button-text-arrow-component-4-alignItems: center;
  --grid-system-grids-button-text-arrow-component-4-childCount: 2;
  --grid-system-grids-button-text-arrow-component-4-parentSection: section;
  --grid-system-grids-button-text-arrow-component-5-display: flex;
  --grid-system-grids-button-text-arrow-component-5-flexDirection: row;
  --grid-system-grids-button-text-arrow-component-5-gap: normal 12.45px;
  --grid-system-grids-button-text-arrow-component-5-justifyContent: center;
  --grid-system-grids-button-text-arrow-component-5-alignItems: center;
  --grid-system-grids-button-text-arrow-component-5-childCount: 2;
  --grid-system-grids-button-text-arrow-component-5-parentSection: section;
  --grid-system-grids-button-text-arrow-component-6-display: flex;
  --grid-system-grids-button-text-arrow-component-6-flexDirection: row;
  --grid-system-grids-button-text-arrow-component-6-gap: normal 12.45px;
  --grid-system-grids-button-text-arrow-component-6-justifyContent: center;
  --grid-system-grids-button-text-arrow-component-6-alignItems: center;
  --grid-system-grids-button-text-arrow-component-6-childCount: 2;
  --grid-system-grids-button-text-arrow-component-6-parentSection: section;
  --grid-system-grids-button-text-arrow-component-7-display: flex;
  --grid-system-grids-button-text-arrow-component-7-flexDirection: row;
  --grid-system-grids-button-text-arrow-component-7-gap: normal 12.45px;
  --grid-system-grids-button-text-arrow-component-7-justifyContent: center;
  --grid-system-grids-button-text-arrow-component-7-alignItems: center;
  --grid-system-grids-button-text-arrow-component-7-childCount: 2;
  --grid-system-grids-button-text-arrow-component-7-parentSection: section;
  --grid-system-responsive-bp-1200px-query: screen and (max-width: 1200px) and (min-width: 991px);
  --grid-system-responsive-bp-1200px-display: none;
  --grid-system-responsive-bp-1200px-columnGap: 0px;
  --grid-system-responsive-bp-1200px-rowGap: 0px;
  --grid-system-responsive-bp-1200px-gridTemplateColumns: auto 32.625rem;
  --grid-system-responsive-bp-1200px-gridTemplateRows: 62.5rem;
  --grid-system-responsive-bp-1200px-flexDirection: column;
  --grid-system-responsive-bp-1200px-maxWidth: 16ch;
  --grid-system-responsive-bp-1400px-query: screen and (max-width: 1400px) and (min-width: 1200px);
  --grid-system-responsive-bp-1400px-display: grid;
  --grid-system-responsive-bp-1400px-columnGap: 0px;
  --grid-system-responsive-bp-1400px-rowGap: 0px;
  --grid-system-responsive-bp-1400px-gridTemplateColumns: auto 32.625rem;
  --grid-system-responsive-bp-1400px-gridTemplateRows: 62.5rem;
}
