:root {
  --type-system-typeScale-h1-fontFamily: Brilliant Cut, Almarai, Helvetica, Arial, sans-serif;
  --type-system-typeScale-h1-fontSize: 32px;
  --type-system-typeScale-h1-fontWeight: 700;
  --type-system-typeScale-h1-lineHeight: 48px;
  --type-system-typeScale-h1-letterSpacing: 0.5px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-primaryFont: Brilliant Cut;
  --type-system-typeScale-h2-fontFamily: Brilliant Cut, Almarai, Helvetica, Arial, sans-serif;
  --type-system-typeScale-h2-fontSize: 21.049px;
  --type-system-typeScale-h2-fontWeight: 600;
  --type-system-typeScale-h2-lineHeight: 31.5734px;
  --type-system-typeScale-h2-letterSpacing: 0.4px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-textTransform: uppercase;
  --type-system-typeScale-h2-primaryFont: Brilliant Cut;
  --type-system-typeScale-body-fontFamily: Brilliant Cut, Almarai, Helvetica, Arial, sans-serif;
  --type-system-typeScale-body-fontSize: 16px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 24px;
  --type-system-typeScale-body-letterSpacing: 0.5px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Brilliant Cut;
  --type-system-typeScale-p-fontFamily: Brilliant Cut, Almarai, Helvetica, Arial, sans-serif;
  --type-system-typeScale-p-fontSize: 16px;
  --type-system-typeScale-p-fontWeight: 600;
  --type-system-typeScale-p-lineHeight: 24px;
  --type-system-typeScale-p-letterSpacing: 0.5px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-textTransform: uppercase;
  --type-system-typeScale-p-primaryFont: Brilliant Cut;
  --type-system-typeScale-button-fontFamily: Arial;
  --type-system-typeScale-button-fontSize: 13.3333px;
  --type-system-typeScale-button-fontWeight: 400;
  --type-system-typeScale-button-lineHeight: normal;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-primaryFont: Arial;
  --type-system-typeScale-link-fontFamily: Brilliant Cut, Almarai, Helvetica, Arial, sans-serif;
  --type-system-typeScale-link-fontSize: 14px;
  --type-system-typeScale-link-fontWeight: 600;
  --type-system-typeScale-link-lineHeight: 21px;
  --type-system-typeScale-link-letterSpacing: 0.4px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-textTransform: uppercase;
  --type-system-typeScale-link-primaryFont: Brilliant Cut;
  --type-system-typeScale-nav-fontFamily: Brilliant Cut, Almarai, Helvetica, Arial, sans-serif;
  --type-system-typeScale-nav-fontSize: 12px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: 18px;
  --type-system-typeScale-nav-letterSpacing: 0.5px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-textTransform: uppercase;
  --type-system-typeScale-nav-primaryFont: Brilliant Cut;
}
