:root {
  --type-system-typeScale-h1-fontFamily: Apercu Condensed Pro, sans-serif;
  --type-system-typeScale-h1-fontSize: 84.48px;
  --type-system-typeScale-h1-fontWeight: 500;
  --type-system-typeScale-h1-lineHeight: 84.48px;
  --type-system-typeScale-h1-letterSpacing: 4.224px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-textTransform: uppercase;
  --type-system-typeScale-h1-primaryFont: Apercu Condensed Pro;
  --type-system-typeScale-h2-fontFamily: Apercu Condensed Pro, sans-serif;
  --type-system-typeScale-h2-fontSize: 41.6px;
  --type-system-typeScale-h2-fontWeight: 500;
  --type-system-typeScale-h2-lineHeight: 41.6px;
  --type-system-typeScale-h2-letterSpacing: 2.08px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-textTransform: uppercase;
  --type-system-typeScale-h2-primaryFont: Apercu Condensed Pro;
  --type-system-typeScale-h3-fontFamily: Apercu Condensed Pro;
  --type-system-typeScale-h3-fontSize: 42px;
  --type-system-typeScale-h3-fontWeight: 500;
  --type-system-typeScale-h3-lineHeight: 42px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h3-textTransform: uppercase;
  --type-system-typeScale-h3-primaryFont: Apercu Condensed Pro;
  --type-system-typeScale-h4-fontFamily: Apercu Condensed Pro;
  --type-system-typeScale-h4-fontSize: 81.92px;
  --type-system-typeScale-h4-fontWeight: 500;
  --type-system-typeScale-h4-lineHeight: 77.824px;
  --type-system-typeScale-h4-letterSpacing: 1.6px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-h4-textTransform: uppercase;
  --type-system-typeScale-h4-primaryFont: Apercu Condensed Pro;
  --type-system-typeScale-body-fontFamily: Apercu Condensed Pro, sans-serif;
  --type-system-typeScale-body-fontSize: 32px;
  --type-system-typeScale-body-fontWeight: 500;
  --type-system-typeScale-body-lineHeight: 35.2px;
  --type-system-typeScale-body-letterSpacing: 1.6px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-textTransform: uppercase;
  --type-system-typeScale-body-primaryFont: Apercu Condensed Pro;
  --type-system-typeScale-p-fontFamily: Apercu Condensed Pro, sans-serif;
  --type-system-typeScale-p-fontSize: 23.04px;
  --type-system-typeScale-p-fontWeight: 500;
  --type-system-typeScale-p-lineHeight: 25.344px;
  --type-system-typeScale-p-letterSpacing: 1.6px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: Apercu Condensed Pro;
  --type-system-typeScale-button-fontFamily: Apercu Condensed Pro;
  --type-system-typeScale-button-fontSize: 14px;
  --type-system-typeScale-button-fontWeight: 600;
  --type-system-typeScale-button-lineHeight: 35.2px;
  --type-system-typeScale-button-letterSpacing: 0.5px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-primaryFont: Apercu Condensed Pro;
  --type-system-typeScale-link-fontFamily: Apercu Condensed Pro;
  --type-system-typeScale-link-fontSize: 32px;
  --type-system-typeScale-link-fontWeight: 500;
  --type-system-typeScale-link-lineHeight: 35.2px;
  --type-system-typeScale-link-letterSpacing: 1.6px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-textTransform: uppercase;
  --type-system-typeScale-link-primaryFont: Apercu Condensed Pro;
  --type-system-typeScale-nav-fontFamily: Apercu Condensed Pro;
  --type-system-typeScale-nav-fontSize: 20px;
  --type-system-typeScale-nav-fontWeight: 500;
  --type-system-typeScale-nav-lineHeight: 35.2px;
  --type-system-typeScale-nav-letterSpacing: 1.5px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-textTransform: uppercase;
  --type-system-typeScale-nav-primaryFont: Apercu Condensed Pro;
}
