:root {
  --color-system-cssVars-color-neutral-200: #f4f4f4;
  --color-system-cssVars-color-neutral-800: #201d1d;
  --color-system-cssVars-color-purple: #6840ff;
  --color-system-cssVars-color-neutral-300: #eaeaea;
  --color-system-cssVars-color-neutral-450: #d8d8d8;
  --color-system-cssVars-color-neutral-500: #817f7f;
  --color-system-cssVars-color-coral: #f84131;
  --color-system-cssVars-color-neutral-700: #2a2727;
  --color-system-cssVars-color-neutral-400: #e1e1e1;
  --color-system-cssVars-color-neutral-600: #312e2e;
  --color-system-cssVars-color-electric: #a1ff62;
  --color-system-cssVars-color-neutral-550: #393636;
  --color-system-cssVars-color-neutral-475: #b8b8b8;
  --color-system-cssVars-color-neutral-950: black;
  --color-system-cssVars-color-neutral-900: #151313;
  --color-system-cssVars-color-neutral-100: white;
  --color-system-cssVars-color-neutral-525: #4f4c4c;
  --color-system-elements-pageBackground: #f4f4f4;
  --color-system-elements-bodyText: #201d1d;
  --color-system-elements-headingText: #f4f4f4;
  --color-system-elements-buttonText: #201d1d;
  --color-system-elements-linkColor: #f4f4f4;
  --color-system-elements-borderColor: #201d1d;
}
