:root {
  --color-system-elements-bodyText: #000000;
  --color-system-elements-headingText: #1c1d21;
  --color-system-elements-linkColor: #000000;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #000000;
  --color-system-elements-navLink: #000000;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #000000;
  --color-system-elements-navLinkScrolled: #000000;
  --color-system-elements-pageBackground: #ffffff;
}
