:root {
  --spacing-system-cssVars-safe-area-inset-top: 0px;
  --spacing-system-cssVars-safe-area-inset-bottom: 0px;
  --spacing-system-cssVars-safe-area-inset-left: 0px;
  --spacing-system-cssVars-safe-area-inset-right: 0px;
  --spacing-system-elements-nav-paddingRight: 24px;
  --spacing-system-elements-nav-paddingLeft: 24px;
  --spacing-system-elements-main-paddingRight: 32px;
  --spacing-system-elements-main-paddingLeft: 32px;
  --spacing-system-elements-footer-paddingTop: 48px;
  --spacing-system-elements-button-paddingTop: 4px;
  --spacing-system-elements-button-paddingRight: 8px;
  --spacing-system-elements-button-paddingBottom: 4px;
  --spacing-system-elements-button-paddingLeft: 8px;
  --spacing-system-elements-button-borderRadius: 8px;
  --spacing-system-elements-cta-paddingTop: 16px;
  --spacing-system-elements-cta-paddingRight: 24px;
  --spacing-system-elements-cta-paddingBottom: 16px;
  --spacing-system-elements-cta-paddingLeft: 24px;
  --spacing-system-elements-cta-borderRadius: 9999px;
  --spacing-system-elements-what-will-you-design-today-marginRight: 124px;
  --spacing-system-elements-what-will-you-design-today-marginLeft: 124px;
}
