:root {
  --type-system-cssVars--typography---paragraph-body--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---paragraph-body--font-size: 1rem;
  --type-system-cssVars--typography---paragraph-body--line-height: 1.6;
  --type-system-cssVars--typography---paragraph-body--font-weight: 400;
  --type-system-cssVars--typography---paragraph-body--letter-spacing: 0em;
  --type-system-cssVars--typography---h1--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---h1--font-size: clamp(2.75*1rem,((2.75 - ((5 - 2.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((5 - 2.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),5*1rem);
  --type-system-cssVars--typography---h1--line-height: 1.04;
  --type-system-cssVars--typography---h1--font-weight: 600;
  --type-system-cssVars--typography---h1--letter-spacing: -.01em;
  --type-system-cssVars--typography---h2--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---h2--font-size: clamp(2*1rem,((2 - ((3.5 - 2)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((3.5 - 2)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),3.5*1rem);
  --type-system-cssVars--typography---h2--line-height: 1.04;
  --type-system-cssVars--typography---h2--font-weight: 600;
  --type-system-cssVars--typography---h2--letter-spacing: 0em;
  --type-system-cssVars--typography---h3--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---h3--font-size: clamp(1.75*1rem,((1.75 - ((2.5 - 1.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((2.5 - 1.75)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),2.5*1rem);
  --type-system-cssVars--typography---h3--line-height: 1.2;
  --type-system-cssVars--typography---h3--font-weight: 600;
  --type-system-cssVars--typography---h3--letter-spacing: 0em;
  --type-system-cssVars--typography---h4--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---h4--font-size: clamp(1.375*1rem,((1.375 - ((2 - 1.375)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((2 - 1.375)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),2*1rem);
  --type-system-cssVars--typography---h4--line-height: 1.2;
  --type-system-cssVars--typography---h4--font-weight: 600;
  --type-system-cssVars--typography---h4--letter-spacing: 0em;
  --type-system-cssVars--typography---h5--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---h5--font-size: clamp(1.25*1rem,((1.25 - ((1.5 - 1.25)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.5 - 1.25)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.5*1rem);
  --type-system-cssVars--typography---h5--line-height: 1.3;
  --type-system-cssVars--typography---h5--font-weight: 600;
  --type-system-cssVars--typography---h5--letter-spacing: 0em;
  --type-system-cssVars--typography---h6--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---h6--font-size: clamp(1.125*1rem,((1.125 - ((1.25 - 1.125)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.25 - 1.125)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.25*1rem);
  --type-system-cssVars--typography---h6--line-height: 1.4;
  --type-system-cssVars--typography---h6--font-weight: 600;
  --type-system-cssVars--typography---h6--letter-spacing: 0em;
  --type-system-cssVars--typography---paragraph-body--bottom-margin: var(--_layout---spacing--margin-sm);
  --type-system-cssVars-colors--text: var(--_color---neutral--black);
  --type-system-cssVars--components---button--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--components---button--font-size: 1rem;
  --type-system-cssVars--components---button--line-height: 1.2em;
  --type-system-cssVars--components---button--font-weight: 500;
  --type-system-cssVars--components---button--letter-spacing: -.01em;
  --type-system-cssVars--size---0-5rem-deleted-variable-70a8c3ac-c656-f79e-479c-716ec38165c2-: .5rem;
  --type-system-cssVars--components---input--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--components---input--font-size: 1rem;
  --type-system-cssVars--components---input--line-height: 1.5em;
  --type-system-cssVars--components---input--font-weight: 400;
  --type-system-cssVars--components---input--letter-spacing: 0em;
  --type-system-cssVars--components---input-label--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--components---input-label--font-size: .9rem;
  --type-system-cssVars--components---input-label--line-height: 1.4em;
  --type-system-cssVars--components---input-label--font-weight: 500;
  --type-system-cssVars--typography---caption--letter-spacing: 0em;
  --type-system-cssVars--typography---eyebrow--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars-colors--text-secondary: var(--_color---neutral--gray-600);
  --type-system-cssVars--typography---eyebrow--font-size: clamp(1*1rem,((1 - ((1.25 - 1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.25 - 1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.25*1rem);
  --type-system-cssVars--typography---eyebrow--line-height: 1.4;
  --type-system-cssVars--typography---eyebrow--font-weight: 500;
  --type-system-cssVars--typography---eyebrow--letter-spacing: 0em;
  --type-system-cssVars--typography---paragraph-sm--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---paragraph-sm--font-size: .875rem;
  --type-system-cssVars--typography---paragraph-sm--line-height: 1.6;
  --type-system-cssVars--typography---paragraph-sm--font-weight: 400;
  --type-system-cssVars--typography---paragraph-sm--letter-spacing: 0em;
  --type-system-cssVars--typography---paragraph-lg--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---paragraph-lg--font-size: clamp(1.1*1rem,((1.1 - ((1.25 - 1.1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((1.25 - 1.1)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),1.25*1rem);
  --type-system-cssVars--typography---paragraph-lg--line-height: 1.5;
  --type-system-cssVars--typography---paragraph-lg--font-weight: 400;
  --type-system-cssVars--typography---paragraph-lg--letter-spacing: 0em;
  --type-system-cssVars--typography---paragraph-xl--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---paragraph-xl--font-size: clamp(1.5*1rem,((1.5 - ((2 - 1.5)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((2 - 1.5)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),2*1rem);
  --type-system-cssVars--typography---paragraph-xl--line-height: 1.4;
  --type-system-cssVars--typography---paragraph-xl--font-weight: 400;
  --type-system-cssVars-colors--primary-accent-text: color-mix(in hsl,var(--colors--primary-accent)92%,var(--colors--text)8%);
  --type-system-cssVars--typography---type-paragraph-lg--font-size-md-deleted-variable-cdbe9950-9272-2284-ccf6-60cab96acd5f-: 1.25rem;
  --type-system-cssVars--typography---type-paragraph-lg--font-size-sm-deleted-variable-841c9cf1-74b8-7850-db1d-b82cdc8d3013-: 1.1rem;
  --type-system-cssVars--typography---type-paragraph-lg--font-size-xs-deleted-variable-dab72a89-1875-a2f7-1d85-bd05f81dd817-: 1.1rem;
  --type-system-cssVars--typography---type-paragraph-sm--font-size-md-deleted-variable-94c5336e-6e13-9026-329b-a7b4ba64e183-: .9rem;
  --type-system-cssVars--typography---type-paragraph-sm--font-size-sm-deleted-variable-dce65071-f183-75c5-98aa-d8afc83560a0-: .9rem;
  --type-system-cssVars--typography---type-paragraph-sm--font-size-xs-deleted-variable-5ffbcc90-83d8-60d2-b7ba-601684d03f16-: .9rem;
  --type-system-cssVars--typography---subheading-xl--font-size: var(--_typography---h4--font-size);
  --type-system-cssVars--size---0-25rem-deleted-variable-2d47388d-3251-c56b-03c9-35dfc0a59c39-: .25rem;
  --type-system-cssVars--size---1rem-deleted-variable-461c7c57-ec3c-d23c-768b-c6de52a540e5-: 1rem;
  --type-system-cssVars--size---0-75rem-deleted-variable-51df6ead-a71c-263d-332f-348c569f6d5f-: .75rem;
  --type-system-cssVars--size---5rem-deleted-variable-ff14b77f-fe78-09a6-d1f0-e9e7c84aae7c-: 5rem;
  --type-system-cssVars--typography---caption--bottom-margin: var(--_layout---spacing--margin-sm);
  --type-system-cssVars--typography---caption--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---caption--font-size: .8rem;
  --type-system-cssVars--typography---caption--line-height: 1.2;
  --type-system-cssVars--typography---caption--font-weight: 550;
  --type-system-cssVars--typography---paragraph-xxl--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---paragraph-xxl--font-size: clamp(2*1rem,((2 - ((3.5 - 2)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((3.5 - 2)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),3.5*1rem);
  --type-system-cssVars--typography---paragraph-xxl--line-height: 1.2;
  --type-system-cssVars--typography---paragraph-xxl--font-weight: 400;
  --type-system-cssVars--typography---paragraph-xxl--letter-spacing: 0em;
  --type-system-cssVars--typography---h0--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---h0--font-size: clamp(3*1rem,((3 - ((7 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min))*var(--_layout---fluid--min)))*1rem + ((7 - 3)/(var(--_layout---fluid--max) - var(--_layout---fluid--min)))*100vw),7*1rem);
  --type-system-cssVars--typography---h0--line-height: 1.04;
  --type-system-cssVars--typography---h0--font-weight: 600;
  --type-system-cssVars--typography---h0--letter-spacing: 0em;
  --type-system-cssVars--typography---subheading-xxl--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---subheading-xxl--font-size: var(--_typography---h3--font-size);
  --type-system-cssVars--typography---subheading-xxl--line-height: 1.2;
  --type-system-cssVars--typography---subheading-xxl--font-weight: 500;
  --type-system-cssVars--typography---subheading-xxl--letter-spacing: 0em;
  --type-system-cssVars--typography---subheading-lg--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---subheading-lg--font-size: var(--_typography---h5--font-size);
  --type-system-cssVars--typography---subheading-lg--line-height: 1.3;
  --type-system-cssVars--typography---subheading-lg--font-weight: 500;
  --type-system-cssVars--typography---subheading-lg--letter-spacing: 0em;
  --type-system-cssVars--typography---subheading--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---subheading--font-size: var(--_typography---h6--font-size);
  --type-system-cssVars--typography---subheading--line-height: 1.4;
  --type-system-cssVars--typography---subheading--font-weight: 500;
  --type-system-cssVars--typography---subheading--letter-spacing: 0px;
  --type-system-cssVars--typography---paragraph-xs--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---paragraph-xs--font-size: .75rem;
  --type-system-cssVars--typography---paragraph-xs--line-height: 1.6;
  --type-system-cssVars--typography---paragraph-xs--font-weight: 400;
  --type-system-cssVars--typography---paragraph-xs--letter-spacing: 0em;
  --type-system-cssVars--typography---subheading-xxl--bottom-margin: var(--_layout---spacing--margin-sm);
  --type-system-cssVars--typography---subheading-xl--bottom-margin: var(--_layout---spacing--margin-xs);
  --type-system-cssVars--typography---subheading-xl--font: var(--_typography---fonts--primary-font);
  --type-system-cssVars--typography---subheading-xl--line-height: 1.3;
  --type-system-cssVars--typography---subheading-xl--font-weight: 500;
  --type-system-cssVars--typography---subheading-xl--letter-spacing: 0em;
  --type-system-cssVars--typography---subheading-lg--bottom-margin: var(--_layout---spacing--margin-xs);
  --type-system-cssVars--typography---subheading--bottom-margin: var(--_layout---spacing--margin-xs);
  --type-system-cssVars--components---image--float-size: max(-2vw,-3.5rem);
  --type-system-cssVars--typography---fonts--primary-font: "WF Visual Sans Variable",Arial,sans-serif;
  --type-system-cssVars--components---input-label--letter-spacing: 0em;
  --type-system-cssVars--typography---paragraph-xl--letter-spacing: 0em;
  --type-system-typeScale-h1-fontFamily: WF Visual Sans Variable, Arial, sans-serif;
  --type-system-typeScale-h1-fontSize: 74.8571px;
  --type-system-typeScale-h1-fontWeight: 600;
  --type-system-typeScale-h1-lineHeight: 77.8514px;
  --type-system-typeScale-h1-letterSpacing: -0.748571px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h2-fontFamily: WF Visual Sans Variable, Arial, sans-serif;
  --type-system-typeScale-h2-fontSize: 23.4286px;
  --type-system-typeScale-h2-fontWeight: 500;
  --type-system-typeScale-h2-lineHeight: 30.4571px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h3-fontFamily: WF Visual Sans Variable, Arial, sans-serif;
  --type-system-typeScale-h3-fontSize: 19.6571px;
  --type-system-typeScale-h3-fontWeight: 400;
  --type-system-typeScale-h3-lineHeight: 29.4857px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-body-fontFamily: WF Visual Sans Variable, Arial, sans-serif;
  --type-system-typeScale-body-fontSize: 16px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 25.6px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-button-fontFamily: WF Visual Sans Variable, Arial, sans-serif;
  --type-system-typeScale-button-fontSize: 14.8448px;
  --type-system-typeScale-button-fontWeight: 500;
  --type-system-typeScale-button-lineHeight: 23.7517px;
  --type-system-typeScale-button-letterSpacing: -0.148448px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-link-fontFamily: WF Visual Sans Variable, Arial, sans-serif;
  --type-system-typeScale-link-fontSize: 14px;
  --type-system-typeScale-link-fontWeight: 500;
  --type-system-typeScale-link-lineHeight: 22.4px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-nav-fontFamily: WF Visual Sans Variable, Arial, sans-serif;
  --type-system-typeScale-nav-fontSize: 28.1143px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: 44.9829px;
  --type-system-typeScale-nav-letterSpacing: -0.281143px;
  --type-system-typeScale-nav-wordSpacing: 0px;
}
