:root {
  --color-system-elements-bodyText: #000000;
  --color-system-elements-headingText: #000000;
  --color-system-elements-buttonText: #000000;
  --color-system-elements-linkColor: #212121;
  --color-system-elements-borderColor: #000000;
}
