:root {
  --spacing-system-cssVars-opal-gutter: 0px;
  --spacing-system-cssVars-opal-grid-gap: 16px;
  --spacing-system-elements-nav-paddingTop: 24px;
  --spacing-system-elements-nav-marginTop: 1px;
  --spacing-system-elements-nav-gap: normal 16px;
  --spacing-system-elements-nav-columnGap: 16px;
  --spacing-system-elements-nav-borderRadius: 8px;
  --spacing-system-elements-button-borderRadius: 9999px;
  --spacing-system-elements-hero-paddingRight: 20px;
  --spacing-system-elements-hero-paddingLeft: 20px;
  --spacing-system-elements-hero-marginTop: 15px;
  --spacing-system-elements-hero-borderRadius: 9999px;
  --spacing-system-elements-grid-paddingRight: 16px;
  --spacing-system-elements-grid-paddingLeft: 16px;
  --spacing-system-elements-grid-marginRight: 40px;
  --spacing-system-elements-grid-marginLeft: 40px;
  --spacing-system-elements-grid-gap: normal 16px;
  --spacing-system-elements-grid-columnGap: 16px;
  --spacing-system-elements-cta-paddingRight: 20px;
  --spacing-system-elements-cta-paddingLeft: 20px;
  --spacing-system-elements-cta-marginTop: 15px;
  --spacing-system-elements-cta-borderRadius: 9999px;
}
