:root {
  --grid-system-container-maxWidth: 800px;
  --grid-system-grids-c-dtJpVd-display: grid;
  --grid-system-grids-c-dtJpVd-templateColumns: 180px 246px 180px;
  --grid-system-grids-c-dtJpVd-columnCount: 3;
  --grid-system-grids-c-dtJpVd-templateRows: 180px 150px 150px;
  --grid-system-grids-c-dtJpVd-gap: 16px;
  --grid-system-grids-c-dtJpVd-childCount: 5;
  --grid-system-responsive-bp-425px-query: only screen and (max-width: 425px);
  --grid-system-responsive-bp-425px-display: block;
  --grid-system-responsive-bp-425px-maxWidth: 85%;
  --grid-system-responsive-bp-426px-query: only screen and (min-width: 426px) and (max-width: 896px);
  --grid-system-responsive-bp-426px-display: inline-block;
  --grid-system-responsive-bp-530px-query: only screen and (max-width: 530px);
  --grid-system-responsive-bp-530px-display: block;
  --grid-system-responsive-bp-640px-query: (max-width: 640px);
  --grid-system-responsive-bp-640px-maxWidth: 80%;
  --grid-system-responsive-bp-640px-display: inline-block;
  --grid-system-responsive-bp-767px-query: (max-width: 767px);
  --grid-system-responsive-bp-767px-maxWidth: 60%;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-flexDirection: row;
  --grid-system-responsive-bp-768px-flexWrap: wrap;
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-768px-maxWidth: 500px;
  --grid-system-responsive-bp-800px-query: only screen and (min-width: 800px);
  --grid-system-responsive-bp-800px-display: block;
  --grid-system-responsive-bp-992px-query: (min-width: 992px);
  --grid-system-responsive-bp-992px-display: block;
  --grid-system-responsive-bp-992px-maxWidth: 280px;
  --grid-system-responsive-bp-992px-flexDirection: column;
}
