:root {
  --grid-system-grids-grid-display: grid;
  --grid-system-grids-grid-templateColumns: 254.398px 254.398px 254.398px 254.398px 254.398px;
  --grid-system-grids-grid-columnCount: 5;
  --grid-system-grids-grid-templateRows: 192.82px 192.82px;
  --grid-system-grids-grid-gap: 12px;
  --grid-system-grids-grid-childCount: 10;
  --grid-system-grids-skip-setupcreate-now-display: flex;
  --grid-system-grids-skip-setupcreate-now-flexDirection: row;
  --grid-system-grids-skip-setupcreate-now-gap: normal 24px;
  --grid-system-grids-skip-setupcreate-now-justifyContent: space-between;
  --grid-system-grids-skip-setupcreate-now-childCount: 2;
  --grid-system-grids-flex-display: flex;
  --grid-system-grids-flex-flexDirection: row;
  --grid-system-grids-flex-gap: normal 10px;
  --grid-system-grids-flex-childCount: 2;
  --grid-system-grids-flex-2-display: flex;
  --grid-system-grids-flex-2-flexDirection: row;
  --grid-system-grids-flex-2-gap: 5px;
  --grid-system-grids-flex-2-childCount: 2;
  --grid-system-grids-flex-3-display: flex;
  --grid-system-grids-flex-3-flexDirection: row;
  --grid-system-grids-flex-3-gap: 5px;
  --grid-system-grids-flex-3-childCount: 2;
}
