:root {
  --type-system-cssVars-heading-color: #636f3d;
  --type-system-typeScale-h1-fontFamily: Aeonik, Arial, sans-serif;
  --type-system-typeScale-h1-fontSize: 76.8px;
  --type-system-typeScale-h1-fontWeight: 400;
  --type-system-typeScale-h1-lineHeight: 72.96px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h2-fontFamily: Aeonik, Arial, sans-serif;
  --type-system-typeScale-h2-fontSize: 33.792px;
  --type-system-typeScale-h2-fontWeight: 400;
  --type-system-typeScale-h2-lineHeight: 38.8608px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h3-fontFamily: Aeonik, Arial, sans-serif;
  --type-system-typeScale-h3-fontSize: 20.7667px;
  --type-system-typeScale-h3-fontWeight: 400;
  --type-system-typeScale-h3-lineHeight: 22.8434px;
  --type-system-typeScale-h3-letterSpacing: -0.207667px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-body-fontFamily: Arial, Helvetica Neue, Helvetica, sans-serif;
  --type-system-typeScale-body-fontSize: 12.288px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 20px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-button-fontFamily: Arial, Helvetica Neue, Helvetica, sans-serif;
  --type-system-typeScale-button-fontSize: 12.288px;
  --type-system-typeScale-button-fontWeight: 400;
  --type-system-typeScale-button-lineHeight: 20px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-link-fontFamily: Arial, Helvetica Neue, Helvetica, sans-serif;
  --type-system-typeScale-link-fontSize: 12.288px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: 20px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-textDecoration: underline;
}
