@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Jost:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');

:root {
  --type-system-cssVars-podium-cds-typography-heading-letter-spacing: 0.04em;
  --font-letter-spacing-heading: 0.04em;
  --type-system-cssVars-podium-cds-typography-320-to-959-oversize1: 500 6rem/1.1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-320-to-959-oversize2: 500 4.75rem/1.1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-320-to-959-oversize3: 500 3.75rem/1.2 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-320-to-959-editorial-body1: 400 1rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-320-to-959-editorial-body1-strong: 500 1rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-960-to-1439-oversize1: 500 7.5rem/1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-960-to-1439-oversize2: 500 6rem/1.1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-960-to-1439-oversize3: 500 4.75rem/1.1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-960-plus-editorial-body1: 400 1.25rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-960-plus-editorial-body1-strong: 500 1.25rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-1440-to-1919-oversize1: 500 9.375rem/1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-1440-to-1919-oversize2: 500 7.5rem/1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-1440-to-1919-oversize3: 500 6rem/1.1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-1920-plus-oversize1: 500 11.625rem/1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-1920-plus-oversize2: 500 9.375rem/1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-1920-plus-oversize3: 500 7.5rem/1 'Archivo',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-body1: 400 1rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-body1-strong: 500 1rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-body2: 400 .875rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-body2-strong: 500 .875rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-body3: 400 .75rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-body3-strong: 500 .75rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-body4: 400 .625rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-typography-body4-strong: 500 .625rem/1.5 'Inter',Helvetica,Arial,sans-serif;
  --type-system-cssVars-podium-cds-button-text-decoration-line: underline;
  --type-system-cssVars-podium-cds-font-weight-regular: 400;
  --type-system-cssVars-podium-cds-font-weight-medium: 500;
  --type-system-cssVars-podium-cds-font-weight-bold: 700;
  --type-system-cssVars-podium-cds-font-size-xxs: 12px;
  --type-system-cssVars-podium-cds-font-size-xs: 14px;
  --type-system-cssVars-podium-cds-font-size-s: 16px;
  --type-system-cssVars-podium-cds-font-size-m: 20px;
  --type-system-cssVars-podium-cds-font-size-l: 24px;
  --type-system-cssVars-podium-cds-font-size-xl: 28px;
  --type-system-cssVars-podium-cds-font-size-xxl: 32px;
  --type-system-cssVars-podium-cds-font-size-xxxl: 40px;
  --type-system-cssVars-podium-cds-font-size-xxxxl: 48px;
  --type-system-cssVars-podium-cds-font-size-xxxxxl: 72px;
  --type-system-cssVars-podium-cds-font-style-normal: normal;
  --type-system-cssVars-podium-cds-size-spacing-xs: 4px;
  --type-system-cssVars-podium-cds-size-spacing-s: 8px;
  --type-system-cssVars-podium-cds-size-spacing-m: 12px;
  --type-system-cssVars-podium-cds-size-spacing-l: 24px;
  --type-system-cssVars-podium-cds-size-spacing-xl: 36px;
  --type-system-cssVars-podium-cds-size-spacing-xxl: 60px;
  --type-system-cssVars-podium-cds-size-spacing-xxxl: 84px;
  --type-system-cssVars-podium-cds-size-spacing-xxxxl: 120px;
  --type-system-cssVars-podium-cds-size-spacing-grid-gutter: 16px;
  --type-system-cssVars-podium-cds-size-spacing-grid-gutter-l: 12px;
  --type-system-cssVars-podium-cds-size-spacing-grid-exterior-gutter-s: 24px;
  --type-system-cssVars-podium-cds-size-spacing-grid-exterior-gutter-l: 48px;
  --type-system-cssVars-podium-cds-size-border-radius-s: 4px;
  --type-system-cssVars-podium-cds-size-border-radius-m: 8px;
  --type-system-cssVars-podium-cds-size-border-radius-l: 12px;
  --type-system-cssVars-podium-cds-size-border-radius-xl: 24px;
  --type-system-cssVars-podium-cds-size-border-width-s: 1px;
  --type-system-cssVars-podium-cds-size-border-width-m: 1.5px;
  --type-system-cssVars-podium-cds-size-border-width-l: 2px;
  --type-system-cssVars-podium-cds-size-icon-s: 16px;
  --type-system-cssVars-podium-cds-size-icon-m: 24px;
  --type-system-cssVars-podium-cds-size-icon-l: 48px;
  --type-system-cssVars-podium-cds-size-form-input-container-height: 86px;
  --type-system-cssVars-podium-cds-size-form-input-field-height: 56px;
  --type-system-cssVars-podium-cds-color-text-critical: var(--podium-cds-color-red-600);
  --type-system-cssVars-podium-cds-color-text-disabled: var(--podium-cds-color-grey-400);
  --type-system-cssVars-podium-cds-color-text-disabled-inverse: var(--podium-cds-color-grey-600);
  --type-system-cssVars-podium-cds-color-text-disabled-on-light: var(--podium-cds-color-grey-400);
  --type-system-cssVars-podium-cds-color-text-disabled-on-dark: var(--podium-cds-color-grey-600);
  --type-system-cssVars-podium-cds-color-text-hover: var(--podium-cds-color-grey-500);
  --type-system-cssVars-podium-cds-color-text-hover-inverse: var(--podium-cds-color-grey-200);
  --type-system-cssVars-podium-cds-color-text-hover-on-light: var(--podium-cds-color-grey-500);
  --type-system-cssVars-podium-cds-color-text-hover-on-dark: var(--podium-cds-color-grey-200);
  --type-system-cssVars-podium-cds-color-text-link: var(--podium-cds-color-blue-500);
  --type-system-cssVars-podium-cds-color-text-primary: var(--podium-cds-color-black);
  --type-system-cssVars-podium-cds-color-text-primary-inverse: var(--podium-cds-color-white);
  --type-system-cssVars-podium-cds-color-text-primary-on-light: var(--podium-cds-color-black);
  --type-system-cssVars-podium-cds-color-text-primary-on-dark: var(--podium-cds-color-white);
  --type-system-cssVars-podium-cds-color-text-secondary: var(--podium-cds-color-grey-500);
  --type-system-cssVars-podium-cds-color-text-secondary-inverse: var(--podium-cds-color-grey-400);
  --type-system-cssVars-podium-cds-color-text-secondary-on-light: var(--podium-cds-color-grey-500);
  --type-system-cssVars-podium-cds-color-text-secondary-on-dark: var(--podium-cds-color-grey-400);
  --type-system-cssVars-podium-cds-color-text-success: var(--podium-cds-color-green-600);
  --type-system-cssVars-podium-cds-color-text-badge: var(--podium-cds-color-orange-500);
  --type-system-typeScale-h1-fontFamily: Archivo, Helvetica, Arial, sans-serif;
  --type-system-typeScale-h1-fontSize: 24px;
  --type-system-typeScale-h1-fontWeight: 500;
  --type-system-typeScale-h1-lineHeight: 28.8px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-letterSpacing: 0.04em;
  --type-system-typeScale-h1-primaryFont: Archivo;
  /* Archivo is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-h2-fontFamily: Jost, Inter, Helvetica, Arial, sans-serif;
  --type-system-typeScale-h2-fontSize: 76px;
  --type-system-typeScale-h2-fontWeight: 500;
  --type-system-typeScale-h2-lineHeight: 68.4px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-letterSpacing: 0.04em;
  --type-system-typeScale-h2-textTransform: uppercase;
  --type-system-typeScale-h2-primaryFont: Jost;
  /* Jost is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-h3-fontFamily: Jost, Inter, Helvetica, Arial, sans-serif;
  --type-system-typeScale-h3-fontSize: 76px;
  --type-system-typeScale-h3-fontWeight: 500;
  --type-system-typeScale-h3-lineHeight: 68.4px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h3-letterSpacing: 0.04em;
  --type-system-typeScale-h3-textTransform: uppercase;
  --type-system-typeScale-h3-primaryFont: Jost;
  /* Jost is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-h4-fontFamily: Inter, Helvetica, Arial, sans-serif;
  --type-system-typeScale-h4-fontSize: 16px;
  --type-system-typeScale-h4-fontWeight: 500;
  --type-system-typeScale-h4-lineHeight: 28px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-h4-letterSpacing: 0.04em;
  --type-system-typeScale-h4-primaryFont: Inter;
  /* Inter is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-body-fontFamily: Inter, Helvetica, Arial, sans-serif;
  --type-system-typeScale-body-fontSize: 16px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 28px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Inter;
  /* Inter is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-p-fontFamily: Inter, Helvetica, Arial, sans-serif;
  --type-system-typeScale-p-fontSize: 12px;
  --type-system-typeScale-p-fontWeight: 500;
  --type-system-typeScale-p-lineHeight: 18px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: Inter;
  /* Inter is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-button-fontFamily: Inter, Helvetica, Arial, sans-serif;
  --type-system-typeScale-button-fontSize: 16px;
  --type-system-typeScale-button-fontWeight: 500;
  --type-system-typeScale-button-lineHeight: 24px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-primaryFont: Inter;
  /* Inter is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-link-fontFamily: Inter, Helvetica, Arial, sans-serif;
  --type-system-typeScale-link-fontSize: 14px;
  --type-system-typeScale-link-fontWeight: 500;
  --type-system-typeScale-link-lineHeight: 26px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-primaryFont: Inter;
  /* Inter is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-nav-fontFamily: Inter, Helvetica, Arial, sans-serif;
  --type-system-typeScale-nav-fontSize: 14px;
  --type-system-typeScale-nav-fontWeight: 500;
  --type-system-typeScale-nav-lineHeight: 26px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-primaryFont: Inter;
  /* Inter is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
}
