:root {
  --spacing-system-elements-input-paddingTop: 8px;
  --spacing-system-elements-input-paddingRight: 12px;
  --spacing-system-elements-input-paddingBottom: 8px;
  --spacing-system-elements-input-paddingLeft: 12px;
  --spacing-system-elements-input-marginTop: 8.64px;
  --spacing-system-elements-input-marginBottom: 10px;
  --spacing-system-elements-p-marginBottom: 10px;
  --spacing-system-elements-hero-paddingTop: 51.84px;
  --spacing-system-elements-hero-paddingRight: 64.8px;
  --spacing-system-elements-hero-paddingBottom: 64.8px;
  --spacing-system-elements-hero-paddingLeft: 64.8px;
  --spacing-system-elements-content-paddingTop: 43.2px;
  --spacing-system-elements-content-paddingRight: 43.2px;
  --spacing-system-elements-content-paddingBottom: 43.2px;
  --spacing-system-elements-content-paddingLeft: 43.2px;
  --spacing-system-elements-grid-paddingTop: 43.2px;
  --spacing-system-elements-grid-paddingRight: 43.2px;
  --spacing-system-elements-grid-paddingBottom: 43.2px;
  --spacing-system-elements-grid-paddingLeft: 43.2px;
  --spacing-system-elements-grid-gap: 34.56px;
  --spacing-system-elements-grid-rowGap: 34.56px;
  --spacing-system-elements-grid-columnGap: 34.56px;
  --spacing-system-elements-cta-paddingTop: 17.28px;
  --spacing-system-elements-cta-paddingRight: 43.2px;
  --spacing-system-elements-cta-paddingBottom: 17.28px;
  --spacing-system-elements-cta-paddingLeft: 43.2px;
  --spacing-system-elements-cta-marginTop: 3.456px;
  --spacing-system-elements-cta-marginBottom: 3.456px;
  --spacing-system-elements-cta-borderRadius: 17.28px;
  --spacing-system-elements-div-1-paddingTop: 34.56px;
  --spacing-system-elements-div-1-paddingLeft: 34.56px;
  --spacing-system-elements-div-2-marginTop: 43.2px;
  --spacing-system-elements-div-2-marginLeft: 43.2px;
  --spacing-system-elements-we-work-with-the-best-talent-a-paddingTop: 43.2px;
  --spacing-system-elements-we-work-with-the-best-talent-a-paddingRight: 43.2px;
  --spacing-system-elements-we-work-with-the-best-talent-a-paddingBottom: 155.52px;
  --spacing-system-elements-we-work-with-the-best-talent-a-paddingLeft: 43.2px;
  --spacing-system-elements-our-music-is-already-playing--paddingTop: 43.2px;
  --spacing-system-elements-our-music-is-already-playing--paddingRight: 43.2px;
  --spacing-system-elements-our-music-is-already-playing--paddingBottom: 207.36px;
  --spacing-system-elements-our-music-is-already-playing--paddingLeft: 43.2px;
}
