:root {
  --type-system-typeScale-h1-fontFamily: Anton, Formula Condensed, sans-serif;
  --type-system-typeScale-h1-fontSize: 65px;
  --type-system-typeScale-h1-fontWeight: 400;
  --type-system-typeScale-h1-lineHeight: 60.45px;
  --type-system-typeScale-h1-letterSpacing: -0.75px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-textTransform: uppercase;
  --type-system-typeScale-h2-fontFamily: Anton, Formula Condensed, sans-serif;
  --type-system-typeScale-h2-fontSize: 65px;
  --type-system-typeScale-h2-fontWeight: 400;
  --type-system-typeScale-h2-lineHeight: 60.45px;
  --type-system-typeScale-h2-letterSpacing: -0.75px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-textTransform: uppercase;
  --type-system-typeScale-h3-fontFamily: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
  --type-system-typeScale-h3-fontSize: 36px;
  --type-system-typeScale-h3-fontWeight: 400;
  --type-system-typeScale-h3-lineHeight: 43.2px;
  --type-system-typeScale-h3-letterSpacing: -0.36px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-body-fontFamily: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
  --type-system-typeScale-body-fontSize: 10px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: normal;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-button-fontFamily: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
  --type-system-typeScale-button-fontSize: 14px;
  --type-system-typeScale-button-fontWeight: 600;
  --type-system-typeScale-button-lineHeight: normal;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-link-fontFamily: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
  --type-system-typeScale-link-fontSize: 10px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: normal;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-nav-fontFamily: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
  --type-system-typeScale-nav-fontSize: 10px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: normal;
  --type-system-typeScale-nav-wordSpacing: 0px;
}
