:root {
  --type-system-cssVars-primary-text-color: var(--color-white);
  --type-system-cssVars-primary-text-color-hover: var(--color-off-black);
  --type-system-cssVars-secondary-text-color: var(--color-off-black);
  --type-system-cssVars-secondary-text-color-hover: var(--color-white);
  --type-system-cssVars-tertiary-text-color: var(--color-off-black);
  --type-system-cssVars-tertiary-text-color-hover: inherit;
  --type-system-cssVars-link-text-color: var(--color-off-black);
  --type-system-cssVars-link-text-color-hover: inherit;
  --type-system-cssVars-default-font-size: 1rem;
  --type-system-cssVars-small-text: 0.8125rem;
  --type-system-cssVars-simple-text: 1rem;
  --type-system-cssVars-large-text: 1.25rem;
  --type-system-cssVars-font-main: var(--font-regular), sans-serif;
  --type-system-cssVars-font-second: var(--font-secondary), sans-serif;
  --type-system-cssVars-bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --type-system-cssVars-text-h1: 3.125rem;
  --type-system-cssVars-text-h2: 1.875rem;
  --type-system-cssVars-text-h3: 1.3125rem;
  --type-system-cssVars-line-height--h1: 2.9375rem;
  --type-system-cssVars-line-height--h2: 1.75rem;
  --type-system-cssVars-line-height--h3: 1.4375rem;
  --type-system-cssVars-line-height: 0.9375rem;
  --type-system-cssVars-letter-spacing--h1: -0.125rem;
  --type-system-cssVars-letter-spacing--h2: -1.5px;
  --type-system-cssVars-letter-spacing--h3: -0.5px;
  --type-system-cssVars-letter-spacing: 0;
  --type-system-cssVars-font-medium: "IBMPlexMono-Medium";
  --type-system-cssVars-font-regular: "IBMPlexMono-Regular";
  --type-system-cssVars-font-secondary: "Bookish-Book";
  --type-system-cssVars-font-secondary-brand: "Bookish-Off-White";
  --type-system-cssVars-font-tertiary: "Helvetica";
  --type-system-cssVars-font-tertiary-bold: "Helvetica-Bold";
  --type-system-cssVars-toastify-text-color-success: #fff;
  --type-system-cssVars-toastify-text-color-error: #fff;
  --type-system-cssVars-bs-primary-text-emphasis: black;
  --type-system-cssVars-bs-secondary-text-emphasis: #2b2f32;
  --type-system-cssVars-bs-success-text-emphasis: #0a3622;
  --type-system-cssVars-bs-info-text-emphasis: #055160;
  --type-system-cssVars-bs-warning-text-emphasis: #664d03;
  --type-system-cssVars-bs-danger-text-emphasis: #58151c;
  --type-system-cssVars-bs-light-text-emphasis: #495057;
  --type-system-cssVars-bs-dark-text-emphasis: #495057;
  --type-system-cssVars-bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --type-system-cssVars-bs-body-font-family: var(--bs-font-sans-serif);
  --type-system-cssVars-bs-body-font-size: 1rem;
  --type-system-cssVars-bs-body-font-weight: 400;
  --type-system-cssVars-bs-body-line-height: 1.6;
  --type-system-cssVars-bs-body-color: #212529;
  --type-system-cssVars-bs-body-color-rgb: 33, 37, 41;
  --type-system-cssVars-bs-body-bg: #fff;
  --type-system-cssVars-bs-body-bg-rgb: 255, 255, 255;
  --type-system-cssVars-bs-heading-color: inherit;
  --type-system-cssVars-tabs-heading-height: 3.5rem;
  --type-system-cssVars-text-color-main: var(--color-black);
  --type-system-cssVars-toastify-font-family: sans-serif;
  --type-system-cssVars-toastify-text-color-light: #757575;
  --type-system-cssVars-toastify-text-color-dark: #fff;
  --type-system-cssVars-toastify-text-color-info: #fff;
  --type-system-cssVars-toastify-text-color-warning: #fff;
  --type-system-typeScale-h1-fontFamily: IBMPlexMono-Regular, sans-serif;
  --type-system-typeScale-h1-fontSize: 40px;
  --type-system-typeScale-h1-fontWeight: 500;
  --type-system-typeScale-h1-lineHeight: 56px;
  --type-system-typeScale-h1-letterSpacing: -2px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-textTransform: uppercase;
  --type-system-typeScale-h1-primaryFont: IBMPlexMono-Regular;
  --type-system-typeScale-h2-fontFamily: IBMPlexMono-Regular;
  --type-system-typeScale-h2-fontSize: 24px;
  --type-system-typeScale-h2-fontWeight: 500;
  --type-system-typeScale-h2-lineHeight: 28px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-primaryFont: IBMPlexMono-Regular;
  --type-system-typeScale-body-fontFamily: IBMPlexMono-Regular, sans-serif;
  --type-system-typeScale-body-fontSize: 14px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 21px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: IBMPlexMono-Regular;
  --type-system-typeScale-p-fontFamily: Bookish-Off-White;
  --type-system-typeScale-p-fontSize: 24px;
  --type-system-typeScale-p-fontWeight: 400;
  --type-system-typeScale-p-lineHeight: 28px;
  --type-system-typeScale-p-letterSpacing: 0.72px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-textTransform: uppercase;
  --type-system-typeScale-p-primaryFont: Bookish-Off-White;
  --type-system-typeScale-button-fontFamily: IBMPlexMono-Medium;
  --type-system-typeScale-button-fontSize: 14px;
  --type-system-typeScale-button-fontWeight: 500;
  --type-system-typeScale-button-lineHeight: 21px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-textTransform: uppercase;
  --type-system-typeScale-button-primaryFont: IBMPlexMono-Medium;
  --type-system-typeScale-link-fontFamily: IBMPlexMono-Regular;
  --type-system-typeScale-link-fontSize: 14px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: 21px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-textTransform: uppercase;
  --type-system-typeScale-link-primaryFont: IBMPlexMono-Regular;
  --type-system-typeScale-nav-fontFamily: IBMPlexMono-Medium;
  --type-system-typeScale-nav-fontSize: 14px;
  --type-system-typeScale-nav-fontWeight: 500;
  --type-system-typeScale-nav-lineHeight: 21px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-textTransform: uppercase;
  --type-system-typeScale-nav-primaryFont: IBMPlexMono-Medium;
}
