:root {
  --color-system-cssVars-page-background-color: #BBE2EE;
  --color-system-cssVars-bg-color--primary: #BBE2EE;
  --color-system-cssVars-bg-color--secondary: #FFF7E9;
  --color-system-cssVars-bg-color--tertiary: #EFF8FC;
  --color-system-cssVars-bg-color--quaternary: #639b40;
  --color-system-cssVars-bg-color--footer: #25446B;
  --color-system-cssVars-border-color-primary: #25446B;
  --color-system-cssVars-border-color-secondary: #FEE8D3;
  --color-system-cssVars-cp-ingredient-display: block;
  --color-system-cssVars-cp-ingredient-eyebrow-display: block;
  --color-system-cssVars-formula-compare-background-color: #BBE2EE;
  --color-system-cssVars-formula-compare-border-color: #9ED6E9;
  --color-system-cssVars-formula-compare-highlight-color: #FFF7E9;
  --color-system-cssVars-formula-compare-highlight-border-color: #ffeddb;
  --color-system-cssVars-oke-button-backgroundColor: #f16224;
  --color-system-cssVars-oke-button-backgroundColorHover: #f16224;
  --color-system-cssVars-oke-button-backgroundColorActive: #f16224;
  --color-system-cssVars-oke-button-textColor: #fff;
  --color-system-cssVars-oke-button-textColorHover: #fff;
  --color-system-cssVars-oke-button-textColorActive: #fff;
  --color-system-cssVars-oke-button-borderColor: #f16224;
  --color-system-cssVars-oke-button-borderColorHover: #f16224;
  --color-system-cssVars-oke-button-borderColorActive: #f16224;
  --color-system-cssVars-oke-border-color: #fee2d0;
  --color-system-cssVars-oke-text-primaryColor: #25446b;
  --color-system-cssVars-oke-text-secondaryColor: #25446b;
  --color-system-cssVars-oke-avatar-backgroundColor: #f7f7f5;
  --color-system-cssVars-oke-avatar-placeholderTextColor: #25446b;
  --color-system-cssVars-oke-highlightColor: #25446b;
  --color-system-cssVars-oke-shadingColor: #f7f7f5;
  --color-system-cssVars-oke-attributeBar-shadingColor: #777;
  --color-system-cssVars-oke-attributeBar-borderColor: undefined;
  --color-system-cssVars-oke-attributeBar-backgroundColor: #f7f7f5;
  --color-system-cssVars-oke-attributeBar-markerColor: #25446b;
  --color-system-cssVars-oke-filter-backgroundColor: #fff;
  --color-system-cssVars-oke-filter-backgroundColorActive: #25446b;
  --color-system-cssVars-oke-filter-borderColor: #c9c7c7;
  --color-system-cssVars-oke-filter-borderColorActive: #25446b;
  --color-system-cssVars-oke-filter-textColor: #25446b;
  --color-system-cssVars-oke-filter-textColorActive: #fff;
  --color-system-cssVars-oke-filter-searchHighlightColor: #b2f9e9;
  --color-system-cssVars-oke-mediaGrid-chevronColor: #676986;
  --color-system-cssVars-oke-stars-foregroundColor: #ffcf2a;
  --color-system-cssVars-oke-stars-backgroundColor: #c9c7c7;
  --color-system-cssVars-rc-color: #040404;
  --color-system-cssVars-rc-active-bg: #efefef;
  --color-system-cssVars-rc-active-color: #000000;
  --color-system-cssVars-kl-reviews-color-light-gray: #e9e9eb;
  --color-system-elements-pageBackground: #fff7e9;
  --color-system-elements-bodyText: #25446b;
  --color-system-elements-headingText: #25446b;
  --color-system-elements-linkColor: #ffffff;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #25446b;
  --color-system-elements-navLink: #25446b;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #25446b;
  --color-system-elements-navLinkScrolled: #25446b;
}
