:root {
  --type-system-typeScale-h2-fontFamily: interstate-condensed, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --type-system-typeScale-h2-fontSize: 63.36px;
  --type-system-typeScale-h2-fontWeight: 400;
  --type-system-typeScale-h2-lineHeight: 63.36px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-textTransform: uppercase;
  --type-system-typeScale-h2-primaryFont: interstate-condensed;
  --type-system-typeScale-h3-fontFamily: interstate, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --type-system-typeScale-h3-fontSize: 10.56px;
  --type-system-typeScale-h3-fontWeight: 300;
  --type-system-typeScale-h3-lineHeight: 14.08px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h3-primaryFont: interstate;
  --type-system-typeScale-h4-fontFamily: Lexend Giga, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji;
  --type-system-typeScale-h4-fontSize: 10.56px;
  --type-system-typeScale-h4-fontWeight: 400;
  --type-system-typeScale-h4-lineHeight: 10.56px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-h4-textTransform: uppercase;
  --type-system-typeScale-h4-primaryFont: Lexend Giga;
  --type-system-typeScale-body-fontFamily: interstate, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --type-system-typeScale-body-fontSize: 14.08px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 21.12px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: interstate;
  --type-system-typeScale-p-fontFamily: interstate, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --type-system-typeScale-p-fontSize: 10.56px;
  --type-system-typeScale-p-fontWeight: 300;
  --type-system-typeScale-p-lineHeight: 14.08px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: interstate;
  --type-system-typeScale-button-fontFamily: interstate, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --type-system-typeScale-button-fontSize: 14.08px;
  --type-system-typeScale-button-fontWeight: 400;
  --type-system-typeScale-button-lineHeight: 21.12px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-primaryFont: interstate;
  --type-system-typeScale-link-fontFamily: interstate, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --type-system-typeScale-link-fontSize: 10.56px;
  --type-system-typeScale-link-fontWeight: 300;
  --type-system-typeScale-link-lineHeight: 14.08px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-primaryFont: interstate;
  --type-system-typeScale-nav-fontFamily: interstate, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --type-system-typeScale-nav-fontSize: 10.56px;
  --type-system-typeScale-nav-fontWeight: 300;
  --type-system-typeScale-nav-lineHeight: 14.08px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-primaryFont: interstate;
}
