:root {
  --spacing-system-cssVars-space-xs: calc(.01020408163265306 * var(--client-width));
  --spacing-system-cssVars-space-sm: calc(.02040816326530612 * var(--client-width));
  --spacing-system-cssVars-space-md: calc(.030612244897959183 * var(--client-width));
  --spacing-system-cssVars-space-lg: calc(.04591836734693878 * var(--client-width));
  --spacing-system-cssVars-space-xl: calc(.09183673469387756 * var(--client-width));
  --spacing-system-cssVars-tile-border-radius: calc(.025510204081632654 * var(--client-width));
  --spacing-system-cssVars-tile-padding: 2vw;
  --spacing-system-cssVars-field-padding: calc(.03571428571428571 * var(--client-width));
  --spacing-system-cssVars-field-border-radius: calc(.02040816326530612 * var(--client-width));
  --spacing-system-cssVars-field-label-padding-top: calc(.04591836734693878 * var(--client-width));
  --spacing-system-cssVars-field-label-padding-bottom: calc(.025510204081632654 * var(--client-width));
  --spacing-system-elements-section-paddingRight: 79.3469px;
  --spacing-system-elements-section-paddingLeft: 79.3469px;
  --spacing-system-elements-section-marginTop: 79.3469px;
  --spacing-system-elements-section-marginBottom: 79.3469px;
  --spacing-system-elements-footer-paddingTop: 39.6735px;
  --spacing-system-elements-footer-paddingRight: 79.3469px;
  --spacing-system-elements-footer-paddingBottom: 39.6735px;
  --spacing-system-elements-footer-paddingLeft: 79.3469px;
  --spacing-system-elements-button-paddingTop: 17.6327px;
  --spacing-system-elements-button-paddingRight: 47.6082px;
  --spacing-system-elements-button-paddingBottom: 17.6327px;
  --spacing-system-elements-button-paddingLeft: 47.6082px;
  --spacing-system-elements-container-paddingRight: 79.3469px;
  --spacing-system-elements-container-paddingLeft: 79.3469px;
  --spacing-system-elements-container-marginTop: 79.3469px;
  --spacing-system-elements-container-marginBottom: 79.3469px;
  --spacing-system-elements-content-marginBottom: 39.6735px;
  --spacing-system-elements-grid-gap: 17.6327px normal;
  --spacing-system-elements-grid-rowGap: 17.6327px;
  --spacing-system-elements-cta-paddingTop: 17.6327px;
  --spacing-system-elements-cta-paddingRight: 47.6082px;
  --spacing-system-elements-cta-paddingBottom: 17.6327px;
  --spacing-system-elements-cta-paddingLeft: 47.6082px;
}
