:root {
  --color-system-elements-bodyText: #09543d;
  --color-system-elements-headingText: #fffdf7;
  --color-system-elements-buttonBackground: #ffffff;
  --color-system-elements-buttonText: #09543d;
  --color-system-elements-linkColor: #fffdf7;
  --color-system-elements-borderColor: #09543d;
}
