:root {
  --spacing-system-elements-section-paddingTop: 10px;
  --spacing-system-elements-section-paddingRight: 10px;
  --spacing-system-elements-section-paddingBottom: 10px;
  --spacing-system-elements-section-paddingLeft: 10px;
  --spacing-system-elements-cta-paddingTop: 6px;
  --spacing-system-elements-cta-paddingRight: 12px;
  --spacing-system-elements-cta-paddingBottom: 6px;
  --spacing-system-elements-cta-paddingLeft: 12px;
  --spacing-system-elements-cta-gap: 5px;
  --spacing-system-elements-cta-rowGap: 5px;
  --spacing-system-elements-cta-columnGap: 5px;
  --spacing-system-elements-cta-borderRadius: 100px;
}
