:root {
  --grid-system-cssVars-global-content-max-width: calc(var(--global-content-max-width-setting) / var(--desktop-design-reference) * var(--screen-width-static));
  --grid-system-cssVars-global-content-max-width-setting: 1110;
  --grid-system-cssVars-better-reviews-star-gap: 15px;
  --grid-system-container-maxWidth: 730px;
  --grid-system-container-paddingLeft: 50px;
  --grid-system-container-paddingRight: 50px;
  --grid-system-grids-site-header-display: grid;
  --grid-system-grids-site-header-templateColumns: 54px 135px 64px;
  --grid-system-grids-site-header-columnCount: 3;
  --grid-system-grids-site-header-templateRows: 0px 0px 52px 0px;
  --grid-system-grids-site-header-childCount: 4;
  --grid-system-grids-group-container--grid-container-display: grid;
  --grid-system-grids-group-container--grid-container-templateColumns: 768px 768px;
  --grid-system-grids-group-container--grid-container-columnCount: 2;
  --grid-system-grids-group-container--grid-container-templateRows: 1090.78px;
  --grid-system-grids-group-container--grid-container-gap: 0px 32px;
  --grid-system-grids-group-container--grid-container-childCount: 2;
  --grid-system-grids-group-container--grid-container-parentSection: section;
  --grid-system-responsive-bp-375px-query: screen and (min-width: 375px);
  --grid-system-responsive-bp-375px-flexDirection: column;
  --grid-system-responsive-bp-375px-rowGap: 0px;
  --grid-system-responsive-bp-375px-columnGap: 0px;
  --grid-system-responsive-bp-400px-query: only screen and (max-width: 400px);
  --grid-system-responsive-bp-400px-maxWidth: 40%;
  --grid-system-responsive-bp-401px-query: (min-width: 401px) and (max-width: 576px);
  --grid-system-responsive-bp-401px-maxWidth: 80%;
  --grid-system-responsive-bp-480px-query: (max-width: 480px);
  --grid-system-responsive-bp-480px-gridTemplateColumns: 1fr;
  --grid-system-responsive-bp-480px-flexDirection: column;
  --grid-system-responsive-bp-480px-rowGap: 8px;
  --grid-system-responsive-bp-480px-columnGap: 8px;
  --grid-system-responsive-bp-600px-query: (max-width: 600px);
  --grid-system-responsive-bp-600px-display: flex;
  --grid-system-responsive-bp-600px-flexDirection: column;
  --grid-system-responsive-bp-600px-rowGap: 5px;
  --grid-system-responsive-bp-600px-columnGap: 5px;
  --grid-system-responsive-bp-640px-query: (max-width: 640px);
  --grid-system-responsive-bp-640px-gridTemplateColumns: repeat(2, 1fr);
  --grid-system-responsive-bp-640px-display: none;
  --grid-system-responsive-bp-680px-query: (min-width: 680px);
  --grid-system-responsive-bp-680px-display: inline-block;
  --grid-system-responsive-bp-768px-query: screen and (min-width: 768px);
  --grid-system-responsive-bp-768px-flexDirection: var(--direction-portrait);
  --grid-system-responsive-bp-768px-maxWidth: calc(1000/var(--portrait-design-reference)*var(--screen-width-portrait));
  --grid-system-responsive-bp-768px-display: var(--display-arrows-portrait);
  --grid-system-responsive-bp-768px-gridTemplateColumns: var(--grid-template-columns-custom-portrait, repeat(var(--grid-columns-portrait, 1), var(--grid-auto-columns-custom-size, var(--grid-auto-columns, auto))));
  --grid-system-responsive-bp-768px-gridTemplateRows: var(--grid-template-rows-custom-portrait);
  --grid-system-responsive-bp-768px-columnGap: calc(10/var(--portrait-design-reference)*var(--screen-width-portrait));
}
