@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --type-system-typeScale-h2-fontFamily: DM Sans, sans-serif;
  --type-system-typeScale-h2-fontSize: 28px;
  --type-system-typeScale-h2-fontWeight: 400;
  --type-system-typeScale-h2-lineHeight: 40px;
  --type-system-typeScale-h2-letterSpacing: -0.01em;
  --type-system-typeScale-h3-fontFamily: DM Sans, sans-serif;
  --type-system-typeScale-h3-fontSize: 14px;
  --type-system-typeScale-h3-fontWeight: 500;
  --type-system-typeScale-h3-lineHeight: 24px;
  --type-system-typeScale-body-fontFamily: DM Sans, sans-serif;
  --type-system-typeScale-body-fontSize: 16px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 24px;
  --type-system-typeScale-p-fontFamily: DM Sans, sans-serif;
  --type-system-typeScale-p-fontSize: 13px;
  --type-system-typeScale-p-fontWeight: 400;
  --type-system-typeScale-p-lineHeight: 22px;
  --type-system-typeScale-button-fontFamily: DM Sans, sans-serif;
  --type-system-typeScale-button-fontSize: 13px;
  --type-system-typeScale-button-fontWeight: 400;
  --type-system-typeScale-button-lineHeight: 20px;
  --type-system-typeScale-button-letterSpacing: 0.02em;
  --type-system-typeScale-link-fontFamily: DM Sans, sans-serif;
  --type-system-typeScale-link-fontSize: 13px;
  --type-system-typeScale-link-fontWeight: 500;
  --type-system-typeScale-link-lineHeight: 20px;
  --type-system-typeScale-link-letterSpacing: 0.1px;
  --type-system-typeScale-nav-fontFamily: DM Sans, sans-serif;
  --type-system-typeScale-nav-fontSize: 10px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: 16px;
  --type-system-typeScale-nav-letterSpacing: 0.02em;
}
