:root {
  --motion-system-videos-count: 30;
  --motion-system-videos-animatedGifs: 1;
  --motion-system-performance-totalAnimatedElements: 41;
  --motion-system-performance-simultaneousAnimations: 1;
  --motion-system-performance-videoLoad: heavy;
  --motion-system-performance-complexAnimations: 23;
  --motion-system-performance-summary-videos: 30;
  --motion-system-performance-summary-animatedGifs: 1;
  --motion-system-performance-summary-keyframes: 30;
  --motion-system-performance-summary-scrollLibraries: 0;
}
