:root {
  --color-system-elements-pageBackground: #fcfcfc;
  --color-system-elements-bodyText: #222222;
  --color-system-elements-headingText: #ffffff;
  --color-system-elements-linkColor: #222222;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #222222;
  --color-system-elements-navLink: #292929;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #222222;
  --color-system-elements-navLinkScrolled: #292929;
}
