:root {
  --grid-system-container-maxWidth: 1280px;
  --grid-system-grids-hi-my-name-ispedro-kalk-display: grid;
  --grid-system-grids-hi-my-name-ispedro-kalk-templateColumns: 702.219px 561.781px;
  --grid-system-grids-hi-my-name-ispedro-kalk-columnCount: 2;
  --grid-system-grids-hi-my-name-ispedro-kalk-templateRows: 476.398px;
  --grid-system-grids-hi-my-name-ispedro-kalk-gap: 64px 16px;
  --grid-system-grids-hi-my-name-ispedro-kalk-childCount: 2;
  --grid-system-grids-hi-my-name-ispedro-kalk-parentSection: header;
  --grid-system-grids-w-layout-grid-display: grid;
  --grid-system-grids-w-layout-grid-templateColumns: 406.953px 406.953px 232.547px 232.547px;
  --grid-system-grids-w-layout-grid-columnCount: 4;
  --grid-system-grids-w-layout-grid-templateRows: 682.742px 327.43px 261.609px 333.922px;
  --grid-system-grids-w-layout-grid-childCount: 7;
  --grid-system-grids-w-layout-grid-parentSection: portfolio;
  --grid-system-grids-w-layout-grid-2-display: grid;
  --grid-system-grids-w-layout-grid-2-templateColumns: 67.7891px 77.5391px;
  --grid-system-grids-w-layout-grid-2-columnCount: 2;
  --grid-system-grids-w-layout-grid-2-templateRows: 42px;
  --grid-system-grids-w-layout-grid-2-gap: 0px 24px;
  --grid-system-grids-w-layout-grid-2-childCount: 2;
  --grid-system-grids-w-layout-grid-2-parentSection: footer;
  --grid-system-grids-logo-component-display: grid;
  --grid-system-grids-logo-component-templateColumns: 85.9844px 1130.02px;
  --grid-system-grids-logo-component-columnCount: 2;
  --grid-system-grids-logo-component-templateRows: 55.9922px;
  --grid-system-grids-logo-component-gap: 16px 64px;
  --grid-system-grids-logo-component-childCount: 2;
  --grid-system-grids-logo-component-parentSection: section;
  --grid-system-responsive-bp-479px-query: screen and (max-width: 479px);
  --grid-system-responsive-bp-479px-display: none;
  --grid-system-responsive-bp-767px-query: screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: none;
  --grid-system-responsive-bp-991px-query: screen and (max-width: 991px);
  --grid-system-responsive-bp-991px-display: none;
}
