:root {
  --motion-system-videos-count: 1;
  --motion-system-videos-animatedGifs: 1;
  --motion-system-performance-totalAnimatedElements: 34;
  --motion-system-performance-simultaneousAnimations: 0;
  --motion-system-performance-videoLoad: light;
  --motion-system-performance-complexAnimations: 15;
  --motion-system-performance-summary-videos: 1;
  --motion-system-performance-summary-animatedGifs: 1;
  --motion-system-performance-summary-keyframes: 19;
  --motion-system-performance-summary-scrollLibraries: 0;
}
