:root {
  --spacing-system-cssVars-checkbox-radius: var(--radius-xs);
  --spacing-system-cssVars-product-size-radius: 4px;
  --spacing-system-cssVars-toggle-button-radius: 999px;
  --spacing-system-cssVars-tooltip-radius: var(--radius-md);
  --spacing-system-cssVars-footer-mobile-padding: 16px;
  --spacing-system-cssVars-datepicker-btn-radius: var(--radius-round);
  --spacing-system-cssVars-btn-radius: 999px;
  --spacing-system-cssVars-radius-none: 0;
  --spacing-system-cssVars-radius-xs: 2px;
  --spacing-system-cssVars-radius-sm: 4px;
  --spacing-system-cssVars-radius-md: 8px;
  --spacing-system-cssVars-radius-lg: 16px;
  --spacing-system-cssVars-radius-xl: 24px;
  --spacing-system-cssVars-radius-round: 999px;
  --spacing-system-cssVars-letter-spacing-none: 0;
  --spacing-system-cssVars-letter-spacing-small: .01em;
  --spacing-system-cssVars-letter-spacing-medium: .02em;
  --spacing-system-cssVars-letter-spacing-moderate: .04em;
  --spacing-system-cssVars-letter-spacing-midwide: .05em;
  --spacing-system-cssVars-letter-spacing-prewidest: .08em;
  --spacing-system-cssVars-adyen-sdk-border-radius-m: 8px;
  --spacing-system-cssVars-vc-nav-border-radius: 0;
  --spacing-system-cssVars-vc-pgn-border-radius: 0;
  --spacing-system-cssVars-vc-pgn-gap: 6px;
  --spacing-system-elements-button-paddingTop: 8px;
  --spacing-system-elements-button-paddingRight: 12px;
  --spacing-system-elements-button-paddingBottom: 8px;
  --spacing-system-elements-button-paddingLeft: 12px;
  --spacing-system-elements-button-marginBottom: 2px;
  --spacing-system-elements-input-paddingTop: 8px;
  --spacing-system-elements-input-paddingRight: 8px;
  --spacing-system-elements-input-paddingBottom: 8px;
  --spacing-system-elements-input-paddingLeft: 8px;
  --spacing-system-elements-p-marginRight: 68.5703px;
  --spacing-system-elements-p-marginBottom: 4px;
  --spacing-system-elements-p-marginLeft: 68.5703px;
  --spacing-system-elements-li-paddingLeft: 23.6797px;
  --spacing-system-elements-container-marginRight: 264px;
  --spacing-system-elements-container-marginBottom: 10px;
  --spacing-system-elements-container-marginLeft: 264px;
  --spacing-system-elements-wrapper-paddingBottom: 32px;
  --spacing-system-elements-wrapper-gap: normal 24px;
  --spacing-system-elements-wrapper-columnGap: 24px;
  --spacing-system-elements-content-paddingTop: 28px;
  --spacing-system-elements-content-paddingRight: 16px;
  --spacing-system-elements-content-paddingBottom: 28px;
  --spacing-system-elements-content-paddingLeft: 16px;
  --spacing-system-elements-grid-paddingTop: 16px;
  --spacing-system-elements-grid-paddingRight: 20px;
  --spacing-system-elements-grid-paddingBottom: 16px;
  --spacing-system-elements-grid-paddingLeft: 20px;
  --spacing-system-elements-grid-marginRight: 264px;
  --spacing-system-elements-grid-marginBottom: 10px;
  --spacing-system-elements-grid-marginLeft: 264px;
  --spacing-system-elements-grid-gap: 16px 20px;
  --spacing-system-elements-grid-rowGap: 16px;
  --spacing-system-elements-grid-columnGap: 20px;
  --spacing-system-elements-row-paddingTop: 8px;
  --spacing-system-elements-row-paddingRight: 8px;
  --spacing-system-elements-row-paddingBottom: 8px;
  --spacing-system-elements-row-paddingLeft: 8px;
  --spacing-system-elements-row-borderRadius: 6px;
  --spacing-system-elements-cta-paddingTop: 8px;
  --spacing-system-elements-cta-paddingRight: 16px;
  --spacing-system-elements-cta-paddingBottom: 8px;
  --spacing-system-elements-cta-paddingLeft: 16px;
  --spacing-system-elements-cta-borderRadius: 6px;
}
