:root {
  --spacing-system-elements-header-paddingRight: 69.12px;
  --spacing-system-elements-header-paddingLeft: 69.12px;
  --spacing-system-elements-nav-paddingTop: 64px;
  --spacing-system-elements-nav-marginTop: 96px;
  --spacing-system-elements-section-gap: 16px 80px;
  --spacing-system-elements-section-rowGap: 16px;
  --spacing-system-elements-section-columnGap: 80px;
  --spacing-system-elements-footer-paddingTop: 24px;
  --spacing-system-elements-footer-paddingBottom: 24px;
  --spacing-system-elements-footer-marginTop: 48px;
  --spacing-system-elements-footer-gap: 16px;
  --spacing-system-elements-footer-rowGap: 16px;
  --spacing-system-elements-footer-columnGap: 16px;
  --spacing-system-elements-button-paddingTop: 7px;
  --spacing-system-elements-button-paddingRight: 14px;
  --spacing-system-elements-button-paddingBottom: 7px;
  --spacing-system-elements-button-paddingLeft: 14px;
  --spacing-system-elements-button-gap: 8px;
  --spacing-system-elements-button-rowGap: 8px;
  --spacing-system-elements-button-columnGap: 8px;
  --spacing-system-elements-button-borderRadius: 8px;
  --spacing-system-elements-input-paddingTop: 8px;
  --spacing-system-elements-input-paddingRight: 12px;
  --spacing-system-elements-input-paddingBottom: 8px;
  --spacing-system-elements-input-paddingLeft: 12px;
  --spacing-system-elements-input-borderRadius: 8px;
  --spacing-system-elements-container-paddingRight: 20px;
  --spacing-system-elements-container-paddingLeft: 20px;
  --spacing-system-elements-container-marginRight: 264px;
  --spacing-system-elements-container-marginLeft: 264px;
  --spacing-system-elements-container-gap: 96px;
  --spacing-system-elements-container-rowGap: 96px;
  --spacing-system-elements-container-columnGap: 96px;
  --spacing-system-elements-wrapper-paddingTop: 16px;
  --spacing-system-elements-wrapper-paddingRight: 16px;
  --spacing-system-elements-wrapper-paddingBottom: 32px;
  --spacing-system-elements-wrapper-paddingLeft: 16px;
  --spacing-system-elements-wrapper-gap: 16px;
  --spacing-system-elements-wrapper-rowGap: 16px;
  --spacing-system-elements-wrapper-columnGap: 16px;
  --spacing-system-elements-card-paddingTop: 4px;
  --spacing-system-elements-card-paddingRight: 4px;
  --spacing-system-elements-card-paddingBottom: 4px;
  --spacing-system-elements-card-paddingLeft: 4px;
  --spacing-system-elements-card-gap: 16px;
  --spacing-system-elements-card-rowGap: 16px;
  --spacing-system-elements-card-columnGap: 16px;
  --spacing-system-elements-card-borderRadius: 1.67772e+07px;
  --spacing-system-elements-hero-paddingTop: 4px;
  --spacing-system-elements-hero-paddingRight: 8px;
  --spacing-system-elements-hero-paddingBottom: 4px;
  --spacing-system-elements-hero-paddingLeft: 8px;
  --spacing-system-elements-hero-marginBottom: 16px;
  --spacing-system-elements-hero-gap: 4px;
  --spacing-system-elements-hero-rowGap: 4px;
  --spacing-system-elements-hero-columnGap: 4px;
  --spacing-system-elements-hero-borderRadius: 14px;
  --spacing-system-elements-content-gap: 64px;
  --spacing-system-elements-content-rowGap: 64px;
  --spacing-system-elements-content-columnGap: 64px;
  --spacing-system-elements-grid-paddingTop: 24px;
  --spacing-system-elements-grid-paddingRight: 24px;
  --spacing-system-elements-grid-paddingBottom: 24px;
  --spacing-system-elements-grid-paddingLeft: 24px;
  --spacing-system-elements-grid-marginTop: 24px;
  --spacing-system-elements-grid-gap: 12px;
  --spacing-system-elements-grid-rowGap: 12px;
  --spacing-system-elements-grid-columnGap: 12px;
  --spacing-system-elements-row-marginTop: 16px;
  --spacing-system-elements-row-marginBottom: 16px;
  --spacing-system-elements-row-gap: 12px;
  --spacing-system-elements-row-rowGap: 12px;
  --spacing-system-elements-row-columnGap: 12px;
  --spacing-system-elements-cta-paddingTop: 7px;
  --spacing-system-elements-cta-paddingRight: 14px;
  --spacing-system-elements-cta-paddingBottom: 7px;
  --spacing-system-elements-cta-paddingLeft: 14px;
  --spacing-system-elements-cta-gap: 8px;
  --spacing-system-elements-cta-rowGap: 8px;
  --spacing-system-elements-cta-columnGap: 8px;
  --spacing-system-elements-cta-borderRadius: 8px;
  --spacing-system-elements-built-for-the-first-solocorn-marginBottom: 24px;
  --spacing-system-elements-div-2-marginBottom: 24px;
  --spacing-system-elements-loved-by-startups-and-world-le-paddingTop: 48px;
  --spacing-system-elements-loved-by-startups-and-world-le-paddingBottom: 48px;
  --spacing-system-elements-loved-by-startups-and-world-le-marginBottom: 24px;
  --spacing-system-elements-build-like-a-team-of-hundreds-paddingTop: 80px;
  --spacing-system-elements-build-like-a-team-of-hundreds-paddingRight: 20px;
  --spacing-system-elements-build-like-a-team-of-hundreds-paddingBottom: 80px;
  --spacing-system-elements-build-like-a-team-of-hundreds-paddingLeft: 20px;
  --spacing-system-elements-build-like-a-team-of-hundreds-marginRight: 264px;
  --spacing-system-elements-build-like-a-team-of-hundreds-marginBottom: 24px;
  --spacing-system-elements-build-like-a-team-of-hundreds-marginLeft: 264px;
  --spacing-system-elements--just-like-a-swiss-army-knife-paddingRight: 20px;
  --spacing-system-elements--just-like-a-swiss-army-knife-paddingLeft: 20px;
  --spacing-system-elements--just-like-a-swiss-army-knife-marginRight: 264px;
  --spacing-system-elements--just-like-a-swiss-army-knife-marginBottom: 24px;
  --spacing-system-elements--just-like-a-swiss-army-knife-marginLeft: 264px;
  --spacing-system-elements-streamline-your-ai-workflows-paddingBottom: 64px;
  --spacing-system-elements-streamline-your-ai-workflows-marginBottom: 24px;
  --spacing-system-elements-div-7-paddingTop: 120px;
  --spacing-system-elements-div-7-paddingBottom: 160px;
  --spacing-system-elements-safely-scale-with-built-in-sec-paddingTop: 160px;
  --spacing-system-elements-safely-scale-with-built-in-sec-paddingBottom: 48px;
  --spacing-system-elements-safely-scale-with-built-in-sec-marginBottom: 24px;
}
