:root {
  --type-system-typeScale-h1-fontFamily: Roboto, sans-serif;
  --type-system-typeScale-h1-fontSize: 55px;
  --type-system-typeScale-h1-fontWeight: 700;
  --type-system-typeScale-h1-lineHeight: 71.5px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-primaryFont: Roboto;
  --type-system-typeScale-h2-fontFamily: Roboto, sans-serif;
  --type-system-typeScale-h2-fontSize: 50px;
  --type-system-typeScale-h2-fontWeight: 700;
  --type-system-typeScale-h2-lineHeight: 60px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-primaryFont: Roboto;
  --type-system-typeScale-h3-fontFamily: Roboto, sans-serif;
  --type-system-typeScale-h3-fontSize: 24px;
  --type-system-typeScale-h3-fontWeight: 500;
  --type-system-typeScale-h3-lineHeight: 31.2px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h3-primaryFont: Roboto;
  --type-system-typeScale-body-fontFamily: Inter;
  --type-system-typeScale-body-fontSize: 14px;
  --type-system-typeScale-body-fontWeight: 500;
  --type-system-typeScale-body-lineHeight: 20px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Inter;
  --type-system-typeScale-p-fontFamily: Roboto, sans-serif;
  --type-system-typeScale-p-fontSize: 20px;
  --type-system-typeScale-p-fontWeight: 300;
  --type-system-typeScale-p-lineHeight: 28px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: Roboto;
  --type-system-typeScale-link-fontFamily: Roboto, sans-serif;
  --type-system-typeScale-link-fontSize: 18px;
  --type-system-typeScale-link-fontWeight: 700;
  --type-system-typeScale-link-lineHeight: 20px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-primaryFont: Roboto;
  --type-system-typeScale-nav-fontFamily: Roboto, sans-serif;
  --type-system-typeScale-nav-fontSize: 14px;
  --type-system-typeScale-nav-fontWeight: 400;
  --type-system-typeScale-nav-lineHeight: 20px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-primaryFont: Roboto;
}
