:root {
  --motion-system-videos-count: 0;
  --motion-system-videos-hasHeroVideo: false;
  --motion-system-videos-animatedGifs: 0;
  --motion-system-microInteractions-customCursor: false;
  --motion-system-microInteractions-hasSkeletonScreens: false;
  --motion-system-performance-totalAnimatedElements: 42;
  --motion-system-performance-simultaneousAnimations: 2;
  --motion-system-performance-videoLoad: none;
  --motion-system-performance-complexAnimations: 38;
  --motion-system-performance-usesHardwareAcceleration: false;
  --motion-system-performance-summary-videos: 0;
  --motion-system-performance-summary-animatedGifs: 0;
  --motion-system-performance-summary-keyframes: 271;
  --motion-system-performance-summary-scrollLibraries: 0;
  --motion-system-performance-summary-hasLoadingStates: false;
  --motion-system-performance-summary-hasSkeletonScreens: false;
}
