:root {
  --spacing-system-cssVars-global-inline-spacing: calc(var(--mobile-inline) / var(--mobile-design-reference) * var(--screen-width-mobile));
  --spacing-system-cssVars-global-content-box-padding-inline: calc(var(--mobile-inline) / var(--mobile-design-reference) * var(--screen-width-mobile));
  --spacing-system-cssVars-global-content-box-padding-block: calc(var(--mobile-inline) / var(--mobile-design-reference) * var(--screen-width-mobile));
  --spacing-system-cssVars-heading-block-spacing: var(--heading-block-spacing-mobile);
  --spacing-system-cssVars-paragraph-block-spacing: var(--paragraph-block-spacing-mobile);
  --spacing-system-cssVars-list-item-block-spacing: var(--list-item-block-spacing-mobile);
  --spacing-system-cssVars-paragraph-block-spacing-mobile: 1em;
  --spacing-system-cssVars-paragraph-block-spacing-portrait: 1em;
  --spacing-system-cssVars-paragraph-block-spacing-desktop: 1em;
  --spacing-system-cssVars-heading-block-spacing-mobile: 0.5em;
  --spacing-system-cssVars-heading-block-spacing-portrait: 0.5em;
  --spacing-system-cssVars-heading-block-spacing-desktop: 0.2em;
  --spacing-system-cssVars-list-item-letter-spacing: 0.01em;
  --spacing-system-cssVars-list-item-block-spacing-mobile: 1em;
  --spacing-system-cssVars-list-item-block-spacing-portrait: 1em;
  --spacing-system-cssVars-list-item-block-spacing-landscape: 1em;
  --spacing-system-cssVars-list-item-block-spacing-desktop: 1em;
  --spacing-system-cssVars-h1-l-letter-spacing: 0.01em;
  --spacing-system-cssVars-h1-letter-spacing: 0em;
  --spacing-system-cssVars-h2-letter-spacing: 0em;
  --spacing-system-cssVars-h3-letter-spacing: 0em;
  --spacing-system-cssVars-h4-letter-spacing: 0em;
  --spacing-system-cssVars-h5-letter-spacing: 0em;
  --spacing-system-cssVars-h6-letter-spacing: 0em;
  --spacing-system-cssVars-sh1-letter-spacing: 0em;
  --spacing-system-cssVars-sh2-letter-spacing: 0em;
  --spacing-system-cssVars-sh3-letter-spacing: 0em;
  --spacing-system-cssVars-sh4-letter-spacing: 0em;
  --spacing-system-cssVars-sh5-letter-spacing: 0em;
  --spacing-system-cssVars-sh6-letter-spacing: 0em;
  --spacing-system-cssVars-paragraph-letter-spacing: 0em;
  --spacing-system-cssVars-cta-style-1-padding-inline-desktop: 26;
  --spacing-system-cssVars-cta-style-1-padding-inline-landscape: 26;
  --spacing-system-cssVars-cta-style-1-padding-inline-portrait: 26;
  --spacing-system-cssVars-cta-style-1-padding-inline-mobile: 26;
  --spacing-system-cssVars-cta-style-1-padding-block-desktop: 14;
  --spacing-system-cssVars-cta-style-1-padding-block-landscape: 14;
  --spacing-system-cssVars-cta-style-1-padding-block-portrait: 14;
  --spacing-system-cssVars-cta-style-1-padding-block-mobile: 14;
  --spacing-system-cssVars-cta-style-1-border-radius: 0px;
  --spacing-system-cssVars-cta-style-1-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-1-shadow-hover-radius: 0;
  --spacing-system-cssVars-cta-style-2-padding-inline-desktop: 26;
  --spacing-system-cssVars-cta-style-2-padding-inline-landscape: 26;
  --spacing-system-cssVars-cta-style-2-padding-inline-portrait: 26;
  --spacing-system-cssVars-cta-style-2-padding-inline-mobile: 26;
  --spacing-system-cssVars-cta-style-2-padding-block-desktop: 14;
  --spacing-system-cssVars-cta-style-2-padding-block-landscape: 14;
  --spacing-system-cssVars-cta-style-2-padding-block-portrait: 14;
  --spacing-system-cssVars-cta-style-2-padding-block-mobile: 14;
  --spacing-system-cssVars-cta-style-2-border-radius: 0px;
  --spacing-system-cssVars-cta-style-2-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-3-padding-inline-desktop: 32;
  --spacing-system-cssVars-cta-style-3-padding-inline-landscape: 32;
  --spacing-system-cssVars-cta-style-3-padding-inline-portrait: 32;
  --spacing-system-cssVars-cta-style-3-padding-inline-mobile: 32;
  --spacing-system-cssVars-cta-style-3-padding-block-desktop: 14;
  --spacing-system-cssVars-cta-style-3-padding-block-landscape: 14;
  --spacing-system-cssVars-cta-style-3-padding-block-portrait: 14;
  --spacing-system-cssVars-cta-style-3-padding-block-mobile: 14;
  --spacing-system-cssVars-cta-style-3-border-radius: 0px;
  --spacing-system-cssVars-cta-style-3-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-4-padding-inline-desktop: 1;
  --spacing-system-cssVars-cta-style-4-padding-inline-landscape: 1;
  --spacing-system-cssVars-cta-style-4-padding-inline-portrait: 1;
  --spacing-system-cssVars-cta-style-4-padding-inline-mobile: 1;
  --spacing-system-cssVars-cta-style-4-padding-block-landscape: 0;
  --spacing-system-cssVars-cta-style-4-padding-block-portrait: 10;
  --spacing-system-cssVars-cta-style-4-padding-block-mobile: 0;
  --spacing-system-cssVars-cta-style-4-border-radius: 0px;
  --spacing-system-cssVars-cta-style-4-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-5-padding-inline-desktop: 1;
  --spacing-system-cssVars-cta-style-5-padding-inline-landscape: 1;
  --spacing-system-cssVars-cta-style-5-padding-inline-portrait: 1;
  --spacing-system-cssVars-cta-style-5-padding-inline-mobile: 1;
  --spacing-system-cssVars-cta-style-5-border-radius: 0px;
  --spacing-system-cssVars-cta-style-5-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-6-padding-inline-desktop: 12;
  --spacing-system-cssVars-cta-style-6-padding-inline-landscape: 12;
  --spacing-system-cssVars-cta-style-6-padding-inline-portrait: 12;
  --spacing-system-cssVars-cta-style-6-padding-inline-mobile: 12;
  --spacing-system-cssVars-cta-style-6-padding-block-desktop: 1;
  --spacing-system-cssVars-cta-style-6-padding-block-landscape: 1;
  --spacing-system-cssVars-cta-style-6-padding-block-portrait: 1;
  --spacing-system-cssVars-cta-style-6-padding-block-mobile: 1;
  --spacing-system-cssVars-cta-style-6-border-radius: 0px;
  --spacing-system-cssVars-cta-style-6-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-7-padding-inline-desktop: 26;
  --spacing-system-cssVars-cta-style-7-padding-inline-landscape: 26;
  --spacing-system-cssVars-cta-style-7-padding-inline-portrait: 26;
  --spacing-system-cssVars-cta-style-7-padding-inline-mobile: 26;
  --spacing-system-cssVars-cta-style-7-padding-block-desktop: 14;
  --spacing-system-cssVars-cta-style-7-padding-block-landscape: 14;
  --spacing-system-cssVars-cta-style-7-padding-block-portrait: 14;
  --spacing-system-cssVars-cta-style-7-padding-block-mobile: 14;
  --spacing-system-cssVars-cta-style-7-border-radius: 0px;
  --spacing-system-cssVars-cta-style-7-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-8-padding-inline-desktop: 15;
  --spacing-system-cssVars-cta-style-8-padding-inline-landscape: 15;
  --spacing-system-cssVars-cta-style-8-padding-inline-portrait: 15;
  --spacing-system-cssVars-cta-style-8-padding-inline-mobile: 10;
  --spacing-system-cssVars-cta-style-8-padding-block-desktop: 10;
  --spacing-system-cssVars-cta-style-8-padding-block-landscape: 10;
  --spacing-system-cssVars-cta-style-8-padding-block-portrait: 10;
  --spacing-system-cssVars-cta-style-8-padding-block-mobile: 10;
  --spacing-system-cssVars-cta-style-8-border-radius: 0px;
  --spacing-system-cssVars-cta-style-8-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-9-padding-inline-desktop: 1;
  --spacing-system-cssVars-cta-style-9-padding-inline-landscape: 1;
  --spacing-system-cssVars-cta-style-9-padding-inline-portrait: 1;
  --spacing-system-cssVars-cta-style-9-padding-inline-mobile: 1;
  --spacing-system-cssVars-cta-style-9-padding-block-desktop: 0;
  --spacing-system-cssVars-cta-style-9-padding-block-landscape: 0;
  --spacing-system-cssVars-cta-style-9-padding-block-portrait: 0;
  --spacing-system-cssVars-cta-style-9-padding-block-mobile: 0;
  --spacing-system-cssVars-cta-style-9-border-radius: 0px;
  --spacing-system-cssVars-cta-style-9-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-10-padding-inline-desktop: 1;
  --spacing-system-cssVars-cta-style-10-padding-inline-landscape: 1;
  --spacing-system-cssVars-cta-style-10-padding-inline-portrait: 1;
  --spacing-system-cssVars-cta-style-10-padding-inline-mobile: 1;
  --spacing-system-cssVars-cta-style-10-border-radius: 0px;
  --spacing-system-cssVars-cta-style-10-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-11-padding-inline-desktop: 1;
  --spacing-system-cssVars-cta-style-11-padding-inline-landscape: 1;
  --spacing-system-cssVars-cta-style-11-padding-inline-portrait: 1;
  --spacing-system-cssVars-cta-style-11-padding-inline-mobile: 1;
  --spacing-system-cssVars-cta-style-11-border-radius: 0px;
  --spacing-system-cssVars-cta-style-11-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-12-padding-inline-desktop: 26;
  --spacing-system-cssVars-cta-style-12-padding-inline-landscape: 26;
  --spacing-system-cssVars-cta-style-12-padding-inline-portrait: 26;
  --spacing-system-cssVars-cta-style-12-padding-inline-mobile: 26;
  --spacing-system-cssVars-cta-style-12-padding-block-desktop: 14;
  --spacing-system-cssVars-cta-style-12-padding-block-landscape: 14;
  --spacing-system-cssVars-cta-style-12-padding-block-portrait: 14;
  --spacing-system-cssVars-cta-style-12-padding-block-mobile: 14;
  --spacing-system-cssVars-cta-style-12-border-radius: 0px;
  --spacing-system-cssVars-cta-style-12-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-13-padding-inline-desktop: 12;
  --spacing-system-cssVars-cta-style-13-padding-inline-landscape: 12;
  --spacing-system-cssVars-cta-style-13-padding-inline-portrait: 12;
  --spacing-system-cssVars-cta-style-13-padding-inline-mobile: 12;
  --spacing-system-cssVars-cta-style-13-padding-block-desktop: 1;
  --spacing-system-cssVars-cta-style-13-padding-block-landscape: 1;
  --spacing-system-cssVars-cta-style-13-padding-block-portrait: 1;
  --spacing-system-cssVars-cta-style-13-padding-block-mobile: 1;
  --spacing-system-cssVars-cta-style-13-border-radius: 0px;
  --spacing-system-cssVars-cta-style-13-letter-spacing: 0.01em;
  --spacing-system-cssVars-cta-style-14-padding-inline-desktop: 1;
  --spacing-system-cssVars-cta-style-14-padding-inline-landscape: 1;
  --spacing-system-cssVars-cta-style-14-padding-inline-portrait: 1;
  --spacing-system-cssVars-cta-style-14-padding-inline-mobile: 1;
  --spacing-system-cssVars-cta-style-14-padding-block-desktop: 0;
  --spacing-system-cssVars-cta-style-14-padding-block-landscape: 0;
  --spacing-system-cssVars-cta-style-14-padding-block-portrait: 0;
  --spacing-system-cssVars-cta-style-14-padding-block-mobile: 0;
  --spacing-system-cssVars-cta-style-14-border-radius: 0px;
  --spacing-system-cssVars-cta-style-14-letter-spacing: 0.01em;
  --spacing-system-cssVars-wp--preset--spacing--20: 0.44rem;
  --spacing-system-cssVars-wp--preset--spacing--30: 0.67rem;
  --spacing-system-cssVars-wp--preset--spacing--40: 1rem;
  --spacing-system-cssVars-wp--preset--spacing--50: 1.5rem;
  --spacing-system-cssVars-wp--preset--spacing--60: 2.25rem;
  --spacing-system-cssVars-wp--preset--spacing--70: 3.38rem;
  --spacing-system-cssVars-wp--preset--spacing--80: 5.06rem;
  --spacing-system-cssVars-better-reviews-star-gap: 15px;
  --spacing-system-elements-section-paddingRight: 96px;
  --spacing-system-elements-section-paddingBottom: 40px;
  --spacing-system-elements-section-paddingLeft: 96px;
  --spacing-system-elements-button-paddingTop: 14px;
  --spacing-system-elements-button-paddingRight: 26px;
  --spacing-system-elements-button-paddingBottom: 14px;
  --spacing-system-elements-button-paddingLeft: 26px;
  --spacing-system-elements-button-gap: 11px;
  --spacing-system-elements-button-rowGap: 11px;
  --spacing-system-elements-button-columnGap: 11px;
  --spacing-system-elements-input-paddingTop: 8px;
  --spacing-system-elements-input-paddingRight: 8px;
  --spacing-system-elements-input-paddingBottom: 8px;
  --spacing-system-elements-input-paddingLeft: 8px;
  --spacing-system-elements-input-marginLeft: 10px;
  --spacing-system-elements-li-paddingTop: 14px;
  --spacing-system-elements-li-paddingBottom: 14px;
  --spacing-system-elements-container-paddingTop: 50px;
  --spacing-system-elements-container-paddingRight: 50px;
  --spacing-system-elements-container-paddingBottom: 50px;
  --spacing-system-elements-container-paddingLeft: 50px;
  --spacing-system-elements-container-borderRadius: 3px;
  --spacing-system-elements-wrapper-paddingTop: 19px;
  --spacing-system-elements-wrapper-paddingRight: 15px;
  --spacing-system-elements-wrapper-paddingBottom: 19px;
  --spacing-system-elements-wrapper-paddingLeft: 15px;
  --spacing-system-elements-content-paddingTop: 70px;
  --spacing-system-elements-content-paddingBottom: 20px;
  --spacing-system-elements-grid-paddingRight: 80px;
  --spacing-system-elements-grid-paddingLeft: 80px;
  --spacing-system-elements-cta-paddingTop: 5px;
  --spacing-system-elements-cta-paddingRight: 20px;
  --spacing-system-elements-cta-paddingBottom: 5px;
  --spacing-system-elements-cta-paddingLeft: 20px;
  --spacing-system-elements-cta-marginRight: 10px;
  --spacing-system-elements-cta-borderRadius: 4px;
}
