:root {
  --spacing-system-cssVars-wp--preset--spacing--20: 0.44rem;
  --spacing-system-cssVars-wp--preset--spacing--30: 0.67rem;
  --spacing-system-cssVars-wp--preset--spacing--40: 1rem;
  --spacing-system-cssVars-wp--preset--spacing--50: 1.5rem;
  --spacing-system-cssVars-wp--preset--spacing--60: 2.25rem;
  --spacing-system-cssVars-wp--preset--spacing--70: 3.38rem;
  --spacing-system-cssVars-wp--preset--spacing--80: 5.06rem;
  --spacing-system-elements-input-paddingTop: 12px;
  --spacing-system-elements-input-paddingBottom: 12px;
  --spacing-system-elements-li-marginRight: 16px;
  --spacing-system-elements-li-marginLeft: 72px;
  --spacing-system-elements-wrapper-paddingRight: 90px;
  --spacing-system-elements-wrapper-paddingLeft: 90px;
  --spacing-system-elements-section-paddingTop: 100px;
  --spacing-system-elements-section-paddingBottom: 200px;
  --spacing-system-elements-section-marginTop: 200px;
  --spacing-system-elements-grid-marginTop: 100px;
  --spacing-system-elements-grid-gap: 100px;
  --spacing-system-elements-grid-rowGap: 100px;
  --spacing-system-elements-grid-columnGap: 100px;
  --spacing-system-elements-cta-paddingTop: 10px;
  --spacing-system-elements-cta-paddingRight: 12px;
  --spacing-system-elements-cta-paddingBottom: 10px;
  --spacing-system-elements-cta-paddingLeft: 12px;
  --spacing-system-elements-cta-borderRadius: 100px;
}
