:root {
  --spacing-system-elements-button-paddingRight: 19.2px;
  --spacing-system-elements-button-paddingLeft: 19.2px;
  --spacing-system-elements-button-gap: normal 9.6px;
  --spacing-system-elements-button-columnGap: 9.6px;
  --spacing-system-elements-p-marginBottom: 19.2px;
  --spacing-system-elements-wrapper-borderRadius: 4.8px;
  --spacing-system-elements-panel-marginBottom: 24px;
  --spacing-system-elements-cta-paddingRight: 19.2px;
  --spacing-system-elements-cta-paddingLeft: 19.2px;
  --spacing-system-elements-cta-gap: normal 9.6px;
  --spacing-system-elements-cta-columnGap: 9.6px;
  --spacing-system-elements-putting-the-power-back-in-your-paddingRight: 40.8px;
  --spacing-system-elements-putting-the-power-back-in-your-paddingLeft: 40.8px;
}
