:root {
  --grid-system-grids-splide--arrows-display: flex;
  --grid-system-grids-splide--arrows-flexDirection: row;
  --grid-system-grids-splide--arrows-gap: 7.74144px;
  --grid-system-grids-splide--arrows-alignItems: flex-start;
  --grid-system-grids-splide--arrows-childCount: 2;
  --grid-system-grids-splide--arrows-parentSection: section;
  --grid-system-grids-smaller-than-a-plant-cell-display: grid;
  --grid-system-grids-smaller-than-a-plant-cell-templateColumns: 395.875px 395.875px 395.875px;
  --grid-system-grids-smaller-than-a-plant-cell-columnCount: 3;
  --grid-system-grids-smaller-than-a-plant-cell-templateRows: 198.203px;
  --grid-system-grids-smaller-than-a-plant-cell-gap: 23.1014px;
  --grid-system-grids-smaller-than-a-plant-cell-childCount: 3;
  --grid-system-grids-smaller-than-a-plant-cell-parentSection: section;
  --grid-system-grids-fertilizer-reinvented-display: grid;
  --grid-system-grids-fertilizer-reinvented-templateColumns: 417.789px 408.008px 408.016px;
  --grid-system-grids-fertilizer-reinvented-columnCount: 3;
  --grid-system-grids-fertilizer-reinvented-templateRows: 720px;
  --grid-system-grids-fertilizer-reinvented-childCount: 5;
  --grid-system-grids-fertilizer-reinvented-parentSection: section;
  --grid-system-grids-logos-items-display: flex;
  --grid-system-grids-logos-items-flexDirection: row;
  --grid-system-grids-logos-items-gap: 80.6093px;
  --grid-system-grids-logos-items-justifyContent: space-between;
  --grid-system-grids-logos-items-alignItems: center;
  --grid-system-grids-logos-items-childCount: 5;
  --grid-system-grids-logos-items-parentSection: section;
  --grid-system-grids-most-fertilizers-never-make-it-display: grid;
  --grid-system-grids-most-fertilizers-never-make-it-templateColumns: 640px 640px;
  --grid-system-grids-most-fertilizers-never-make-it-columnCount: 2;
  --grid-system-grids-most-fertilizers-never-make-it-templateRows: 811.008px;
  --grid-system-grids-most-fertilizers-never-make-it-childCount: 2;
  --grid-system-grids-most-fertilizers-never-make-it-parentSection: s-second;
  --grid-system-grids-field-tested-farmer-approved-display: grid;
  --grid-system-grids-field-tested-farmer-approved-templateColumns: 640px 640px;
  --grid-system-grids-field-tested-farmer-approved-columnCount: 2;
  --grid-system-grids-field-tested-farmer-approved-templateRows: 720px;
  --grid-system-grids-field-tested-farmer-approved-childCount: 2;
  --grid-system-grids-field-tested-farmer-approved-parentSection: s-numbers;
  --grid-system-grids-cleaner-for-the-planet--witho-display: grid;
  --grid-system-grids-cleaner-for-the-planet--witho-templateColumns: 640px 640px;
  --grid-system-grids-cleaner-for-the-planet--witho-columnCount: 2;
  --grid-system-grids-cleaner-for-the-planet--witho-templateRows: 720px;
  --grid-system-grids-cleaner-for-the-planet--witho-childCount: 2;
  --grid-system-grids-cleaner-for-the-planet--witho-parentSection: s-carbon;
  --grid-system-grids-croptab-npk-display: grid;
  --grid-system-grids-croptab-npk-templateColumns: 395.875px 395.875px 395.875px;
  --grid-system-grids-croptab-npk-columnCount: 3;
  --grid-system-grids-croptab-npk-templateRows: 293.43px;
  --grid-system-grids-croptab-npk-gap: 23.1014px;
  --grid-system-grids-croptab-npk-childCount: 3;
  --grid-system-grids-croptab-npk-parentSection: products;
  --grid-system-grids-field-trials-in-progress-display: grid;
  --grid-system-grids-field-trials-in-progress-templateColumns: 640px 640px;
  --grid-system-grids-field-trials-in-progress-columnCount: 2;
  --grid-system-grids-field-trials-in-progress-templateRows: 706.555px;
  --grid-system-grids-field-trials-in-progress-childCount: 2;
  --grid-system-grids-field-trials-in-progress-parentSection: s-trials;
  --grid-system-responsive-bp-479px-query: screen and (max-width: 479px);
  --grid-system-responsive-bp-479px-maxWidth: none;
  --grid-system-responsive-bp-479px-display: inherit;
  --grid-system-responsive-bp-479px-columnGap: 1.1em;
  --grid-system-responsive-bp-479px-rowGap: 1.1em;
  --grid-system-responsive-bp-479px-flexDirection: column;
  --grid-system-responsive-bp-479px-flexWrap: nowrap;
  --grid-system-responsive-bp-479px-gridTemplateColumns: 1fr 9em;
  --grid-system-responsive-bp-479px-gridTemplateRows: auto;
  --grid-system-responsive-bp-767px-query: screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: inherit;
  --grid-system-responsive-bp-767px-maxWidth: none;
  --grid-system-responsive-bp-767px-gridTemplateColumns: 1fr 1fr 1fr;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-maxWidth: 96vw;
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-991px-query: screen and (max-width: 991px);
  --grid-system-responsive-bp-991px-maxWidth: 728px;
  --grid-system-responsive-bp-991px-display: inherit;
  --grid-system-responsive-bp-991px-columnGap: 5em;
  --grid-system-responsive-bp-991px-rowGap: 5em;
  --grid-system-responsive-bp-991px-flexDirection: column;
  --grid-system-responsive-bp-991px-flexWrap: nowrap;
  --grid-system-responsive-bp-991px-gridTemplateRows: auto;
  --grid-system-responsive-bp-991px-gridTemplateColumns: 1fr;
  --grid-system-responsive-bp-992px-query: (min-width: 992px);
  --grid-system-responsive-bp-992px-display: none;
}
