:root {
  --grid-system-cssVars-content-column-width: 66vw;
  --grid-system-grids-friends-of-the-web-display: grid;
  --grid-system-grids-friends-of-the-web-templateColumns: 1500.65px 20px;
  --grid-system-grids-friends-of-the-web-columnCount: 2;
  --grid-system-grids-friends-of-the-web-templateRows: 51.7969px;
  --grid-system-grids-friends-of-the-web-gap: 69.12px;
  --grid-system-grids-friends-of-the-web-childCount: 2;
  --grid-system-grids-Header-module--hBw1pG--nav-display: flex;
  --grid-system-grids-Header-module--hBw1pG--nav-flexDirection: row;
  --grid-system-grids-Header-module--hBw1pG--nav-gap: 14px;
  --grid-system-grids-Header-module--hBw1pG--nav-childCount: 3;
  --grid-system-grids-Header-module--hBw1pG--nav-parentSection: header;
  --grid-system-grids-grid-3-display: flex;
  --grid-system-grids-grid-3-flexDirection: row;
  --grid-system-grids-grid-3-gap: 7px;
  --grid-system-grids-grid-3-alignItems: center;
  --grid-system-grids-grid-3-childCount: 3;
  --grid-system-grids-grid-3-parentSection: section;
  --grid-system-grids-grid-4-display: flex;
  --grid-system-grids-grid-4-flexDirection: row;
  --grid-system-grids-grid-4-gap: 7px;
  --grid-system-grids-grid-4-alignItems: center;
  --grid-system-grids-grid-4-childCount: 3;
  --grid-system-grids-grid-4-parentSection: section;
  --grid-system-grids-grid-5-display: grid;
  --grid-system-grids-grid-5-templateColumns: 1140.48px 1140.48px 1140.48px 1140.48px;
  --grid-system-grids-grid-5-columnCount: 4;
  --grid-system-grids-grid-5-templateRows: 822.016px;
  --grid-system-grids-grid-5-gap: 34.56px;
  --grid-system-grids-grid-5-childCount: 3;
  --grid-system-grids-grid-5-parentSection: section;
  --grid-system-grids-grid-6-display: flex;
  --grid-system-grids-grid-6-flexDirection: row;
  --grid-system-grids-grid-6-gap: 7px;
  --grid-system-grids-grid-6-alignItems: center;
  --grid-system-grids-grid-6-childCount: 3;
  --grid-system-grids-grid-6-parentSection: section;
  --grid-system-grids-index-module--nY7xtG--aboutUs-display: grid;
  --grid-system-grids-index-module--nY7xtG--aboutUs-templateColumns: 1135.55px 454.219px;
  --grid-system-grids-index-module--nY7xtG--aboutUs-columnCount: 2;
  --grid-system-grids-index-module--nY7xtG--aboutUs-templateRows: 851.656px;
  --grid-system-grids-index-module--nY7xtG--aboutUs-childCount: 2;
  --grid-system-grids-index-module--nY7xtG--aboutUs-parentSection: section;
  --grid-system-grids-index-module--JGrKia--tags-display: flex;
  --grid-system-grids-index-module--JGrKia--tags-flexDirection: row;
  --grid-system-grids-index-module--JGrKia--tags-gap: 14px;
  --grid-system-grids-index-module--JGrKia--tags-flexWrap: wrap;
  --grid-system-grids-index-module--JGrKia--tags-alignItems: center;
  --grid-system-grids-index-module--JGrKia--tags-childCount: 5;
  --grid-system-grids-index-module--JGrKia--tags-parentSection: section;
  --grid-system-grids-index-module--JGrKia--milestone-display: grid;
  --grid-system-grids-index-module--JGrKia--milestone-templateColumns: 56px 1084.48px;
  --grid-system-grids-index-module--JGrKia--milestone-columnCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-templateRows: 114.445px;
  --grid-system-grids-index-module--JGrKia--milestone-childCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-parentSection: section;
  --grid-system-grids-index-module--JGrKia--milestone-2-display: grid;
  --grid-system-grids-index-module--JGrKia--milestone-2-templateColumns: 56px 1084.48px;
  --grid-system-grids-index-module--JGrKia--milestone-2-columnCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-2-templateRows: 175.484px;
  --grid-system-grids-index-module--JGrKia--milestone-2-childCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-2-parentSection: section;
  --grid-system-grids-index-module--JGrKia--tags-2-display: flex;
  --grid-system-grids-index-module--JGrKia--tags-2-flexDirection: row;
  --grid-system-grids-index-module--JGrKia--tags-2-gap: 14px;
  --grid-system-grids-index-module--JGrKia--tags-2-flexWrap: wrap;
  --grid-system-grids-index-module--JGrKia--tags-2-alignItems: center;
  --grid-system-grids-index-module--JGrKia--tags-2-childCount: 2;
  --grid-system-grids-index-module--JGrKia--tags-2-parentSection: section;
  --grid-system-grids-index-module--JGrKia--milestone-3-display: grid;
  --grid-system-grids-index-module--JGrKia--milestone-3-templateColumns: 56px 1084.48px;
  --grid-system-grids-index-module--JGrKia--milestone-3-columnCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-3-templateRows: 238.133px;
  --grid-system-grids-index-module--JGrKia--milestone-3-childCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-3-parentSection: section;
  --grid-system-grids-index-module--JGrKia--milestone-4-display: grid;
  --grid-system-grids-index-module--JGrKia--milestone-4-templateColumns: 56px 1084.48px;
  --grid-system-grids-index-module--JGrKia--milestone-4-columnCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-4-templateRows: 175.484px;
  --grid-system-grids-index-module--JGrKia--milestone-4-childCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-4-parentSection: section;
  --grid-system-grids-index-module--JGrKia--tags-3-display: flex;
  --grid-system-grids-index-module--JGrKia--tags-3-flexDirection: row;
  --grid-system-grids-index-module--JGrKia--tags-3-gap: 14px;
  --grid-system-grids-index-module--JGrKia--tags-3-flexWrap: wrap;
  --grid-system-grids-index-module--JGrKia--tags-3-alignItems: center;
  --grid-system-grids-index-module--JGrKia--tags-3-childCount: 2;
  --grid-system-grids-index-module--JGrKia--tags-3-parentSection: section;
  --grid-system-grids-index-module--JGrKia--milestone-5-display: grid;
  --grid-system-grids-index-module--JGrKia--milestone-5-templateColumns: 56px 1084.48px;
  --grid-system-grids-index-module--JGrKia--milestone-5-columnCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-5-templateRows: 186.336px;
  --grid-system-grids-index-module--JGrKia--milestone-5-childCount: 2;
  --grid-system-grids-index-module--JGrKia--milestone-5-parentSection: section;
  --grid-system-responsive-bp-600px-query: screen and (min-width: 600px);
  --grid-system-responsive-bp-600px-gridTemplateColumns: 1fr auto;
}
