:root {
  --motion-system-videos-count: 1;
  --motion-system-videos-animatedGifs: 0;
  --motion-system-performance-totalAnimatedElements: 31;
  --motion-system-performance-simultaneousAnimations: 1;
  --motion-system-performance-videoLoad: light;
  --motion-system-performance-complexAnimations: 5;
  --motion-system-performance-summary-videos: 1;
  --motion-system-performance-summary-animatedGifs: 0;
  --motion-system-performance-summary-keyframes: 10;
  --motion-system-performance-summary-scrollLibraries: 0;
}
