:root {
  --grid-system-cssVars-container-max-width: 88%;
  --grid-system-cssVars-container-xxs-max-width: 27.5rem;
  --grid-system-cssVars-container-xs-max-width: 42.5rem;
  --grid-system-cssVars-container-sm-max-width: 61.25rem;
  --grid-system-cssVars-container-md-max-width: 71.875rem;
  --grid-system-cssVars-container-lg-max-width: 78.75rem;
  --grid-system-cssVars-container-xl-max-width: 85rem;
  --grid-system-cssVars-container-gutter: 1.25rem;
  --grid-system-cssVars-section-stack-gap: 2.25rem;
  --grid-system-cssVars-section-stack-gap-tight: 2.25rem;
  --grid-system-cssVars-form-gap: 1.25rem;
  --grid-system-cssVars-fieldset-gap: 1rem;
  --grid-system-cssVars-form-control-gap: 0.625rem;
  --grid-system-cssVars-checkbox-control-gap: 0.75rem;
  --grid-system-grids-media-grid-display: grid;
  --grid-system-grids-media-grid-templateColumns: repeat(10, 93.6px);
  --grid-system-grids-media-grid-columnCount: 10;
  --grid-system-grids-media-grid-templateRows: 400px;
  --grid-system-grids-media-grid-gap: 36px;
}
