:root {
  --color-system-elements-pageBackground: #ffffff;
  --color-system-elements-bodyText: #4e4946;
  --color-system-elements-headingText: #4e4946;
  --color-system-elements-linkColor: #666666;
}
