:root {
  --spacing-system-elements-section-paddingRight: 32px;
  --spacing-system-elements-section-paddingLeft: 32px;
  --spacing-system-elements-section-marginRight: 20px;
  --spacing-system-elements-section-marginLeft: 20px;
  --spacing-system-elements-button-paddingTop: 20px;
  --spacing-system-elements-button-paddingRight: 15px;
  --spacing-system-elements-button-paddingBottom: 30.8px;
  --spacing-system-elements-button-paddingLeft: 15px;
  --spacing-system-elements-hero-paddingTop: 36px;
  --spacing-system-elements-hero-paddingRight: 32px;
  --spacing-system-elements-hero-paddingBottom: 36px;
  --spacing-system-elements-hero-paddingLeft: 32px;
  --spacing-system-elements-hero-marginRight: 20px;
  --spacing-system-elements-hero-marginLeft: 20px;
  --spacing-system-elements-row-paddingTop: 24px;
  --spacing-system-elements-cta-paddingTop: 20px;
  --spacing-system-elements-cta-paddingRight: 15px;
  --spacing-system-elements-cta-paddingBottom: 30.8px;
  --spacing-system-elements-cta-paddingLeft: 15px;
}
