:root {
  --grid-system-grids-navigation-display: flex;
  --grid-system-grids-navigation-flexDirection: row;
  --grid-system-grids-navigation-gap: 3px;
  --grid-system-grids-navigation-childCount: 7;
  --grid-system-responsive-bp-440px-query: only screen and (max-width: 440px);
  --grid-system-responsive-bp-440px-rowGap: 2px;
  --grid-system-responsive-bp-440px-columnGap: 2px;
  --grid-system-responsive-bp-520px-query: only screen and (max-width: 520px);
  --grid-system-responsive-bp-520px-flexDirection: column;
  --grid-system-responsive-bp-520px-rowGap: 1px;
  --grid-system-responsive-bp-520px-columnGap: 1px;
  --grid-system-responsive-bp-520px-display: initial;
  --grid-system-responsive-bp-870px-query: only screen and (max-width: 870px);
  --grid-system-responsive-bp-870px-display: none;
}
