:root {
  --spacing-system-elements-section-paddingTop: 168.938px;
  --spacing-system-elements-button-paddingTop: 9px;
  --spacing-system-elements-button-paddingRight: 22px;
  --spacing-system-elements-button-paddingBottom: 9px;
  --spacing-system-elements-button-paddingLeft: 22px;
  --spacing-system-elements-p-marginTop: 9.2px;
  --spacing-system-elements-p-marginBottom: 9.2px;
  --spacing-system-elements-wrapper-paddingTop: 32.832px;
  --spacing-system-elements-wrapper-paddingRight: 69.12px;
  --spacing-system-elements-wrapper-paddingBottom: 32.832px;
  --spacing-system-elements-wrapper-paddingLeft: 69.12px;
  --spacing-system-elements-grid-marginRight: 59.9922px;
  --spacing-system-elements-grid-marginBottom: 59.9922px;
  --spacing-system-elements-cta-paddingTop: 14.4px;
  --spacing-system-elements-cta-paddingRight: 28.8px;
  --spacing-system-elements-cta-paddingBottom: 14.4px;
  --spacing-system-elements-cta-paddingLeft: 28.8px;
  --spacing-system-elements-cta-borderRadius: 6.4px;
}
