:root {
  --spacing-nav-padding: 11.4048px;
  --spacing-section-padding-h: 30.6048px;
  --spacing-section-padding-v: 76.224px;
  --spacing-section-gap: 11.4048px;
  --spacing-footer-padding-top: 57.024px;
  --spacing-button-margin: 6px;
  --spacing-input-padding-left: 9.6px;
  --spacing-p-margin-bottom: 22.8096px;
  --spacing-p-margin-left: 57.024px;
  --spacing-container-padding-h: 11.4048px;
  --spacing-container-padding-v: 57.024px;
  --spacing-container-gap: 11.4048px;
  --spacing-cta-padding-v: 22.8096px;
  --spacing-cta-padding-h: 11.4048px;
  --spacing-hero-padding-v: 57.024px;
  --spacing-hero-padding-h: 11.4048px;
  --spacing-row-padding-bottom: 11.4048px;
  --spacing-row-gap: 11.4048px;
}
