:root {
  --color-system-elements-pageBackground: #e8e8e8;
  --color-system-elements-bodyText: #030303;
  --color-system-elements-headingText: #030303;
  --color-system-elements-buttonText: #e8e8e8;
  --color-system-elements-linkColor: #0000ee;
  --color-system-elements-borderColor: #e8e8e8;
}
