@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');

:root {
  --type-system-cssVars-font-primary: Barlow;
  --type-system-cssVars-font-display: Barlow Condensed;
  --type-system-cssVars-font-letter-spacing-heading: 0.02em;

  --type-system-typeScale-h2-fontFamily: Barlow Condensed, ui-sans-serif, system-ui, sans-serif;
  --type-system-typeScale-h2-fontSize: 85.536px;
  --type-system-typeScale-h2-fontWeight: 600;
  --type-system-typeScale-h2-lineHeight: 85.536px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-textTransform: uppercase;
  --type-system-typeScale-h2-letterSpacing: 0.02em;
  --type-system-typeScale-h2-primaryFont: Barlow Condensed;

  --type-system-typeScale-h3-fontFamily: Barlow, ui-sans-serif, system-ui, sans-serif;
  --type-system-typeScale-h3-fontSize: 14.256px;
  --type-system-typeScale-h3-fontWeight: 300;
  --type-system-typeScale-h3-lineHeight: 19.008px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h3-primaryFont: Barlow;

  --type-system-typeScale-h4-fontFamily: Barlow Condensed, ui-sans-serif, system-ui, sans-serif;
  --type-system-typeScale-h4-fontSize: 14.256px;
  --type-system-typeScale-h4-fontWeight: 400;
  --type-system-typeScale-h4-lineHeight: 14.256px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-h4-textTransform: uppercase;
  --type-system-typeScale-h4-primaryFont: Barlow Condensed;

  --type-system-typeScale-body-fontFamily: Barlow, ui-sans-serif, system-ui, sans-serif;
  --type-system-typeScale-body-fontSize: 19.008px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 28.512px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Barlow;

  --type-system-typeScale-p-fontFamily: Barlow, ui-sans-serif, system-ui, sans-serif;
  --type-system-typeScale-p-fontSize: 14.256px;
  --type-system-typeScale-p-fontWeight: 300;
  --type-system-typeScale-p-lineHeight: 19.008px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: Barlow;

  --type-system-typeScale-button-fontFamily: Barlow, ui-sans-serif, system-ui, sans-serif;
  --type-system-typeScale-button-fontSize: 19.008px;
  --type-system-typeScale-button-fontWeight: 400;
  --type-system-typeScale-button-lineHeight: 28.512px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-primaryFont: Barlow;

  --type-system-typeScale-link-fontFamily: Barlow, ui-sans-serif, system-ui, sans-serif;
  --type-system-typeScale-link-fontSize: 14.256px;
  --type-system-typeScale-link-fontWeight: 300;
  --type-system-typeScale-link-lineHeight: 19.008px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-primaryFont: Barlow;

  --type-system-typeScale-nav-fontFamily: Barlow, ui-sans-serif, system-ui, sans-serif;
  --type-system-typeScale-nav-fontSize: 14.256px;
  --type-system-typeScale-nav-fontWeight: 300;
  --type-system-typeScale-nav-lineHeight: 19.008px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-primaryFont: Barlow;
}
