:root {
  --color-system-cssVars-c--rose: #fceaef;
  --color-system-cssVars-c--ruby: #df2a63;
  --color-system-cssVars-c--bright-ruby: #ff3a78;
  --color-system-cssVars-c--ipn-ruby: #ed2564;
  --color-system-cssVars-c--spruce: #0a7986;
  --color-system-cssVars-c--cash-back-black: #1c1f24;
  --color-system-cssVars-c--neutral-1: #d6d9dc;
  --color-system-cssVars-c--neutral-2: #e3e6e9;
  --color-system-cssVars-c--neutral-3: #f0f2f5;
  --color-system-cssVars-c--neutral-4: #f4f5f6;
  --color-system-cssVars-c--neutral-5: #f8f9fc;
  --color-system-cssVars-c--neutral-6: #bbbfc3;
  --color-system-cssVars-c--neutral-7: #93999c;
  --color-system-cssVars-c--tan: #f3ebde;
  --color-system-cssVars-c--white: #fff;
  --color-system-cssVars-c--cobalt: #1e3cd6;
  --color-system-cssVars-c--purple: #501098;
  --color-system-cssVars-c--red: #c21314;
  --color-system-cssVars-c--cherry: #840853;
  --color-system-cssVars-c--blue: #04a2df;
  --color-system-cssVars-c--pink: #e942d1;
  --color-system-cssVars-c--burgundy: #940000;
  --color-system-cssVars-c--maroon: #7c072c;
  --color-system-cssVars-c--green: #5cb85c;
  --color-system-cssVars-ct--white: hsla(0,0%,100%,.95);
  --color-system-cssVars-ct--dark-3: #1c1f24;
  --color-system-cssVars-c--all-posts: #a3eab6;
  --color-system-cssVars-c--all-posts-dark: #106427;
  --color-system-cssVars-c--lifestyle: #fcd3ec;
  --color-system-cssVars-c--lifestyle-dark: #951261;
  --color-system-cssVars-c--seasonal: #d1ecef;
  --color-system-cssVars-c--seasonal-dark: #126770;
  --color-system-cssVars-c--buzz: #ffe5ed;
  --color-system-cssVars-c--buzz-dark: #c91d53;
  --color-system-cssVars-c--tips: #e9ecff;
  --color-system-cssVars-c--tips-dark: #1e3cd6;
  --color-system-cssVars-c--facebook: #1877f2;
  --color-system-cssVars-c--twitter: #000;
  --color-system-cssVars-c--pinterest: #bd081c;
  --color-system-cssVars-c--email: #323b43;
  --color-system-cssVars-c--dark-1: #424750;
  --color-system-cssVars-c--dark-2: #575c67;
  --color-system-cssVars-c--dark-3: #1c1f24;
  --color-system-cssVars-c--dark-4: #24272d;
  --color-system-cssVars-c--dark-5: #292f36;
  --color-system-cssVars-backdrop: #000000;
  --color-system-elements-bodyText: #1c1f24;
  --color-system-elements-headingText: #ffffff;
  --color-system-elements-linkColor: #1c1f24;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #1c1f24;
  --color-system-elements-navLink: #1c1f24;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #1c1f24;
  --color-system-elements-navLinkScrolled: #1c1f24;
}
