:root {
  --color-system-cssVars-transform-origin-start: left;
  --color-system-cssVars-transform-origin-end: right;
  --color-system-cssVars-custom-labels-background: #f9f8f8;
  --color-system-cssVars-custom-labels-text-color: #201b1b;
  --color-system-cssVars-atlas-background-main: #FFFFFF;
  --color-system-cssVars-atlas-background-content: #FFFFFF;
  --color-system-cssVars-atlas-background-success: #518b22;
  --color-system-cssVars-atlas-background-error: #be2119;
  --color-system-cssVars-atlas-text-primary: #000000;
  --color-system-cssVars-atlas-text-secondary: #00000080;
  --color-system-cssVars-atlas-text-negative: #be2119;
  --color-system-cssVars-atlas-text-positive: #366d12;
  --color-system-cssVars-atlas-text-placeholder: #747576;
  --color-system-cssVars-atlas-text-primary-inverse: #FFFFFF;
  --color-system-cssVars-atlas-primary-color: #000000;
  --color-system-cssVars-atlas-button-primary: #000000;
  --color-system-cssVars-atlas-button-disabled-color: grey;
  --color-system-cssVars-atlas-button-text-disabled-color: lightgrey;
  --color-system-cssVars-atlas-border-light: #000000;
  --color-system-cssVars-atlas-border-focus: #41a1e6;
  --color-system-cssVars-atlas-border-dark: #000000;
  --color-system-cssVars-atlas-input-error: #cc3c28;
  --color-system-cssVars-atlas-overlay-light: #000000;
  --color-system-cssVars-atlas-overlay-medium: #000000;
  --color-system-cssVars-atlas-overlay-heavy: #000000;
  --color-system-cssVars-atlas-focus-outline-color: #41a1e6;
  --color-system-cssVars-atlas-text-selection: #96b4ff;
  --color-system-cssVars-atlas-caution-base: #fdd926;
  --color-system-cssVars-atlas-font-weight-bold: bolder;
  --color-system-cssVars-atlas-heading-text-primary: #000000;
  --color-system-cssVars-atlas-heading-text-secondary: #00000080;
  --color-system-cssVars-atlas-heading-text-negative: #be2119;
  --color-system-cssVars-atlas-font-weight-heading-bold: bolder;
  --color-system-cssVars-atlas-chat-bubble-text-primary: #322e2f;
  --color-system-cssVars-atlas-chat-bubble-background: #f2f2f2;
  --color-system-cssVars-atlas-chat-bubble-display-name: #797979;
  --color-system-cssVars-atlas-loading-skeleton-color: #000000;
  --color-system-cssVars-atlas-loading-skeleton-highlight-color: #000000;
  --color-system-cssVars-kl-reviews-color-light-gray: #e9e9eb;
  --color-system-cssVars-main-color: #2C622C;
  --color-system-cssVars-link-color: #234923;
  --color-system-cssVars-text-color: #222;
  --color-system-cssVars-hover-color: #234923;
  --color-system-cssVars-decline-color: #f6f6f6;
  --color-system-cssVars-decline-text: #000;
  --color-system-cssVars-decline-hover: #dddddd;
  --color-system-cssVars-footer-background: #f6f6f6;
  --color-system-cssVars-scw-brown-dark: #463126;
  --color-system-cssVars-scw-brown-mid: #7E4E35;
  --color-system-cssVars-scw-brown-warm: #5C3A2A;
  --color-system-cssVars-scw-near-black: #1C1C1C;
  --color-system-cssVars-scw-white: #FFFFFF;
  --color-system-cssVars-scw-off-white: #F9F8F8;
  --color-system-cssVars-scw-light-grey: #EFEFEF;
  --color-system-cssVars-scw-success: #428445;
  --color-system-cssVars-atlas-favorites-font-family: undefined;
  --color-system-cssVars-atlas-favorites-font-weight: undefined;
  --color-system-cssVars-atlas-favorites-font-color: undefined;
  --color-system-cssVars-atlas-favorites-fill-color: #ffffff;
  --color-system-cssVars-atlas-favorites-icon-color: undefined;
  --color-system-cssVars-atlas-favorites-hub-icon-color: #000000;
  --color-system-cssVars-atlas-faq-font-color: #FFFFFF;
  --color-system-cssVars-atlas-faq-fill-color: #000000;
  --color-system-cssVars-atlas-widget-background-color: #FFFFFF;
  --color-system-elements-pageBackground: #ffffff;
  --color-system-elements-bodyText: #1c1c1c;
  --color-system-elements-headingText: #1c1c1c;
  --color-system-elements-buttonText: #1c1c1c;
  --color-system-elements-linkColor: #234923;
  --color-system-elements-borderColor: #1c1c1c;
}
