:root {
  --grid-system-responsive-bp-750px-query: screen and (max-height: 750px);
  --grid-system-responsive-bp-750px-maxWidth: 50vh;
  --grid-system-responsive-bp-768px-query: only screen and (min-width: 768px);
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-1025px-query: only screen and (min-width: 1025px);
  --grid-system-responsive-bp-1025px-display: flex;
  --grid-system-responsive-bp-1025px-rowGap: 2.5rem;
  --grid-system-responsive-bp-1025px-columnGap: 2.5rem;
  --grid-system-responsive-bp-1025px-maxWidth: 3.5rem;
  --grid-system-responsive-bp-1025px-flexDirection: row;
  --grid-system-responsive-bp-1200px-query: only screen and (min-width: 1200px);
  --grid-system-responsive-bp-1200px-flexDirection: row;
  --grid-system-responsive-bp-1200px-rowGap: 12rem;
  --grid-system-responsive-bp-1200px-columnGap: 12rem;
}
