:root {
  --grid-system-container-maxWidth: 1728px;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-gridTemplateRows: repeat(28,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
  --grid-system-responsive-bp-768px-gridTemplateColumns: minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
}
