:root {
  --spacing-system-elements-section-paddingBottom: 260px;
  --spacing-system-elements-section-marginRight: 317px;
  --spacing-system-elements-section-marginLeft: 317px;
  --spacing-system-elements-section-gap: 213px;
  --spacing-system-elements-section-rowGap: 213px;
  --spacing-system-elements-section-columnGap: 213px;
  --spacing-system-elements-container-paddingTop: 348px;
  --spacing-system-elements-container-marginRight: 317px;
  --spacing-system-elements-container-marginLeft: 317px;
  --spacing-system-elements-container-gap: 62px;
  --spacing-system-elements-container-rowGap: 62px;
  --spacing-system-elements-container-columnGap: 62px;
  --spacing-system-elements-grid-marginLeft: 747.54px;
  --spacing-system-elements-grid-gap: 78px;
  --spacing-system-elements-grid-rowGap: 78px;
  --spacing-system-elements-grid-columnGap: 78px;
  --spacing-system-elements-row-marginTop: 398px;
  --spacing-system-elements-row-gap: 104px;
  --spacing-system-elements-row-rowGap: 104px;
  --spacing-system-elements-row-columnGap: 104px;
  --spacing-system-elements-cta-paddingTop: 13px;
  --spacing-system-elements-cta-paddingRight: 35px;
  --spacing-system-elements-cta-paddingBottom: 13px;
  --spacing-system-elements-cta-paddingLeft: 35px;
  --spacing-system-elements-cta-borderRadius: 9999px;
  --spacing-system-elements-div-1-paddingTop: 52px;
  --spacing-system-elements-div-1-paddingBottom: 52px;
  --spacing-system-elements-div-1-marginRight: 317px;
  --spacing-system-elements-div-1-marginLeft: 317px;
  --spacing-system-elements-share-protocol-and-api-paddingTop: 260px;
  --spacing-system-elements-share-protocol-and-api-paddingBottom: 260px;
  --spacing-system-elements-share-protocol-and-api-marginRight: 317px;
  --spacing-system-elements-share-protocol-and-api-marginLeft: 317px;
  --spacing-system-elements-div-4-paddingTop: 260px;
  --spacing-system-elements-div-4-paddingBottom: 86px;
  --spacing-system-elements-div-4-marginRight: 317px;
  --spacing-system-elements-div-4-marginLeft: 317px;
}
