:root {
  --color-system-cssVars-mask-visible: black;
  --color-system-cssVars-mask-on: black;
  --color-system-cssVars-mask-ease: #000000;
  --color-system-cssVars-transparent: #ffffff;
  --color-system-cssVars-scrollbar-color: #ffffff;
  --color-system-cssVars-scrollbar-color-hover: #ffffff;
  --color-system-cssVars-scrollbar-color-active: #ffffff;
  --color-system-cssVars-color-white: #fff;
  --color-system-cssVars-color-black: #000;
  --color-system-cssVars-color-blue: #4ea7fc;
  --color-system-cssVars-color-red: #eb5757;
  --color-system-cssVars-color-green: #27a644;
  --color-system-cssVars-color-orange: #fc7840;
  --color-system-cssVars-color-yellow: #f0bf00;
  --color-system-cssVars-color-indigo: #5e6ad2;
  --color-system-cssVars-color-teal: #00b8cc;
  --color-system-cssVars-color-linear-plan: #68cc58;
  --color-system-cssVars-color-linear-build: #d4b144;
  --color-system-cssVars-color-linear-security: #7a7fad;
  --color-system-cssVars-pointer: pointer;
  --color-system-cssVars-cursor-pointer: pointer;
  --color-system-cssVars-cursor-tooltip: help;
  --color-system-elements-pageBackground: #08090a;
  --color-system-elements-bodyText: #f7f8f8;
  --color-system-elements-headingText: #f7f8f8;
  --color-system-elements-buttonText: #8a8f98;
  --color-system-elements-linkColor: #ffffff;
  --color-system-elements-borderColor: #8a8f98;
}
