@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;900&display=swap');

:root {
  --type-system-typeScale-h1-fontFamily: Inter, sans-serif;
  --type-system-typeScale-h1-fontSize: 42px;
  --type-system-typeScale-h1-fontWeight: 500;
  --type-system-typeScale-h1-lineHeight: 62px;
  --type-system-typeScale-h1-letterSpacing: -1.26px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-primaryFont: Inter;
  --type-system-typeScale-body-fontFamily: Inter, sans-serif;
  --type-system-typeScale-body-fontSize: 16px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 32px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Inter;
  --type-system-typeScale-p-fontFamily: Inter, sans-serif;
  --type-system-typeScale-p-fontSize: 18px;
  --type-system-typeScale-p-fontWeight: 400;
  --type-system-typeScale-p-lineHeight: 27px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: Inter;
  --type-system-typeScale-button-fontFamily: Inter, sans-serif;
  --type-system-typeScale-button-fontSize: 12px;
  --type-system-typeScale-button-fontWeight: 500;
  --type-system-typeScale-button-lineHeight: 19px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-primaryFont: Inter;
  --type-system-typeScale-link-fontFamily: Inter, sans-serif;
  --type-system-typeScale-link-fontSize: 12px;
  --type-system-typeScale-link-fontWeight: 500;
  --type-system-typeScale-link-lineHeight: 19px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-primaryFont: Inter;
}
