:root {
  --spacing-system-elements-nav-gap: normal 16px;
  --spacing-system-elements-nav-columnGap: 16px;
  --spacing-system-elements-section-paddingRight: 16px;
  --spacing-system-elements-section-paddingLeft: 16px;
  --spacing-system-elements-button-paddingTop: 16px;
  --spacing-system-elements-button-paddingBottom: 16px;
  --spacing-system-elements-container-paddingTop: 62.0116px;
  --spacing-system-elements-container-paddingRight: 115.076px;
  --spacing-system-elements-container-paddingBottom: 62.0116px;
  --spacing-system-elements-container-paddingLeft: 115.076px;
  --spacing-system-elements-wrapper-paddingTop: 230px;
  --spacing-system-elements-wrapper-paddingBottom: 120px;
  --spacing-system-elements-hero-paddingTop: 220px;
  --spacing-system-elements-hero-paddingBottom: 140px;
  --spacing-system-elements-grid-gap: normal 16px;
  --spacing-system-elements-grid-columnGap: 16px;
  --spacing-system-elements-row-paddingTop: 69.0175px;
  --spacing-system-elements-row-paddingBottom: 69.0175px;
  --spacing-system-elements-cta-paddingTop: 9px;
  --spacing-system-elements-cta-paddingRight: 14px;
  --spacing-system-elements-cta-paddingBottom: 8px;
  --spacing-system-elements-cta-paddingLeft: 14px;
  --spacing-system-elements-cta-gap: 5.81818px;
  --spacing-system-elements-cta-rowGap: 5.81818px;
  --spacing-system-elements-cta-columnGap: 5.81818px;
  --spacing-system-elements-cta-borderRadius: 100px;
  --spacing-system-elements-why-gsap-paddingRight: 115.076px;
  --spacing-system-elements-why-gsap-paddingLeft: 115.076px;
  --spacing-system-elements-gsap-tools-paddingTop: 120.047px;
  --spacing-system-elements-gsap-tools-paddingBottom: 120.047px;
  --spacing-system-elements-brands-using-gsap-paddingTop: 120.047px;
  --spacing-system-elements-brands-using-gsap-paddingBottom: 120.047px;
  --spacing-system-elements-showcase-paddingTop: 124.272px;
  --spacing-system-elements-showcase-paddingBottom: 124.272px;
}
