:root {
  --spacing-system-elements-section-paddingTop: 52px;
  --spacing-system-elements-section-paddingRight: 59px;
  --spacing-system-elements-section-paddingLeft: 62px;
  --spacing-system-elements-section-marginTop: 16px;
  --spacing-system-elements-section-marginRight: 3px;
  --spacing-system-elements-section-marginBottom: 4px;
  --spacing-system-elements-button-paddingTop: 1px;
  --spacing-system-elements-button-paddingRight: 18px;
  --spacing-system-elements-button-paddingBottom: 2px;
  --spacing-system-elements-button-paddingLeft: 18px;
  --spacing-system-elements-button-marginRight: 8px;
  --spacing-system-elements-button-borderRadius: 10px;
  --spacing-system-elements-input-paddingTop: 6px;
  --spacing-system-elements-input-paddingRight: 35px;
  --spacing-system-elements-input-paddingBottom: 6px;
  --spacing-system-elements-input-paddingLeft: 15px;
  --spacing-system-elements-input-borderRadius: 50px;
  --spacing-system-elements-li-paddingTop: 8px;
  --spacing-system-elements-li-paddingRight: 8px;
  --spacing-system-elements-li-paddingBottom: 8px;
  --spacing-system-elements-li-paddingLeft: 8px;
  --spacing-system-elements-cta-paddingTop: 1px;
  --spacing-system-elements-cta-paddingRight: 32px;
  --spacing-system-elements-cta-paddingBottom: 1px;
  --spacing-system-elements-cta-paddingLeft: 32px;
  --spacing-system-elements-cta-borderRadius: 18px;
  --spacing-system-elements-div-1-paddingTop: 16px;
  --spacing-system-elements-div-1-paddingRight: 51.84px;
  --spacing-system-elements-div-1-paddingBottom: 16px;
  --spacing-system-elements-div-1-paddingLeft: 51.84px;
  --spacing-system-elements-div-2-paddingLeft: 40px;
  --spacing-system-elements-div-2-gap: 10px;
  --spacing-system-elements-div-2-rowGap: 10px;
  --spacing-system-elements-div-2-columnGap: 10px;
}
