:root {
  --color-system-elements-pageBackground: #ffffff;
  --color-system-elements-bodyText: #1d1c1c;
  --color-system-elements-headingText: #1d1c1c;
  --color-system-elements-linkColor: #ffffff;
  --color-system-elements-navBackground: #ffffff;
  --color-system-elements-navText: #1d1c1c;
  --color-system-elements-navLink: #1d1c1c;
  --color-system-elements-navBackgroundScrolled: #ffffff;
  --color-system-elements-navTextScrolled: #1d1c1c;
  --color-system-elements-navLinkScrolled: #1d1c1c;
}
