:root {
  --grid-system-container-maxWidth: 2088px;
  --grid-system-container-paddingLeft: 16px;
  --grid-system-container-paddingRight: 16px;
  --grid-system-grids-40-display: grid;
  --grid-system-grids-40-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-40-columnCount: 12;
  --grid-system-grids-40-templateRows: 28px 172.062px;
  --grid-system-grids-40-gap: 42.6667px 16px;
  --grid-system-grids-40-childCount: 2;
  --grid-system-grids-43-display: grid;
  --grid-system-grids-43-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-43-columnCount: 12;
  --grid-system-grids-43-templateRows: 28px 86.0312px;
  --grid-system-grids-43-gap: 42.6667px 16px;
  --grid-system-grids-43-childCount: 2;
  --grid-system-grids-gridWrapper-display: grid;
  --grid-system-grids-gridWrapper-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-columnCount: 12;
  --grid-system-grids-gridWrapper-templateRows: 28px;
  --grid-system-grids-gridWrapper-gap: 42.6667px 16px;
  --grid-system-grids-gridWrapper-childCount: 2;
  --grid-system-grids-transcend-anything-seen-or-fel-display: grid;
  --grid-system-grids-transcend-anything-seen-or-fel-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-transcend-anything-seen-or-fel-columnCount: 12;
  --grid-system-grids-transcend-anything-seen-or-fel-templateRows: 172.062px;
  --grid-system-grids-transcend-anything-seen-or-fel-gap: normal 16px;
  --grid-system-grids-gridWrapper-2-display: grid;
  --grid-system-grids-gridWrapper-2-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-2-columnCount: 12;
  --grid-system-grids-gridWrapper-2-templateRows: 464.992px;
  --grid-system-grids-gridWrapper-2-gap: normal 16px;
  --grid-system-grids-gridWrapper-3-display: grid;
  --grid-system-grids-gridWrapper-3-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-3-columnCount: 12;
  --grid-system-grids-gridWrapper-3-templateRows: 346.5px 279.547px;
  --grid-system-grids-gridWrapper-3-gap: normal 16px;
  --grid-system-grids-gridWrapper-3-childCount: 1;
  --grid-system-grids-gridWrapper-3-parentSection: section;
  --grid-system-grids-gridWrapper-4-display: grid;
  --grid-system-grids-gridWrapper-4-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-4-columnCount: 12;
  --grid-system-grids-gridWrapper-4-templateRows: 540.445px;
  --grid-system-grids-gridWrapper-4-gap: normal 16px;
  --grid-system-grids-gridWrapper-4-parentSection: section;
  --grid-system-grids-gridWrapper-5-display: grid;
  --grid-system-grids-gridWrapper-5-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-5-columnCount: 12;
  --grid-system-grids-gridWrapper-5-templateRows: 346.5px;
  --grid-system-grids-gridWrapper-5-gap: normal 16px;
  --grid-system-grids-gridWrapper-5-parentSection: section;
  --grid-system-grids-gridWrapper-6-display: grid;
  --grid-system-grids-gridWrapper-6-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-6-columnCount: 12;
  --grid-system-grids-gridWrapper-6-templateRows: 279.547px;
  --grid-system-grids-gridWrapper-6-gap: normal 16px;
  --grid-system-grids-gridWrapper-6-childCount: 1;
  --grid-system-grids-gridWrapper-6-parentSection: section;
  --grid-system-grids-gridWrapper-7-display: grid;
  --grid-system-grids-gridWrapper-7-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-7-columnCount: 12;
  --grid-system-grids-gridWrapper-7-templateRows: 540.445px;
  --grid-system-grids-gridWrapper-7-gap: normal 16px;
  --grid-system-grids-gridWrapper-7-parentSection: section;
  --grid-system-grids-gridWrapper-8-display: grid;
  --grid-system-grids-gridWrapper-8-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-8-columnCount: 12;
  --grid-system-grids-gridWrapper-8-templateRows: 346.5px;
  --grid-system-grids-gridWrapper-8-gap: normal 16px;
  --grid-system-grids-gridWrapper-8-parentSection: section;
  --grid-system-grids-gridWrapper-9-display: grid;
  --grid-system-grids-gridWrapper-9-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-9-columnCount: 12;
  --grid-system-grids-gridWrapper-9-templateRows: 279.547px;
  --grid-system-grids-gridWrapper-9-gap: normal 16px;
  --grid-system-grids-gridWrapper-9-childCount: 1;
  --grid-system-grids-gridWrapper-9-parentSection: section;
  --grid-system-grids-gridWrapper-10-display: grid;
  --grid-system-grids-gridWrapper-10-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-10-columnCount: 12;
  --grid-system-grids-gridWrapper-10-templateRows: 540.445px;
  --grid-system-grids-gridWrapper-10-gap: normal 16px;
  --grid-system-grids-gridWrapper-10-parentSection: section;
  --grid-system-grids-gridWrapper-11-display: grid;
  --grid-system-grids-gridWrapper-11-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-11-columnCount: 12;
  --grid-system-grids-gridWrapper-11-templateRows: 300px;
  --grid-system-grids-gridWrapper-11-gap: normal 16px;
  --grid-system-grids-gridWrapper-11-parentSection: section;
  --grid-system-grids-gridWrapper-12-display: grid;
  --grid-system-grids-gridWrapper-12-templateColumns: 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px 89.3281px 89.3359px 89.3359px;
  --grid-system-grids-gridWrapper-12-columnCount: 12;
  --grid-system-grids-gridWrapper-12-templateRows: 346.5px;
  --grid-system-grids-gridWrapper-12-gap: normal 16px;
  --grid-system-grids-gridWrapper-12-parentSection: section;
  --grid-system-responsive-bp-432px-query: (max-width: 432px);
  --grid-system-responsive-bp-432px-rowGap: 48px;
  --grid-system-responsive-bp-432px-columnGap: 48px;
  --grid-system-responsive-bp-560px-query: (max-width: 560px);
  --grid-system-responsive-bp-560px-maxWidth: 200px;
  --grid-system-responsive-bp-768px-query: (max-width: 768px);
  --grid-system-responsive-bp-768px-rowGap: 24px;
  --grid-system-responsive-bp-768px-columnGap: 24px;
  --grid-system-responsive-bp-768px-display: none;
  --grid-system-responsive-bp-1008px-query: (max-width: 1008px);
  --grid-system-responsive-bp-1008px-rowGap: 33.6px;
  --grid-system-responsive-bp-1024px-query: (max-width: 1024px);
  --grid-system-responsive-bp-1024px-display: flex;
  --grid-system-responsive-bp-1024px-rowGap: 24px;
  --grid-system-responsive-bp-1024px-columnGap: 24px;
}
