:root {
  --motion-system-videos-count: 0;
  --motion-system-videos-animatedGifs: 0;
  --motion-system-performance-totalAnimatedElements: 30;
  --motion-system-performance-simultaneousAnimations: 0;
  --motion-system-performance-videoLoad: none;
  --motion-system-performance-complexAnimations: 5;
  --motion-system-performance-summary-videos: 0;
  --motion-system-performance-summary-animatedGifs: 0;
  --motion-system-performance-summary-keyframes: 8;
  --motion-system-performance-summary-scrollLibraries: 0;
}
