:root {
  --grid-system-responsive-bp-767px-query: only screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: none;
  --grid-system-responsive-bp-767px-flexWrap: wrap;
  --grid-system-responsive-bp-767px-maxWidth: 100%;
}
