:root {
  --ds-spacing-1: 4.4px;
  --ds-spacing-2: 8.8px;
  --ds-spacing-3: 13.2px;
  --ds-spacing-4: 17.6px;
  --ds-spacing-5: 22px;
  --ds-spacing-6: 26.4px;
  --ds-spacing-8: 35.2px;
  --ds-spacing-10: 44px;
  --ds-spacing-12: 52.8px;
  --ds-spacing-16: 70.4px;
  --ds-spacing-20: 88px;
  --ds-spacing-24: 105.6px;
  --ds-spacing-32: 140.8px;
  --ds-spacing-40: 176px;
  --ds-spacing-48: 211.2px;
  --ds-spacing-60: 264px;
}

section {
  margin-top: var(--ds-spacing-60);
  gap: var(--ds-spacing-24);
  padding-block: var(--ds-spacing-20);
}

.wrapper {
  padding: var(--ds-spacing-2);
}

.hero {
  padding-bottom: 285.12px;
}

nav {
  padding-block: var(--ds-spacing-2);
  padding-inline: var(--ds-spacing-4);
}

.card {
  padding: var(--ds-spacing-4);
  gap: var(--ds-spacing-3);
}

button, .btn {
  padding-block: var(--ds-spacing-2);
  padding-inline: var(--ds-spacing-4);
}
