:root {
  --spacing-system-elements-input-paddingTop: 4px;
  --spacing-system-elements-input-paddingRight: 8px;
  --spacing-system-elements-input-paddingBottom: 4px;
  --spacing-system-elements-input-paddingLeft: 8px;
  --spacing-system-elements-input-marginTop: 4px;
  --spacing-system-elements-input-marginBottom: 4px;
  --spacing-system-elements-p-marginBottom: 4px;
  --spacing-system-elements-hero-paddingTop: 24px;
  --spacing-system-elements-hero-paddingRight: 16px;
  --spacing-system-elements-hero-paddingBottom: 24px;
  --spacing-system-elements-hero-paddingLeft: 16px;
  --spacing-system-elements-content-paddingTop: 16px;
  --spacing-system-elements-content-paddingRight: 16px;
  --spacing-system-elements-content-paddingBottom: 16px;
  --spacing-system-elements-content-paddingLeft: 16px;
  --spacing-system-elements-grid-paddingTop: 24px;
  --spacing-system-elements-grid-paddingRight: 16px;
  --spacing-system-elements-grid-paddingBottom: 24px;
  --spacing-system-elements-grid-paddingLeft: 16px;
  --spacing-system-elements-grid-gap: 12px;
  --spacing-system-elements-grid-rowGap: 12px;
  --spacing-system-elements-grid-columnGap: 12px;
  --spacing-system-elements-cta-paddingTop: 4px;
  --spacing-system-elements-cta-paddingRight: 8px;
  --spacing-system-elements-cta-paddingBottom: 4px;
  --spacing-system-elements-cta-paddingLeft: 8px;
  --spacing-system-elements-cta-marginTop: 0px;
  --spacing-system-elements-cta-marginBottom: 0px;
  --spacing-system-elements-cta-borderRadius: 0px;
}
