:root {
  --grid-system-grids-creators--grid-display: grid;
  --grid-system-grids-creators--grid-templateColumns: 236.164px 236.164px 236.172px;
  --grid-system-grids-creators--grid-columnCount: 3;
  --grid-system-grids-creators--grid-templateRows: 302.398px 6.80469px 302.398px 6.80469px 302.398px 6.80469px;
  --grid-system-grids-creators--grid-gap: 34.56px;
  --grid-system-grids-creators--grid-childCount: 12;
  --grid-system-grids-menu--social-icns-display: flex;
  --grid-system-grids-menu--social-icns-flexDirection: row;
  --grid-system-grids-menu--social-icns-gap: 17.2px;
  --grid-system-grids-menu--social-icns-alignItems: flex-start;
  --grid-system-grids-menu--social-icns-childCount: 5;
  --grid-system-grids-cta--social-icns-display: flex;
  --grid-system-grids-cta--social-icns-flexDirection: row;
  --grid-system-grids-cta--social-icns-gap: 17.2px;
  --grid-system-grids-cta--social-icns-alignItems: flex-start;
  --grid-system-grids-cta--social-icns-childCount: 5;
  --grid-system-responsive-bp-479px-query: (max-width: 479px);
  --grid-system-responsive-bp-479px-display: none;
  --grid-system-responsive-bp-767px-query: (max-width: 767px) and (min-width: 480px);
  --grid-system-responsive-bp-767px-display: none;
  --grid-system-responsive-bp-991px-query: (max-width: 991px) and (min-width: 768px);
  --grid-system-responsive-bp-991px-display: none;
  --grid-system-responsive-bp-992px-query: (min-width: 992px);
  --grid-system-responsive-bp-992px-display: flex;
}
