:root {
  --spacing-system-elements-section-marginRight: 279px;
  --spacing-system-elements-section-marginLeft: 279px;
  --spacing-system-elements-footer-paddingTop: 30px;
  --spacing-system-elements-button-paddingTop: 15px;
  --spacing-system-elements-button-paddingRight: 20px;
  --spacing-system-elements-button-paddingBottom: 15px;
  --spacing-system-elements-button-paddingLeft: 20px;
  --spacing-system-elements-button-marginTop: 25px;
  --spacing-system-elements-p-marginBottom: 15px;
  --spacing-system-elements-li-marginRight: 30px;
  --spacing-system-elements-container-paddingTop: 50px;
  --spacing-system-elements-container-paddingBottom: 50px;
  --spacing-system-elements-container-marginRight: 279px;
  --spacing-system-elements-container-marginLeft: 279px;
  --spacing-system-elements-wrapper-paddingTop: 5px;
  --spacing-system-elements-wrapper-paddingBottom: 5px;
  --spacing-system-elements-content-marginLeft: 63.9375px;
  --spacing-system-elements-cta-paddingTop: 6.66667px;
  --spacing-system-elements-cta-paddingRight: 13.3333px;
  --spacing-system-elements-cta-paddingBottom: 6.66667px;
  --spacing-system-elements-cta-paddingLeft: 13.3333px;
}
