:root {
  --grid-system-grids-rewarding-membership-display: grid;
  --grid-system-grids-rewarding-membership-templateColumns: 719.055px 798.961px;
  --grid-system-grids-rewarding-membership-columnCount: 2;
  --grid-system-grids-rewarding-membership-templateRows: 1209.53px 55.1094px;
  --grid-system-grids-rewarding-membership-gap: normal 4.16667%;
  --grid-system-grids-rewarding-membership-childCount: 3;
  --grid-system-grids-rewarding-membership-parentSection: section;
  --grid-system-grids-flexible-solutions-display: grid;
  --grid-system-grids-flexible-solutions-templateColumns: 360px 360px;
  --grid-system-grids-flexible-solutions-columnCount: 2;
  --grid-system-grids-flexible-solutions-templateRows: 241.625px 241.625px;
  --grid-system-grids-flexible-solutions-gap: normal 72px;
  --grid-system-grids-flexible-solutions-childCount: 4;
  --grid-system-grids-Menu-columns--zPdeb-display: grid;
  --grid-system-grids-Menu-columns--zPdeb-templateColumns: 286.875px 168.75px 286.875px;
  --grid-system-grids-Menu-columns--zPdeb-columnCount: 3;
  --grid-system-grids-Menu-columns--zPdeb-templateRows: 0px 0px;
}
