:root {
  --grid-system-container-maxWidth: 1600px;
  --grid-system-container-paddingLeft: 16px;
  --grid-system-container-paddingRight: 16px;
  --grid-system-grids-home-useful-grid-display: grid;
  --grid-system-grids-home-useful-grid-templateColumns: 312px 312px 312px 312px;
  --grid-system-grids-home-useful-grid-columnCount: 4;
  --grid-system-grids-home-useful-grid-templateRows: 231.273px;
  --grid-system-grids-home-useful-grid-gap: 16px;
  --grid-system-grids-home-useful-grid-childCount: 4;
  --grid-system-grids-home-useful-grid-parentSection: section;
  --grid-system-grids-is-grid-display: flex;
  --grid-system-grids-is-grid-flexDirection: row;
  --grid-system-grids-is-grid-gap: 4px;
  --grid-system-grids-is-grid-justifyContent: center;
  --grid-system-grids-is-grid-alignItems: center;
  --grid-system-grids-is-grid-childCount: 2;
  --grid-system-grids-section-shipped-grid-display: grid;
  --grid-system-grids-section-shipped-grid-templateColumns: 606px 606px;
  --grid-system-grids-section-shipped-grid-columnCount: 2;
  --grid-system-grids-section-shipped-grid-templateRows: 493.75px;
  --grid-system-grids-section-shipped-grid-gap: 64px;
  --grid-system-grids-section-shipped-grid-childCount: 2;
  --grid-system-grids-developers-languages-grid-display: flex;
  --grid-system-grids-developers-languages-grid-flexDirection: row;
  --grid-system-grids-developers-languages-grid-gap: 16px;
  --grid-system-grids-developers-languages-grid-justifyContent: center;
  --grid-system-grids-developers-languages-grid-alignItems: center;
  --grid-system-grids-developers-languages-grid-childCount: 8;
  --grid-system-grids-developers-languages-grid-parentSection: section;
  --grid-system-grids-w-layout-grid-display: grid;
  --grid-system-grids-w-layout-grid-templateColumns: 221.664px 221.664px 221.672px 221.664px 221.664px 221.672px;
  --grid-system-grids-w-layout-grid-columnCount: 6;
  --grid-system-grids-w-layout-grid-templateRows: 188.875px;
  --grid-system-grids-w-layout-grid-gap: 16px 0px;
  --grid-system-grids-w-layout-grid-childCount: 4;
  --grid-system-grids-w-layout-grid-2-display: grid;
  --grid-system-grids-w-layout-grid-2-templateColumns: 1fr 1fr 1fr 1fr 1fr 1fr;
  --grid-system-grids-w-layout-grid-2-columnCount: 6;
  --grid-system-grids-w-layout-grid-2-gap: 16px 0px;
  --grid-system-grids-w-layout-grid-2-childCount: 4;
  --grid-system-grids-home-got-your-back-features-display: flex;
  --grid-system-grids-home-got-your-back-features-flexDirection: row;
  --grid-system-grids-home-got-your-back-features-gap: 16px;
  --grid-system-grids-home-got-your-back-features-flexWrap: wrap;
  --grid-system-grids-home-got-your-back-features-justifyContent: center;
  --grid-system-grids-home-got-your-back-features-childCount: 6;
  --grid-system-grids-grid-8-display: flex;
  --grid-system-grids-grid-8-flexDirection: row;
  --grid-system-grids-grid-8-gap: 14px;
  --grid-system-grids-grid-8-alignItems: center;
  --grid-system-grids-grid-8-childCount: 2;
  --grid-system-grids-grid-9-display: flex;
  --grid-system-grids-grid-9-flexDirection: row;
  --grid-system-grids-grid-9-gap: 14px;
  --grid-system-grids-grid-9-alignItems: center;
  --grid-system-grids-grid-9-childCount: 2;
  --grid-system-grids-grid-10-display: flex;
  --grid-system-grids-grid-10-flexDirection: row;
  --grid-system-grids-grid-10-gap: 14px;
  --grid-system-grids-grid-10-alignItems: center;
  --grid-system-grids-grid-10-childCount: 2;
  --grid-system-grids-grid-11-display: flex;
  --grid-system-grids-grid-11-flexDirection: row;
  --grid-system-grids-grid-11-gap: 14px;
  --grid-system-grids-grid-11-alignItems: center;
  --grid-system-grids-grid-11-childCount: 2;
  --grid-system-grids-grid-12-display: flex;
  --grid-system-grids-grid-12-flexDirection: row;
  --grid-system-grids-grid-12-gap: 14px;
  --grid-system-grids-grid-12-alignItems: center;
  --grid-system-grids-grid-12-childCount: 2;
  --grid-system-grids-grid-13-display: flex;
  --grid-system-grids-grid-13-flexDirection: row;
  --grid-system-grids-grid-13-gap: 14px;
  --grid-system-grids-grid-13-alignItems: center;
  --grid-system-grids-grid-13-childCount: 2;
  --grid-system-grids-join-our-serverless-analytics-display: grid;
  --grid-system-grids-join-our-serverless-analytics-templateColumns: 746.664px 597.328px;
  --grid-system-grids-join-our-serverless-analytics-columnCount: 2;
  --grid-system-grids-join-our-serverless-analytics-templateRows: 614.266px;
  --grid-system-grids-join-our-serverless-analytics-gap: 16px;
  --grid-system-grids-join-our-serverless-analytics-childCount: 2;
  --grid-system-grids-home-useful-ctas-display: flex;
  --grid-system-grids-home-useful-ctas-flexDirection: row;
  --grid-system-grids-home-useful-ctas-gap: 32px;
  --grid-system-grids-home-useful-ctas-justifyContent: center;
  --grid-system-grids-home-useful-ctas-alignItems: center;
  --grid-system-grids-home-useful-ctas-childCount: 2;
  --grid-system-grids-home-useful-ctas-parentSection: section;
  --grid-system-responsive-bp-479px-query: screen and (max-width: 479px);
  --grid-system-responsive-bp-479px-maxWidth: none;
  --grid-system-responsive-bp-479px-display: inherit;
  --grid-system-responsive-bp-479px-gridTemplateColumns: 1fr;
  --grid-system-responsive-bp-479px-rowGap: 2rem;
  --grid-system-responsive-bp-479px-columnGap: 0.5rem;
  --grid-system-responsive-bp-479px-flexDirection: row;
  --grid-system-responsive-bp-479px-flexWrap: wrap;
  --grid-system-responsive-bp-479px-gridTemplateRows: auto auto auto auto;
  --grid-system-responsive-bp-767px-query: screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: inherit;
  --grid-system-responsive-bp-767px-maxWidth: none;
  --grid-system-responsive-bp-767px-gridTemplateColumns: 1fr;
  --grid-system-responsive-bp-767px-flexDirection: row;
  --grid-system-responsive-bp-767px-columnGap: 3.5rem;
  --grid-system-responsive-bp-767px-rowGap: 3.5rem;
  --grid-system-responsive-bp-767px-gridTemplateRows: auto;
  --grid-system-responsive-bp-767px-flexWrap: nowrap;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-maxWidth: 96vw;
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-991px-query: screen and (max-width: 991px);
  --grid-system-responsive-bp-991px-maxWidth: 728px;
  --grid-system-responsive-bp-991px-display: inherit;
  --grid-system-responsive-bp-991px-rowGap: 2em;
  --grid-system-responsive-bp-991px-gridTemplateColumns: 1fr 1fr;
  --grid-system-responsive-bp-991px-columnGap: 2rem;
  --grid-system-responsive-bp-991px-flexDirection: column;
  --grid-system-responsive-bp-991px-flexWrap: wrap;
  --grid-system-responsive-bp-991px-gridTemplateRows: auto auto auto;
  --grid-system-responsive-bp-1024px-query: (min-width: 1024px);
  --grid-system-responsive-bp-1024px-maxWidth: 80%;
  --grid-system-responsive-bp-1280px-query: screen and (min-width: 1280px);
  --grid-system-responsive-bp-1280px-gridTemplateColumns: 1.25fr 1fr;
  --grid-system-responsive-bp-1440px-query: screen and (min-width: 1440px);
  --grid-system-responsive-bp-1440px-maxWidth: 90.25rem;
  --grid-system-responsive-bp-1440px-columnGap: 0px;
  --grid-system-responsive-bp-1440px-rowGap: 0px;
  --grid-system-responsive-bp-1440px-display: flex;
}
