:root {
  --grid-system-container-maxWidth: 1280px;
  --grid-system-grids-shopify-section-template--24379826340221-display: grid;
  --grid-system-grids-shopify-section-template--24379826340221-templateColumns: 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px;
  --grid-system-grids-shopify-section-template--24379826340221-columnCount: 12;
  --grid-system-grids-shopify-section-template--24379826340221-templateRows: 226px;
  --grid-system-grids-shopify-section-template--24379826340221-gap: 32px;
  --grid-system-grids-shopify-section-template--24379826340221-childCount: 1;
  --grid-system-grids-shopify-section-template--24379826340221-2-display: grid;
  --grid-system-grids-shopify-section-template--24379826340221-2-templateColumns: 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px;
  --grid-system-grids-shopify-section-template--24379826340221-2-columnCount: 12;
  --grid-system-grids-shopify-section-template--24379826340221-2-templateRows: 226px;
  --grid-system-grids-shopify-section-template--24379826340221-2-gap: 32px;
  --grid-system-grids-shopify-section-template--24379826340221-2-childCount: 1;
  --grid-system-grids-easy-returns--exchanges-display: grid;
  --grid-system-grids-easy-returns--exchanges-templateColumns: 78px 78px 78px 78px 78px 78px 78px 78px 78px 78px 78px 78px;
  --grid-system-grids-easy-returns--exchanges-columnCount: 12;
  --grid-system-grids-easy-returns--exchanges-templateRows: 318px 18px 247.859px 87.8906px 46px;
  --grid-system-grids-easy-returns--exchanges-gap: 50px 24px;
  --grid-system-grids-easy-returns--exchanges-childCount: 11;
  --grid-system-grids-image-two-columns--grid-display: grid;
  --grid-system-grids-image-two-columns--grid-templateColumns: 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px;
  --grid-system-grids-image-two-columns--grid-columnCount: 12;
  --grid-system-grids-image-two-columns--grid-templateRows: 721.992px;
  --grid-system-grids-image-two-columns--grid-gap: 32px;
  --grid-system-grids-image-two-columns--grid-childCount: 2;
  --grid-system-grids-image-two-columns--grid-parentSection: shopify-section-template--24379826340221__image_two_columns_JtBqQe;
  --grid-system-grids-image-two-columns--grid-2-display: grid;
  --grid-system-grids-image-two-columns--grid-2-templateColumns: 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px 70.6641px;
  --grid-system-grids-image-two-columns--grid-2-columnCount: 12;
  --grid-system-grids-image-two-columns--grid-2-templateRows: 961.328px;
  --grid-system-grids-image-two-columns--grid-2-gap: 32px;
  --grid-system-grids-image-two-columns--grid-2-childCount: 2;
  --grid-system-grids-image-two-columns--grid-2-parentSection: shopify-section-template--24379826340221__image_two_columns_J7G3dD;
  --grid-system-grids-timeless-essentials-built-wit-display: grid;
  --grid-system-grids-timeless-essentials-built-wit-templateColumns: 276px 276px 276px 276px;
  --grid-system-grids-timeless-essentials-built-wit-columnCount: 4;
  --grid-system-grids-timeless-essentials-built-wit-templateRows: 720px;
  --grid-system-grids-timeless-essentials-built-wit-gap: 32px;
  --grid-system-grids-timeless-essentials-built-wit-childCount: 2;
  --grid-system-grids-timeless-essentials-built-wit-parentSection: shopify-section-template--24379826340221__hero;
  --grid-system-grids-collection-grid--grid-display: grid;
  --grid-system-grids-collection-grid--grid-templateColumns: 298.5px 298.5px 298.5px 298.5px;
  --grid-system-grids-collection-grid--grid-columnCount: 4;
  --grid-system-grids-collection-grid--grid-templateRows: 375.703px 375.703px;
  --grid-system-grids-collection-grid--grid-gap: 32px 2px;
  --grid-system-grids-collection-grid--grid-childCount: 8;
  --grid-system-grids-collection-grid--grid-parentSection: shopify-section-template--24379826340221__collection_grid_yq4aBg;
  --grid-system-grids-featured-articles--list-display: grid;
  --grid-system-grids-featured-articles--list-templateColumns: 378.664px 378.664px 378.664px;
  --grid-system-grids-featured-articles--list-columnCount: 3;
  --grid-system-grids-featured-articles--list-templateRows: 631.102px;
  --grid-system-grids-featured-articles--list-gap: 32px;
  --grid-system-grids-featured-articles--list-childCount: 3;
  --grid-system-grids-featured-articles--list-parentSection: shopify-section-template--24379826340221__featured_articles_4QP4iT;
  --grid-system-responsive-bp-484px-query: screen and (max-width: 484px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape);
  --grid-system-responsive-bp-484px-flexDirection: column;
  --grid-system-responsive-bp-484px-maxWidth: none;
  --grid-system-responsive-bp-600px-query: only screen and (max-width: 600px);
  --grid-system-responsive-bp-600px-flexDirection: column;
  --grid-system-responsive-bp-600px-maxWidth: 100vw;
  --grid-system-responsive-bp-699px-query: (max-width: 699px);
  --grid-system-responsive-bp-699px-display: flex;
  --grid-system-responsive-bp-699px-flexWrap: wrap;
  --grid-system-responsive-bp-699px-maxWidth: 100%;
  --grid-system-responsive-bp-700px-query: only screen and (min-width: 700px);
  --grid-system-responsive-bp-700px-display: grid;
  --grid-system-responsive-bp-700px-gridTemplateColumns: 1fr 1fr 360px;
  --grid-system-responsive-bp-700px-maxWidth: 472px;
  --grid-system-responsive-bp-700px-flexDirection: column;
  --grid-system-responsive-bp-700px-flexWrap: wrap;
  --grid-system-responsive-bp-767px-query: (max-width: 767px);
  --grid-system-responsive-bp-767px-maxWidth: 100%;
  --grid-system-responsive-bp-768px-query: only screen and (min-width: 768px);
  --grid-system-responsive-bp-768px-display: table;
  --grid-system-responsive-bp-768px-gridTemplateColumns: repeat(2, 1fr);
  --grid-system-responsive-bp-768px-rowGap: 24px;
  --grid-system-responsive-bp-768px-columnGap: 24px;
  --grid-system-responsive-bp-768px-maxWidth: calc(var(--vw, 1vw) * 100 - 48px);
  --grid-system-responsive-bp-1000px-query: only screen and (min-width: 1000px);
  --grid-system-responsive-bp-1000px-display: flex;
  --grid-system-responsive-bp-1000px-gridTemplateColumns: 2fr 1fr;
  --grid-system-responsive-bp-1000px-rowGap: 24px;
  --grid-system-responsive-bp-1000px-columnGap: 24px;
  --grid-system-responsive-bp-1023px-query: only screen and (max-width: 1023px);
  --grid-system-responsive-bp-1023px-display: none;
  --grid-system-responsive-bp-1023px-maxWidth: 280px;
}
