:root {
  --spacing-system-elements-nav-paddingTop: 7.5px;
  --spacing-system-elements-nav-paddingRight: 24px;
  --spacing-system-elements-nav-paddingBottom: 7.5px;
  --spacing-system-elements-nav-paddingLeft: 24px;
  --spacing-system-elements-section-paddingTop: 80px;
  --spacing-system-elements-section-paddingRight: 17px;
  --spacing-system-elements-section-paddingBottom: 80px;
  --spacing-system-elements-section-paddingLeft: 17px;
  --spacing-system-elements-button-paddingTop: 8px;
  --spacing-system-elements-button-paddingRight: 8px;
  --spacing-system-elements-button-paddingBottom: 8px;
  --spacing-system-elements-button-paddingLeft: 8px;
  --spacing-system-elements-content-paddingTop: 80px;
  --spacing-system-elements-content-paddingRight: 17px;
  --spacing-system-elements-content-paddingBottom: 80px;
  --spacing-system-elements-content-paddingLeft: 17px;
  --spacing-system-elements-grid-paddingBottom: 40px;
  --spacing-system-elements-cta-paddingTop: 22px;
  --spacing-system-elements-cta-paddingRight: 22px;
  --spacing-system-elements-cta-paddingBottom: 22px;
  --spacing-system-elements-cta-paddingLeft: 22px;
}
