:root {
  --type-system-cssVars-stroke-weight: 1px;
  --type-system-typeScale-h1-fontFamily: Haffer XH, Arial, sans-serif;
  --type-system-typeScale-h1-fontSize: 99.5556px;
  --type-system-typeScale-h1-fontWeight: 400;
  --type-system-typeScale-h1-lineHeight: 99.5556px;
  --type-system-typeScale-h1-letterSpacing: -5.97333px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h2-fontFamily: Haffer XH, Arial, sans-serif;
  --type-system-typeScale-h2-fontSize: 35.5556px;
  --type-system-typeScale-h2-fontWeight: 400;
  --type-system-typeScale-h2-lineHeight: 37.3333px;
  --type-system-typeScale-h2-letterSpacing: -1.06667px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h3-fontFamily: Haffer XH, Arial, sans-serif;
  --type-system-typeScale-h3-fontSize: 55.1111px;
  --type-system-typeScale-h3-fontWeight: 400;
  --type-system-typeScale-h3-lineHeight: 55.1111px;
  --type-system-typeScale-h3-letterSpacing: -2.20444px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h4-fontFamily: Haffer VF, Arial, sans-serif;
  --type-system-typeScale-h4-fontSize: 16.8889px;
  --type-system-typeScale-h4-fontWeight: 400;
  --type-system-typeScale-h4-lineHeight: 21.1111px;
  --type-system-typeScale-h4-letterSpacing: -0.337778px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-body-fontFamily: Haffer VF, Arial, sans-serif;
  --type-system-typeScale-body-fontSize: 14.2222px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 20px;
  --type-system-typeScale-body-letterSpacing: -0.142222px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-button-fontFamily: Haffer VF, Arial, sans-serif;
  --type-system-typeScale-button-fontSize: 14.2222px;
  --type-system-typeScale-button-fontWeight: 400;
  --type-system-typeScale-button-lineHeight: 20px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-link-fontFamily: Haffer VF, Arial, sans-serif;
  --type-system-typeScale-link-fontSize: 14.2222px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: 20px;
  --type-system-typeScale-link-letterSpacing: -0.142222px;
  --type-system-typeScale-link-wordSpacing: 0px;
}
