:root {
  --color-system-elements-pageBackground: #000000;
  --color-system-elements-bodyText: #ffffff;
  --color-system-elements-headingText: #ffffff;
  --color-system-elements-buttonBackground: #ffffff;
  --color-system-elements-buttonText: #ffffff;
  --color-system-elements-linkColor: #ffffff;
  --color-system-elements-borderColor: #ffffff;
}
