:root {
  --grid-system-cssVars-gutter: 60px;
  --grid-system-cssVars-gutter-mobile: 10px;
  --grid-system-cssVars-grid-gutter: 20px;
  --grid-system-cssVars-grid: repeat(3, minmax(0, 1fr));
  --grid-system-cssVars-grid-tablet: repeat(2, minmax(0, 1fr));
  --grid-system-cssVars-grid-mobile: repeat(2, minmax(0, 1fr));
  --grid-system-cssVars-megamenu-grid: repeat(4, minmax(0, 1fr));
  --grid-system-cssVars-grid-row: 1 / span 3;
  --grid-system-container-maxWidth: 850px;
  --grid-system-container-paddingLeft: 60px;
  --grid-system-container-paddingRight: 60px;
  --grid-system-grids-in-the-way-you-care-for-your-s-display: grid;
  --grid-system-grids-in-the-way-you-care-for-your-s-templateColumns: 203.328px 203.328px 203.328px 203.328px 203.328px 203.328px;
  --grid-system-grids-in-the-way-you-care-for-your-s-columnCount: 6;
  --grid-system-grids-in-the-way-you-care-for-your-s-templateRows: 365px 365px;
  --grid-system-grids-in-the-way-you-care-for-your-s-gap: 20px;
  --grid-system-grids-in-the-way-you-care-for-your-s-parentSection: SectionMosaic--template--16939591663913__section-grid;
  --grid-system-grids-product-single--wrapper-display: grid;
  --grid-system-grids-product-single--wrapper-templateColumns: 498px 630px;
  --grid-system-grids-product-single--wrapper-columnCount: 2;
  --grid-system-grids-product-single--wrapper-templateRows: 742.195px;
  --grid-system-grids-product-single--wrapper-gap: 60px;
  --grid-system-grids-product-single--wrapper-childCount: 2;
  --grid-system-grids-product-single--wrapper-parentSection: FeaturedProduct--template--16939591663913__e1beb9eb-4f8a-4cba-b0bc-94a2e4b7b97e;
  --grid-system-responsive-bp-479px-query: only screen and (max-width: 479px);
  --grid-system-responsive-bp-479px-display: none;
  --grid-system-responsive-bp-479px-gridTemplateColumns: var(--grid-mobile);
  --grid-system-responsive-bp-479px-flexDirection: column;
  --grid-system-responsive-bp-479px-flexWrap: nowrap;
  --grid-system-responsive-bp-479px-maxWidth: calc(100% - 124px);
  --grid-system-responsive-bp-480px-query: only screen and (min-width: 480px);
  --grid-system-responsive-bp-480px-gridTemplateColumns: repeat(2, minmax(0px, 1fr));
  --grid-system-responsive-bp-480px-columnGap: var(--grid-gutter);
  --grid-system-responsive-bp-480px-display: inline-block;
  --grid-system-responsive-bp-550px-query: (max-width: 550px);
  --grid-system-responsive-bp-550px-rowGap: 0px;
  --grid-system-responsive-bp-550px-columnGap: 0px;
  --grid-system-responsive-bp-600px-query: (max-width: 600px);
  --grid-system-responsive-bp-600px-flexWrap: wrap;
  --grid-system-responsive-bp-600px-rowGap: 15px;
  --grid-system-responsive-bp-600px-columnGap: 15px;
  --grid-system-responsive-bp-600px-maxWidth: 95%;
  --grid-system-responsive-bp-620px-query: (max-width: 620px);
  --grid-system-responsive-bp-620px-gridTemplateColumns: 10% 1fr;
  --grid-system-responsive-bp-676px-query: (max-width: 676px);
  --grid-system-responsive-bp-676px-maxWidth: 7.5rem;
  --grid-system-responsive-bp-676px-rowGap: 20px;
  --grid-system-responsive-bp-676px-columnGap: 20px;
  --grid-system-responsive-bp-676px-gridTemplateColumns: repeat(auto-fit, minmax(46%, 1fr));
  --grid-system-responsive-bp-676px-flexDirection: column;
  --grid-system-responsive-bp-677px-query: (min-width: 677px);
  --grid-system-responsive-bp-677px-maxWidth: 240px;
  --grid-system-responsive-bp-700px-query: (max-width: 700px);
  --grid-system-responsive-bp-700px-maxWidth: 100%;
}
