:root {
  --motion-system-videos-count: 0;
  --motion-system-videos-animatedGifs: 1;
  --motion-system-performance-totalAnimatedElements: 46;
  --motion-system-performance-simultaneousAnimations: 1;
  --motion-system-performance-videoLoad: none;
  --motion-system-performance-complexAnimations: 6;
  --motion-system-performance-summary-videos: 0;
  --motion-system-performance-summary-animatedGifs: 1;
  --motion-system-performance-summary-keyframes: 12;
  --motion-system-performance-summary-scrollLibraries: 1;
}
