:root {
  --grid-system-container-maxWidth: 700px;
  --grid-system-responsive-bp-480px-query: only screen and (max-width: 480px);
  --grid-system-responsive-bp-480px-display: none;
  --grid-system-responsive-bp-767px-query: only screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: none;
  --grid-system-responsive-bp-767px-flexWrap: wrap;
  --grid-system-responsive-bp-767px-gridTemplateColumns: repeat(2, 160px);
  --grid-system-responsive-bp-767px-maxWidth: 65vw;
  --grid-system-responsive-bp-768px-query: only screen and (min-width: 768px);
  --grid-system-responsive-bp-768px-display: flex;
  --grid-system-responsive-bp-768px-rowGap: 20px;
  --grid-system-responsive-bp-768px-columnGap: 20px;
  --grid-system-responsive-bp-768px-gridTemplateColumns: repeat(auto-fill, 200px);
  --grid-system-responsive-bp-768px-maxWidth: 200px;
}
