:root {
  --color-system-cssVars-ast-code-block-background: #EEEEEE;
  --color-system-cssVars-ast-comment-inputs-background: #FAFAFA;
  --color-system-cssVars-ast-bg-style-guide: #F8FAFC;
  --color-system-cssVars-ast-global-dark-bg-style: #fff;
  --color-system-cssVars-ast-global-dark-lfs: #fbfbfb;
  --color-system-cssVars-ast-widget-bg-color: #fafafa;
  --color-system-cssVars-ast-wc-container-head-bg-color: #fbfbfb;
  --color-system-cssVars-ast-title-layout-bg: #eeeeee;
  --color-system-cssVars-ast-search-border-color: #e7e7e7;
  --color-system-cssVars-ast-lifter-hover-bg: #e6e6e6;
  --color-system-cssVars-ast-gallery-block-color: #000;
  --color-system-cssVars-ast-global-color-0: #0067FF;
  --color-system-cssVars-ast-global-color-1: #005EE9;
  --color-system-cssVars-ast-global-color-2: #0F172A;
  --color-system-cssVars-ast-global-color-3: #364151;
  --color-system-cssVars-ast-global-color-4: #E7F6FF;
  --color-system-cssVars-ast-global-color-5: #FFFFFF;
  --color-system-cssVars-ast-global-color-6: #D1DAE5;
  --color-system-cssVars-ast-global-color-7: #070614;
  --color-system-cssVars-ast-global-color-8: #222222;
  --color-system-cssVars-ast-border-color: #dddddd;
  --color-system-cssVars-e-global-color-astglobalcolor0: #0067FF;
  --color-system-cssVars-e-global-color-astglobalcolor1: #005EE9;
  --color-system-cssVars-e-global-color-astglobalcolor2: #0F172A;
  --color-system-cssVars-e-global-color-astglobalcolor3: #364151;
  --color-system-cssVars-e-global-color-astglobalcolor4: #E7F6FF;
  --color-system-cssVars-e-global-color-astglobalcolor5: #FFFFFF;
  --color-system-cssVars-e-global-color-astglobalcolor6: #D1DAE5;
  --color-system-cssVars-e-global-color-astglobalcolor7: #070614;
  --color-system-cssVars-e-global-color-astglobalcolor8: #222222;
  --color-system-cssVars-wp--preset--color--black: #000000;
  --color-system-cssVars-wp--preset--color--cyan-bluish-gray: #abb8c3;
  --color-system-cssVars-wp--preset--color--white: #ffffff;
  --color-system-cssVars-wp--preset--color--pale-pink: #f78da7;
  --color-system-cssVars-wp--preset--color--vivid-red: #cf2e2e;
  --color-system-cssVars-wp--preset--color--luminous-vivid-orange: #ff6900;
  --color-system-cssVars-wp--preset--color--luminous-vivid-amber: #fcb900;
  --color-system-cssVars-wp--preset--color--light-green-cyan: #7bdcb5;
  --color-system-cssVars-wp--preset--color--vivid-green-cyan: #00d084;
  --color-system-cssVars-wp--preset--color--pale-cyan-blue: #8ed1fc;
  --color-system-cssVars-wp--preset--color--vivid-cyan-blue: #0693e3;
  --color-system-cssVars-wp--preset--color--vivid-purple: #9b51e0;
  --color-system-cssVars-page-title-display: block;
  --color-system-cssVars-swiper-theme-color: #007aff;
  --color-system-elements-pageBackground: #ffffff;
  --color-system-elements-bodyText: #364151;
  --color-system-elements-headingText: #ffffff;
  --color-system-elements-linkColor: #0067ff;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #364151;
  --color-system-elements-navLink: #e7f6ff;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #364151;
  --color-system-elements-navLinkScrolled: #e7f6ff;
}
