:root {
  --color-system-cssVars-tooltip-text-color: white;
  --color-system-cssVars-tooltip-background-color: black;
  --color-system-elements-bodyText: #000000;
  --color-system-elements-headingText: #111111;
  --color-system-elements-linkColor: #111111;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #000000;
  --color-system-elements-navLink: #0000ee;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #000000;
  --color-system-elements-navLinkScrolled: #0000ee;
}
