:root {
  --spacing-system-elements-section-paddingTop: 202.7256px;
  --spacing-system-elements-button-paddingTop: 10.8px;
  --spacing-system-elements-button-paddingRight: 26.4px;
  --spacing-system-elements-button-paddingBottom: 10.8px;
  --spacing-system-elements-button-paddingLeft: 26.4px;
  --spacing-system-elements-p-marginTop: 11.04px;
  --spacing-system-elements-p-marginBottom: 11.04px;
  --spacing-system-elements-wrapper-paddingTop: 39.3984px;
  --spacing-system-elements-wrapper-paddingRight: 82.944px;
  --spacing-system-elements-wrapper-paddingBottom: 39.3984px;
  --spacing-system-elements-wrapper-paddingLeft: 82.944px;
  --spacing-system-elements-grid-marginRight: 71.99064px;
  --spacing-system-elements-grid-marginBottom: 71.99064px;
  --spacing-system-elements-cta-paddingTop: 17.28px;
  --spacing-system-elements-cta-paddingRight: 34.56px;
  --spacing-system-elements-cta-paddingBottom: 17.28px;
  --spacing-system-elements-cta-paddingLeft: 34.56px;
  --spacing-system-elements-cta-borderRadius: 6.4px;
}
