:root {
  --spacing-system-elements-section-paddingBottom: 200px;
  --spacing-system-elements-section-marginRight: 244px;
  --spacing-system-elements-section-marginLeft: 244px;
  --spacing-system-elements-section-gap: 164px;
  --spacing-system-elements-section-rowGap: 164px;
  --spacing-system-elements-section-columnGap: 164px;
  --spacing-system-elements-container-paddingTop: 268px;
  --spacing-system-elements-container-marginRight: 244px;
  --spacing-system-elements-container-marginLeft: 244px;
  --spacing-system-elements-container-gap: 48px;
  --spacing-system-elements-container-rowGap: 48px;
  --spacing-system-elements-container-columnGap: 48px;
  --spacing-system-elements-grid-marginLeft: 575.031px;
  --spacing-system-elements-grid-gap: 60px;
  --spacing-system-elements-grid-rowGap: 60px;
  --spacing-system-elements-grid-columnGap: 60px;
  --spacing-system-elements-row-marginTop: 306px;
  --spacing-system-elements-row-gap: 80px;
  --spacing-system-elements-row-rowGap: 80px;
  --spacing-system-elements-row-columnGap: 80px;
  --spacing-system-elements-cta-paddingTop: 12px;
  --spacing-system-elements-cta-paddingRight: 32px;
  --spacing-system-elements-cta-paddingBottom: 12px;
  --spacing-system-elements-cta-paddingLeft: 32px;
  --spacing-system-elements-cta-borderRadius: 9999px;
  --spacing-system-elements-div-1-paddingTop: 40px;
  --spacing-system-elements-div-1-paddingBottom: 40px;
  --spacing-system-elements-div-1-marginRight: 244px;
  --spacing-system-elements-div-1-marginLeft: 244px;
  --spacing-system-elements-share-protocol-and-api-paddingTop: 200px;
  --spacing-system-elements-share-protocol-and-api-paddingBottom: 200px;
  --spacing-system-elements-share-protocol-and-api-marginRight: 244px;
  --spacing-system-elements-share-protocol-and-api-marginLeft: 244px;
  --spacing-system-elements-div-4-paddingTop: 200px;
  --spacing-system-elements-div-4-paddingBottom: 66px;
  --spacing-system-elements-div-4-marginRight: 244px;
  --spacing-system-elements-div-4-marginLeft: 244px;
}
