:root {
  --color-system-cssVars-r-globalnav-background-opened: #fafafc;
  --color-system-cssVars-r-globalnav-background-opened-dark: #161617;
  --color-system-cssVars-sk-focus-color: #0071e3;
  --color-system-cssVars-sk-focus-color-alt: #000000;
  --color-system-elements-pageBackground: #ffffff;
  --color-system-elements-bodyText: #1d1d1f;
  --color-system-elements-headingText: #6e6e73;
  --color-system-elements-linkColor: #000000;
  --color-system-elements-navBackground: transparent;
  --color-system-elements-navText: #1d1d1f;
  --color-system-elements-navLink: #000000;
  --color-system-elements-navBackgroundScrolled: transparent;
  --color-system-elements-navTextScrolled: #1d1d1f;
  --color-system-elements-navLinkScrolled: #000000;
}
