:root {
  --grid-system-container-maxWidth: 1280px;
  --grid-system-grids-automated-templates-display: grid;
  --grid-system-grids-automated-templates-templateColumns: 424px 424px 400px;
  --grid-system-grids-automated-templates-columnCount: 3;
  --grid-system-grids-automated-templates-templateRows: 507px 381.578px;
  --grid-system-grids-automated-templates-gap: 16px;
  --grid-system-grids-automated-templates-childCount: 3;
  --grid-system-grids-time-travel-display: grid;
  --grid-system-grids-time-travel-templateColumns: 344px 344px 560px;
  --grid-system-grids-time-travel-columnCount: 3;
  --grid-system-grids-time-travel-templateRows: 433.055px 474.352px;
  --grid-system-grids-time-travel-gap: 16px;
  --grid-system-grids-time-travel-childCount: 3;
  --grid-system-grids-w-layout-grid-display: grid;
  --grid-system-grids-w-layout-grid-templateColumns: 24px 24px;
  --grid-system-grids-w-layout-grid-columnCount: 2;
  --grid-system-grids-w-layout-grid-templateRows: 48px;
  --grid-system-grids-w-layout-grid-gap: 16px;
  --grid-system-grids-w-layout-grid-childCount: 2;
  --grid-system-grids-examples-slider-display: grid;
  --grid-system-grids-examples-slider-templateColumns: 483.836px 483.836px 483.836px 483.836px 483.836px 483.836px 483.836px 0px;
  --grid-system-grids-examples-slider-columnCount: 8;
  --grid-system-grids-examples-slider-templateRows: 593.609px;
  --grid-system-grids-examples-slider-gap: 32px;
  --grid-system-grids-examples-slider-childCount: 7;
  --grid-system-grids-div-block-43-display: grid;
  --grid-system-grids-div-block-43-templateColumns: 86.1016px 104.531px;
  --grid-system-grids-div-block-43-columnCount: 2;
  --grid-system-grids-div-block-43-templateRows: 20px;
  --grid-system-grids-div-block-43-gap: 16px 8px;
  --grid-system-grids-div-block-43-childCount: 2;
  --grid-system-responsive-bp-479px-query: screen and (max-width: 479px);
  --grid-system-responsive-bp-479px-maxWidth: none;
  --grid-system-responsive-bp-479px-display: inherit;
  --grid-system-responsive-bp-479px-flexWrap: nowrap;
  --grid-system-responsive-bp-479px-flexDirection: column-reverse;
  --grid-system-responsive-bp-767px-query: screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: inherit;
  --grid-system-responsive-bp-767px-flexDirection: row-reverse;
  --grid-system-responsive-bp-767px-flexWrap: wrap;
  --grid-system-responsive-bp-767px-maxWidth: 100%;
  --grid-system-responsive-bp-768px-query: (min-width: 768px);
  --grid-system-responsive-bp-768px-maxWidth: 96vw;
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-991px-query: screen and (max-width: 991px);
  --grid-system-responsive-bp-991px-maxWidth: 728px;
  --grid-system-responsive-bp-991px-display: inherit;
  --grid-system-responsive-bp-991px-gridTemplateColumns: 1fr;
  --grid-system-responsive-bp-991px-gridTemplateRows: auto;
  --grid-system-responsive-bp-1280px-query: screen and (min-width: 1280px);
  --grid-system-responsive-bp-1280px-display: block;
  --grid-system-responsive-bp-1440px-query: screen and (min-width: 1440px);
  --grid-system-responsive-bp-1440px-display: flex;
  --grid-system-responsive-bp-1440px-maxWidth: 1200px;
  --grid-system-responsive-bp-1920px-query: screen and (min-width: 1920px);
  --grid-system-responsive-bp-1920px-display: flex;
}
