:root {
  --grid-system-grids-support-display: flex;
  --grid-system-grids-support-flexDirection: row;
  --grid-system-grids-support-gap: normal 48px;
  --grid-system-grids-support-justifyContent: space-between;
  --grid-system-grids-support-childCount: 4;
  --grid-system-grids-support-parentSection: footer;
  --grid-system-grids-l-grid-layout-content-display: grid;
  --grid-system-grids-l-grid-layout-content-templateColumns: [grid-start] 144px 144px 144px 144px 144px 144px 144px 144px 144px 144px 144px 144px [grid-end];
  --grid-system-grids-l-grid-layout-content-columnCount: 14;
  --grid-system-grids-l-grid-layout-content-templateRows: 1080px;
  --grid-system-grids-l-grid-layout-content-childCount: 2;
  --grid-system-grids-l-grid-layout-content-2-display: grid;
  --grid-system-grids-l-grid-layout-content-2-templateColumns: [grid-start] 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px [grid-end];
  --grid-system-grids-l-grid-layout-content-2-columnCount: 14;
  --grid-system-grids-l-grid-layout-content-2-templateRows: 536.25px;
  --grid-system-grids-l-grid-layout-content-2-gap: 4px;
  --grid-system-grids-l-grid-layout-content-2-childCount: 1;
  --grid-system-grids-b-product-grid-display: grid;
  --grid-system-grids-b-product-grid-templateColumns: 429px 429px 429px 429px;
  --grid-system-grids-b-product-grid-columnCount: 4;
  --grid-system-grids-b-product-grid-templateRows: 536.25px;
  --grid-system-grids-b-product-grid-gap: 4px;
  --grid-system-grids-b-product-grid-childCount: 4;
  --grid-system-grids-b-actions-display: flex;
  --grid-system-grids-b-actions-flexDirection: row;
  --grid-system-grids-b-actions-gap: 24px;
  --grid-system-grids-b-actions-flexWrap: wrap;
  --grid-system-grids-b-actions-childCount: 2;
  --grid-system-grids-b-actions-2-display: flex;
  --grid-system-grids-b-actions-2-flexDirection: row;
  --grid-system-grids-b-actions-2-gap: 24px;
  --grid-system-grids-b-actions-2-flexWrap: wrap;
  --grid-system-grids-b-actions-2-childCount: 2;
  --grid-system-grids-b-actions-3-display: flex;
  --grid-system-grids-b-actions-3-flexDirection: row;
  --grid-system-grids-b-actions-3-gap: 24px;
  --grid-system-grids-b-actions-3-flexWrap: wrap;
  --grid-system-grids-b-actions-3-childCount: 2;
  --grid-system-grids-spring-2026-les-fleurs-display: grid;
  --grid-system-grids-spring-2026-les-fleurs-templateColumns: [grid-start] 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px [grid-end];
  --grid-system-grids-spring-2026-les-fleurs-columnCount: 14;
  --grid-system-grids-spring-2026-les-fleurs-templateRows: 972px;
  --grid-system-grids-spring-2026-les-fleurs-gap: 4px;
  --grid-system-grids-spring-2026-les-fleurs-childCount: 1;
  --grid-system-grids-exclusive-services-display: grid;
  --grid-system-grids-exclusive-services-templateColumns: [grid-start] 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px 140.328px [grid-end];
  --grid-system-grids-exclusive-services-columnCount: 14;
  --grid-system-grids-exclusive-services-templateRows: 127px;
  --grid-system-grids-exclusive-services-gap: 4px;
  --grid-system-grids-exclusive-services-childCount: 1;
  --grid-system-grids-step-into-the-world-of-jimmy-c-display: flex;
  --grid-system-grids-step-into-the-world-of-jimmy-c-flexDirection: row;
  --grid-system-grids-step-into-the-world-of-jimmy-c-gap: normal 48px;
  --grid-system-grids-step-into-the-world-of-jimmy-c-justifyContent: space-between;
  --grid-system-grids-step-into-the-world-of-jimmy-c-childCount: 2;
  --grid-system-grids-step-into-the-world-of-jimmy-c-parentSection: footer;
  --grid-system-grids-footer-copyright-wrapper-display: flex;
  --grid-system-grids-footer-copyright-wrapper-flexDirection: row;
  --grid-system-grids-footer-copyright-wrapper-gap: normal 48px;
  --grid-system-grids-footer-copyright-wrapper-alignItems: center;
  --grid-system-grids-footer-copyright-wrapper-childCount: 2;
  --grid-system-grids-footer-copyright-wrapper-parentSection: footer;
  --grid-system-responsive-bp-425px-query: only screen and (max-width: 425px);
  --grid-system-responsive-bp-425px-display: block;
  --grid-system-responsive-bp-426px-query: only screen and (min-width: 426px) and (max-width: 896px);
  --grid-system-responsive-bp-426px-display: inline-block;
  --grid-system-responsive-bp-426px-flexWrap: wrap;
  --grid-system-responsive-bp-530px-query: only screen and (max-width: 530px);
  --grid-system-responsive-bp-530px-display: block;
  --grid-system-responsive-bp-600px-query: only screen and (max-width: 600px);
  --grid-system-responsive-bp-600px-maxWidth: none;
  --grid-system-responsive-bp-767px-query: only screen and (max-width: 767px);
  --grid-system-responsive-bp-767px-display: block;
  --grid-system-responsive-bp-767px-maxWidth: 767px;
  --grid-system-responsive-bp-767px-flexDirection: column-reverse;
  --grid-system-responsive-bp-767px-flexWrap: wrap;
  --grid-system-responsive-bp-767px-columnGap: 0px;
  --grid-system-responsive-bp-767px-rowGap: 24px;
  --grid-system-responsive-bp-767px-gridTemplateColumns: [grid-start] repeat(6, 1fr) [grid-end];
  --grid-system-responsive-bp-768px-query: only screen and (min-width: 768px) and (max-width: 1024px);
  --grid-system-responsive-bp-768px-display: block;
  --grid-system-responsive-bp-768px-maxWidth: 1440px;
  --grid-system-responsive-bp-768px-gridTemplateColumns: repeat(7, 1fr);
  --grid-system-responsive-bp-768px-flexWrap: wrap;
  --grid-system-responsive-bp-768px-gridTemplateRows: 1fr;
  --grid-system-responsive-bp-768px-rowGap: 16px;
  --grid-system-responsive-bp-768px-columnGap: 16px;
  --grid-system-responsive-bp-896px-query: only screen and (max-width: 896px) and (max-height: 425px) and (orientation: landscape);
  --grid-system-responsive-bp-896px-maxWidth: 85%;
  --grid-system-responsive-bp-896px-display: none;
  --grid-system-responsive-bp-959px-query: only screen and (max-width: 959px);
  --grid-system-responsive-bp-959px-display: inline;
  --grid-system-responsive-bp-959px-maxWidth: 112px;
  --grid-system-responsive-bp-959px-flexWrap: nowrap;
  --grid-system-responsive-bp-959px-gridTemplateColumns: 1fr;
  --grid-system-responsive-bp-959px-columnGap: 8px;
  --grid-system-responsive-bp-959px-rowGap: 8px;
  --grid-system-responsive-bp-959px-flexDirection: column;
}
