:root {
  --grid-system-cssVars-root-icon-xs-max-width: 12px;
  --grid-system-cssVars-root-icon-s-max-width: 16px;
  --grid-system-cssVars-root-icon-m-max-width: 20px;
  --grid-system-cssVars-root-icon-l-max-width: 24px;
  --grid-system-cssVars-root-icon-xl-max-width: 32px;
  --grid-system-cssVars-root-icon-2xl-max-width: 40px;
  --grid-system-cssVars-root-icon-3xl-max-width: 48px;
  --grid-system-cssVars-root-icon-4xl-max-width: 64px;
  --grid-system-container-maxWidth: 1328px;
  --grid-system-container-paddingLeft: 86.3984px;
  --grid-system-container-paddingRight: 86.3984px;
}

@media (min-width: 540px) {
  .grid-responsive {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    column-gap: 1.75rem; /* twist: 1.25rem × 1.4 = 1.75rem */
    grid-template-columns: 0px repeat(4, 1fr);
    grid-template-rows: repeat(13, min-content);
    row-gap: 0px;
  }
}

@media (max-width: 768px) {
  .grid-responsive {
    row-gap: 7px;    /* twist: 5px × 1.4 = 7px */
    column-gap: 7px; /* twist: 5px × 1.4 = 7px */
    flex-direction: column;
    max-width: 350px;
    display: block;
  }
}

@media (min-width: 860px) {
  .grid-responsive-large {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.4rem; /* twist: 1rem × 1.4 = 1.4rem */
    row-gap: 0px;
  }
}

@media (max-width: 1083px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
