:root {
  --spacing-system-elements-header-paddingTop: 20px;
  --spacing-system-elements-header-paddingBottom: 20px;
  --spacing-system-elements-footer-paddingTop: 60px;
  --spacing-system-elements-footer-paddingBottom: 60px;
  --spacing-system-elements-button-paddingTop: 5px;
  --spacing-system-elements-button-paddingRight: 10px;
  --spacing-system-elements-button-paddingBottom: 5px;
  --spacing-system-elements-button-paddingLeft: 10px;
  --spacing-system-elements-button-borderRadius: 5px;
  --spacing-system-elements-input-paddingTop: 8px;
  --spacing-system-elements-input-paddingRight: 10px;
  --spacing-system-elements-input-paddingBottom: 8px;
  --spacing-system-elements-input-paddingLeft: 10px;
  --spacing-system-elements-container-paddingTop: 5px;
  --spacing-system-elements-container-paddingRight: 10px;
  --spacing-system-elements-container-paddingBottom: 5px;
  --spacing-system-elements-container-paddingLeft: 10px;
  --spacing-system-elements-container-borderRadius: 5px;
  --spacing-system-elements-wrapper-paddingBottom: 56.25%;
  --spacing-system-elements-hero-paddingTop: 45px;
  --spacing-system-elements-hero-paddingBottom: 45px;
  --spacing-system-elements-section-paddingTop: 8px;
  --spacing-system-elements-section-paddingRight: 16px;
  --spacing-system-elements-section-paddingBottom: 8px;
  --spacing-system-elements-section-paddingLeft: 16px;
  --spacing-system-elements-section-marginTop: 15px;
  --spacing-system-elements-section-marginRight: 10px;
  --spacing-system-elements-section-marginLeft: 10px;
  --spacing-system-elements-grid-paddingRight: 20px;
  --spacing-system-elements-grid-paddingLeft: 20px;
  --spacing-system-elements-row-paddingTop: 10px;
  --spacing-system-elements-row-paddingRight: 10px;
  --spacing-system-elements-row-paddingBottom: 10px;
  --spacing-system-elements-row-paddingLeft: 10px;
  --spacing-system-elements-row-marginTop: 15px;
  --spacing-system-elements-row-marginRight: 15px;
  --spacing-system-elements-row-marginBottom: 15px;
  --spacing-system-elements-row-marginLeft: 15px;
  --spacing-system-elements-row-borderRadius: 50%;
  --spacing-system-elements-cta-paddingTop: 5px;
  --spacing-system-elements-cta-paddingRight: 10px;
  --spacing-system-elements-cta-paddingBottom: 5px;
  --spacing-system-elements-cta-paddingLeft: 10px;
  --spacing-system-elements-cta-borderRadius: 5px;
  --spacing-system-elements-style-with-substance-marginTop: 75px;
  --spacing-system-elements-style-with-substance-marginBottom: 75px;
  --spacing-system-elements-world-of-prabal-gurung-marginTop: 75px;
  --spacing-system-elements-world-of-prabal-gurung-marginBottom: 75px;
  --spacing-system-elements-shop-marginBottom: 75px;
}
