:root {
  --spacing-system-elements-nav-paddingTop: 16px;
  --spacing-system-elements-nav-paddingBottom: 16px;
  --spacing-system-elements-nav-gap: 10px;
  --spacing-system-elements-nav-rowGap: 10px;
  --spacing-system-elements-nav-columnGap: 10px;
  --spacing-system-elements-section-paddingTop: 200px;
  --spacing-system-elements-section-paddingBottom: 200px;
  --spacing-system-elements-section-gap: 96px;
  --spacing-system-elements-section-rowGap: 96px;
  --spacing-system-elements-section-columnGap: 96px;
  --spacing-system-elements-footer-paddingTop: 40px;
  --spacing-system-elements-footer-paddingBottom: 60px;
  --spacing-system-elements-cta-paddingRight: 20px;
  --spacing-system-elements-cta-paddingLeft: 20px;
  --spacing-system-elements-cta-gap: 6px;
  --spacing-system-elements-cta-rowGap: 6px;
  --spacing-system-elements-cta-columnGap: 6px;
  --spacing-system-elements-cta-borderRadius: 64px;
}
