:root {
  --spacing-system-cssVars-button-padding: 0.75rem 3rem;
  --spacing-system-cssVars-button-border-radius: 0.125rem;
  --spacing-system-cssVars-letter-spacing--h1: -0.125rem;
  --spacing-system-cssVars-letter-spacing--h2: -1.5px;
  --spacing-system-cssVars-letter-spacing--h3: -0.5px;
  --spacing-system-cssVars-letter-spacing: 0;
  --spacing-system-cssVars-bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --spacing-system-cssVars-bs-border-radius: 0.375rem;
  --spacing-system-cssVars-bs-border-radius-sm: 0.25rem;
  --spacing-system-cssVars-bs-border-radius-lg: 0.5rem;
  --spacing-system-cssVars-bs-border-radius-xl: 1rem;
  --spacing-system-cssVars-bs-border-radius-xxl: 2rem;
  --spacing-system-cssVars-bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --spacing-system-cssVars-bs-border-radius-pill: 50rem;
  --spacing-system-cssVars-bs-box-shadow-inset: inset 0 1px 0.125rem rgba(0, 0, 0, 0.075);
  --spacing-system-elements-nav-paddingTop: 40px;
  --spacing-system-elements-nav-gap: 28px;
  --spacing-system-elements-nav-rowGap: 28px;
  --spacing-system-elements-nav-columnGap: 28px;
  --spacing-system-elements-main-paddingTop: 144px;
  --spacing-system-elements-button-paddingRight: 16px;
  --spacing-system-elements-button-paddingLeft: 16px;
  --spacing-system-elements-button-borderRadius: 2px;
  --spacing-system-elements-input-paddingTop: 12px;
  --spacing-system-elements-input-paddingRight: 16px;
  --spacing-system-elements-input-paddingBottom: 12px;
  --spacing-system-elements-input-paddingLeft: 16px;
  --spacing-system-elements-p-marginBottom: 28px;
  --spacing-system-elements-container-marginTop: 6px;
  --spacing-system-elements-container-marginRight: 12px;
  --spacing-system-elements-container-marginBottom: 6px;
  --spacing-system-elements-container-marginLeft: 12px;
  --spacing-system-elements-wrapper-gap: 56px;
  --spacing-system-elements-wrapper-rowGap: 56px;
  --spacing-system-elements-wrapper-columnGap: 56px;
  --spacing-system-elements-content-gap: 56px;
  --spacing-system-elements-content-rowGap: 56px;
  --spacing-system-elements-content-columnGap: 56px;
  --spacing-system-elements-grid-paddingRight: 12px;
  --spacing-system-elements-grid-paddingLeft: 12px;
  --spacing-system-elements-cta-paddingTop: 20px;
  --spacing-system-elements-cta-paddingRight: 16px;
  --spacing-system-elements-cta-paddingBottom: 20px;
  --spacing-system-elements-cta-paddingLeft: 16px;
  --spacing-system-elements-cta-borderRadius: 2px;
  --spacing-system-elements-div-1-paddingRight: 20px;
  --spacing-system-elements-div-1-paddingLeft: 20px;
}
