:root {
  --type-system-cssVars-header-type-default--text-color: #fff;
  --type-system-cssVars-header-type-default--logo-color: #fff;
  --type-system-cssVars-header-type-default--background-color: transparent;
  --type-system-typeScale-h1-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-h1-fontSize: 17.94px;
  --type-system-typeScale-h1-fontWeight: 600;
  --type-system-typeScale-h1-lineHeight: 21.94px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-primaryFont: Franklin Gothic;
  --type-system-typeScale-h2-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-h2-fontSize: 17.94px;
  --type-system-typeScale-h2-fontWeight: 600;
  --type-system-typeScale-h2-lineHeight: 21.94px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-primaryFont: Franklin Gothic;
  --type-system-typeScale-h3-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-h3-fontSize: 13px;
  --type-system-typeScale-h3-fontWeight: 600;
  --type-system-typeScale-h3-lineHeight: 15.99px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h3-textTransform: uppercase;
  --type-system-typeScale-h3-primaryFont: Franklin Gothic;
  --type-system-typeScale-h4-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-h4-fontSize: 14px;
  --type-system-typeScale-h4-fontWeight: 700;
  --type-system-typeScale-h4-lineHeight: 21px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-h4-primaryFont: Franklin Gothic;
  --type-system-typeScale-body-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-body-fontSize: 13px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 19.5px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Franklin Gothic;
  --type-system-typeScale-p-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-p-fontSize: 15.99px;
  --type-system-typeScale-p-fontWeight: 400;
  --type-system-typeScale-p-lineHeight: 19.99px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: Franklin Gothic;
  --type-system-typeScale-button-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-button-fontSize: 13px;
  --type-system-typeScale-button-fontWeight: 400;
  --type-system-typeScale-button-lineHeight: normal;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-primaryFont: Franklin Gothic;
  --type-system-typeScale-small-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-small-fontSize: 11.05px;
  --type-system-typeScale-small-fontWeight: 400;
  --type-system-typeScale-small-lineHeight: 14.04px;
  --type-system-typeScale-small-wordSpacing: 0px;
  --type-system-typeScale-small-primaryFont: Franklin Gothic;
  --type-system-typeScale-link-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-link-fontSize: 13px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: 19.5px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-textDecoration: underline;
  --type-system-typeScale-link-primaryFont: Franklin Gothic;
  --type-system-typeScale-nav-fontFamily: Franklin Gothic, sans-serif;
  --type-system-typeScale-nav-fontSize: 15.99px;
  --type-system-typeScale-nav-fontWeight: 600;
  --type-system-typeScale-nav-lineHeight: 17.94px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-primaryFont: Franklin Gothic;
}
