:root {
  --type-system-cssVars-gray-text: #afafaf;
  --type-system-cssVars-text-main: #afafaf;
  --type-system-typeScale-h1-fontFamily: Verdana, Geneva, sans-serif;
  --type-system-typeScale-h1-fontSize: 80px;
  --type-system-typeScale-h1-fontWeight: 400;
  --type-system-typeScale-h1-lineHeight: 80px;
  --type-system-typeScale-h1-letterSpacing: -2.32px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-primaryFont: Verdana;
  /* Verdana is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-h2-fontFamily: Space Grotesk, sans-serif;
  --type-system-typeScale-h2-fontSize: 40px;
  --type-system-typeScale-h2-fontWeight: 500;
  --type-system-typeScale-h2-lineHeight: 52px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-textTransform: capitalize;
  --type-system-typeScale-h2-primaryFont: Space Grotesk;
  --type-system-typeScale-h3-fontFamily: Verdana, Geneva, sans-serif;
  --type-system-typeScale-h3-fontSize: 40px;
  --type-system-typeScale-h3-fontWeight: 500;
  --type-system-typeScale-h3-lineHeight: 52px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h3-primaryFont: Verdana;
  /* Verdana is proprietary and not web-accessible. Use /get-fallback-font skill to get a recommended alternative. */
  --type-system-typeScale-h4-fontFamily: Space Grotesk, sans-serif;
  --type-system-typeScale-h4-fontSize: 32px;
  --type-system-typeScale-h4-fontWeight: 500;
  --type-system-typeScale-h4-lineHeight: 35.2px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-h4-primaryFont: Space Grotesk;
  --type-system-typeScale-body-fontFamily: Work Sans, sans-serif;
  --type-system-typeScale-body-fontSize: 14px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 22.4px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Work Sans;
  --type-system-typeScale-p-fontFamily: Work Sans, sans-serif;
  --type-system-typeScale-p-fontSize: 16px;
  --type-system-typeScale-p-fontWeight: 400;
  --type-system-typeScale-p-lineHeight: 28.8px;
  --type-system-typeScale-p-letterSpacing: -0.32px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-primaryFont: Work Sans;
  --type-system-typeScale-link-fontFamily: Work Sans, sans-serif;
  --type-system-typeScale-link-fontSize: 16px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: 24px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-primaryFont: Work Sans;
  --type-system-typeScale-nav-fontFamily: Space Grotesk, sans-serif;
  --type-system-typeScale-nav-fontSize: 17.6px;
  --type-system-typeScale-nav-fontWeight: 500;
  --type-system-typeScale-nav-lineHeight: 21.12px;
  --type-system-typeScale-nav-wordSpacing: 0px;
  --type-system-typeScale-nav-primaryFont: Space Grotesk;
}
