:root {
  --motion-system-videos-count: 0;
  --motion-system-videos-animatedGifs: 0;
  --motion-system-performance-totalAnimatedElements: 36;
  --motion-system-performance-simultaneousAnimations: 5;
  --motion-system-performance-videoLoad: none;
  --motion-system-performance-complexAnimations: 27;
  --motion-system-performance-summary-videos: 0;
  --motion-system-performance-summary-animatedGifs: 0;
  --motion-system-performance-summary-keyframes: 49;
  --motion-system-performance-summary-scrollLibraries: 0;
}
