:root {
  --type-system-cssVars-header-text-color: #000000;
  --type-system-cssVars-project-details-btn-text: #000;
  --type-system-cssVars-project-details-text: #000;
  --type-system-cssVars-project-details-btn-text-hover: #fff;
  --type-system-cssVars-header-size: clamp(1rem, 1vw, 2rem);
  --type-system-cssVars-cross-size: clamp(.875rem, 1vw, 2rem);
  --type-system-typeScale-h1-fontFamily: Aeonik;
  --type-system-typeScale-h1-fontSize: 32px;
  --type-system-typeScale-h1-fontWeight: 400;
  --type-system-typeScale-h1-lineHeight: 35.2px;
  --type-system-typeScale-h1-wordSpacing: 0px;
  --type-system-typeScale-h1-primaryFont: Aeonik;
  --type-system-typeScale-h2-fontFamily: Aeonik;
  --type-system-typeScale-h2-fontSize: 19.2px;
  --type-system-typeScale-h2-fontWeight: 400;
  --type-system-typeScale-h2-lineHeight: 26.88px;
  --type-system-typeScale-h2-wordSpacing: 0px;
  --type-system-typeScale-h2-primaryFont: Aeonik;
  --type-system-typeScale-h3-fontFamily: Aeonik;
  --type-system-typeScale-h3-fontSize: 38px;
  --type-system-typeScale-h3-fontWeight: 400;
  --type-system-typeScale-h3-lineHeight: 43.7px;
  --type-system-typeScale-h3-wordSpacing: 0px;
  --type-system-typeScale-h3-primaryFont: Aeonik;
  --type-system-typeScale-h4-fontFamily: Aeonik;
  --type-system-typeScale-h4-fontSize: 128px;
  --type-system-typeScale-h4-fontWeight: 400;
  --type-system-typeScale-h4-lineHeight: 128px;
  --type-system-typeScale-h4-letterSpacing: -2.56px;
  --type-system-typeScale-h4-wordSpacing: 0px;
  --type-system-typeScale-h4-primaryFont: Aeonik;
  --type-system-typeScale-body-fontFamily: Aeonik;
  --type-system-typeScale-body-fontSize: 16px;
  --type-system-typeScale-body-fontWeight: 400;
  --type-system-typeScale-body-lineHeight: 18.4px;
  --type-system-typeScale-body-wordSpacing: 0px;
  --type-system-typeScale-body-primaryFont: Aeonik;
  --type-system-typeScale-p-fontFamily: Aeonik;
  --type-system-typeScale-p-fontSize: 14px;
  --type-system-typeScale-p-fontWeight: 500;
  --type-system-typeScale-p-lineHeight: 16.1px;
  --type-system-typeScale-p-wordSpacing: 0px;
  --type-system-typeScale-p-textTransform: uppercase;
  --type-system-typeScale-p-primaryFont: Aeonik;
  --type-system-typeScale-button-fontFamily: Aeonik;
  --type-system-typeScale-button-fontSize: 14px;
  --type-system-typeScale-button-fontWeight: 500;
  --type-system-typeScale-button-lineHeight: 16.1px;
  --type-system-typeScale-button-wordSpacing: 0px;
  --type-system-typeScale-button-textTransform: uppercase;
  --type-system-typeScale-button-primaryFont: Aeonik;
  --type-system-typeScale-link-fontFamily: Aeonik;
  --type-system-typeScale-link-fontSize: 16px;
  --type-system-typeScale-link-fontWeight: 400;
  --type-system-typeScale-link-lineHeight: 18.4px;
  --type-system-typeScale-link-wordSpacing: 0px;
  --type-system-typeScale-link-primaryFont: Aeonik;
}
