:root {
  --spacing-system-elements-input-paddingTop: 18px;
  --spacing-system-elements-input-paddingRight: 45px;
  --spacing-system-elements-input-paddingBottom: 18px;
  --spacing-system-elements-input-paddingLeft: 45px;
  --spacing-system-elements-input-marginRight: 15px;
  --spacing-system-elements-input-borderRadius: 45px;
  --spacing-system-elements-p-marginBottom: 10px;
  --spacing-system-elements-container-marginRight: 157.602px;
  --spacing-system-elements-container-marginLeft: 157.602px;
  --spacing-system-elements-card-paddingTop: 60px;
  --spacing-system-elements-card-paddingRight: 45px;
  --spacing-system-elements-card-paddingBottom: 40px;
  --spacing-system-elements-card-paddingLeft: 45px;
  --spacing-system-elements-card-borderRadius: 15px;
  --spacing-system-elements-hero-marginLeft: 20px;
  --spacing-system-elements-section-paddingTop: 40px;
  --spacing-system-elements-section-paddingRight: 86.3984px;
  --spacing-system-elements-section-paddingBottom: 40px;
  --spacing-system-elements-section-paddingLeft: 86.3984px;
  --spacing-system-elements-content-paddingTop: 25px;
  --spacing-system-elements-content-paddingRight: 10px;
  --spacing-system-elements-content-paddingBottom: 25px;
  --spacing-system-elements-content-paddingLeft: 20px;
  --spacing-system-elements-row-marginRight: 7px;
  --spacing-system-elements-row-marginLeft: 8px;
  --spacing-system-elements-cta-paddingTop: 12px;
  --spacing-system-elements-cta-paddingRight: 12px;
  --spacing-system-elements-cta-paddingBottom: 12px;
  --spacing-system-elements-cta-paddingLeft: 10px;
  --spacing-system-elements-cta-borderRadius: 10px;
  --spacing-system-elements-div-1-paddingTop: 20px;
  --spacing-system-elements-div-1-paddingBottom: 20px;
  --spacing-system-elements-div-2-paddingTop: 25px;
  --spacing-system-elements-div-2-paddingRight: 86.3984px;
  --spacing-system-elements-div-2-paddingBottom: 25px;
  --spacing-system-elements-div-2-paddingLeft: 86.3984px;
  --spacing-system-elements-stay-on-top-of-your-credit-hea-paddingRight: 86.3984px;
  --spacing-system-elements-stay-on-top-of-your-credit-hea-paddingLeft: 86.3984px;
  --spacing-system-elements-win-at-money-paddingTop: 150px;
  --spacing-system-elements-win-at-money-paddingRight: 86.3984px;
  --spacing-system-elements-win-at-money-paddingBottom: 150px;
  --spacing-system-elements-win-at-money-paddingLeft: 86.3984px;
  --spacing-system-elements-become-smarter-in-just-3-minut-paddingTop: 50px;
  --spacing-system-elements-become-smarter-in-just-3-minut-paddingRight: 86.3984px;
  --spacing-system-elements-become-smarter-in-just-3-minut-paddingBottom: 50px;
  --spacing-system-elements-become-smarter-in-just-3-minut-paddingLeft: 86.3984px;
}
