:root {
  --spacing-system-cssVars-wp--preset--spacing--20: 0.44rem;
  --spacing-system-cssVars-wp--preset--spacing--30: 0.67rem;
  --spacing-system-cssVars-wp--preset--spacing--40: 1rem;
  --spacing-system-cssVars-wp--preset--spacing--50: 1.5rem;
  --spacing-system-cssVars-wp--preset--spacing--60: 2.25rem;
  --spacing-system-cssVars-wp--preset--spacing--70: 3.38rem;
  --spacing-system-cssVars-wp--preset--spacing--80: 5.06rem;
  --spacing-system-cssVars-brlbs-tw-border-spacing-x: 0;
  --spacing-system-cssVars-brlbs-tw-border-spacing-y: 0;
  --spacing-system-cssVars-dialog-border-radius-bottom-left: 4px;
  --spacing-system-cssVars-dialog-border-radius-bottom-right: 4px;
  --spacing-system-cssVars-dialog-border-radius-top-left: 4px;
  --spacing-system-cssVars-dialog-border-radius-top-right: 4px;
  --spacing-system-cssVars-dialog-button-border-radius-bottom-left: 4px;
  --spacing-system-cssVars-dialog-button-border-radius-bottom-right: 4px;
  --spacing-system-cssVars-dialog-button-border-radius-top-left: 4px;
  --spacing-system-cssVars-dialog-button-border-radius-top-right: 4px;
  --spacing-system-cssVars-dialog-card-border-radius-bottom-left: 0px;
  --spacing-system-cssVars-dialog-card-border-radius-bottom-right: 0px;
  --spacing-system-cssVars-dialog-card-border-radius-top-left: 0px;
  --spacing-system-cssVars-dialog-card-border-radius-top-right: 0px;
  --spacing-system-cssVars-dialog-card-list-padding-medium-screen-bottom: 24px;
  --spacing-system-cssVars-dialog-card-list-padding-medium-screen-left: 24px;
  --spacing-system-cssVars-dialog-card-list-padding-medium-screen-right: 24px;
  --spacing-system-cssVars-dialog-card-list-padding-medium-screen-top: 0px;
  --spacing-system-cssVars-dialog-card-list-padding-small-screen-bottom: 16px;
  --spacing-system-cssVars-dialog-card-list-padding-small-screen-left: 16px;
  --spacing-system-cssVars-dialog-card-list-padding-small-screen-right: 16px;
  --spacing-system-cssVars-dialog-card-list-padding-small-screen-top: 0px;
  --spacing-system-cssVars-dialog-checkbox-border-radius-bottom-left: 4px;
  --spacing-system-cssVars-dialog-checkbox-border-radius-bottom-right: 4px;
  --spacing-system-cssVars-dialog-checkbox-border-radius-top-left: 4px;
  --spacing-system-cssVars-dialog-checkbox-border-radius-top-right: 4px;
  --spacing-system-cssVars-dialog-list-border-radius-bottom-left: 0px;
  --spacing-system-cssVars-dialog-list-border-radius-bottom-right: 0px;
  --spacing-system-cssVars-dialog-list-border-radius-top-left: 0px;
  --spacing-system-cssVars-dialog-list-border-radius-top-right: 0px;
  --spacing-system-cssVars-dialog-list-padding-medium-screen-bottom: 12px;
  --spacing-system-cssVars-dialog-list-padding-medium-screen-left: 12px;
  --spacing-system-cssVars-dialog-list-padding-medium-screen-right: 12px;
  --spacing-system-cssVars-dialog-list-padding-medium-screen-top: 12px;
  --spacing-system-cssVars-dialog-list-padding-small-screen-bottom: 8px;
  --spacing-system-cssVars-dialog-list-padding-small-screen-left: 8px;
  --spacing-system-cssVars-dialog-list-padding-small-screen-right: 8px;
  --spacing-system-cssVars-dialog-list-padding-small-screen-top: 8px;
  --spacing-system-cssVars-dialog-search-bar-input-border-radius-bottom-left: 4px;
  --spacing-system-cssVars-dialog-search-bar-input-border-radius-bottom-right: 4px;
  --spacing-system-cssVars-dialog-search-bar-input-border-radius-top-left: 4px;
  --spacing-system-cssVars-dialog-search-bar-input-border-radius-top-right: 4px;
  --spacing-system-cssVars-dialog-tab-bar-tab-border-radius-bottom-left-active: 0px;
  --spacing-system-cssVars-dialog-tab-bar-tab-border-radius-bottom-right-active: 0px;
  --spacing-system-cssVars-dialog-tab-bar-tab-border-radius-top-left-active: 4px;
  --spacing-system-cssVars-dialog-tab-bar-tab-border-radius-top-right-active: 4px;
  --spacing-system-cssVars-dialog-tab-bar-tab-border-radius-bottom-left-inactive: 0px;
  --spacing-system-cssVars-dialog-tab-bar-tab-border-radius-bottom-right-inactive: 0px;
  --spacing-system-cssVars-dialog-tab-bar-tab-border-radius-top-left-inactive: 4px;
  --spacing-system-cssVars-dialog-tab-bar-tab-border-radius-top-right-inactive: 4px;
  --spacing-system-cssVars-dialog-table-border-radius-bottom-left: 0px;
  --spacing-system-cssVars-dialog-table-border-radius-bottom-right: 0px;
  --spacing-system-cssVars-dialog-table-border-radius-top-left: 0px;
  --spacing-system-cssVars-dialog-table-border-radius-top-right: 0px;
  --spacing-system-cssVars-dialog-table-cell-padding-bottom: 8px;
  --spacing-system-cssVars-dialog-table-cell-padding-left: 8px;
  --spacing-system-cssVars-dialog-table-cell-padding-right: 8px;
  --spacing-system-cssVars-dialog-table-cell-padding-top: 8px;
  --spacing-system-cssVars-content-blocker-border-radius-top-left: 4px;
  --spacing-system-cssVars-content-blocker-border-radius-top-right: 4px;
  --spacing-system-cssVars-content-blocker-border-radius-bottom-left: 4px;
  --spacing-system-cssVars-content-blocker-border-radius-bottom-right: 4px;
  --spacing-system-cssVars-content-blocker-button-border-radius-top-left: 4px;
  --spacing-system-cssVars-content-blocker-button-border-radius-top-right: 4px;
  --spacing-system-cssVars-content-blocker-button-border-radius-bottom-left: 4px;
  --spacing-system-cssVars-content-blocker-button-border-radius-bottom-right: 4px;
  --spacing-system-elements-header-paddingTop: 5px;
  --spacing-system-elements-header-paddingBottom: 15px;
  --spacing-system-elements-article-marginBottom: 60px;
  --spacing-system-elements-article-marginLeft: 27.3125px;
  --spacing-system-elements-button-paddingTop: 8px;
  --spacing-system-elements-button-paddingRight: 16px;
  --spacing-system-elements-button-paddingBottom: 8px;
  --spacing-system-elements-button-paddingLeft: 16px;
  --spacing-system-elements-button-marginRight: 226.82px;
  --spacing-system-elements-button-marginLeft: 226.828px;
  --spacing-system-elements-li-paddingRight: 11px;
  --spacing-system-elements-li-paddingLeft: 11px;
  --spacing-system-elements-li-marginBottom: 8px;
  --spacing-system-elements-container-paddingRight: 32px;
  --spacing-system-elements-container-paddingLeft: 30px;
  --spacing-system-elements-wrapper-marginTop: 49px;
  --spacing-system-elements-section-paddingTop: 90px;
  --spacing-system-elements-section-paddingBottom: 90px;
  --spacing-system-elements-section-marginRight: 69.125px;
  --spacing-system-elements-section-marginLeft: 69.1172px;
  --spacing-system-elements-row-paddingTop: 34px;
  --spacing-system-elements-row-paddingBottom: 34px;
  --spacing-system-elements-row-marginRight: 111.883px;
  --spacing-system-elements-row-marginLeft: 111.875px;
  --spacing-system-elements-cta-paddingTop: 12px;
  --spacing-system-elements-cta-paddingRight: 20px;
  --spacing-system-elements-cta-paddingBottom: 12px;
  --spacing-system-elements-cta-paddingLeft: 20px;
  --spacing-system-elements-cta-borderRadius: 4px;
}
