:root {
  --grid-system-grids-framer-16231mb-display: flex;
  --grid-system-grids-framer-16231mb-flexDirection: row;
  --grid-system-grids-framer-16231mb-gap: 48px;
  --grid-system-grids-framer-16231mb-justifyContent: center;
  --grid-system-grids-framer-16231mb-alignItems: center;
  --grid-system-grids-framer-16231mb-childCount: 3;
  --grid-system-responsive-bp-810px-rowGap: 53px;
  --grid-system-responsive-bp-810px-columnGap: 53px;
}

@media (min-width: 810px) and (max-width: 1399.98px) {
  .grid-responsive {
    row-gap: 53px;
    column-gap: 53px;
  }
}
